Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[ci] More pipeline names.
  .gitlab-ci.yml
Due: git-diff-check

[ci] Add 'ci::linux only' tag and pipeline.
  .gitlab-ci.yml
  scripts/ci/pipelines/linux.yml
  scripts/ci/pipelines/regular.yml
Due: git-diff-check

[ci] Add 'ci::mac only' tag and pipeline.
  .gitlab-ci.yml
  scripts/ci/pipelines/mac.yml
  scripts/ci/pipelines/regular.yml
Due: git-diff-check

[ci] Add 'ci::win only' tag and pipeline.
  .gitlab-ci.yml
  scripts/ci/pipelines/regular.yml
  scripts/ci/pipelines/win.yml
Due: git-diff-check

[web] Docs on platform only pipelines.
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

[ci] Upload source dist to PyPI on release.
  MANIFEST.in
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

[ci] Update ogs wheel. Fixes #3363.
  Tests/Data/requirements-ogs.txt
Due: none

Update BaseLib's includes
  BaseLib/ConfigTree-impl.h
  BaseLib/ConfigTree.cpp
  BaseLib/ConfigTree.h
  BaseLib/ConfigTreeUtil.cpp
  BaseLib/ConfigTreeUtil.h
  BaseLib/FileTools.cpp
  BaseLib/FileTools.h
  BaseLib/Histogram.cpp
  BaseLib/Histogram.h
  BaseLib/IO/readStringListFromFile.cpp
  BaseLib/Logging.cpp
  BaseLib/Logging.h
  BaseLib/MemWatch.cpp
  BaseLib/PrjProcessing.cpp
  BaseLib/PrjProcessing.h
  BaseLib/StringTools.cpp
  BaseLib/StringTools.h
  BaseLib/Subdivision.h
  BaseLib/TimeInterval.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Replaced GitHub issue links with GitLab links.
  Applications/Utils/Tests.cmake
  CMakeLists.txt
  web/content/docs/devguide/advanced/gitlab-migration/index.md
  web/content/docs/devguide/development-workflows/setup-fork/index.md
  web/content/docs/devguide/getting-started/get-the-source-code/index.md
Due: git-diff-check

[PL/CT] Add Residuum output for all variables
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Improvement and fix for dynamic naming of residual output
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Combine hydraulic_flow and molar_flow_rate
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] change variable name in test definition and reference
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion.prj
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_1_t_31536000000.000000.vtu
Due: none

[PL/CT] Add residual output for all components -- continued
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Change assertion to OGS_FATAL
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Adjust Tests to changes in residual outputs
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d.prj
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_132_t_475200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_165_t_594000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_198_t_712800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_231_t_831600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_264_t_950400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_297_t_1069200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_329_t_1184400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_33_t_118800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_66_t_237600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_99_t_356400.000000.vtu
Due: none

[PL/CT] Residual outputs for Picard solver version
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay_ts_1_t_31536000000.000000.vtu
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Add reference for residual flow problem
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay_ts_1_t_31536000000.000000.vtu
Due: none

[T/CT] Monolithic Picard multi-component flow rate
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_1000_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_100_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_10_t_31536000000.000000.vtu
Due: none

[cmake] Fix vtkdiff path handling for Windows.
  scripts/cmake/test/AddTestTester.cmake
Due: git-diff-check

[AL] Fix vtkdiff path handling for Windows.
  Applications/ApplicationsLib/TestDefinition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Slightly relax vtkdiff tolerance
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap.xml
Due: none

[PL] Rewrite solid material int vars extrapolation
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Extend asm I/F with material id access
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/ThermoMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
Due: git-diff-check, git-clang-format

[PL] Check number of components for all materials
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[T/SD] Drucker-Prager two material models test
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.0000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.1000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.2000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.3000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.4000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.5000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.5700.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.6000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.7000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.8000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.9000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_1.0000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1x1.gml
  Tests/Data/Mechanics/Ehlers/MFront/square_1x1_quad_1e1_2_matIDs.vtu
Due: git-diff-check

[PL] Treat one-solid/multi-material case
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[MatL] Stricter solid. const. rel. selection
  MaterialLib/SolidModels/SelectSolidConstitutiveRelation.h
Due: git-diff-check, git-clang-format

[T/SD] Multi-material single solid model test
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid.prj
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid_t_1.0000.vtu
Due: git-diff-check

[MeL/Properties] Remove unnecessary empty std::vector
  MeshLib/Properties.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Wrap cibuildwheel in backticks
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

[MeL] Rm. second call using long data type.
  MeshLib/Properties-impl.h
Due: git-diff-check, git-clang-format

[PL] Remove incorrect comment in linear elasticity
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
  ProcessLib/TH2M/TH2MProcessData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, git-clang-format

[A/U/GeoTools] createRaster: Correct tool description
  Applications/Utils/GeoTools/createRaster.cpp
Due: git-diff-check, file-extensions, git-clang-format

allow for arb. 3x3 matrices in formKelvinVektorFromThermalExpansivity
  MaterialLib/MPL/Utils/FormKelvinVectorFromThermalExpansivity.cpp
  MaterialLib/MPL/Utils/FormKelvinVectorFromThermalExpansivity.h
Due: git-diff-check, file-extensions, git-clang-format

rename FormKelvinVectorFromThermalExpansivity -> FormKelvinVector
  MaterialLib/MPL/Utils/FormKelvinVector.cpp
  MaterialLib/MPL/Utils/FormKelvinVector.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SolidThermalExpansion.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

add TRM ctests for anisotropic thermal_expansivity
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_expansivity_matrix.xml
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_expansivity_matrix_z90.xml
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_x45.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_y45.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_z45.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/cube_1x1x1.gml
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/cube_1x1x1_hex_1e0.vtu
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/expected_anisotropic_thermal_expansion_ts_1_t_1000000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/expected_anisotropic_thermal_expansion_x45_ts_1_t_1000000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/expected_anisotropic_thermal_expansion_y45_ts_1_t_1000000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/expected_anisotropic_thermal_expansion_z45_ts_1_t_1000000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/expected_anisotropic_thermal_expansion_z90_ts_1_t_1000000.000000.vtu
Due: git-diff-check

[App/ProjectData] Disable restriction to either multiple meshes or single mesh + geometries
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Update tests for multiple meshes + geometry
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e0.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e0.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e0_processed.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e1.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e1_processed.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_3d_submesh_output.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_processed.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_processed.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1x1x1_hex_1e0_left.vtu
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1x1x1_hex_1e1_left.vtu
Due: none

fixed caption
  web/content/docs/tools/preprocessing/createIntermediateRasters/index.md
Due: git-diff-check
