Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL] Added constitutive model/data: MaterialState
  ProcessLib/ThermoRichardsMechanics/Constitutive/MaterialState.h
Due: git-diff-check, git-clang-format

[PL] Adapt to changed constitutive setting
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL] Added constitutive model/data: Porosity
  ProcessLib/ThermoRichardsMechanics/Constitutive/Porosity.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Porosity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: EqP
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqP.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqP.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: SolidThermalExpansion
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidThermalExpansion.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidThermalExpansion.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: SolidCompressibility
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidCompressibility.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidCompressibility.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: SolidMechanics
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidMechanics.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: EqT
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqT.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqT.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: EqU
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqU.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/EqU.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: DarcyLaw
  ProcessLib/ThermoRichardsMechanics/Constitutive/DarcyLaw.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/DarcyLaw.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: TRMVaporDiffusion
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMVaporDiffusion.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMVaporDiffusion.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Removed unneeded include
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL] Unified var names to ip_data_vector
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL] Deduplicated an overload
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL] Deduplicated functions
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[web] Added a prj check to the data-link shortcode.
  scripts/ci/jobs/web.yml
  web/layouts/shortcodes/data-link.html
Due: git-diff-check

[web] A few more link fixes.
  .codespellrc
  web/content/docs/benchmarks/elliptic/drainage_diffusion/index.md
  web/content/docs/benchmarks/phase-field/pf_perc/index.md
  web/content/docs/tools/meshing-submeshes/identifySubdomains/index.md
  web/content/docs/tools/model-preparation/convert-data-array-to-data-array/index.md
  web/content/docs/userguide/troubleshooting/general/index.md
Due: git-diff-check

[ci] Update pre-commit docker image.
  scripts/docker/Dockerfile.pre-commit
Due: git-diff-check

[PL] Hardened getters and setters with additional checks
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL] Corrected accessor use in TRM
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[web] Fixed images in Markdown in Jupyter cells.
  Tests/Data/Notebooks/README.md
  Tests/Data/Notebooks/testrunner.py
  web/data/versions.json
Due: git-diff-check

[web] Another fix for Jupyter Markdown images.
  web/data/versions.json
Due: git-diff-check

[PL] Created function setting IP data ICs
  ProcessLib/Utils/SetIPDataInitialConditions.h
Due: git-diff-check, git-clang-format

[PL] Use new function to set IP data ICs
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Added manual job for advanced container.
  scripts/ci/jobs/container.yml
Due: git-diff-check

[AppL] Fixed OGS_USE_INSITU.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
  Applications/CLI/CMakeLists.txt
  Applications/CMakeLists.txt
  Applications/InSituLib/Adaptor.cpp
  Applications/InSituLib/README.md
  CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ProcessLib/Output/Output.cpp
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check, file-extensions, git-clang-format

[ci] Fix advanced containers job.
  scripts/ci/jobs/container.yml
Due: git-diff-check

[PL/SD] Removed tpl param from local assembler factory
  ProcessLib/SmallDeformation/CreateLocalAssemblers.h
Due: git-diff-check, git-clang-format

[PL/LIESD] Removed tpl param from local assemblers
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/BHE] Removed tpl param from local assembler factory
  ProcessLib/HeatTransportBHE/LocalAssemblers/CreateLocalAssemblers.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/LocalDataInitializer.h
Due: git-diff-check, git-clang-format

[PL] Removed tpl param from local assembler factory
  ProcessLib/Utils/CreateLocalAssemblers.h
  ProcessLib/Utils/GenericLocalAssemblerFactory.h
  ProcessLib/Utils/LocalAssemblerFactoryForDimGreaterEqualN.h
Due: git-diff-check, git-clang-format

[T] Adapted tests to removed tpl params
  Tests/MathLib/TestGaussLegendreIntegration.cpp
  Tests/NumLib/TestExtrapolation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/BC] Removed tpl param from local assembler factory
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/CreateLocalAssemblers.h
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/LocalAssemblerFactory.h
Due: git-diff-check, git-clang-format

[PL/BC] Removed tpl param from local assemblers
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/GenericNaturalBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/GenericNaturalBoundaryCondition.h
  ProcessLib/BoundaryConditionAndSourceTerm/GenericNaturalBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/NeumannBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/RobinBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/VariableDependentNeumannBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/VolumetricSourceTerm.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/VolumetricSourceTermFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIEHM] Removed tpl param from local assemblers
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIEHM] Removed tpl param from local assembler factory
  ProcessLib/LIE/HydroMechanics/LocalAssembler/CreateLocalAssemblers.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
Due: git-diff-check, git-clang-format

[PL/BHE] Removed tpl param from local assemblers
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Removed unneeded include
  ProcessLib/Utils/LocalAssemblerFactoryTaylorHood.h
Due: git-diff-check, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
