Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[web] Document pipeline modification for reducing run time.
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

[T] Slight increase on gas_pressure tolerance in bourgeat.prj.
  Tests/Data/TH2M/H2/dissolution_diffusion/bourgeat.prj
Due: none

[cmake] Switch to upstream mgis.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[MeL/MeshEditing] Create the mapping efficient
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/MeshEditing] Extract getNumberOfBaseNodes() outside of loop
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

Create nodes map; use in convert
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/MeshEditing] Mark base nodes in ConvertToLinearMesh
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/BC] Exclude ghost nodes from Dirichlet BCs
  ProcessLib/BoundaryConditionAndSourceTerm/PhaseFieldIrreversibleDamageOracleBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MaL] Petsc; Assert non-negative indices in DirBC
  MathLib/LinAlg/PETSc/PETScTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/THM] Stefan problem copied from heat conduction
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem.prj
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem_ts_427_t_427000000.000000.vtu
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem_ts_46_t_46000000.000000.vtu
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/mesh.vtu
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/mesh_left.vtu
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/mesh_right.vtu
Due: git-diff-check

[PL/THM] Implement freezing for temperature eq.
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[MPL] Assert frozen phase existence.
  MaterialLib/MPL/Properties/VolumeFractionAverage.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Fix numerical issues in exp function eval.
  MaterialLib/MPL/Utils/SigmoidFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Rename getNumberOfBaseNodes() to computeNumberOfBaseNodes()
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  ChemistryLib/CreateChemicalSolverInterface.cpp
  MeshGeoToolsLib/MeshNodesAlongPolyline.cpp
  MeshGeoToolsLib/MeshNodesAlongSurface.cpp
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
  MeshLib/NodePartitionedMesh.h
  Tests/MeshLib/TestRasterToMesh.cpp
  Tests/MeshLib/TestRemove.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Check for xvfb-run existance and add ctest exclude regex.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[ci] Exclude notebook tests on eve frontends.
  .gitlab-ci.yml
  scripts/ci/jobs/build-linux-frontend.yml
Due: git-diff-check

[MeL] Added missing include
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added missing include
  ProcessLib/HeatTransportBHE/BoundaryConditions/BHEBottomDirichletBoundaryCondition.h
Due: git-diff-check, git-clang-format

[cmake] Don't use GKlibSystem.cmake.
  scripts/cmake/MetisSetup.cmake
Due: git-diff-check

[cmake] Add Windows Metis flags.
  scripts/cmake/MetisSetup.cmake
Due: git-diff-check

[ML] Fix compilation issues in asserts.
  MaterialLib/SolidModels/MFront/MFrontGeneric.cpp
  MaterialLib/SolidModels/MFront/MFrontGeneric.h
Due: git-diff-check, file-extensions, git-clang-format

[t] Relax tolerance on gas_pressure for Ubuntu in Burgeat benchmark.
  Tests/Data/TH2M/H2/dissolution_diffusion/bourgeat.prj
Due: none

[T/HC] Two-phase Stefan problem; ice melting
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_RectMesh_fine.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_RectMesh_fine_0.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_RectMesh_fine_1.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_RectMesh_fine_2.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_RectMesh_fine_3.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_melting_T-plot_ts_0_t_3600_sec.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Slab_melting_T-plot_ts_100_t_7200_sec.vtu
  Tests/Data/Parabolic/T/1D_Two-phase_Stefan_problem_for_ice_melting/Two-phase_Stefan_problem.prj
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/Heat_conduction_phase_change_(ice_slab_melting).pdf
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/Melting_slab.png
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/Melting_slab_Stefan_problem_(OGS_3d).png
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/Melting_slab_Stefan_problem_(analytic).png
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/Melting_slab_Stefan_problem_(analytic_vs_OGS).png
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/index.md
Due: git-diff-check

[web] Fixed tespy link.
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE_PipelineNetwork/index.md
Due: git-diff-check

[T] Add three point bending test notebook
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.gml
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.ipynb
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.prj
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.vtu
  Tests/Data/PhaseField/tpb_jupyter_notebook/figures/F_vs_u.png
  Tests/Data/PhaseField/tpb_jupyter_notebook/figures/TPB_model.png
  Tests/Data/PhaseField/tpb_jupyter_notebook/figures/TPB_pf_profile.png
  Tests/Data/PhaseField/tpb_jupyter_notebook/figures/experiment_data_lower_limit.csv
  Tests/Data/PhaseField/tpb_jupyter_notebook/figures/experiment_data_upper_limit.csv
  web/content/docs/benchmarks/phase-field/pf_tpb/TPB_exp.png
  web/content/docs/benchmarks/phase-field/pf_tpb/VPF_ME1_NF_CMOD_comp.png
  web/content/docs/benchmarks/phase-field/pf_tpb/VPF_ME1_frac.png
  web/content/docs/benchmarks/phase-field/pf_tpb/index.md
Due: git-diff-check

[cmake] Fix mpmetis build on eve.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

Editing screen-output for Kregime-PF data parsing
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

Adding static fracture option for k-regime PF
  ProcessLib/PhaseField/CreatePhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldProcessData.h
  Tests/Data/PhaseField/k_regime_HF/2D_bm_0p01.prj
Due: git-diff-check, file-extensions, git-clang-format

adding sneddon static fracture jupyter notebook
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/t_hydro_crack_scheme.md
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/t_pressurized_crack_scheme.md
  Documentation/bibliography/other.bib
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static.gml
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static.prj
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static_jupyter.ipynb
  Tests/Data/PhaseField/kregime_jupyter_notebook/figures/AT1_crackopening_mesh_sensitivity.png
  Tests/Data/PhaseField/kregime_jupyter_notebook/figures/AT2_crackopening_mesh_sensitivity.png
  Tests/Data/PhaseField/kregime_jupyter_notebook/figures/Model_sneddon_straight.png
Due: git-diff-check

[cmake] Moved VTK from CPM to external dependencies.
  scripts/cmake/BuildExternalProject.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/loguru.patch
Due: git-diff-check

revise typos in the index-file
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/index.md
Due: git-diff-check

[web] Some tweaks to the documentation pages.
  web/content/docs/benchmarks/heatconduction/heatconduction-slab-melting/index.md
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/index.md
Due: git-diff-check
