Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[T] Added unit tests for tangent operator blocks view
  Tests/MaterialLib/TestTangentOperatorBlocksView.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Moved code to make unity builds work
  Tests/MaterialLib/OGSMFrontTestVariables.h
  Tests/MaterialLib/TestTangentOperatorBlocksView.cpp
  Tests/MaterialLib/TestThermodynamicForcesView.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr] Improve docu of optional prj file params
  scripts/doc/append-xml-tags.py
  scripts/doc/normalize-param-cache.py
Due: git-diff-check

[scr] Fixed location of the method name
  scripts/doc/linked-xml-file.py
Due: git-diff-check

[PL] Moved SurfaceFluxData impl to cpp file
  ProcessLib/SurfaceFlux/SurfaceFlux.h
  ProcessLib/SurfaceFlux/SurfaceFluxData.cpp
  ProcessLib/SurfaceFlux/SurfaceFluxData.h
Due: git-diff-check, file-extensions, git-clang-format

Forward declare ConfigTree
  Applications/ApplicationsLib/ProjectData.h
  Applications/InSituLib/Adaptor.h
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.h
  MaterialLib/Adsorption/ReactionCaOH2.h
  MaterialLib/Adsorption/ReactionSinusoidal.h
  MaterialLib/Fluid/Density/CreateFluidDensityModel.h
  MaterialLib/Fluid/Density/LinearConcentrationAndPressureDependentDensity.h
  MaterialLib/Fluid/Density/LinearConcentrationDependentDensity.h
  MaterialLib/Fluid/Density/LinearTemperatureDependentDensity.h
  MaterialLib/Fluid/Density/LiquidDensity.h
  MaterialLib/Fluid/Viscosity/CreateViscosityModel.h
  MaterialLib/MPL/Properties/AverageMolarMass.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.h
  MaterialLib/MPL/Properties/ClausiusClapeyron.h
  MaterialLib/MPL/Properties/IdealGasLaw.h
  MaterialLib/MPL/Properties/IdealGasLawBinaryMixture.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermNonWettingPhaseVanGenuchtenMualem.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermVanGenuchten.h
  MaterialLib/PorousMedium/CreatePorousMediaProperties.h
  MaterialLib/SolidModels/MFront/CreateMFront.h
  MathLib/Curve/CreatePiecewiseLinearCurve-impl.h
  MathLib/LinAlg/LinearSolverOptions.h
  ParameterLib/Utils.h
  ProcessLib/CreateJacobianAssembler.h
Due: git-diff-check, git-clang-format

[PL] Use forward declarations for procss variable
  ProcessLib/CreateProcessData.cpp
  ProcessLib/Process.h
  ProcessLib/ProcessVariable.cpp
  ProcessLib/ProcessVariable.h
Due: git-diff-check, file-extensions, git-clang-format

[BL] Add forward declaring header
  BaseLib/ConfigTree-fwd.h
Due: git-diff-check, git-clang-format

Add missing includes
  Applications/InSituLib/Adaptor.cpp
  GeoLib/IO/XmlIO/Boost/BoostXmlGmlInterface.h
  MaterialLib/Adsorption/ReactionCaOH2.h
  MaterialLib/Fluid/Density/CreateFluidDensityModel.cpp
  MaterialLib/Fluid/Viscosity/CreateViscosityModel.cpp
  MaterialLib/PorousMedium/CreatePorousMediaProperties.cpp
  MathLib/LinAlg/LinearSolverOptions.cpp
  MathLib/LinAlg/LinearSolverOptions.h
  ParameterLib/Utils.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/CollectAndInterpolateNodalDof.h
  ProcessLib/CompareJacobiansJacobianAssembler.cpp
  ProcessLib/CreateJacobianAssembler.cpp
  ProcessLib/CreateJacobianAssembler.h
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/ProcessVariable.h
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/StokesFlow/CreateStokesFlowProcess.cpp
  ProcessLib/TwoPhaseFlowWithPrho/CreateTwoPhaseFlowPrhoMaterialProperties.cpp
  ProcessLib/Utils/ProcessUtils.cpp
  Tests/MaterialLib/TestFluidDensity.cpp
  Tests/MaterialLib/TestFluidViscosity.cpp
  Tests/ProcessLib/ComponentTransport/TestLookupTable.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Smaller spelling issues and backticks
  web/content/docs/devguide/advanced/python-wheel/index.md
  web/content/docs/tools/model-preparation/convert-data-array-to-data-array/index.md
  web/content/docs/userguide/basics/introduction/index.md
Due: git-diff-check

[App/IO] Avoid incorrect post-increment on end it
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Use algorithm replacing for-loop.
  MaterialLib/MPL/Properties/CreateFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] FormEigenVector: Avoid warning 'Found a exit path from function with non-void return type that has missing return statement'
  MaterialLib/MPL/Utils/FormEigenVector.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Unify and improve error messages
  MaterialLib/MPL/Utils/FormEigenVector.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Remove unused matrix
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

Added a simple wrapper for OGS CLI tools
  Applications/Python/ogs/__init__.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
  Tests/Python/test_wrapped_cli_tools.py
Due: git-diff-check

[scr] Fix/silence cmake-lint complaints
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[T] Added metadata for website
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
Due: none

[cmake] Use MSVCs Multi-ToolTask scheduler for build parallelism.
  scripts/ci/jobs/build-wheels.yml
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] Refactored ccache logic. Enables ccache on MSVC debug builds.
  CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/cmake/UseCompilerCache.cmake
Due: git-diff-check

[web] Fixed title and image in Heat pipe verification problem notebook.
  Tests/Data/TH2M/TH2/heatpipe/figures/heatpipe_schematic.png
  Tests/Data/TH2M/TH2/heatpipe/heatpipe.ipynb
Due: none

[wheel] Move setuptools_scm config to setup.py to override local_scheme.
  pyproject.toml
  scripts/ci/jobs/build-wheels.yml
  setup.py
Due: git-diff-check

[Mat] Moved implementations to cpp file
  MaterialLib/Adsorption/ReactionSinusoidal.cpp
  MaterialLib/Adsorption/ReactionSinusoidal.h
Due: git-diff-check, file-extensions, git-clang-format

[MathLib] Parse curve config in cpp file
  MathLib/Curve/CreatePiecewiseLinearCurve.cpp
  MathLib/Curve/CreatePiecewiseLinearCurve.h
Due: git-diff-check, file-extensions, git-clang-format

[wheel] Pass SETUPTOOLS_SCM_LOCAL_SCHEME into Linux build container.
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

[Mat] MFront and MFrontGeneric share their config
  MaterialLib/SolidModels/MFront/CreateMFront.cpp
  MaterialLib/SolidModels/MFront/CreateMFrontGeneric.cpp
  MaterialLib/SolidModels/MFront/CreateMFrontGeneric.h
Due: git-diff-check, file-extensions, git-clang-format

[Mat] Updated CMakeLists.txt
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

[T] Added unit tests for the generic OGS-MFront interface
  Tests/CMakeLists.txt
  Tests/MaterialLib/CheckParamPassingMFront.cpp
  Tests/MaterialLib/CheckStiffnessMatrixMFront.cpp
  Tests/MaterialLib/MFront/CMakeLists.txt
  Tests/MaterialLib/MFront/CheckParamPassing1.mfront
  Tests/MaterialLib/MFront/CheckStiffnessMatrixAllBlocks.mfront
  Tests/MaterialLib/MFront/CheckStiffnessMatrixAllBlocksReordered.mfront
  Tests/MaterialLib/MFront/CheckStiffnessMatrixExcessBlocks.mfront
  Tests/MaterialLib/MFront/CheckStiffnessMatrixMissingBlocks.mfront
  Tests/MaterialLib/ThermoporoelasticityMFront.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Mat] stress/strain OGS-MFront interface is based on the generic one
  MaterialLib/SolidModels/MFront/MFront.cpp
  MaterialLib/SolidModels/MFront/MFront.h
Due: git-diff-check, file-extensions, git-clang-format

[scr] Require an updated MGIS version
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[Mat] Made rotation matrix optional
  MaterialLib/SolidModels/MFront/MFrontGeneric.cpp
  MaterialLib/SolidModels/MFront/MFrontGeneric.h
Due: git-diff-check, file-extensions, git-clang-format

[Mat] Specify which VariableArray members hold which OGS-MFront data
  MaterialLib/SolidModels/MFront/Variable.h
Due: git-diff-check, git-clang-format

[Mat] Added generic OGS-MFront interface class
  MaterialLib/SolidModels/MFront/MFrontGeneric.cpp
  MaterialLib/SolidModels/MFront/MFrontGeneric.h
Due: git-diff-check, file-extensions, git-clang-format

[Mat] Added a simple test MFront behaviour
  MaterialLib/SolidModels/MFront/ThermoPoroElasticity.mfront
Due: git-diff-check

Enable MFront in coverage build
  CMakePresets.json
Due: git-diff-check

[T] Bump Snakemake for testing.
  web/data/versions.json
Due: git-diff-check

[snakemake] Added environment.yaml for vtkdiff-wrapper.
  scripts/snakemake/vtkdiff/environment.yaml
Due: git-diff-check

[MeshLib] Added a member, shallowClean()
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib/Properties] Made function applyToPropertyVectors be visible to other files
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  MeshLib/Properties-impl.h
  MeshLib/Properties.h
Due: git-diff-check, file-extensions, git-clang-format

[partmesh] Made two local functions be visible to other files
  Applications/Utils/ModelPreparation/PartitionMesh/CMakeLists.txt
  Applications/Utils/ModelPreparation/PartitionMesh/IntegrationPointDataTools.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/IntegrationPointDataTools.h
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format
