Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full]
  # A variant of the ruff hook above that automatically applies proposed fixes.
  # Runs only manually.
  # Run this hook (and all other manual hooks if any) with:
  # pre-commit run --hook-stage manual
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full, --fix, --exit-non-zero-on-fix]
        stages: [manual]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

implement parallel assembly for SmallDeformation
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Global matrix output already in AsmMixins
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.h
Due: git-diff-check, file-extensions, git-clang-format

Slightly relax ctest tolerances
  Tests/Data/LargeDeformation/CooksMembrane/CooksMembraneLDRefinedMesh15.xml
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column.prj
  Tests/Data/WellboreSimulator/1Phase_wellbore_small_newton.prj
Due: none

[NL] Update copyright years
  NumLib/Fem/AverageGradShapeFunction.h
  ProcessLib/Deformation/NonLinearFbar.cpp
  ProcessLib/Deformation/NonLinearFbar.h
Due: git-diff-check, file-extensions, git-clang-format

[web] Fix links.
  web/content/docs/devguide/advanced/python-wheel/index.md
  web/lychee.toml
Due: git-diff-check

[doxygen] Fix qa link to GitLab.
  scripts/doc/check-project-params.py
Due: git-diff-check

[H2pp] Add missed variable setting
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check, git-clang-format

[H2pp] Set initial saturation
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler.h
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPProcess.cpp
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[H2pp] Do not store N^T N
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler.h
Due: git-diff-check, git-clang-format

Extract common phase-field models
  MaterialLib/SolidModels/PhaseFieldBase.h
  ProcessLib/PhaseField/CreatePhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/PhaseField/PhaseFieldProcessData.h
  ProcessLib/PhaseField/Tests.cmake
Due: git-diff-check, file-extensions, git-clang-format

[HMPhF] HMPhaseField process for hydraulic fracturing
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/HMPhaseField/CMakeLists.txt
  ProcessLib/HMPhaseField/CreateHMPhaseFieldProcess.cpp
  ProcessLib/HMPhaseField/CreateHMPhaseFieldProcess.h
  ProcessLib/HMPhaseField/HMPhaseFieldFEM-impl.h
  ProcessLib/HMPhaseField/HMPhaseFieldFEM.h
  ProcessLib/HMPhaseField/HMPhaseFieldProcess.cpp
  ProcessLib/HMPhaseField/HMPhaseFieldProcess.h
  ProcessLib/HMPhaseField/HMPhaseFieldProcessData.h
  ProcessLib/HMPhaseField/LocalAssemblerInterface.h
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check, file-extensions, git-clang-format

Add a Kelvin vector, representing a 2nd order tensor with the element of one
  MathLib/KelvinVector-impl.h
  MathLib/KelvinVector.h
Due: git-diff-check, git-clang-format

[HMPhF] add documentation
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/c_HM_PHASE_FIELD.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/phasefield_parameters/i_phasefield_parameters.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/phasefield_parameters/t_crack_length_scale.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/phasefield_parameters/t_crack_resistance.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/phasefield_parameters/t_residual_stiffness.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/process_variables/t_displacement.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/process_variables/t_phasefield.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/process_variables/t_pressure.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_characteristic_length.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_diffused_range_parameter.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_energy_split_model.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_fixed_stress_stabilization_parameter.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_fluid_compressibility.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_fracture_permeability_parameter.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_fracture_threshold.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_irreversible_threshold.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_phasefield_model.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_softening_curve.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_spatial_stabilization_parameter.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_specific_body_force.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_specific_fracture_direction.md
  Documentation/ProjectFile/prj/processes/process/HM_PHASE_FIELD/t_width_init.md
  Documentation/bibliography/other.bib
Due: git-diff-check

Edit mfront_restart_part1.prj
  Tests/Data/ThermoHydroMechanics/RestartMCC/mfront_restart_part1.prj
Due: none

[web] Clarified python build configs.
  Documentation/.vale/Vocab/ogs/ignore.txt
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

[cmake] Added a TODO for making the embedded interpreter work in another interpreter.
  Applications/CLI/CMakeLists.txt
Due: git-diff-check

[cmake] Proper OpenMP linking on Windows.
  MathLib/CMakeLists.txt
  MeshGeoToolsLib/CMakeLists.txt
  scripts/cmake/Find.cmake
Due: git-diff-check

[cmake,py] Python modules are usable without OGS_USE_PIP=ON.
  Applications/Python/CMakeLists.txt
Due: git-diff-check

[web] Document usage without `-DOGS_USE_PIP=ON`.
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

implmentation of non-negative damping
  NumLib/ODESolver/ConvergenceCriterion.h
  NumLib/ODESolver/ConvergenceCriterionDeltaX.h
  NumLib/ODESolver/ConvergenceCriterionPerComponentDeltaX.cpp
  NumLib/ODESolver/ConvergenceCriterionPerComponentDeltaX.h
  NumLib/ODESolver/ConvergenceCriterionPerComponentResidual.cpp
  NumLib/ODESolver/ConvergenceCriterionPerComponentResidual.h
  NumLib/ODESolver/ConvergenceCriterionResidual.h
  NumLib/ODESolver/NonlinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ruff] Fix config.
  pyproject.toml
Due: git-diff-check

[ruff] Fix PLC0206.
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/BlockingConductingFracture.py
Due: none

[ci] Switch on ruff exit code.
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

[pre-commit] Update ruff.
  .pre-commit-config.yaml
Due: git-diff-check

add documentation
  Documentation/ProjectFile/prj/time_loop/processes/process/convergence_criterion/PerComponentDeltaX/t_damping_alpha.md
  Documentation/ProjectFile/prj/time_loop/processes/process/convergence_criterion/PerComponentResidual/t_damping_alpha.md
Due: git-diff-check

add test for non-negative damping
  ProcessLib/WellboreSimulator/Tests.cmake
  Tests/Data/WellboreSimulator/2Phase_wellbore_small_newton_nonnegdamping.prj
Due: git-diff-check

[NL] Init local data before accessing PETScVector
  NumLib/ODESolver/ConvergenceCriterionPerComponentDeltaX.cpp
  NumLib/ODESolver/ConvergenceCriterionPerComponentResidual.cpp
Due: git-diff-check, file-extensions, git-clang-format

improve code quality nonnegative damping
  NumLib/ODESolver/ConvergenceCriterionPerComponentDeltaX.cpp
  NumLib/ODESolver/ConvergenceCriterionPerComponentResidual.cpp
  NumLib/ODESolver/NonlinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Update guix and include vtkdiff in container.
  scripts/ci/jobs/build-guix.yml
  scripts/guix/channels.scm
Due: git-diff-check

[cmake] Typo in tfel find logic.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

set position for the retardation factor
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[TH2M] Analytically compute the Jacobian block for deformation
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[CTest#TH2M] Update the run times for some benchmarks
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

[PCS] Added a member `getVectorDeformationSegment` to LocalAssemblerInterface
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[Doc] Add a short description about the deformation perturbation
  Documentation/ProjectFile/prj/processes/process/jacobian_assembler/CentralDifferences/t_relative_epsilons.md
Due: git-diff-check

[PCS] Avoid to compute the analytic block in
  ProcessLib/CentralDifferencesJacobianAssembler.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ML] Fix for gcc 11.4.0.
  MathLib/KelvinVector-impl.h
Due: git-diff-check, git-clang-format

[MaL] Made Eigen formatting compatible with ranges
  MathLib/FormattingUtils.h
Due: git-diff-check, git-clang-format

[T] Added formatting test
  Tests/MathLib/TestFormattingUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format
