Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: file-names
        name: Check file names
        entry: scripts/hooks/pre-commit-file-names.sh
        language: system
        stages: [commit, manual]
    -   id: git-lfs
        name: Check git lfs files
        entry: scripts/hooks/pre-commit-git-lfs.sh
        language: system
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[ParamL] Added missing dependency (includes) to MathLib.
  ParameterLib/CMakeLists.txt
Due: cmake-format

CheckHeaders; Verbose output.
  scripts/cmake/CheckHeaderCompilation.cmake
Due: none

[CMake] Fixed error message on non existing targets in check headers.
  scripts/cmake/CheckHeaderCompilation.cmake
Due: none

[PL] Rename GroundwaterFlow to SteadyStateDiffusion I.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/SteadyStateDiffusion/CMakeLists.txt
  ProcessLib/SteadyStateDiffusion/CreateGroundwaterFlowProcess.cpp
  ProcessLib/SteadyStateDiffusion/CreateGroundwaterFlowProcess.h
  ProcessLib/SteadyStateDiffusion/GroundwaterFlowFEM.h
  ProcessLib/SteadyStateDiffusion/GroundwaterFlowProcess.cpp
  ProcessLib/SteadyStateDiffusion/GroundwaterFlowProcess.h
  ProcessLib/SteadyStateDiffusion/GroundwaterFlowProcessData.h
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  scripts/cmake/ProcessesSetup.cmake
Due: file-extensions, cmake-format

[PL] Rename GroundwaterFlow to SteadyStateDiffusion V.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
Due: file-extensions

[PL] Rename GroundwaterFlow to SteadyStateDiffusion VI.
  Documentation/ProjectFile/prj/processes/process/GROUNDWATER_FLOW/c_GROUNDWATER_FLOW.md
  Documentation/ProjectFile/prj/processes/process/GROUNDWATER_FLOW/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/GROUNDWATER_FLOW/process_variables/t_process_variable.md
  Documentation/ProjectFile/prj/processes/process/STEADY_STATE_DIFFUSION/c_STEADY_STATE_DIFFUSION.md
  Documentation/ProjectFile/prj/processes/process/STEADY_STATE_DIFFUSION/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/STEADY_STATE_DIFFUSION/process_variables/t_process_variable.md
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
  web/content/docs/tools/model-preparation/create-boundary-conditions-along-a-polyline/index.pandoc
Due: file-extensions

[PL] Rename GroundwaterFlow to SteadyStateDiffusion II.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.h
Due: file-extensions

[PL] Rename GroundwaterFlow to SteadyStateDiffusion IV.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusionData.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusionFEM.h
Due: file-extensions

[PL] Rename GroundwaterFlow to SteadyStateDiffusion III.
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusionData.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusionFEM.h
Due: file-extensions

cmd line utility to remove ghost information
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshEdit/RemoveGhostData.cpp
  Applications/Utils/MeshEdit/RemoveGhostNodes.cpp
Due: file-extensions, cmake-format

added test for RemoveGhostData
  Applications/Utils/Tests.cmake
  Tests/Data/MeshLib/Mesh3D-A.vtu
  Tests/Data/MeshLib/Mesh3D-B.vtu
  Tests/Data/MeshLib/Mesh3D.pvtu
  Tests/Data/MeshLib/RemoveGhostDataOutput.vtu
Due: none

[MaterialLib] Moved Capillary models to a subdirectory
  MaterialLib/CMakeLists.txt
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationBrooksCorey.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationBrooksCorey.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationLiakopoulos.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationLiakopoulos.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationVanGenuchten.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationVanGenuchten.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationBrooksCorey.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationBrooksCorey.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationVanGenuchten.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationVanGenuchten.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
  Tests/MaterialLib/TestMPLSaturationBrooksCorey.cpp
  Tests/MaterialLib/TestMPLSaturationLiakopoulos.cpp
  Tests/MaterialLib/TestMPLSaturationVanGenuchten.cpp
Due: file-extensions, cmake-format

[MaterialLib] Moved the files of the relative permeability models to a subdirectoy
  MaterialLib/CMakeLists.txt
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermBrooksCorey.h
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermLiakopoulos.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermLiakopoulos.h
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermVanGenuchten.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermVanGenuchten.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermVanGenuchten.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermVanGenuchten.h
  Tests/MaterialLib/TestMPLRelPermBrooksCorey.cpp
  Tests/MaterialLib/TestMPLRelPermLiakopoulos.cpp
  Tests/MaterialLib/TestMPLRelPermVanGenuchten.cpp
Due: file-extensions, cmake-format

[SaturationVanGenuchten] Documentation and moving private section to bottom
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationVanGenuchten.h
Due: none

[web] Added Ubuntu gcc install instructions.
  web/content/docs/devguide/getting-started/prerequisites.pandoc
Due: none

Moved paraview source files to ThirdParty/paraview.
  Applications/Utils/MeshEdit/CMakeLists.txt
  ThirdParty/paraview/License_v1.2.txt
  ThirdParty/paraview/vtkCleanUnstructuredGrid.cpp
  ThirdParty/paraview/vtkCleanUnstructuredGrid.h
Due: cmake-format

[SaturationVanGenuchten] Corrected two errors in the documentation
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationVanGenuchten.h
Due: none

adjusted system include and removed trailing whitespaces
  Applications/Utils/MeshEdit/RemoveGhostData.cpp
  ThirdParty/paraview/License_v1.2.txt
Due: file-extensions

[CMake] Fix segmentation fault in ThirdParty/IPhreeqc.
  CMakeLists.txt
Due: cmake-format

[CMake] Duplicate if-condition statement.
  CMakeLists.txt
Due: cmake-format

[BL] Use std::chrono::system_clock for wall-clock.
  BaseLib/RunTime.h
Due: none

[CMake] Removed vtkIOExportPDF requirement.
  scripts/cmake/Find.cmake
Due: none

[CMake] Added function ogs_add_library.
  scripts/cmake/Functions.cmake
Due: none

[App/U] Remove unnecessary includes.
  Applications/Utils/ModelPreparation/PartitionMesh/PartitionMesh.cpp
Due: file-extensions

[CMake] Removed global warning flags.
  scripts/cmake/CompilerSetup.cmake
  scripts/cmake/Functions.cmake
Due: none

[App/IO] Add missing semicolons.
  Applications/FileIO/SWMM/SWMMInterface.cpp
Due: file-extensions

[MatL/MFront] Fix number of args in output.
  MaterialLib/SolidModels/MFront/CreateMFront.cpp
Due: file-extensions

[CMake] Disable PCH on ChemistryLib.
  scripts/cmake/Functions.cmake
Due: none

[CMake] Enable PCH on macOS.
  scripts/cmake/CompilerSetup.cmake
Due: none

[CMake] Try ogs_add_library without OR generator expression.
  scripts/cmake/Functions.cmake
Due: none

[App/IO] Rewrite case insensitive file ext. test.
  Applications/FileIO/SWMM/SWMMInterface.cpp
Due: file-extensions

[web] Fixed dead links.
  web/content/docs/devguide/documentation/introduction.pandoc
Due: none

[Jenkins] Simplified web-job by using urlchecker.
  Jenkinsfile
  scripts/docker/Dockerfile.web
Due: none

[Cmake] Remove ChemistryLib and iphreeqc make for current HeatTransportBHE process.
  CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ThirdParty/CMakeLists.txt
Due: cmake-format

add linear shape functions for displacement
  ProcessLib/ThermoHydroMechanics/LocalDataInitializer.h
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/expected_square_1e0_lin_pcs_0_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/quarter_002.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/square_1e2_lin.prj
Due: none
