Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

Remove figures of old JN layout
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/figures/h-tet-1.png
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/figures/ogs-jupyter-lab.png
Due: none

Align the benchmark evaluation to resemble the same Theis benchmark as for the ComponentTransport unit
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.py
Due: none

Correct the units for depth-integrated storage coefficient
  Tests/Data/Parabolic/ComponentTransport/Theis_Axisymmetric/axisym_theis_CT.py
Due: none

Align reference vtu file to resemble the same Theis benchmark as for the ComponentTransport unit with OGS6
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.vtu
Due: none

Remove Python script which tests the Theis solution for Component Transport because it is not excecuted.
  Tests/Data/Parabolic/ComponentTransport/Theis_Axisymmetric/axisym_theis_CT.py
Due: none

chores: spelling and typos fixes
  ChemistryLib/README.md
  Documentation/.vale/Vocab/ogs/accept.txt
  Documentation/ProjectFile/prj/chemical_system/exchangers/exchange_site/t_ion_exchanging_species.md
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS_WITH_LIE/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/RICHARDS_MECHANICS/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/RichardsComponentTransport/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/TH2M/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/THERMO_HYDRO_MECHANICS/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/THERMO_MECHANICS/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_FLOW/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_MECHANICS/t_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/TWOPHASE_FLOW_THERMAL/process_variables/t_total_molar_fraction_contaminant.md
  Documentation/ProjectFile/prj/time_loop/processes/process/t_output.md
  ProcessLib/ComponentTransport/README.md
Due: git-diff-check

chores: ruff formatting
  Applications/Python/ogs/dev/ogs_log_summary.py
  Tests/Data/Mechanics/Linear/PythonHertzContact/gen-unit-circle.py
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.py
  Tests/Data/TH2M/H2/mcWhorter_interactive/helper.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/ogs_and_mfront.py
  Tests/Python/test_simulator_mesh_interface.py
  scripts/doc/append-xml-tags.py
  scripts/doc/extract-media-properties-from-ctests.py
  scripts/python/do-release.py
  scripts/python/post-release.py
Due: git-diff-check

6.5.8
  .mailmap
  CHANGELOG.md
  CITATION.cff
  README.md
  Tests/Data/Notebooks/testrunner.py
  web/content/releases/6.5.8.md
Due: git-diff-check

feat(HM): add equation balance type flag and implementation
  Documentation/ProjectFile/prj/processes/process/HT/t_equation_balance_type.md
  ProcessLib/CMakeLists.txt
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HT/HTProcessData.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

fix(HT): add missing MpT term and optimize computations
  ProcessLib/HT/MonolithicHTFEM.h
Due: git-diff-check, git-clang-format

refactor(HT): use MPL solid thermal expansivity and remove legacy parameters
  Documentation/ProjectFile/prj/processes/process/HT/solid_thermal_expansion/i_solid_thermal_expansion.md
  Documentation/ProjectFile/prj/processes/process/HT/solid_thermal_expansion/t_biot_constant.md
  Documentation/ProjectFile/prj/processes/process/HT/solid_thermal_expansion/t_thermal_expansion.md
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HT/HTProcessData.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

docs(HT): update DECOVALEX benchmark and theoretical description
  web/content/docs/benchmarks/hydro-thermal/decovalex-TH/decovalex_TH_domain_pT.png
  web/content/docs/benchmarks/hydro-thermal/decovalex-TH/index.md
  web/content/docs/processes/thermal-processes/Hydro-thermal/index.md
Due: git-diff-check

fix(HT): add safety assertion for specific_storage
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, git-clang-format

[ci] Fix push docs.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[ci] Fix running large ctests on tag pipelines.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

fix(T/SD): Allow one more Newton iteration
  Tests/Data/Mechanics/Linear/MaterialForces/bar.prj
Due: none

fix(T/SD): Refine timestep in plastic regime for HoekBrown test
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
  Tests/Data/Mechanics/HoekBrown/load_test_hb_t_0.000000.vtu
  Tests/Data/Mechanics/HoekBrown/load_test_hb_t_10.000000.vtu
  Tests/Data/Mechanics/HoekBrown/load_test_hb_t_20.000000.vtu
  Tests/Data/Mechanics/HoekBrown/load_test_hb_t_30.000000.vtu
  Tests/Data/Mechanics/HoekBrown/load_test_hb_t_40.000000.vtu
Due: none

fix(T/SD): Use LU preconditioner for HoekBrown PETSc solver
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

[guix] Update channels, xdmf lib is now in upstream.
  scripts/guix/channels-science.scm
  scripts/guix/channels.scm
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial.scm
  scripts/guix/packages/ogs-xdmf.scm
Due: git-diff-check

[CI] performance measurements - copy gets modified - but original values must be replaced
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.py
Due: none

[py] Update to OGSTools 0.8.1
  Tests/Data/Notebooks/testrunner.py
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
Due: none

Moved recommendation to enable OGS_USE_PIP from Prerequisites to Build Configuration where it is more useful
  web/content/docs/devguide/getting-started/build-configuration/index.md
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[T,py] Set jupyter backend to client when in binder.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.py
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.py
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/great_cell_LIE.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/Plotter.py
  Tests/Data/LargeDeformation/CooksMembrane/CooksMembraneFbar.py
  Tests/Data/LargeDeformation/FbarBenchmarksLocking.py
  Tests/Data/LargeDeformation/RigidBody/RigidBody.py
  Tests/Data/LargeDeformation/Torsion/Torsion_robustness.py
  Tests/Data/Mechanics/CooksMembrane/CooksMembraneBbar.py
  Tests/Data/Mechanics/EvaluatingBbarWithSimpleExamples/evaluating_bbbar_with_simple_examples.py
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.py
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/Linear_Disc_with_hole_convergence_analysis.py
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy_to_OGS.py
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/heatconduction-line_source_term.py
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.py
  Tests/Data/PhaseField/PForthotropy_jupyter_notebook/sen_shear.py
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static_jupyter.py
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.py
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[T,HT] Relax tol. for HT_calculatesurfaceflux.
  ProcessLib/HT/Tests.cmake
Due: git-diff-check

Fix LiquidFlow aperture evaluation at integration points
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check, git-clang-format

Add liquid flow benchmark in rough fracture
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_10p0_ts_157_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_2p0_ts_30_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_10p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_2p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_10p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_2p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC10_sigma_0p2MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC10_sigma_10p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC10_sigma_2p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC4_sigma_0p2MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC4_sigma_10p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC4_sigma_2p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC7_sigma_0p2MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC7_sigma_10p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/meshes/joint_JRC7_sigma_2p0MPa.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughFracture_benchmark.py
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughFracture_synthesis_LF.prj
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughfracture_postprocessing.py
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughfracture_preprocessing.py
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughfracture_runner.py
Due: git-diff-check

Update rough fracture visualization
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughFracture_benchmark.py
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughfracture_postprocessing.py
  Tests/Data/Parabolic/LiquidFlow/roughFracture/roughfracture_preprocessing.py
Due: none

Update referenced VTUs
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_10p0_ts_150_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_10p0_ts_157_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC10_sigma_2p0_ts_30_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_10p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC4_sigma_2p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_0p2_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_10p0_ts_29_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_10p0_ts_31_t_1000.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/roughFracture/expected/roughFracture_synthesis_LF_JRC7_sigma_2p0_ts_29_t_1000.000000.vtu
Due: none

fix(T/SD): slightly adjust ctest tolerance
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

perf(MPL): use stack array in evaluateExpressions
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BL): extract thread count from MPL
  BaseLib/CMakeLists.txt
  BaseLib/OgsAsmThreads.cpp
  BaseLib/OgsAsmThreads.h
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(MPL): rename variables_ to required_variables_enum_ in Function
  MaterialLib/MPL/Properties/Function.cpp
  MaterialLib/MPL/Properties/Function.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(ParL): extract exprtk utilities into ParameterLib for reuse
  ParameterLib/ExprtkUtils.cpp
  ParameterLib/ExprtkUtils.h
  Tests/ParameterLib/TestExprtkUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

perf(MPL): offset arithmetic for scalar copies
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(MPL): add fromArray() for PropertyDataType
  MaterialLib/MPL/Property.h
  Tests/MaterialLib/TestMPLProperty.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(ParL): BaseLib dependency is public
  ParameterLib/CMakeLists.txt
Due: git-diff-check

perf(MPL): cache exprtk variable pointers
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(MPL): simplify Implementation class as struct
  MaterialLib/MPL/Properties/Function.cpp
  MaterialLib/MPL/Properties/Function.h
Due: git-diff-check, file-extensions, git-clang-format

chore(T): formatting
  Tests/AutoCheckTools.h
Due: git-diff-check, git-clang-format
