Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[Python] Compile OGSMesh into own helper lib, fixes linkage.
  Applications/Python/ogs.mesh/CMakeLists.txt
  Applications/Python/ogs.simulator/CMakeLists.txt
Due: git-diff-check

[Python,wheel,web] More docs.
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

[ci] Fixed web docker image.
  scripts/docker/Dockerfile.web
Due: git-diff-check

[PL/THM] Improve J_uu for solid thermal expansion
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[HM] Improve the implementation of fixed stress splitting
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

[HM/FixedStress] Added an option to fix stress rate over time step
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[HM] Changed the input syntax of oupling_scheme and
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Fixed TUBAF logo.
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.md
Due: none

[ci] Made guix build optional, will be fixed later.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[cmake,CL] Fixed ChemistryLib dependencies.
  ChemistryLib/CMakeLists.txt
Due: git-diff-check

[HM/CTest] Updated the input of coupling_scheme accordingly
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/MultiMesh/drainage_staggered.prj
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/SingleMesh/drainage_staggered.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D_MFront.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D_python.prj
  Tests/Data/HydroMechanics/StaggeredScheme/MandelCryer/MandelCryerStaggered.prj
  Tests/Data/HydroMechanics/Verification/hm1_1Dbeam.prj
  Tests/Data/HydroMechanics/Verification/hm1_2Dsquare.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dcube.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dgravity.prj
Due: none

[web] Changed the title of one HM benchmark
  web/content/docs/benchmarks/hydro-mechanics/InjectionProduction/index.md
Due: git-diff-check

[CTest/HM] Added a test for the fixed stress rate over time step
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/ConsolidationBenchmark_mono_ts_10_t_10.000000.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/ConsolidationBenchmark_mono_ts_6_t_6.000000.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/ConsolidationBenchmark_ts_12_t_6.000000.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/ConsolidationBenchmark_ts_20_t_10.000000.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/consolidation_benchmark.prj
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/consolidation_benchmark_mono.prj
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/geometry_bottom.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/geometry_left.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/geometry_right.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/geometry_top.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/hm_tri_q.vtu
Due: git-diff-check

[HM/Doc] Updated the documentation of the input parameters of coupling scheme
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/i_coupling_scheme.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/t_fixed_stress_over_time_step.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/t_fixed_stress_stabilization_parameter.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/t_type.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_coupling_scheme.md
Due: git-diff-check

[PL/HM] Extract staggered scheme specific config.
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/t_fixed_stress_over_time_step.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/coupling_scheme/t_fixed_stress_stabilization_parameter.md
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[web/bib] Added two references
  web/data/bib_other.yaml
Due: git-diff-check

[web] Update the Conventions about the fixed stress splitting.
  web/content/docs/userguide/basics/conventions/index.md
Due: git-diff-check

[web] Added the description of the new benchmark
  web/content/docs/benchmarks/hydro-mechanics/ConsolidationBenchmark/CB.png
  web/content/docs/benchmarks/hydro-mechanics/ConsolidationBenchmark/CB_HM_profile.png
  web/content/docs/benchmarks/hydro-mechanics/ConsolidationBenchmark/index.md
Due: git-diff-check

[HM] Enabled restarting computation with the fixed stress splitting
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/LocalAssemblerInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[web/HM] Re-write the documentation of the fixed stress split
  web/content/docs/benchmarks/hydro-mechanics/InjectionProduction/index.md
Due: git-diff-check

Replace BaseLib::contains() with ranges algorithm
  Applications/ApplicationsLib/ProjectData.cpp
  BaseLib/Algorithm.h
  ProcessLib/DeactivatedSubdomain.cpp
  ProcessLib/LIE/Common/LevelSetFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Remove unnecessary include
  ProcessLib/DeactivatedSubdomain.h
Due: git-diff-check, git-clang-format

[MPL] Replace function template arg with span
  MaterialLib/MPL/Component.cpp
  MaterialLib/MPL/Component.h
  MaterialLib/MPL/Medium.cpp
  MaterialLib/MPL/Medium.h
  MaterialLib/MPL/Phase.cpp
  MaterialLib/MPL/Phase.h
Due: git-diff-check, file-extensions, git-clang-format

[BL] Remove unused and untested algorithms
  BaseLib/Algorithm.h
Due: git-diff-check, git-clang-format

[App/py] Replace some for-loops with ranges algos
  Applications/Python/ogs.mesh/OGSMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/py] Fix includes, forward decls
  Applications/Python/ogs.mesh/OGSMesh.h
Due: git-diff-check, git-clang-format

Move AsciiRasterInterface from App/FileIO to GL/IO
  Applications/DataExplorer/DataView/DirectConditionGenerator.cpp
  Applications/DataExplorer/DataView/MeshLayerEditDialog.cpp
  Applications/DataExplorer/DataView/MeshView.cpp
  Applications/DataExplorer/VtkVis/VtkRaster.cpp
  Applications/DataExplorer/VtkVis/VtkVisImageItem.cpp
  Applications/DataExplorer/mainwindow.cpp
  Applications/Utils/FileConverter/NetCdfConverter.cpp
  Applications/Utils/FileConverter/Raster2ASC.cpp
  Applications/Utils/GeoTools/addDataToRaster.cpp
  Applications/Utils/GeoTools/createRaster.cpp
  Applications/Utils/MeshEdit/MeshMapping.cpp
  Applications/Utils/MeshEdit/createLayeredMeshFromRasters.cpp
  Applications/Utils/MeshEdit/createTetgenSmeshFromRasters.cpp
  Applications/Utils/MeshGeoTools/AssignRasterDataToMesh.cpp
  Applications/Utils/MeshGeoTools/Raster2Mesh.cpp
  Applications/Utils/MeshGeoTools/createIntermediateRasters.cpp
  Applications/Utils/PostProcessing/Raster2PointCloud.cpp
  Applications/Utils/SimpleMeshCreation/createMeshElemPropertiesFromASCRaster.cpp
  GeoLib/IO/AsciiRasterInterface.cpp
  GeoLib/IO/AsciiRasterInterface.h
  Tests/FileIO_Qt/TestVtkRaster.cpp
  Tests/MeshLib/TestRasterDataToMesh.cpp
  Tests/MeshLib/TestRasterToMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Utils] Link GeoLib is required due to the moving of AsciiRasterInterface
  Applications/Utils/PostProcessing/CMakeLists.txt
Due: git-diff-check

[App/DE/VtkVis] Link with MeshToolsLib
  Applications/DataExplorer/VtkVis/CMakeLists.txt
Due: git-diff-check

[T/TRM] Slightly relax tolerances for OpenMP run
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs.prj
Due: none

[web]Docu for new tool createTetgenSmeshFromRasters
  web/content/docs/tools/preprocessing/createTetgenSmeshFromRasters/index.md
Due: git-diff-check

Using a tighter tolerance for the SNES solver
  Tests/Data/PhaseField/beam/bar_COHESIVE_linear.prj
Due: none

[wheel] Changes version scheme guess-next-dev.
  pyproject.toml
Due: git-diff-check

[ci] Label 'ci::wheels only' pipeline.
  .gitlab-ci.yml
  scripts/ci/pipelines/wheels.yml
Due: git-diff-check

[PL/DS] Use unordered set for faster search
  ProcessLib/CreateDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/DS] Don't copy unnecessary data
  ProcessLib/CreateDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/DS] Use unordered set for faster isDeactivated
  ProcessLib/CreateDeactivatedSubdomain.cpp
  ProcessLib/DeactivatedSubdomain.cpp
  ProcessLib/DeactivatedSubdomain.h
Due: git-diff-check, file-extensions, git-clang-format

[HM] Removed the usage of _use_monolithic_scheme
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[HM] Marked an unused argument in two functions
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
