Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/.*|Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.0"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--show-source]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

[nb] Removed an unnecessary rename() in the testrunner.
  Tests/Data/Notebooks/testrunner.py
Due: none

[T,nb] performance_measurements disbaled on win because it uses bash commands.
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

Updated ruff-config.
  .pre-commit-config.yaml
  pyproject.toml
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

[T] Disabled notebook-bhe_meshing.md on Win.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[T] Relax some tolerances.
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/consolidation_benchmark.prj
  Tests/Data/HydroMechanics/StaggeredScheme/ConsolidationBenchmark/consolidation_benchmark_mono.prj
Due: none

[py] Typo in pyproject.toml
  pyproject.toml
Due: git-diff-check

[PL/TRM] Removed unnecessary includes
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL] Automatic evaluation of constitutive models
  ProcessLib/Graph/Apply.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added unit tests for model eval oder check
  Tests/CMakeLists.txt
  Tests/ProcessLib/Graph/TestCheckEvalOrderRT.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/G] Extracted metaprogramming functionality
  ProcessLib/Graph/Apply.h
Due: git-diff-check, git-clang-format

[PL/G] Added functionality checking model evaluation order at runtime
  ProcessLib/Graph/CheckEvalOrderRT.h
Due: git-diff-check, git-clang-format

[PL/TRM] Check model eval order at runtime
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Refactored constitutive setting for automatic model construction
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLaw.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqP.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Gravity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SpecificBodyForceData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidCompressibilityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidMechanics.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ElasticTangentStiffnessModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidCompressibilityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.h
Due: git-diff-check, git-clang-format

[PL/TRM] Removed obsolete type alias
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/Traits.h
Due: git-diff-check, git-clang-format

[T/TRM] Raised tolerance slightly
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

[PL/TRM] Using tuples for constitutive models
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/Traits.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/Traits.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Construct a tuple of models
  ProcessLib/Graph/ConstructModels.h
Due: git-diff-check, git-clang-format

[PL] Added generic cell average output functionalty
  ProcessLib/Output/CellAverageData.cpp
  ProcessLib/Output/CellAverageData.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Added comments and made ctor private
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/LD] Use generic cell average output
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added a unit test for IP writers
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Store generic averager in generic Process
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Fixed MSVC compiler warning
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Code deduplication
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Use generic cell average output
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added cell average unit test
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Use generic cell average output
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Use generic averaging in TRM
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Simplified cell average test a bit
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Adapted to moved cell averaging code
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Adapted to moved cell averaging code
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Adapted to moved cell averaging code
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/LD] Adapted to moved cell averaging code
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Removed unused lambda capture
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Adapted to moved cell averaging code
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Moved part of the averaging to a separate header file
  ProcessLib/Output/CellAverageAlgorithm.h
  ProcessLib/Output/CellAverageData.h
Due: git-diff-check, git-clang-format

Changed dimension from argument to template parameter
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
  ProcessLib/Output/CellAverageAlgorithm.h
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Slightly relax ctest's tolerances
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
Due: none

[T/TRM] Added ctest for cell-averaged stress
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_104_t_2000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_19_t_318.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_1_t_1.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_29_t_518.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_2_t_3.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_39_t_718.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_3_t_8.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_49_t_918.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_4_t_18.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_59_t_1118.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_5_t_38.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_69_t_1318.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_6_t_58.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_79_t_1518.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_7_t_78.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_89_t_1718.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_8_t_98.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_99_t_1918.000000.vtu
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small_ts_9_t_118.000000.vtu
Due: none

[PL/RM] Added empty constitutive setting code
  ProcessLib/RichardsMechanics/CMakeLists.txt
  ProcessLib/RichardsMechanics/ConstitutiveRelations/Base.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveSetting.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/CreateConstitutiveSetting.cpp
  ProcessLib/RichardsMechanics/ConstitutiveRelations/CreateConstitutiveSetting.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format
