Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

amend file names
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T-distribution_(OGS_vs_FF++_2d).png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T-distribution_(OGS_vs_FF++_3d).png
Due: git-diff-check

benchmark test for the heat conduction with phase change (Soil freezing around BHE)
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/Kiel_problem_T-plot_ts_20_t_18000_sec.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/Kiel_problem_T-plot_ts_40_t_36000_sec.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_0.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_1.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_2.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_3.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_4.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_5.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_6.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15mesh_7.vtu
  Tests/Data/Parabolic/T/2D_Soil_freezing_round_BHE/m16m15projectB.prj
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/Heat_conduction_phase_change_(soil_freezing_around_BHE).pdf
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/Soil_block.png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T-destribution_(OGS_vs_FF++_2d).png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T-destribution_(OGS_vs_FF++_3d).png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T-over_lines_(OGS_vs_FF++).png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/T1_soil_block.png
  web/content/docs/benchmarks/heatconduction/heatconduction-soil-freezing/index.md
Due: git-diff-check

[ci] Add vtk to external deps cache.
  scripts/ci/jobs/package.yml
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Dont' apply vtk patch on builds with dependencies cache.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[ci] Updated ext.cache_hash in versions.json.
  web/data/versions.json
Due: git-diff-check

[cmake] Fix for vtk components.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Fix if condition.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Fix RPATH for external dependencies.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[web/doc] Correct prj file link
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/index.md
Due: git-diff-check

[web/doc] upload Matlab script for semianalytical solution
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/AH2010.m
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/index.md
Due: git-diff-check

[T] Test for Mesh2Raster tool
  Applications/Utils/Tests.cmake
  Tests/Data/FileIO/Mesh2Raster/tri_8_ascii.vtu
  Tests/Data/FileIO/Mesh2Raster/tri_8_ascii_raster.asc
Due: git-diff-check

[A/U/FileConverter] Mesh2Raster: Calc elevation for node
  Applications/Utils/FileConverter/Mesh2Raster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Update reference files, weaken tolerance a bit
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/Hamburg/00-raster.asc
  Tests/Data/MeshGeoToolsLib/Hamburg/meshmapping.vtu
  Tests/Data/MeshGeoToolsLib/Hamburg/rastermapping.vtu
Due: git-diff-check

[A/U/FileConverter] Mesh2Raster: adjust origin and size of raster
  Applications/Utils/FileConverter/Mesh2Raster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/MeshEditing] Correct ProjectPointOnMesh::getElevation()
  MeshLib/MeshEditing/ProjectPointOnMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Adjust raster sizes in test
  Tests/FileIO_Qt/TestVtkRaster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/BHE] Formatting
  Tests/Data/Parabolic/T/3D_3BHEs_array_python_interface/bcs_tespy_and_serverCommunication.py
  Tests/Data/Parabolic/T/3D_Beier_sandbox_python_interface/simulationX_test.py
Due: none

[PL/HM] Formatting
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[FileIO] add XYZ raster reader
  Applications/DataExplorer/Base/ImportFileTypes.h
  Applications/DataExplorer/VtkVis/VtkRaster.cpp
  Applications/DataExplorer/mainwindow.cpp
  Applications/FileIO/AsciiRasterInterface.cpp
  Applications/FileIO/AsciiRasterInterface.h
Due: git-diff-check, file-extensions, git-clang-format

added pixel size checks
  Applications/FileIO/AsciiRasterInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Enable ccache on external dependencies.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Add check for failed venv creation (OGS_USE_PIP).
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[ML] vtkXMLPUnstructuredGridWriter: finally fix usage.
  MeshLib/CMakeLists.txt
  MeshLib/IO/VtkIO/VtuInterface-impl.h
Due: git-diff-check, git-clang-format

[cmake] Shared libraries on Mac are not ELF files.
  scripts/cmake/packaging/PackagingDependencies.cmake
Due: git-diff-check

[cmake] Add CMAKE_BUILD_RPATH to GET_RUNTIME_DEPENDENCIES.
  scripts/cmake/packaging/PackagingDependencies.cmake
Due: git-diff-check

[cmake] Build VTK statically as external dependency for easy packaging.
  MeshLib/IO/VtkIO/VtuInterface-impl.h
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check, git-clang-format

[web] Fix PETSc links.
  web/content/docs/devguide/getting-started/build-configuration_for_MPI_PETSc/configure_for_mpi_and_petsc.md
  web/content/docs/userguide/parallel_computing/mpi/index.md
Due: git-diff-check

[web] Moved process dependent configuration to own section.
  web/content/docs/processes/_index.md
  web/content/docs/processes/component-transport/_index.md
  web/content/docs/processes/component-transport/hydro-component/index.md
  web/content/docs/processes/heat-transport/HEAT_TRANSPORT_BHE/coaxial.png
  web/content/docs/processes/heat-transport/HEAT_TRANSPORT_BHE/index.md
  web/content/docs/processes/heat-transport/HEAT_TRANSPORT_BHE/u_type.png
  web/content/docs/processes/heat-transport/Heat_Transport_BHE_PipelineNetwork/BHE_PipeNetwork_feature_workflow.png
  web/content/docs/processes/heat-transport/Heat_Transport_BHE_PipelineNetwork/BHE_network.png
  web/content/docs/processes/heat-transport/Heat_Transport_BHE_PipelineNetwork/index.md
  web/content/docs/processes/heat-transport/_index.md
  web/content/docs/processes/multiphase/Multiphase_Flow_Overview/index.md
  web/content/docs/processes/multiphase/_index.md
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview/index.md
Due: git-diff-check

[web] Updated icons.
  web/static/css/fontawesome.css
  web/static/css/opengeosys.yaml
  web/static/webfonts/fa-brands-400.eot
  web/static/webfonts/fa-brands-400.svg
  web/static/webfonts/fa-brands-400.ttf
  web/static/webfonts/fa-brands-400.woff
  web/static/webfonts/fa-brands-400.woff2
  web/static/webfonts/fa-light-300.eot
  web/static/webfonts/fa-light-300.svg
  web/static/webfonts/fa-light-300.ttf
  web/static/webfonts/fa-light-300.woff
  web/static/webfonts/fa-light-300.woff2
  web/static/webfonts/fa-regular-400.eot
  web/static/webfonts/fa-regular-400.svg
  web/static/webfonts/fa-regular-400.ttf
  web/static/webfonts/fa-regular-400.woff
  web/static/webfonts/fa-regular-400.woff2
  web/static/webfonts/fa-solid-900.eot
  web/static/webfonts/fa-solid-900.svg
  web/static/webfonts/fa-solid-900.ttf
  web/static/webfonts/fa-solid-900.woff
  web/static/webfonts/fa-solid-900.woff2
Due: git-diff-check

[pre-commit] Ignore web/static in whitespace check.
  .pre-commit-config.yaml
Due: git-diff-check

[ci] Fix sanitizer job.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[cmake] Fix MSVC release build with VTK from external project.
  scripts/cmake/BuildExternalProject.cmake
Due: git-diff-check

[ci] Added job build win msvc.
  scripts/ci/jobs/build-win.yml
Due: git-diff-check

[ML] Removed usage of already removed member.
  MaterialLib/SolidModels/Ehlers.h
Due: git-diff-check, git-clang-format

[cmake] Supply config in msvc presets.
  CMakePresets.json
Due: git-diff-check

[cmake] Patch VTK only once.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Fix package target for msvc.
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

[T] Increase axisym_theis notebook test runtime.
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

[MFront] changed stress criterion for PLLC
  MaterialLib/SolidModels/MFront/PowerLawLinearCreep.mfront
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
