Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

[DE,PL,BL] Add missing include.
  Applications/DataExplorer/DataView/Layers2GridDialog.cpp
  Applications/DataExplorer/DataView/TranslateDataDialog.cpp
  BaseLib/StringTools.h
  ProcessLib/BoundaryConditionAndSourceTerm/CreateDirichletBoundaryConditionWithinTimeInterval.h
  ProcessLib/BoundaryConditionAndSourceTerm/CreateReleaseNodalForce.h
Due: git-diff-check, file-extensions, git-clang-format

[ci] Fix linux wheel job.
  pyproject.toml
Due: git-diff-check

[ci] Fix coverage job.
  scripts/ci/jobs/code-coverage.yml
Due: git-diff-check

Use www. in opengeosys.org.
  Documentation/mainpage.dox.in
  pyproject.toml
Due: git-diff-check

[T] Relax tol.
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/M/square_1e1_2_matIDs_restart.xml
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_restart.xml
Due: none

[ci] Fix publish wheel job.
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

[NL] Fix windows warning.
  NumLib/StaggeredCoupling/CreateStaggeredCoupling-impl.h
Due: git-diff-check, git-clang-format

[T] Make OgsTest output dir unique to prevent race conditions.
  ProcessLib/LiquidFlow/Tests.cmake
  scripts/cmake/test/OgsTest.cmake
Due: git-diff-check

[T] Remove race cond. DEPENDS in OgsTest() usage.
  ProcessLib/SmallDeformation/Tests.cmake
Due: git-diff-check

[cmake] Disable module import scanning.
  CMakeLists.txt
Due: git-diff-check

build(ci): disable gcc 15.2.1 uninitialized warnings
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

fix(T/CT): slightly relax rtol in perf.meas.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.py
Due: none

refactor(CT): group scalar sub-expressions
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[PL/CT] Added storage term
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
Due: git-diff-check, git-clang-format

fix(T/SD): slightly relax ctest tolerance [ci skip]
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

fix(CTest): Added the missed attribute `id="*"` for
  Tests/Data/Mechanics/Linear/square_with_deactivated_hole.prj
Due: none

[DE] At least source objects work.
  Applications/DataExplorer/VtkVis/VtkVisPointSetItem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[py,T] Make sure Python < 3.14 is used on notebook testing.
  Tests/Data/pyproject.toml
Due: none

[T] Relax tolerances.
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid.prj
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

[ci] Increase ctest large timeout to 120 minutes.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[ci] Output timestamps during the job (linux).
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[ci] Output timestamps during the job (win).
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

[ci] AddTest() omp tests had no tester applied.
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

[ci] Remove hard-coded CI=1 on several ctests.
  Applications/Python/CMakeLists.txt
  Tests/Data/LargeDeformation/FbarBenchmarksLocking.py
  Tests/Data/LargeDeformation/Torsion/Torsion_robustness.py
  Tests/Data/Notebooks/testrunner.py
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_interactive.py
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/NotebookTest.cmake
  web/content/docs/tutorials/Inclined_bhe_meshing/notebook-inclined_bhe_meshing.md
  web/content/docs/tutorials/bhe_meshing/notebook-bhe_meshing.md
Due: git-diff-check

[pytest] Increase ogs --version timeout.
  Tests/Python/test_ogs_use_path.py
Due: git-diff-check

[pytest] Increase dirichlet_time threshold a bit.
  Tests/Python/test_bhe_assembly_matrix_cache_soil_elements.py
Due: git-diff-check

fix(BL): fix duplicate error printing in ConfigTree
  BaseLib/ConfigTree.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(PL): add missing ranges::copy header
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[T] Relax tolerances.
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

[web] Fix links.
  Documentation/mainpage.dox.in
  web/content/imprint.md
Due: git-diff-check

fix(T/TRM): Slightly relax ctest tolerance
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

[ci] Use a precomputed gtest random seed.
  Tests/CMakeLists.txt
Due: git-diff-check

[web] Processes index page.
  web/content/docs/processes/overview/introduction/index.md
  web/static/images/coupling-icons/thmc-tet-externals.svg
Due: git-diff-check

[web] Added img-class parameter to figure shortcode and fix abs urls.
  web/layouts/_shortcodes/figure.html
  web/layouts/docs/gallery.html
  web/layouts/docs/single.html
Due: git-diff-check

[MeL] Avoid compiler warnings
  MeshLib/Node.cpp
  MeshLib/Node.h
Due: git-diff-check, file-extensions, git-clang-format

Center changes and tests
  NumLib/Fem/InitShapeMatrices.h
  NumLib/Fem/ReferenceElement.h
  NumLib/Fem/ShapeFunction/ShapePrism15.h
  NumLib/Fem/ShapeFunction/ShapePrism6.h
  NumLib/Fem/ShapeFunction/ShapePyra13.h
  NumLib/Fem/ShapeFunction/ShapePyra5.h
  NumLib/Fem/ShapeFunction/ShapeTet10.h
  NumLib/Fem/ShapeFunction/ShapeTet4.h
  NumLib/Fem/ShapeFunction/ShapeTri3.h
  NumLib/Fem/ShapeFunction/ShapeTri6.h
  Tests/NumLib/TestReferenceElementCenter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/CD] Increased test tolerance
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest.prj
Due: none

[Chem] Adapted to changed API
  ChemistryLib/CreateChemicalSolverInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Adapted to ConfigTree change
  Tests/BaseLib/TestConfigTree.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/CT] Pass project dir explicitly
  Tests/ProcessLib/ComponentTransport/TestLookupTable.cpp
Due: git-diff-check, file-extensions, git-clang-format
