Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[MGTL] Improve error msg. in MeshNodeSearcher.
  MeshGeoToolsLib/MeshNodeSearcher.cpp
Due: file-extensions

[web] Fixed docs.opengeosys.org redirects.
  web/static/_redirects
Due: none

[NL] Fix spacing in error message.
  NumLib/Extrapolation/LocalLinearLeastSquaresExtrapolator.cpp
Due: file-extensions

[MeL] Move print bounds lambda to function.
  MeshLib/MeshInformation.cpp
Due: file-extensions

[MeL] Generalize writePropertyVectorInformation().
  MeshLib/MeshInformation.cpp
Due: file-extensions

Loop over properties instead of property names.
  Applications/DataExplorer/DataView/ElementTreeModel.cpp
  Applications/DataExplorer/DataView/MeshElementRemovalDialog.cpp
Due: file-extensions

[MeL] Try to avoid a gcc warning.
  MeshLib/MeshInformation.h
Due: none

[App/Unity] Loop over properties, not their names.
  Applications/Utils/MeshEdit/UnityPreprocessing.cpp
Due: file-extensions

[App/Unity] Local variable rename.
  Applications/Utils/MeshEdit/UnityPreprocessing.cpp
Due: file-extensions

[MeL] MeshInfo::getValueBounds takes a property.
  MeshLib/MeshInformation.h
Due: none

Update calls to changed getValueBounds().
  MeshLib/convertMeshToGeo.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  Tests/FileIO/TestGmsInterface.cpp
  Tests/FileIO/TestTetGenInterface.cpp
  Tests/FileIO_SWMM/TestSwmmInterface.cpp
  Tests/MeshLib/TestRasterToMesh.cpp
Due: file-extensions

[DE] Update ElementTree bounds. More types.
  Applications/DataExplorer/DataView/ElementTreeModel.cpp
Due: file-extensions

[PL/BC] Improve err. msg. mentioning data type.
  ProcessLib/BoundaryCondition/DirichletBoundaryConditionAuxiliaryFunctions.cpp
Due: file-extensions

[ci] Fixed Doxygen link in MR user interface.
  scripts/ci/jobs/build-docs.yml
Due: none

[ci] Re-order includes.
  .gitlab-ci.yml
Due: none

[PL] Remove NLTag template from createProcessData.
  ProcessLib/CreateProcessData.cpp
  ProcessLib/ProcessData.h
Due: file-extensions

[MaL] Petsc; Check vector's lock before access.
  MathLib/LinAlg/PETSc/PETScVector.cpp
Due: file-extensions

[PL] Add PETSc NS creation and to the time loop.
  NumLib/ODESolver/NonlinearSolver.cpp
  ProcessLib/CreateProcessData.cpp
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[NL] ODE; Add PETSc SNES nonlinear solver.
  NumLib/ODESolver/PETScNonlinearSolver.cpp
  NumLib/ODESolver/PETScNonlinearSolver.h
Due: file-extensions

[T] Test newtonls SNES solver on HeatConduction.
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls.prj
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls_ts_1_t_78125.000000_0.vtu
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls_ts_3_t_234375.000000_0.vtu
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls_ts_405_t_31640625.000000_0.vtu
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls_ts_500_t_39062500.000000_0.vtu
  Tests/Data/Parabolic/T/1D_neumann/petsc_newtonls_ts_65_t_5078125.000000_0.vtu
Due: none

[PL] TimeLoop: Remove generic setEquationSystem.
  ProcessLib/TimeLoop.cpp
Due: file-extensions

Extend docu for non-linear solver types.
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/t_type.md
Due: none

[T/GL] Fix creation of surfaces.
  Tests/GeoLib/TestDuplicateGeometry.cpp
Due: file-extensions

[ci] code quality excludes.
  .codeclimate.yml
Due: none

[ci] Enable cppcheck code quality report.
  .codeclimate.yml
  scripts/ci/jobs/code-quality.yml
  scripts/cmake/CppCheck.cmake
  scripts/test/cppcheck.in.sh
Due: none

[ci] Code quality markdown-lint.
  .codeclimate.yml
Due: none

[ci] Run code quality on envinf1.
  scripts/ci/jobs/code-quality.yml
Due: none

[ci] Disabled regular code quality job in favor of cppcheck.
  .gitlab-ci.yml
  scripts/ci/jobs/code-quality.yml
Due: none

[ci] Artifacts on all platforms.
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/test-artifacts.yml
Due: none

[ci] Build package target on Linux and Mac.
  scripts/ci/extends/template-build-linux.yml
Due: none

Updated Changelog.
  CHANGELOG.md
Due: none

[ci] Build container in tag pipeline.
  scripts/ci/jobs/container.yml
Due: none

[web] Update release procedure and added 6.3.2 page.
  web/content/docs/devguide/procedures/publish-a-release.pandoc
  web/content/releases/6.3.2.md
  web/layouts/partials/releases-single.html
Due: none

[MatL] MFront; Formatting CMakeLists.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: cmake-format

[MaL] KelvinVector; Relax deviatoric test tols.
  MathLib/KelvinVector-impl.h
Due: none

[T] Slightly relax tolerances of some ctests.
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Mechanics/EhlersDamageNonLocal/bar/medium/bar.prj
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/PrimaryVariableConstraintDirichletBC/cuboid_1x1x1_hex_1000_Dirichlet_Dirichlet_3.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_2Dload/m2_2Dload_ym45.prj
Due: none

[doc] Fix placement of \ogs_file_param.
  ProcessLib/BoundaryCondition/PrimaryVariableConstraintDirichletBoundaryCondition.cpp
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
Due: file-extensions

[NL/DOF] Clang fmt OGS_FATAL message in NL::CompMap.
  NumLib/DOF/MeshComponentMap.cpp
Due: file-extensions

[A/U/MP] Format debug message.
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: file-extensions

[PL/BC] Clang format.
  ProcessLib/BoundaryCondition/DirichletBoundaryConditionAuxiliaryFunctions.cpp
Due: file-extensions
