Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: file-names
        name: Check file names
        entry: scripts/hooks/pre-commit-file-names.sh
        language: system
        stages: [commit, manual]
    -   id: git-lfs
        name: Check git lfs files
        entry: scripts/hooks/pre-commit-git-lfs.sh
        language: system
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[Docu] Line source term prj file tag docu.
  Documentation/ProjectFile/prj/process_variables/process_variable/source_terms/source_term/Line/c_Line.md
  Documentation/ProjectFile/prj/process_variables/process_variable/source_terms/source_term/Line/t_parameter.md
Due: none

[T] Line source term tests in cylindrical domain.
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/Cylinder_r_1_h_1_prism_286k.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/Cylinder_r_1_h_1_prism_286k_heterogeneous_barrel.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/line_inner.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/286k_prisms/line_source_term_in_cylinder.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/Cylinder_r_1_h_1_prism_49k.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/Cylinder_r_1_h_1_prism_49k_heterogeneous_barrel.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/line_inner.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_in_cylinder/49k_prisms/line_source_term_in_cylinder.prj
Due: none

[T] Ref. results for 2D line source term left test.
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left_pcs_0_ts_1_t_1.000000.vtu
Due: none

[T/SourceTerm] Ref. files for line source term middle tests.
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/source_term_middle_restricted_pcs_0_ts_1_t_1.000000.vtu
Due: none

[T] Line source tests in 3d cube domain.
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/3D_line_source_term_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/cube_1x1x1_hex_1e3.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/cube_1x1x1_hex_1e3_right.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_at_x_0.5_y_0.5.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/3D_line_source_term_restricted_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/cube_1x1x1_hex_1e3.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/cube_1x1x1_hex_1e3_right.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_at_x_0.5_y_0.5_restricted.vtu
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_source_term_x_0.5_y_0.5_restricted.prj
Due: none

[PL/T] Line source term tests for heat conduction.
  ProcessLib/HeatConduction/Tests.cmake
Due: none

[T] Test for line source term implementation.
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh_left.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/mesh_right.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/mesh_1x1_left.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/mesh_1x1_middle.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/mesh_1x1_quad_100x100.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/mesh_1x1_right.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/source_term_middle_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/mesh_1x1_middle.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/mesh_1x1_middle_restricted.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/mesh_1x1_quad_100x100.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/mesh_1x1_right.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_source_term_x=5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_x=5.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/mesh_10x3_quad_10x3.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/mesh_10x3_right.vtu
Due: none

[PL/CT] Petsc Solver access x0.
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: file-extensions

[T] Assign boundary conditions via vtu files.
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft.vtu
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight.vtu
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation.gml
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation.prj
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation.vtu
Due: none

[T] Conservative tracer simulation on parallel.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_cell_properties_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_cell_properties_val4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_msh_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_msh_ele4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_msh_ele_g4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_msh_nod4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_node_properties_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryLeft_partitioned_node_properties_val4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_cell_properties_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_cell_properties_val4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_msh_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_msh_ele4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_msh_ele_g4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_msh_nod4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_node_properties_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/BoundaryRight_partitioned_node_properties_val4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_cell_properties_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_cell_properties_val4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_msh_cfg4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_msh_ele4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_msh_ele_g4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_partitioned_msh_nod4.bin
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_pcs_1_ts_100_t_100000_000000_0_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_pcs_1_ts_100_t_100000_000000_1_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_pcs_1_ts_100_t_100000_000000_2_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/TracerSimulation/TracerSimulation_pcs_1_ts_100_t_100000_000000_3_expected.vtu
Due: none

[PL] TES; Replace cached secondary variable...
  ProcessLib/TES/TESProcess.cpp
  Tests/Data/Parabolic/TES/1D/tes-1D-zeolite-discharge-large.prj
  Tests/Data/Parabolic/TES/1D/tes-1D-zeolite-discharge-small-newton.prj
  Tests/Data/Parabolic/TES/1D/tes-1D-zeolite-discharge-small.prj
Due: file-extensions

[PL] Drop CachedSecondaryVariable.
  ProcessLib/Output/CachedSecondaryVariable.cpp
  ProcessLib/Output/CachedSecondaryVariable.h
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: file-extensions

[MaL] Replace to_radians() with boost's equivalent
  MaterialLib/FractureModels/MohrCoulomb.cpp
  MathLib/MathTools.h
Due: file-extensions

[A/IO/Gmsh] Output version string in error msg.
  Applications/FileIO/Gmsh/GmshReader.cpp
Due: file-extensions

[PL/BC/Robin] Clang format.
  ProcessLib/BoundaryCondition/RobinBoundaryCondition.cpp
  ProcessLib/BoundaryCondition/RobinBoundaryCondition.h
  ProcessLib/BoundaryCondition/RobinBoundaryConditionLocalAssembler.h
Due: file-extensions

[PaL] Explicitly instantiate rotate*() templates.
  ParameterLib/CoordinateSystem.cpp
  ParameterLib/CoordinateSystem.h
Due: file-extensions

[MatL] Add missing algorithm include for std::max.
  MaterialLib/PorousMedium/UnsaturatedProperty/CapillaryPressure/VanGenuchtenCapillaryPressureSaturation.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/NonWettingPhaseBrooksCoreyOilGas.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/NonWettingPhaseVanGenuchten.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/WettingPhaseVanGenuchten.cpp
Due: file-extensions

[MatL] Use std::clamp instead of limitValueInIntvl
  MaterialLib/PorousMedium/UnsaturatedProperty/CapillaryPressure/BrooksCoreyCapillaryPressureSaturation.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/CapillaryPressure/CapillaryPressureSaturationCurve.h
  MaterialLib/PorousMedium/UnsaturatedProperty/CapillaryPressure/VanGenuchtenCapillaryPressureSaturation.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/NonWettingPhaseBrooksCoreyOilGas.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/NonWettingPhaseVanGenuchten.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/RelativePermeabilityCurve.h
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/WettingPhaseBrooksCoreyOilGas.cpp
  MaterialLib/PorousMedium/UnsaturatedProperty/RelativePermeability/WettingPhaseVanGenuchten.cpp
  MathLib/MathTools.h
Due: file-extensions

[HM] Output Principal Stress and Vectors
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions

[T/HM] add test hollow sphere
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/Principal_Stress_test_hollow_sphere.pdf
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/output_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.prj
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere_bot.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere_in.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere_out.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere_top.vtu
Due: none

[T/HM] add test tube plane strain
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/Principal_Stress/Tube/Principal_Stress_test_tube.pdf
  Tests/Data/HydroMechanics/Principal_Stress/Tube/output_pcs_0_ts_1_t_1.000000.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube.prj
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube_bot.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube_left.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube_right.vtu
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube_top.vtu
Due: none

[Docker] Update Conan to 1.19.2
  scripts/docker/Dockerfile.clang.full
  scripts/docker/Dockerfile.gcc.full
  scripts/docker/Dockerfile.gcc.gui
Due: none

Bump minimum Conan version to 1.19.2!
  scripts/cmake/ConanSetup.cmake
Due: none

[Jenkins] Temp. disable macOS GUI build.
  Jenkinsfile
Due: none

[PL/T] Fix path in HeatConduction_1D_LineSourceTerm.
  ProcessLib/HeatConduction/Tests.cmake
Due: none

[CL] Store cxxISolution in unique_ptr, not value.
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
  ChemistryLib/PhreeqcKernelData/AqueousSolution.h
Due: file-extensions

Allow two warnings on deprecated ptr_fun for mac.
  Jenkinsfile
Due: none

Update ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: none

[PL] Pass vector of solutions to BC's.
  ProcessLib/BoundaryCondition/BoundaryCondition.h
  ProcessLib/BoundaryCondition/BoundaryConditionCollection.cpp
  ProcessLib/BoundaryCondition/BoundaryConditionCollection.h
  ProcessLib/BoundaryCondition/ConstraintDirichletBoundaryCondition.cpp
  ProcessLib/BoundaryCondition/ConstraintDirichletBoundaryCondition.h
  ProcessLib/BoundaryCondition/ConstraintDirichletBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/GenericNaturalBoundaryCondition-impl.h
  ProcessLib/BoundaryCondition/GenericNaturalBoundaryCondition.h
  ProcessLib/BoundaryCondition/GenericNaturalBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/NeumannBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryCondition.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryCondition/Python/PythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/PythonBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/RobinBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/VariableDependentNeumannBoundaryConditionLocalAssembler.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/GroundwaterFlow/GroundwaterFlowProcess.h
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HT/HTProcess.h
  ProcessLib/Process.cpp
  ProcessLib/Process.h
  ProcessLib/SurfaceFlux/SurfaceFlux.cpp
  ProcessLib/SurfaceFlux/SurfaceFlux.h
  ProcessLib/SurfaceFlux/SurfaceFluxData.h
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
Due: file-extensions

[web] HeatConduction: coefficient k -> lambda.
  web/content/docs/benchmarks/heatconduction/heatconduction-dirichlet.pandoc
Due: none

[web] Corrections in heat conduction neumann docu.
  web/content/docs/benchmarks/heatconduction/heatconduction-neumann.pandoc
Due: none

[web] Rename groundwater to elliptic.
  web/content/docs/benchmarks/elliptic/elliptic-dirichlet-volumetric-source-term.pandoc
  web/content/docs/benchmarks/elliptic/elliptic-dirichlet.pandoc
  web/content/docs/benchmarks/elliptic/elliptic-neumann.pandoc
  web/content/docs/benchmarks/elliptic/elliptic-pde-with-dirichlet-and-nodal-source-term.pandoc
  web/content/docs/benchmarks/elliptic/elliptic-robin.pandoc
Due: none

[Elliptic/Robin BC] Correct the documentation.
  web/content/docs/benchmarks/elliptic/elliptic-robin.pandoc
  web/content/docs/benchmarks/elliptic/line_1e1_robin_left.png
Due: none

[CMake] Fix netcdf linker on Win.
  Applications/DataExplorer/NetCdfDialog/CMakeLists.txt
  scripts/cmake/Find.cmake
Due: cmake-format

work state with zlib linking error
  Applications/DataExplorer/NetCdfDialog/CMakeLists.txt
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.cpp
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.h
  scripts/cmake/Find.cmake
Due: file-extensions, cmake-format

replacing iterator + removing unused var
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.cpp
Due: file-extensions

adjusted code to work with netcdf-cxx4 library
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigure.ui
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.cpp
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.h
Due: file-extensions

optimising fixed vector arguments
  Applications/DataExplorer/NetCdfDialog/NetCdfConfigureDialog.cpp
Due: file-extensions

[Jenkins] Test netcdf config.
  Jenkinsfile
Due: none
