Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[cmake] Coverage inconsistencies improved.
  CMakeLists.txt
  scripts/cmake/Coverage.cmake
Due: git-diff-check

[cmake] Removed unnecessary compiler version check.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

chores: clang-format
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/Utils/ModelPreparation/CreateAnchors/SolverByElementTypeRegistry.h
  Applications/Utils/SimpleMeshCreation/generateStructuredMesh.cpp
  MaterialLib/PhysicalConstant.h
  MeshLib/IO/VtkIO/VtuInterface.h
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/Mesh.h
  MeshLib/MeshEnums.h
  MeshLib/Properties-impl.h
  MeshLib/Vtk/VtkMappedMeshSource.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.cpp
  ProcessLib/HeatTransportBHE/LocalAssemblers/LocalDataInitializer.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
  ProcessLib/Output/Output.cpp
  ProcessLib/Utils/GenericLocalAssemblerFactory.h
  Tests/MeshLib/TestVtkMappedMeshSource.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(MaL): Extract arg=R^2-Q^3 avoiding numerical inconsistency
  MathLib/Nonlinear/cubic_roots.hpp
Due: git-diff-check

[ML] Fixed std::sort issue on apple clang 17.
  MathLib/Nonlinear/cubic_roots.hpp
Due: git-diff-check

[cmake] Suppress gtest warnings.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

feat(BHE): add depth-varying borehole diameter support
  Documentation/ProjectFile/prj/processes/process/HEAT_TRANSPORT_BHE/borehole_heat_exchangers/borehole_heat_exchanger/borehole/t_diameter.md
  Documentation/ProjectFile/prj/processes/process/HEAT_TRANSPORT_BHE/borehole_heat_exchangers/borehole_heat_exchanger/pipes/inlet/t_diameter.md
  ProcessLib/HeatTransportBHE/BHE/BHESectionUtils.h
  ProcessLib/HeatTransportBHE/BHE/BoreholeGeometry.cpp
  ProcessLib/HeatTransportBHE/BHE/BoreholeGeometry.h
  ProcessLib/HeatTransportBHE/BHE/DiameterProfile.h
  ProcessLib/HeatTransportBHE/BHE/FlowAndTemperatureControl.h
  ProcessLib/HeatTransportBHE/BHE/Pipe.cpp
  ProcessLib/HeatTransportBHE/BHE/Pipe.h
  web/content/docs/processes/heat-transport/HEAT_TRANSPORT_BHE/index.md
Due: git-diff-check, file-extensions, git-clang-format

chores(BHE): clang-format
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
Due: git-diff-check, file-extensions, git-clang-format

feat(BHE): compute per-borehole-section thermal resistances in all BHE types
  ProcessLib/HeatTransportBHE/BHE/BHECommon.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonUType.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
Due: git-diff-check, file-extensions, git-clang-format

chores(BHE): improve const-correctness
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BHE): simplify createPipe to use scalar diameter
  ProcessLib/HeatTransportBHE/BHE/CreateBHE1PType.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHE1PType.h
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.h
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.h
  ProcessLib/HeatTransportBHE/BHE/Pipe.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BHE): extract thermal resistance functions
  ProcessLib/HeatTransportBHE/BHE/BHECommonUType.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/ThermalResistanceHelpers.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
Due: git-diff-check, file-extensions, git-clang-format

feat(BHE): integrate borehole-section index into local assembler
  ProcessLib/HeatTransportBHE/BHE/BHECommon.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
  ProcessLib/HeatTransportBHE/BHE/BoreholeGeometry.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.cpp
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil.h
Due: git-diff-check, file-extensions, git-clang-format

test(BHE): add integration tests and unit tests for sectioned borehole
  ProcessLib/HeatTransportBHE/Tests.cmake
  Tests/CMakeLists.txt
  Tests/Data/Parabolic/T/3D_2U_BHE/3D_2U_BHE_sections.prj
  Tests/Data/Parabolic/T/3D_2U_BHE/3D_2U_BHE_sections_ts_10_t_600.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs/3bhes_1U_id_sections_ts_10_t_600.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs/3bhes_id_1U_sections.prj
  Tests/Data/Parabolic/T/3D_deep_BHE/3D_deep_BHE_CXA_ts_10_t_600.000000.vtu
  Tests/Data/Parabolic/T/3D_deep_BHE/3D_deep_BHE_CXC_ts_10_t_600.000000.vtu
  Tests/ProcessLib/HeatTransportBHE/TestBHEElementWiseProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BHE): use topology-based chain walk for element traversal
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BHE): use topology-ordered nodes for geometry
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
  ProcessLib/HeatTransportBHE/BHE/BoreholeGeometry.cpp
  ProcessLib/HeatTransportBHE/BHE/BoreholeGeometry.h
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/Tests.cmake
Due: git-diff-check, file-extensions, git-clang-format

two fixes to output_prefix annotations
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshGeoTools/identifySubdomains.cpp
Due: git-diff-check, file-extensions, git-clang-format

add Error.h
  MathLib/LinAlg/PETSc/PETScTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

Apply 1 suggestion(s) to 1 file(s)
  Applications/Utils/MeshGeoTools/identifySubdomains.cpp
Due: git-diff-check, file-extensions, git-clang-format

clang-format.
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Added message indicating usage of PETSc installed on the system.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

fix(cmake,test): ensure tester runs for test variants
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

[cmake,T] Non-omp variants are not added at all.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
  scripts/cmake/test/Test.cmake
Due: git-diff-check

[cmake,T] Skip non-OpenMP variant.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
  scripts/cmake/test/Test.cmake
Due: git-diff-check

[ci] Run non-OpenMP variants on master.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

fix(T/TH2M): slightly relax ctest tolerance
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

fix(T/RM): slightly relax ctest tolerance
  Tests/Data/RichardsMechanics/double_porosity_swelling.prj
Due: none

[ci] Moved clang-tidy job to build stage, "build linux clang".
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/clang-tidy.yml
  scripts/ci/pipelines/regular.yml
Due: git-diff-check

[cmake] Introduce clang-release and clang-debug presets with clang-tidy.
  CMakePresets.json
Due: git-diff-check

[cmake] Introduced clang base preset.
  CMakePresets.json
Due: git-diff-check

ci(clang-tidy): treat braces-around-statements checks as errors
  .clang-tidy
Due: git-diff-check

fix: clang-tidy; no else after return
  Applications/Python/ogs.OGSMesh/OGSMesh.h
  Applications/Utils/GeoTools/generateGeometry.cpp
  BaseLib/ConfigTreeUtil.cpp
  GeoLib/predicates.c
  MaterialLib/MPL/Properties/AverageMolarMass.cpp
  MaterialLib/MPL/Properties/Function.cpp
  MathLib/KelvinVector.h
  MeshLib/Elements/LineRule.cpp
  MeshLib/IO/XDMF/XdmfData.cpp
  MeshLib/IO/XDMF/writeXdmf.cpp
  MeshToolsLib/MeshEditing/AddLayerToMesh.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateFlowAndTemperatureControl.cpp
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/CreateSecondaryVariables.cpp
Due: git-diff-check, file-extensions, git-clang-format

build(clang-tidy): exclude third-party headers from analysis
  CMakePresets.json
Due: git-diff-check

ci(clang-tidy): treat modernize-loop-convert check as errors
  .clang-tidy
Due: git-diff-check

build(clang-tidy): disable for all third-party targets
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

fix: clang-tidy; modernize-loop-convert
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  BaseLib/TCLAPOutput.h
  GeoLib/PointVec.cpp
  ProcessLib/LIE/Common/MeshUtils.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  Tests/MaterialLib/TestMPLAverageMolarMass.cpp
  Tests/MaterialLib/TestMPLSaturationWeightedThermalConductivity.cpp
  Tests/NumLib/TestCoordinatesMapping.cpp
  Tests/NumLib/TestFe.cpp
  Tests/NumLib/TestGradShapeFunctionAndVolumeCalculation.cpp
Due: git-diff-check, file-extensions, git-clang-format

ci(clang-tidy): treat readability-else-after-return as error
  .clang-tidy
Due: git-diff-check

fix: clang-tidy; missing braces around statements
  Applications/Utils/MeshGeoTools/Raster2Mesh.cpp
  ChemistryLib/PhreeqcKernel.cpp
  GeoLib/EarClippingTriangulation.cpp
  GeoLib/Grid.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationBrooksCorey.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.cpp
  MaterialLib/MPL/Properties/Exponential.cpp
  MaterialLib/MPL/Properties/Linear.cpp
  MaterialLib/SolidModels/LinearElasticIsotropicPhaseField.h
  MaterialLib/SolidModels/MFront/CreateMFrontGeneric.cpp
  MaterialLib/SolidModels/MFront/MFrontGeneric.cpp
  MeshLib/IO/MPI_IO/PropertyVectorMetaData.h
  MeshToolsLib/MeshQuality/ElementQualityInterface.h
  NumLib/DOF/MeshComponentMap.h
  NumLib/ODESolver/NonlinearSolver.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/LIE/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/Process.cpp
  ProcessLib/Utils/ProcessUtils.cpp
  ProcessLib/WellboreSimulator/WellboreSimulatorFEM-impl.h
  Tests/MaterialLib/TestMPLExponential.cpp
  Tests/MathLib/Polynomials.h
  Tests/NumLib/FeTestData/MatrixTools.h
Due: git-diff-check, file-extensions, git-clang-format

build(clang-tidy): explicitly point to .clang-tidy in presets
  CMakePresets.json
Due: git-diff-check

[T] Relax tolerance.
  ProcessLib/SmallDeformation/Tests.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
