Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[CL] Initialize chemical system.
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIOData/ChemicalSystem.cpp
  ChemistryLib/PhreeqcIOData/ChemicalSystem.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[CL] Drop unneeded forward declaration.
  ChemistryLib/PhreeqcIOData/ChemicalSystem.h
Due: none

[CL] Uninitialize reactant amount.
  ChemistryLib/PhreeqcIOData/CreateEquilibriumReactants.cpp
  ChemistryLib/PhreeqcIOData/CreateKineticReactant.cpp
Due: file-extensions

[CL] Uninitialize number of chemical systems.
  ChemistryLib/PhreeqcIOData/CreateAqueousSolution.cpp
  ChemistryLib/PhreeqcIOData/CreateSolutionComponent.cpp
  ChemistryLib/PhreeqcIOData/CreateSolutionComponent.h
Due: file-extensions

[CL] Uninitialize pH.
  ChemistryLib/PhreeqcIOData/AqueousSolution.h
  ChemistryLib/PhreeqcIOData/CreateAqueousSolution.cpp
Due: file-extensions

[CL] Get chemical system index map.
  ChemistryLib/ChemicalSolverInterface.h
Due: none

[CL] Uninitialize component concentration.
  ChemistryLib/PhreeqcIOData/AqueousSolution.h
Due: none

[PL] Pass chemical process data to component transport process data.
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: file-extensions

[PL] Create chemical process data.
  ProcessLib/ComponentTransport/CreateChemicalProcessData.cpp
  ProcessLib/ComponentTransport/CreateChemicalProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: file-extensions

[PL] Interpolate process solutions to int_pts.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/Process.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[T] Remove comparison against expected productc
  ProcessLib/ComponentTransport/Tests.cmake
Due: none

[PL] Pass chemical solver interface.
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.h
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/CreateTimeLoop.h
Due: file-extensions

[T] Tweaked testcase name.
  ProcessLib/ComponentTransport/Tests.cmake
Due: none

[CL] Unconstify mesh.
  ChemistryLib/PhreeqcIOData/CreateAqueousSolution.cpp
  ChemistryLib/PhreeqcIOData/CreateAqueousSolution.h
  ChemistryLib/PhreeqcIOData/CreateChemicalSystem.cpp
  ChemistryLib/PhreeqcIOData/CreateChemicalSystem.h
  ChemistryLib/PhreeqcIOData/CreateEquilibriumReactants.cpp
  ChemistryLib/PhreeqcIOData/CreateEquilibriumReactants.h
  ChemistryLib/PhreeqcIOData/CreateKineticReactant.cpp
  ChemistryLib/PhreeqcIOData/CreateKineticReactant.h
Due: file-extensions

[CMake] fixup build-petsc.
  ChemistryLib/CMakeLists.txt
Due: cmake-format

[ci] Fixed web-job condition.
  scripts/ci/jobs/web.yml
Due: none

[ci] Disable for non-MR user-scoped pipelines.
  .gitlab-ci.yml
Due: none

[MeL] Properties add size().
  MeshLib/Properties.cpp
  MeshLib/Properties.h
Due: file-extensions

[MeL] Add begin and end to Properties.
  MeshLib/Properties.cpp
  MeshLib/Properties.h
Due: file-extensions

Loop over properties instead of property names.
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  Applications/FileIO/SHPInterface.cpp
  Applications/Utils/FileConverter/GocadSGridReader.cpp
  Applications/Utils/MeshEdit/ResetPropertiesInPolygonalRegion.cpp
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
  MeshLib/Vtk/VtkMappedMeshSource.cpp
  MeshLib/Vtk/VtkMappedMeshSource.h
Due: file-extensions

[MeL] Surface extraction; Loop over properties.
  MeshLib/MeshSurfaceExtraction.cpp
Due: file-extensions

[T/MeL] Use properties size() function.
  Tests/MeshLib/TestAddLayerToMesh.cpp
  Tests/MeshLib/TestRasterToMesh.cpp
Due: file-extensions

[PL/LIE] Rewrite property conversion loops.
  ProcessLib/LIE/Common/PostUtils.cpp
  ProcessLib/LIE/Common/PostUtils.h
Due: file-extensions

[App] Rewrite property partitioning loops.
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: file-extensions

[ci] Docker image generation for MRs.
  .gitlab-ci.yml
  scripts/ci/extends/template-build-dockerfile.yml
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/ci/jobs/build_image.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/checks.yml
  scripts/ci/jobs/clang-sanitizer.yml
  scripts/ci/jobs/clang-tidy.yml
  scripts/ci/jobs/code-quality.yml
  scripts/ci/jobs/container.yml
  scripts/ci/jobs/meta.yml
  scripts/ci/jobs/pre-commit.yml
  scripts/ci/jobs/tests-large.yml
  scripts/ci/jobs/web.yml
Due: none

[ci] Move gui jobs to build stage.
  .gitlab-ci.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/meta.yml
Due: none

[ci] Fix MR image builds for non lowercase use names.
  scripts/ci/jobs/meta.yml
Due: none

[App/DE] Fix implicit type narrowing conversion.
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
Due: file-extensions

[PL/LIE] Use destination type to fill data.
  ProcessLib/LIE/Common/PostUtils.cpp
Due: file-extensions

[PL] Python BHE BC; Avoid implicity conversion.
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
Due: none

[App] Use properties size instead of names vector.
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: file-extensions

[MeL] Overload Properties::size() for item types.
  MeshLib/Properties.cpp
  MeshLib/Properties.h
Due: file-extensions

[PL/RM] Remove dry density pellet output.
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling.prj
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_102_t_3.500000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_107_t_4.000000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_14_t_0.500000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_19_t_1.000000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_33_t_1.500000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_38_t_2.000000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_63_t_2.500000.vtu
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling_pcs_0_ts_88_t_3.000000.vtu
Due: file-extensions

[CMake] Fixed utils build with MPI.
  CMakeLists.txt
  MeshLib/CMakeLists.txt
Due: cmake-format

[ci] Petsc build with utils.
  scripts/ci/jobs/build-linux-petsc.yml
Due: none

[T] Disable ExtractBoundary-generate_input_* tests on MPI.
  Applications/Utils/Tests.cmake
Due: none

[CL] Replace with chemical system index map.
  ChemistryLib/PhreeqcIO.cpp
Due: file-extensions

[CL] Get int_pt_process_solutions from chemical solver interface.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[CL] Pass interpolated_process_solution to chemical solver interface.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions
