Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[MatL] MFront; Todo comment for internal vars rot.
  MaterialLib/SolidModels/MFront/MFront.cpp
Due: file-extensions

[ML/MPL] changed media map to shared pointer
  MaterialLib/MPL/CreateMaterialSpatialDistributionMap.cpp
  MaterialLib/MPL/CreateMaterialSpatialDistributionMap.h
  MaterialLib/MPL/MaterialSpatialDistributionMap.h
Due: file-extensions

[AppL] a medium can refer to multiple material IDs
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
Due: file-extensions

[PL] changed media map to shared pointer
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.h
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HT/CreateHTProcess.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.h
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.h
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.h
  ProcessLib/TwoPhaseFlowWithPP/CreateTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/TwoPhaseFlowWithPP/CreateTwoPhaseFlowWithPPProcess.h
Due: file-extensions

[App] parseMedia; Avoid boost. Smaller fixes.
  Applications/ApplicationsLib/ProjectData.cpp
Due: file-extensions

[App] parseMedia; Fix ogs_file_attr placement.
  Applications/ApplicationsLib/ProjectData.cpp
Due: file-extensions

[App] parseMedia; Split conversion and insertion.
  Applications/ApplicationsLib/ProjectData.cpp
Due: file-extensions

[HM] K and rho_fr are now linked to MPL
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions

[HM] enable calculation of properties via p and T
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: none

[ML] removed FluidType
  MaterialLib/CMakeLists.txt
  MaterialLib/Fluid/FluidType/FluidType.cpp
  MaterialLib/Fluid/FluidType/FluidType.h
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions, cmake-format

[HM] proper calculation of compressibility
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions

[HM] made permeability a medium property
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: file-extensions

[HM] updated Injection Test files
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D_Mono_pcs_0_ts_100_t_8640000.000000.vtu
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/RerefenceSolutionByMonolithicScheme/InjectionProduction1DMono.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/RerefenceSolutionByMonolithicScheme/InjectionProduction1D_pcs_1_ts_100_t_8640000.000000.vtu
  web/content/docs/benchmarks/hydro-mechanics/InjectionProduction.pandoc
  web/content/docs/benchmarks/hydro-mechanics/InjectionProduction.png
Due: none

[HM] updated benchmarks
  Tests/Data/HydroMechanics/IdealGas/flow_free_expansion/flow_free_expansion.prj
  Tests/Data/HydroMechanics/IdealGas/flow_no_strain/flow_no_strain.prj
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/cube_1e3.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_quad9.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_tri.prj
  Tests/Data/HydroMechanics/Linear/Gravity/flow_gravity.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_early/square_1e2_UC_early.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_early/square_1e4_UC_early.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_late/square_1e2_UC_late.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_late/square_1e4_UC_late.prj
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.prj
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube.prj
  Tests/Data/HydroMechanics/Verification/hm1_1Dbeam.prj
  Tests/Data/HydroMechanics/Verification/hm1_2Dsquare.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dcube.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dgravity.prj
  Tests/Data/HydroMechanics/Verification/hm2_1D1bt.prj
  Tests/Data/HydroMechanics/Verification/hm2_1D2bt.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dbiot.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dcolumn1.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dcolumn2.prj
  Tests/Data/HydroMechanics/Verification/hm2_2Dmandel.prj
Due: none

[HM] rearanging of the properties for clarity
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: none

[HM] Linked T_ref to MPL
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions

[HM] removed docu tags for changed properties
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_fluid_compressibility.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_fluid_density.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_fluid_type.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_intrinsic_permeability.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_specific_gas_constant.md
Due: none

[HM] shortened names of phases
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
Due: none

[HM] removed specific gas constant
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcessData.h
Due: file-extensions

[ML/MPL] check if element has medium
  MaterialLib/MPL/MaterialSpatialDistributionMap.cpp
  MaterialLib/MPL/MaterialSpatialDistributionMap.h
Due: file-extensions

[HM] updated benchmark 3Dgravity
  Tests/Data/HydroMechanics/Verification/hm1_3Dgravity.prj
Due: none

[HM] CheckRequiredProperties on all elements
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
Due: file-extensions

Added initial stress compatibility to DruckerPrager and MohrCoulombAbboSloanOrtho.
  MaterialLib/SolidModels/MFront/DruckerPrager.mfront
  MaterialLib/SolidModels/MFront/MohrCoulombAbboSloanOrtho.mfront
Due: none

[doc] Van Genuchten rel. perm. and saturation.
  Documentation/ProjectFile/properties/property/RelativePermeabilityVanGenuchten/c_RelativePermeabilityVanGenuchten.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityVanGenuchten/t_exponent.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityVanGenuchten/t_minimum_relative_permeability_liquid.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityVanGenuchten/t_residual_gas_saturation.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityVanGenuchten/t_residual_liquid_saturation.md
  Documentation/ProjectFile/properties/property/SaturationVanGenuchten/c_SaturationVanGenuchten.md
  Documentation/ProjectFile/properties/property/SaturationVanGenuchten/t_entry_pressure.md
  Documentation/ProjectFile/properties/property/SaturationVanGenuchten/t_exponent.md
  Documentation/ProjectFile/properties/property/SaturationVanGenuchten/t_residual_gas_saturation.md
  Documentation/ProjectFile/properties/property/SaturationVanGenuchten/t_residual_liquid_saturation.md
Due: none

[MatL] Add van-Genuchten saturation model.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateSaturationVanGenuchten.cpp
  MaterialLib/MPL/Properties/CreateSaturationVanGenuchten.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/SaturationVanGenuchten.cpp
  MaterialLib/MPL/Properties/SaturationVanGenuchten.h
  Tests/MaterialLib/TestMPLSaturationVanGenuchten.cpp
Due: file-extensions

[MatL] Add van-Genuchten relative permeability.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateRelPermVanGenuchten.cpp
  MaterialLib/MPL/Properties/CreateRelPermVanGenuchten.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/RelPermVanGenuchten.cpp
  MaterialLib/MPL/Properties/RelPermVanGenuchten.h
  Tests/MaterialLib/TestMPLRelPermVanGenuchten.cpp
Due: file-extensions

[HM] Remove unneeded documentation tag for T_ref.
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_reference_temperature.md
Due: none

[web] Fixed links.
  web/content/docs/tools/workflows/create-a-simple-parallel-model/index.pandoc
Due: none

[web] Bump Hugo to 0.64.0
  netlify.toml
Due: none

Bump Hugo to 0.64.1
  netlify.toml
  scripts/docker/Dockerfile.web
Due: none

[BHE/PNW] naming with underscores; remove the useless variable
  ProcessLib/HeatTransportBHE/BHE/BHECommon.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonUType.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
Due: file-extensions

[PNW/Tests] update the benchmark flies from TESPy version 0.1.3 to 0.2.0
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/3bhes.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/bhe_network.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char_line.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char_map.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/heat_exchanger_simple.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/merge.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/pump.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/sink.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/source.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/splitter.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/conn.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/netw.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/requirements.txt
Due: none

[PNW/Tests] fixed the benchmark input and output files
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U_pcs_0_ts_10_t_7200.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/3bhes.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/bus.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/heat_exchanger_simple.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/pump.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/conn.csv
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Heat_extraction_rate.png
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Inflow_and_outflow_temperature.png
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Soil_temperature.png
Due: none

[PNW/docu] add an user guide for BHE pipeline network
  web/content/docs/userguide/process-dependent-configuration/BHE_PipeNetwork_feature_workflow.png
  web/content/docs/userguide/process-dependent-configuration/BHE_network.png
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE_PipelineNetwork.pandoc
Due: none

[DeactivatedSubdomain] Fixed a bug in setting local inactive nodes
  ProcessLib/DeactivatedSubdomain.cpp
Due: file-extensions

[DeactivatedSubdomain] Changed the search method
  ProcessLib/DeactivatedSubdomain.cpp
Due: file-extensions

[Test] Addded a 3D test for the element deactivation approach
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/block_with_hole_hex.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/bottom.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/element_deactivation_M_3D.prj
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/element_deactivation_M_3D_pcs_0_ts_4_t_1.000000.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/top.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/x0.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/y0.vtu
  Tests/Data/Mechanics/Linear/ElementDeactivation3D/y1.vtu
Due: none

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
