Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

refactor(SD): tuple-based constitutive relations
  ProcessLib/SmallDeformation/ConstitutiveRelations/Base.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/FreeEnergyDensity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Invoke.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SpecificBodyForceData.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/MaterialForces.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(LD): tuple-based constitutive relations
  ProcessLib/LargeDeformation/ConstitutiveRelations/Base.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveSetting.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Invoke.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/SpecificBodyForceData.h
  ProcessLib/LargeDeformation/LargeDeformationFEM.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(PL): move common type definitions to base header
  ProcessLib/ConstitutiveRelations/Base.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Base.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/Base.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Base.h
Due: git-diff-check, git-clang-format

refactor(PL): Extract SpecificBodyForce strong type
  ProcessLib/ConstitutiveRelations/Base.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/SpecificBodyForceData.h
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SpecificBodyForceData.h
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/DarcyVelocity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/DarcyVelocity.h
  ProcessLib/TH2M/ConstitutiveRelations/Gravity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Gravity.h
  ProcessLib/TH2M/ConstitutiveRelations/TEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TEquation.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLaw.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLaw.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqP.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqP.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Gravity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Gravity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SpecificBodyForceData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveModels.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(PL/LD): remove unused DVnan() and DMnan()
  ProcessLib/LargeDeformation/ConstitutiveRelations/Base.h
Due: git-diff-check, git-clang-format

fix(T/SD): slightly relax ctest tolerance
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

[BL] Added macro for noinline attribute
  BaseLib/Macros.h
Due: git-diff-check, git-clang-format

[MeL] Added warning message
  MeshLib/Properties-impl.h
Due: git-diff-check, git-clang-format

perf(PL): ranges and copy in matrix addToCacheImpl
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

perf(PL): local stat counts and single update
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[PL/Asm] Stats implementation for Picard assembly and single thread optimization
  ProcessLib/Assembly/MatrixAssemblyStats.h
Due: git-diff-check, git-clang-format

perf(PL): ranges and copy in vector addCacheToImpl
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[PL/Asm] Extracted assembly data for both bulk and submesh assembly
  ProcessLib/Assembly/AssemblyData.cpp
  ProcessLib/Assembly/AssemblyData.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Asm] OpenMP parallel Picard assembly
  ProcessLib/Assembly/ParallelVectorMatrixAssembler.cpp
  ProcessLib/Assembly/ParallelVectorMatrixAssembler.h
Due: git-diff-check, file-extensions, git-clang-format

perf(PL): split fast and slow path of cache space
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[PL/Asm] Reimplemented assembled matrix cache
  ProcessLib/Assembly/AssembledMatrixCache.cpp
  ProcessLib/Assembly/AssembledMatrixCache.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Asm] Code restructurings and Picard assembly support
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[PL/Asm] Assembly mixin extension
  ProcessLib/AssemblyMixin.cpp
  ProcessLib/AssemblyMixin.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Adapted processes to assembly changes
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
  ProcessLib/HeatConduction/CreateHeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.h
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.h
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.h
  ProcessLib/SmallDeformation/CreateSmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.h
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.h
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[T/SD] Raised tolerance
  Tests/Data/Mechanics/CooksMembrane/CooksMembrane.prj
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid.prj
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
Due: none

[scr] Centralized information which processes support are OpenMP parallel assembly
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
  scripts/cmake/test/Test.cmake
Due: git-diff-check

[T] For submesh assembly nodal residuals are not computed on the bulk mesh anymore
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/TH2M/submesh_residuum_assembly/T.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_G.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap.xml
  Tests/Data/TH2M/submesh_residuum_assembly/u.xml
Due: git-diff-check

[Doc] Made <linear> a generic process tag
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/t_linear.md
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/t_linear_solver_compute_only_upon_timestep_change.md
  Documentation/ProjectFile/prj/processes/process/HEAT_TRANSPORT_BHE/t_linear.md
  Documentation/ProjectFile/prj/processes/process/LIQUID_FLOW/t_linear.md
  Documentation/ProjectFile/prj/processes/process/t_linear.md
Due: git-diff-check

perf(PL): replace cartesian prod. with for-loop 2D
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

refactor(PL): simplify matrix cache handling in assembly mixin
  ProcessLib/Assembly/AssembledMatrixCache.h
  ProcessLib/AssemblyMixin.h
Due: git-diff-check, git-clang-format

[MaL] Make method work with more generic data types
  MathLib/LinAlg/PETSc/PETScMatrix.h
Due: git-diff-check, git-clang-format

refactor: Use demangled type in errors messages
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  MaterialLib/MPL/Property.h
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshLib/IO/VtkIO/VtkMeshConverter.h
  MeshLib/Properties-impl.h
  MeshLib/Properties.h
  MeshLib/Vtk/VtkMappedMeshSource.cpp
  MeshToolsLib/MeshInformation.cpp
  MeshToolsLib/MeshSurfaceExtraction.cpp
  NumLib/Fem/Integration/IntegrationMethodRegistry.cpp
  ParameterLib/CoordinateSystem.cpp
  ProcessLib/Graph/CheckEvalOrderRT.h
  ProcessLib/LIE/Common/PostUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(BL): add type demangling utility
  BaseLib/CMakeLists.txt
  BaseLib/DemangleTypeInfo.cpp
  BaseLib/DemangleTypeInfo.h
  Tests/BaseLib/TestDemangleTypeInfo.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(MeL): move include outside of namespace
  MeshLib/Properties-impl.h
  MeshLib/Properties.h
Due: git-diff-check, git-clang-format

refactor: overload for simpler type demangling
  BaseLib/DemangleTypeInfo.h
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshLib/Properties-impl.h
  MeshLib/Vtk/VtkMappedMeshSource.cpp
  MeshToolsLib/MeshInformation.cpp
  MeshToolsLib/MeshSurfaceExtraction.cpp
  NumLib/Fem/Integration/IntegrationMethodRegistry.cpp
  ParameterLib/CoordinateSystem.cpp
  ProcessLib/LIE/Common/PostUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(App): catch swallowed ConfigTree errors after simulation
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(PL): clear configs to validate unprocessed parameters
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(App): add ConfigTree error validation after simulation
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T): Remove erroneous tags from source terms
  Tests/Data/HydroMechanics/EmbeddedAnchorSourceTerm/one_anchor.xml
  Tests/Data/HydroMechanics/EmbeddedAnchorSourceTerm/two_anchors.xml
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/pointheatsource_quadratic-mesh.xml
Due: none

[cmake] Cache linker.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] testrunner mpi arg fix.
  Tests/CMakeLists.txt
Due: git-diff-check

[cmake] Simplify clang-tidy logic.
  CMakeLists.txt
  scripts/ci/jobs/clang-tidy.yml
  scripts/cmake/ClangTidy.cmake
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Clean-up.
  CMakeLists.txt
  Tests/CMakeLists.txt
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/build-win.yml
  scripts/cmake/CMakeSetup.cmake
  scripts/cmake/DownloadCpmCache.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/Test.cmake
Due: git-diff-check

[cmake] Add missing SYSTEM properties on CPM packages.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Bump minimum to 3.31
  CMakeLists.txt
  scripts/cmake/CompilerSetup.cmake
  scripts/env/eve/cli.sh
Due: git-diff-check
