Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[cmake] Removed vtk wheel requirement.
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[ci] Preparation for VS 2022.
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/vs2022-environment.yml
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/build-win.yml
Due: git-diff-check

[ci] Build GUI win only with SSD process.
  scripts/ci/jobs/build-gui-win.yml
Due: git-diff-check

[cmake] Workaround for Windows issues.
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[py] Update h5py, matplotlib and Snakemake for 3.11 compatibility.
  Tests/Data/requirements.txt
  web/data/versions.json
Due: git-diff-check

[T] Increase notebook cell timeout.
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

Remove t=0/dt=1 settings for initial residuum
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Replace old googlegroups email.
  web/layouts/partials/page-info.html
Due: git-diff-check

[web] Updated docs on ccache.
  CHANGELOG.md
  web/content/docs/devguide/advanced/compiler-cache/index.md
Due: git-diff-check

[ci] Supply CMake generator on wheel build.
  scripts/ci/jobs/build-wheels.yml
  setup.py
Due: git-diff-check

[web] Added info on Windows long paths setup.
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[ci] Fixed wheel version in MR pipelines.
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

[wheel] Fix Linux builds.
  Applications/Python/Dockerfile
  pyproject.toml
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

[wheel] Fix versioning scheme.
  pyproject.toml
  setup.py
Due: git-diff-check

[ci] Fix win wheel build.
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[ci] Update wheel.
  Tests/Data/requirements-ogs.txt
Due: none

[web] Update wheel docs.
  web/content/docs/userguide/basics/introduction/index.md
Due: git-diff-check

[NL] Added transformVariableFromGlobalVector overload
  NumLib/DOF/DOFTableUtil.h
Due: git-diff-check, git-clang-format

[PL] Added mixin for process assembly
  ProcessLib/AssemblyMixin.cpp
  ProcessLib/AssemblyMixin.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Refactored createOutput()
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/CreateOutput.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Avoid submesh output for certain quantities (new approach)
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added submesh residuum output to createTimeLoop()
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/CreateTimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added a parser for submesh residuum output config
  ProcessLib/Output/SubmeshResiduumOutputConfig.cpp
  ProcessLib/Output/SubmeshResiduumOutputConfig.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use submesh assembly support interface
  ProcessLib/Process.h
Due: git-diff-check, git-clang-format

[PL] Enabled submesh residuum assembly for TH2M
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
  ProcessLib/TH2M/TH2MProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Assert that OGS succeeds
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.ipynb
Due: none

[PL] Enabled submesh residuum assembly for TRM
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[scr] Provide *out.txt as job artefacts
  scripts/ci/extends/test-artifacts.yml
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[PL] Added an interface for submesh assembly support for processes
  ProcessLib/SubmeshAssemblySupport.h
Due: git-diff-check, git-clang-format

[T] Extended TRM point heat source test
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/PointHeatSource_quarter_002_2nd_r_gt_2_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/PointHeatSource_quarter_002_2nd_r_lt_2_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/point_heat_source_2D.prj
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/quarter_002_2nd_r_gt_2.vtu
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/quarter_002_2nd_r_lt_2.vtu
Due: git-diff-check

[T] Added steady-state tests for submesh assembly with TH2M
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/submesh_residuum_assembly/T.xml
  Tests/Data/TH2M/submesh_residuum_assembly/T_submesh_0_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/T_submesh_1_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/T_submesh_2_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/T_submesh_3_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/T_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/base.prj
  Tests/Data/TH2M/submesh_residuum_assembly/domain.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/domain_base.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/domain_base_2nd_order.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/domain_boundary.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_G.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_G_submesh_0_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_G_submesh_1_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_G_submesh_2_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_G_submesh_3_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_G_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap_submesh_0_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap_submesh_1_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap_submesh_2_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap_submesh_3_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/submesh_0.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/submesh_1.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/submesh_2.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/submesh_3.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/surface_x_max.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/surface_x_min.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/surface_y_min.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/u.xml
  Tests/Data/TH2M/submesh_residuum_assembly/u_submesh_0_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/u_submesh_1_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/u_submesh_2_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/u_submesh_3_ts_4_t_4.000000.vtu
  Tests/Data/TH2M/submesh_residuum_assembly/u_ts_4_t_4.000000.vtu
Due: git-diff-check

[PL] Moved output config to a separate file
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/CreateOutput.h
  ProcessLib/Output/CreateOutputConfig.cpp
  ProcessLib/Output/CreateOutputConfig.h
  ProcessLib/Output/OutputConfig.h
Due: git-diff-check, file-extensions, git-clang-format

[doc] Added Doxygen documentation
  Documentation/ProjectFile/prj/time_loop/t_submesh_residuum_output.md
Due: git-diff-check

[ci] Run wheel job on scheduled pipelines.
  .gitlab-ci.yml
Due: git-diff-check

[ci] Add pipeline names.
  .gitlab-ci.yml
Due: git-diff-check

[ci] Add 'ci::web only' tag and pipeline.
  .gitlab-ci.yml
  scripts/ci/jobs/build-linux-arch.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/web-check.yml
  scripts/ci/jobs/web-deploy.yml
  scripts/ci/jobs/web-preview.yml
  scripts/ci/jobs/web.yml
  scripts/ci/pipelines/regular.yml
  scripts/ci/pipelines/web.yml
Due: git-diff-check

[ci] Separated includes into pipelines.
  .gitlab-ci.yml
  scripts/ci/pipelines/regular.yml
  scripts/ci/pipelines/scheduled.yml
Due: git-diff-check

[ci] Removed trigger.yml.
  scripts/ci/jobs/trigger.yml
  scripts/ci/pipelines/regular.yml
Due: git-diff-check

[web] Docs on web only pipelines.
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check
