Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

add restart test for porosity
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling_restart.prj
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling_restart.pvd
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling_restart_ts_107_t_4.000000.vtu
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling_restart_ts_1_t_0.010000.vtu
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling_ts_107_t_4.000000.vtu
Due: none

fix argument order
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[TH2M] add thermal strain test
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/HM/Porosity/deformation_temperature_dependent_porosity_swelling.prj
  Tests/Data/TH2M/HM/Porosity/deformation_temperature_dependent_porosity_swelling_ts_107_t_4.000000.vtu
  Tests/Data/TH2M/HM/Porosity/deformation_temperature_dependent_porosity_swelling_ts_55_t_2.340000.vtu
Due: git-diff-check

add transport porosity
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/MechanicalStrain.h
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, file-extensions, git-clang-format

fix transport porosity
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

merge default and non constant solid volume fraction branch
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

clean-up
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TotalStress.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] draft porosity from mass balance
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/Bishops.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Bishops.h
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityModel.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/ConstitutiveRelations/PureLiquidDensity.h
  ProcessLib/TH2M/ConstitutiveRelations/Saturation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TotalStress.cpp
  ProcessLib/TH2M/ConstitutiveRelations/UEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.cpp
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

make solid grain pressure available in solid density model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/TH2M/ConstitutiveRelations/TotalStress.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TotalStress.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, file-extensions, git-clang-format

save mechanical strain as volumetric_mechanical strain in variables array
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.cpp
Due: git-diff-check, file-extensions, git-clang-format

pass variables_prev to dValue
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TransportPorosity.cpp
Due: git-diff-check, file-extensions, git-clang-format

add test for porosity from mass balance
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity.prj
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_ts_112_t_4.000000.vtu
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_ts_55_t_1.900000.vtu
  Tests/Data/TH2M/HM/Porosity/square_1x1.gml
  Tests/Data/TH2M/HM/Porosity/square_1x1_quad8_1e2.vtu
Due: git-diff-check

add swelling test
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/HM/Porosity/deformation_dependent_porosity_swelling.prj
Due: git-diff-check

add Bishops to reflect chi
  ProcessLib/TH2M/ConstitutiveRelations/Bishops.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
Due: git-diff-check, git-clang-format

[ci] Escape + in grep string
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

Add test for t and pos in MPL Linear
  Tests/MaterialLib/TestMPLLinear.cpp
Due: git-diff-check, file-extensions, git-clang-format

t and x,y,z in curve property
  MaterialLib/MPL/Properties/CreateCurve.cpp
  MaterialLib/MPL/Properties/Curve.cpp
  MaterialLib/MPL/Properties/Curve.h
Due: git-diff-check, file-extensions, git-clang-format

t and x,y,z in MPLExponential
  MaterialLib/MPL/Properties/CreateExponential.cpp
  MaterialLib/MPL/Properties/Exponential.cpp
  MaterialLib/MPL/Properties/Exponential.h
Due: git-diff-check, file-extensions, git-clang-format

Add test for t and pos in MPL Function
  Tests/MaterialLib/TestMPLFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

Expand docu for MPL-Function
  MaterialLib/MPL/Properties/Function.h
Due: git-diff-check, git-clang-format

Add test for t and pos in MPL Curve
  Tests/MaterialLib/TestMPLCurve.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/MPL] Additional Function derivative tests txyz
  Tests/MaterialLib/TestMPLFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

t and x,y,z in MPLLinear
  MaterialLib/MPL/Properties/CreateLinear.cpp
  MaterialLib/MPL/Properties/Linear.cpp
  MaterialLib/MPL/Properties/Linear.h
Due: git-diff-check, file-extensions, git-clang-format

Add test for t and pos in MPL Exponential
  Tests/MaterialLib/TestMPLExponential.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/MPL] Bi-linear property temperature-x
  Tests/MaterialLib/TestMPLLinear.cpp
Due: git-diff-check, file-extensions, git-clang-format

t and x,y,z in function property
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CI] Limit pyvista version - temporary
  Tests/Data/requirements.txt
Due: none

[cmake] Some simplifications for cmake 3.26
  Applications/DataExplorer/DataExplorer.cmake
  CMakeLists.txt
  scripts/cmake/CheckHeaderCompilation.cmake
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/Find.cmake
  scripts/cmake/ProjectSetup.cmake
  scripts/cmake/PythonSetup.cmake
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

[cmake] New minimum 3.26.
  CMakeLists.txt
Due: git-diff-check

[win] Search for WinMM library.
  Applications/DataExplorer/DataExplorer.cmake
  BaseLib/CMakeLists.txt
Due: git-diff-check

[T/THM] Slightly relax tolerance; failing on new windows
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM.prj
Due: none

[T/M] Convert asserts to np.testing.assert_xxx
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.py
Due: none

[T/THM] Slightly relax ctest tolerance
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM.prj
Due: none

[App/U] Correct error message; use switch-case
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

Rewrite using ranges
  Applications/Utils/FileConverter/TecPlotTools.cpp
  Applications/Utils/MeshEdit/ExtractMaterials.cpp
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  Applications/Utils/MeshEdit/ReorderMesh.cpp
  Applications/Utils/MeshEdit/Vtu2Grid.cpp
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
  MaterialLib/MPL/CreateMaterialSpatialDistributionMap.cpp
  MaterialLib/Utils/MediaCreation.cpp
  MeshGeoToolsLib/AppendLinesAlongPolyline.cpp
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
  MeshGeoToolsLib/MeshEditing/ResetMeshElementProperty.h
  MeshLib/IO/Legacy/MeshIO.cpp
  MeshLib/Utils/IntegrationPointWriter.cpp
  MeshToolsLib/MeshEditing/RemoveMeshComponents.cpp
  MeshToolsLib/MeshGenerators/LayeredMeshGenerator.cpp
  MeshToolsLib/MeshInformation.cpp
  MeshToolsLib/MeshInformation.h
Due: git-diff-check, file-extensions, git-clang-format

[App/U] Remove double slash in include
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Fix error message for mesh item types
  MeshLib/Properties.h
Due: git-diff-check, git-clang-format

[CL] Store active element ids internally
  ChemistryLib/ChemicalSolverInterface.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/U] Add error if property was not created
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/U] Remove boolean property reset
  Applications/Utils/MeshEdit/ResetPropertiesInPolygonalRegion.cpp
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
