Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[MeL] Extract createMeshFromElementSelection() to own file
  MeshGeoToolsLib/ConstructMeshesFromGeometries.cpp
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/Utils/createMaterialIDsBasedSubMesh.cpp
  MeshLib/Utils/createMeshFromElementSelection.cpp
  MeshLib/Utils/createMeshFromElementSelection.h
  ProcessLib/CreateDeactivatedSubdomain.cpp
  Tests/NumLib/LocalToGlobalIndexMap.cpp
  Tests/NumLib/LocalToGlobalIndexMapMultiComponent.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract getMeshElementsForMaterialIDs() to own file
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/Utils/getMeshElementsForMaterialIDs.cpp
  MeshLib/Utils/getMeshElementsForMaterialIDs.h
  Tests/MeshLib/TestGetMeshElementsForMaterialIDs.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Move addPropertyToMesh() to MeL/Utils
  Applications/Utils/FileConverter/NetCdfConverter.cpp
  Applications/Utils/MeshEdit/AddElementQuality.cpp
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
  MeshLib/Mesh.h
  MeshLib/Utils/addPropertyToMesh.h
  MeshLib/Utils/createMeshFromElementSelection.cpp
  MeshToolsLib/MeshSurfaceExtraction.cpp
  ParameterLib/RandomFieldMeshElementParameter.cpp
  Tests/NumLib/TestMeshComponentMap.cpp
  Tests/ParameterLib/Parameter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract createMaterialIDsBasedSubMesh() to own file
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/Utils/createMaterialIDsBasedSubMesh.cpp
  MeshLib/Utils/createMaterialIDsBasedSubMesh.h
  ProcessLib/Output/CreateOutputConfig.cpp
  Tests/MeshLib/TestCreateMaterialIDsBasedSubMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Mv scaleMeshPropertyVector to Mel/Utils
  Applications/Utils/ModelPreparation/scaleProperty.cpp
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/Utils/scaleMeshPropertyVector.cpp
  MeshLib/Utils/scaleMeshPropertyVector.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Solid material internal state ip writer
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.h
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

usage of moveMeshNodes() to move geometry
  Applications/DataExplorer/DataView/TranslateDataDialog.cpp
  Applications/DataExplorer/DataView/TranslateDataDialog.h
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Multi-material with restart. Same as SD
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs.prj
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart_t_0.7000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart_t_0.8000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart_t_0.9000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart_t_1.0000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.0000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.1000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.2000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.3000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.4000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.5000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.5700.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.6000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.7000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.8000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_0.9000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_t_1.0000.vtu
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1x1.gml
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1x1_quad_1e1_2_matIDs.vtu
Due: git-diff-check

[T] Added simple ssd notebook for testing only (not published to web).
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.ipynb
Due: git-diff-check

[jupyter] Relax requirements a bit, update PyVista.
  Tests/Data/requirements.txt
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[py,nb] Don't use editable installs, not needed.
  Tests/Data/requirements.txt
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[T] Adjusted RUNTIME.
  ProcessLib/SteadyStateDiffusion/Tests.cmake
Due: git-diff-check

[py] Use gmsh nox package on CI.
  Tests/Data/requirements-gmsh-nox.txt
  Tests/Data/requirements.txt
  scripts/ci/jobs/jupyter.yml
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[py] Use scikit-build-core in pyproject.toml.
  pyproject.toml
Due: git-diff-check

[py] dynamic metadata works, removed setup.py
  Applications/Python/ogs.callbacks/CMakeLists.txt
  Applications/Python/ogs.simulator/CMakeLists.txt
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
  CMakePresets.json
  pyproject.toml
  scripts/ci/jobs/build-wheels.yml
  scripts/python/scikit-build-plugins/scripts/__init__.py
  setup.py
Due: git-diff-check

[py] ruff config and fixes.
  Applications/Python/ogs/__init__.py
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
Due: git-diff-check

[pre-commit] Added ruff check.
  .pre-commit-config.yaml
Due: git-diff-check

[wheel,ci] Fix Windows build.
  pyproject.toml
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

Review comments.
  Applications/Python/ogs.simulator/CMakeLists.txt
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
  pyproject.toml
  scripts/python/scikit-build-plugins/scripts/__init__.py
Due: git-diff-check

[cmake] Added generator check for Windows wheels.
  scripts/cmake/CMakeSetup.cmake
Due: git-diff-check

[T] Relax tolerances in MultiMaterialEhlers.
  Tests/Data/TH2M/M/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

[T/TRM] Relax a ctest tolerance a bit.
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

[ci] Fixed web-only pipeline.
  scripts/ci/jobs/build-mac-petsc.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/web-check.yml
  scripts/ci/pipelines/mac.yml
  scripts/ci/pipelines/web.yml
Due: git-diff-check

fix namespace of getOrCreateMeshProperty
  MeshToolsLib/MeshSurfaceExtraction.cpp
Due: git-diff-check, file-extensions, git-clang-format

OGSTools: Add createTetgenSmeshFromRasters
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
Due: git-diff-check

OGSTools: Do not replace with _ with -
  Applications/Python/ogs/_internal/wrap_cli_tools.py
Due: git-diff-check

OGSTools: Add underscore test
  Tests/Python/test_wrapped_cli_tools.py
Due: git-diff-check

[T/TRM] Slightly relax tolerances for omp runs
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: git-diff-check

Added more infromation abount defining output timesteps
  web/content/docs/userguide/blocks/time_loop.md
Due: git-diff-check

Fix spelling
  web/content/docs/userguide/blocks/time_loop.md
Due: git-diff-check

Applying suggestion from Tobias Meisel and minor fixes
  web/content/docs/userguide/blocks/time_loop.md
Due: git-diff-check

Adding style recommendations to guidelines for doc
  web/content/docs/devguide/documentation/docs-guidelines/index.md
Due: git-diff-check

Add description of new standard for handling TODOs
  web/content/docs/devguide/documentation/docs-guidelines/index.md
Due: git-diff-check

[Parameter] Fixed a warning
  ParameterLib/Parameter.h
Due: git-diff-check, git-clang-format

[MeL/IO/XDMF] Correct variables output
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Adding test for XDMF/HDF5 format and variables section
  Tests/Data/Parabolic/HT/SimpleSynthetics/IsothermalFluidFlow.prj
Due: none
