Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[PL/Output] Check result of dof index calculation
  ProcessLib/Output/AddProcessDataToMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Test output also with Newton version of TH2M/HM/flow_fully_saturated_gas
  Tests/Data/TH2M/HM/empty_variables_flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/HM/empty_variables_flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_1_t_1.000000.vtu
  Tests/Data/TH2M/HM/empty_variables_flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_2_t_2.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_newton.xml
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_1_t_1.000000.vtu
  Tests/Data/TH2M/HM/flow_fully_saturated_gas_square_1x1_quad8_1e2_bottom_newton_ts_2_t_2.000000.vtu
Due: none

[MatL/MFront] Check usage of all tangent blocks
  MaterialLib/SolidModels/MFront/TangentOperatorBlocksView.h
  Tests/MaterialLib/TestTangentOperatorBlocksView.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Fixed font issue in feature table.
  web/content/docs/userguide/basics/introduction/index.md
Due: git-diff-check

[ci,pre-commit] Don't spell check urls.
  .codespellrc
Due: git-diff-check

[pre-commit] Skip xml checks on patch files.
  .pre-commit-config.yaml
Due: git-diff-check

[ProcessVariable] Removed a local function
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions, git-clang-format

[nb] Fix seaborn matplotlib style names.
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.md
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
  Tests/Data/Mechanics/MohrCoulombAbboSloanAnisotropic/run_script.txt
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/plot_settings.py
Due: none

[PL] Pass volumetric strain to permeability model.
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Added a minimal test for passing volumetric strain.
  Tests/Data/ThermoRichardsMechanics/MFront/ThermoPoroElasticity/uniaxial_isothermal_drainage_imbibition_extended_mfront_model.prj
Due: none

[App/IO] Avoid initialization of unused value
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[AppL] isConvertible should not throw but return
  Applications/ApplicationsLib/TestDefinition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Use any_of replacing for-range loop
  GeoLib/OctTree-impl.h
Due: git-diff-check, git-clang-format

[GL] Remove unnecessary assignments
  GeoLib/EarClippingTriangulation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Unify function names in decl. and def.
  NumLib/Fem/ShapeFunction/ShapeHex20-impl.h
  NumLib/Fem/ShapeFunction/ShapeHex20.h
  NumLib/Fem/ShapeFunction/ShapeQuad8-impl.h
  NumLib/Fem/ShapeFunction/ShapeQuad8.h
  NumLib/Fem/ShapeFunction/ShapeQuad9-impl.h
  NumLib/Fem/ShapeFunction/ShapeTet10-impl.h
  NumLib/Fem/ShapeFunction/ShapeTet4-impl.h
  NumLib/Fem/ShapeFunction/ShapeTri6-impl.h
Due: git-diff-check, git-clang-format

Disable gcc-13.2.1 specific warnings
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[TES] Initialize members with nan for safety
  MaterialLib/Adsorption/ReactionCaOH2.h
Due: git-diff-check, git-clang-format

[PL/TRM] Remove unnecessary fwd-declaration
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.h
Due: git-diff-check, git-clang-format

[CL] Use std::vector replacing raw pointer
  ChemistryLib/PhreeqcKernel.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Default-initialize pointers
  MaterialLib/MPL/Properties/SpecificHeatCapacityWithLatentHeat.h
Due: git-diff-check, git-clang-format

[MatL/MFront] Add actual value to the error
  MaterialLib/SolidModels/MFront/MFrontGeneric.h
Due: git-diff-check, git-clang-format

[TES] Use constexpr for static const values
  MaterialLib/Adsorption/ReactionCaOH2.cpp
  MaterialLib/Adsorption/ReactionCaOH2.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Reduce constructor's argument list
  ProcessLib/CreateProcessData.cpp
  ProcessLib/ProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[T/LIE] Slightly relax ctest's tolerance
  Tests/Data/LIE/Mechanics/mohr_coulomb_load_path_nu0p3.prj
Due: none

[PL/LIE] Remove unused include
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
Due: git-diff-check, git-clang-format

Improve const-correctness
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcKernelData/ReactionRate.cpp
  ChemistryLib/PhreeqcKernelData/ReactionRate.h
  GeoLib/GEOObjects.cpp
  MeshLib/IO/XDMF/HdfWriter.cpp
  MeshLib/IO/XDMF/HdfWriter.h
  MeshLib/Vtk/VtkMappedMeshSource.cpp
  MeshToolsLib/IntegrationPointDataTools.cpp
  MeshToolsLib/MeshEditing/MeshRevision.cpp
  MeshToolsLib/MeshInformation.cpp
  MeshToolsLib/MeshQuality/MeshValidation.cpp
  MeshToolsLib/MeshSurfaceExtraction.cpp
  ProcessLib/LIE/Common/PostUtils.cpp
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Disable unused ctor and disable assignments
  ProcessLib/ProcessData.h
Due: git-diff-check, git-clang-format

[MTL] Use ids view_closure simplifying code
  MeshToolsLib/MeshSurfaceExtraction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Spelling
  ProcessLib/ThermoRichardsFlow/CreateThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIE] Use boolean 'or' replacing bit-wise 'or'
  ProcessLib/LIE/Common/LevelSetFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIE] Replace for-loop with transform algorithm
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
Due: git-diff-check, git-clang-format

[GL] Reduce variable scope
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Use algorithm replacing for-loop
  GeoLib/IO/AsciiRasterInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci,guix] Update guix.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[ci] Some guix version output.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[guix] Fix syntax for configure-flags append.
  .guix/modules/ogs-package.scm
Due: git-diff-check

[ci,guix] --no-substitutes should minimize 'write_to_session_record_port' errors.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[guix] Fix naming of eve container.
  web/content/docs/userguide/features/parallel_computing_mpi.md
Due: git-diff-check

[guix] Added package openmpi-pmix.
  .guix/modules/ogs-package.scm
Due: git-diff-check
