Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

Use std::getline
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/Gmsh/GmshReader.cpp
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  Applications/FileIO/SWMM/SWMMInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  BaseLib/StringTools.cpp
  MeshLib/IO/Legacy/MeshIO.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Earclipping; Reduce iterators' scope
  GeoLib/EarClippingTriangulation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] EarClipping; Separate addLastTriangle()
  GeoLib/EarClippingTriangulation.cpp
  GeoLib/EarClippingTriangulation.h
Due: git-diff-check, file-extensions, git-clang-format

[CL] Pass potentially large object by reference
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
Due: git-diff-check, file-extensions, git-clang-format

[GL] Correct memory allocation
  GeoLib/Raster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Use find_if to locate polyline vector by name
  GeoLib/GEOObjects.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use ranges for_each algorithm
  MeshLib/Utils/SetMeshSpaceDimension.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] EarClipping; auto for iterators. Reduce scope
  GeoLib/EarClippingTriangulation.cpp
Due: git-diff-check, file-extensions, git-clang-format

Improve const-correctness
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  GeoLib/SimplePolygonTree.cpp
  MeshLib/IO/VtkIO/VtuInterface.cpp
  MeshLib/Utils/SetMeshSpaceDimension.cpp
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/LIE/Common/PostUtils.cpp
  ProcessLib/ProcessVariable.cpp
  ProcessLib/StokesFlow/StokesFlowFEM.h
  ProcessLib/TimeLoop.cpp
  ProcessLib/Utils/ProcessUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Rename function argument for consistency
  MeshToolsLib/MeshEditing/ConvertToLinearMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

Rename function argument to match definition
  MeshLib/IO/VtkIO/VtuInterface.h
  MeshLib/Vtk/VtkMeshNodalCoordinatesTemplate.h
  ProcessLib/Output/CreateOutput.h
  ProcessLib/Output/Output.h
  ProcessLib/Process.h
Due: git-diff-check, git-clang-format

[MeL/IO] Reduce variables scope
  MeshLib/IO/Legacy/MeshIO.cpp
Due: git-diff-check, file-extensions, git-clang-format

Reduce variable scope
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

Avoid shadowing of a variable
  MaterialLib/MPL/Properties/ThermalConductivity/CreateSaturationWeightedThermalConductivity.cpp
  MaterialLib/SolidModels/Ehlers.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use transform replacing for-loop.
  ProcessLib/CreateTimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Move implementation into TU
  MeshLib/CoordinateSystem.cpp
  MeshLib/CoordinateSystem.h
Due: git-diff-check, file-extensions, git-clang-format

[CL] Move isHydrogen() into TU
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Use algorithm replacing for-loop
  MeshGeoToolsLib/MeshNodesOnPoint.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Make one overload perturbIf() static
  NumLib/NumericalDifferentiation.h
Due: git-diff-check, git-clang-format

[BL] Use std::string::replace instead of substr +
  BaseLib/FileTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIE] Remove redundant if-condition
  ProcessLib/LIE/Common/PostUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] DOF; remove unused MeshComponentMap method
  NumLib/DOF/MeshComponentMap.cpp
  NumLib/DOF/MeshComponentMap.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Use ranges transform replacing for-loop
  NumLib/Fem/ShapeMatrixCache.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use Eigen operations on nodes' coordinates
  MeshLib/Utils/GetSpaceDimension.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] No else after return is necessary
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Explicit single argument ctor
  ParameterLib/FunctionParameter.h
Due: git-diff-check, git-clang-format

[ParL] Initialize pointer with null
  ParameterLib/CurveScaledParameter.h
Due: git-diff-check, git-clang-format

[PhaseField] Return C_tensile and C_compressive
  MaterialLib/SolidModels/LinearElasticIsotropicPhaseField.h
  MaterialLib/SolidModels/LinearElasticOrthotropicPhaseField.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM.h
Due: git-diff-check, git-clang-format

[T/THM] Update of Stefan problem for mechanics
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem.prj
Due: none

[MPL] New phase change expansivity property type
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check, git-clang-format

[web] THM mechanics with phase-change
  Documentation/.vale/Vocab/ogs/ignore.txt
  web/content/docs/benchmarks/thermo-hydro-mechanics/massbalance_with_freezing/Column_deformation.png
  web/content/docs/benchmarks/thermo-hydro-mechanics/massbalance_with_freezing/Column_reaction.png
  web/content/docs/benchmarks/thermo-hydro-mechanics/massbalance_with_freezing/Column_setup.png
  web/content/docs/benchmarks/thermo-hydro-mechanics/massbalance_with_freezing/index.md
Due: git-diff-check

[PL/THM] Ice-fraction indicator use Heaviside in M
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_0.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2100.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4200.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_8400.vtu
Due: git-diff-check, git-clang-format

[T/THM] Column deformation freezing
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM.prj
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_0.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2100.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4200.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_8400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/bottom.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/mesh.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/top.vtu
Due: git-diff-check

[PL/THM] Rescale phase change strain
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_0.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2100.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_2600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4200.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_4800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6400.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6600.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_6800.vtu
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM_8400.vtu
Due: git-diff-check, git-clang-format

[PL/THM] Add sigma_ice secondary variable output
  ProcessLib/ThermoHydroMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MatL/Solids] Add parser for ice_constitutive_rel
  Documentation/ProjectFile/material/solid/t_ice_constitutive_relation.md
  MaterialLib/SolidModels/CreateConstitutiveRelationIce.cpp
  MaterialLib/SolidModels/CreateConstitutiveRelationIce.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Store ice volume fraction
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
Due: git-diff-check, git-clang-format

[MatL] Expose single solid const.rel. creation
  MaterialLib/SolidModels/CreateConstitutiveRelation.cpp
  MaterialLib/SolidModels/CreateConstitutiveRelation.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Add consistency check for freezing
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/THM] Add creation of ice constitutive relation
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
