Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
    -   id: check-toml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      exclude: 'ThirdParty|LinearMFront/generate_ref.py'

[MPL] Add CreateVapourDiffusionFEBEX
  MaterialLib/MPL/Properties/VapourDiffusion/CreateVapourDiffusionFEBEX.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/CreateVapourDiffusionFEBEX.h
Due: git-diff-check, file-extensions

[UnitTest] Added a test for VapourDiffusionFEBEX
  Tests/MaterialLib/TestMPLVapourDiffusionFEBEX.cpp
Due: git-diff-check, file-extensions

[Doc] Added a description of VapourDiffusionFEBEX
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.h
Due: git-diff-check

[MPL] Registered VapourDiffusion
  MaterialLib/CMakeLists.txt
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
Due: git-diff-check, file-extensions, cmake-format

[MatL] Replace tabs with spaces.
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.h
Due: git-diff-check

[T/MatL] FEBEX; Use array to avoid heap allocs.
  Tests/MaterialLib/TestMPLVapourDiffusionFEBEX.cpp
Due: git-diff-check, file-extensions

[UnitTest/VapourDiffusionFEBEX] Kept the consistency of the position of const qualifier
  Tests/MaterialLib/TestMPLVapourDiffusionFEBEX.cpp
Due: git-diff-check, file-extensions

move porosity, storage, biot-coefficient and permeability to medium (THM process)
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/CylindricalCavity/CylindricalCavity.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/square_1e2_lin.prj
  Tests/Data/ThermoHydroMechanics/Linear/Square_sealed_homogeneous/square_1e0.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_incompressible_fluid.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_isochoric_heat-up.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
Due: git-diff-check

move porosity, storage, biot-coefficient and permeability to medium (HM process)
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  Tests/Data/HydroMechanics/EmbeddedFracturePermeability/cube.prj
  Tests/Data/HydroMechanics/FailureIndexDependentPermeability/quad_with_half_hole.prj
  Tests/Data/HydroMechanics/IdealGas/flow_free_expansion/flow_free_expansion.prj
  Tests/Data/HydroMechanics/IdealGas/flow_no_strain/flow_no_strain.prj
  Tests/Data/HydroMechanics/IdealGas/flow_pressure_boundary/flow_pressure_boundary.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/cube_1e3.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_linear.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_quad9.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_tri.prj
  Tests/Data/HydroMechanics/Linear/DrainageEexcavation/HMdrainage.prj
  Tests/Data/HydroMechanics/Linear/Gravity/flow_gravity.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_early/square_1e2_UC_early.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_early/square_1e4_UC_early.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_late/square_1e2_UC_late.prj
  Tests/Data/HydroMechanics/Linear/Unconfined_Compression_late/square_1e4_UC_late.prj
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.prj
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/InjectionProduction1D.prj
  Tests/Data/HydroMechanics/StaggeredScheme/InjectionProduction1D/RerefenceSolutionByMonolithicScheme/InjectionProduction1DMono.prj
  Tests/Data/HydroMechanics/StrainDependentPermeability/gas_loading.prj
  Tests/Data/HydroMechanics/Verification/hm1_1Dbeam.prj
  Tests/Data/HydroMechanics/Verification/hm1_2Dsquare.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dcube.prj
  Tests/Data/HydroMechanics/Verification/hm1_3Dgravity.prj
  Tests/Data/HydroMechanics/Verification/hm2_1D1bt.prj
  Tests/Data/HydroMechanics/Verification/hm2_1D2bt.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dbiot.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dcolumn1.prj
  Tests/Data/HydroMechanics/Verification/hm2_1Dcolumn2.prj
  Tests/Data/HydroMechanics/Verification/hm2_2Dmandel.prj
Due: git-diff-check, file-extensions

move porosity, storage, biot-coefficient and permeability to medium (RichardFlow)
  ProcessLib/RichardsFlow/CreateRichardsFlowProcess.cpp
  ProcessLib/RichardsFlow/RichardsFlowFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_compare_ogs5.prj
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_large.prj
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_small.prj
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_small_iteration_adaptive_dt.prj
  Tests/Data/Parabolic/Richards/flow_fully_saturated.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_richardsflow.prj
Due: git-diff-check, file-extensions

[eve] Switch to foss/2020b.
  scripts/env/eve/cli.sh
Due: git-diff-check

[CL] set reactant molality.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, file-extensions

[T] update .prj file.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac.prj
Due: none

[CL] Rename function.
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[CL] Add class member volume_fraction.
  ChemistryLib/PhreeqcIOData/ChemicalSystem.cpp
  ChemistryLib/PhreeqcIOData/CreateEquilibriumReactants.cpp
  ChemistryLib/PhreeqcIOData/CreateKineticReactant.cpp
  ChemistryLib/PhreeqcIOData/EquilibriumReactant.h
  ChemistryLib/PhreeqcIOData/KineticReactant.h
Due: git-diff-check, file-extensions

[CL] initialize volume fraction.
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[CL] reset access specifier.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[CL] rename function.
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[CL] Drop function executeInitialCalculation().
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions

[CL] set private access specifier.
  ChemistryLib/PhreeqcIO.h
Due: git-diff-check

[CL] remove default setting.
  ChemistryLib/PhreeqcIO.h
Due: git-diff-check

[CL] rename function.
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernel.cpp
  ChemistryLib/PhreeqcKernel.h
Due: git-diff-check, file-extensions

Make cmake-lint happy, part 1.
  .cmake-format.yaml
  Applications/CMakeLists.txt
  Applications/DataExplorer/VtkVis/CMakeLists.txt
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/Tests.cmake
  CMakeLists.txt
  Documentation/README.txt.in
  ProcessLib/ComponentTransport/Tests.cmake
  ProcessLib/HT/Tests.cmake
  ProcessLib/HeatTransportBHE/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/RichardsMechanics/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
  Tests/CMakeLists.txt
  scripts/cmake/CMakeSetup.cmake
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Find.cmake
  scripts/cmake/Functions.cmake
  scripts/cmake/ProcessesSetup.cmake
  scripts/cmake/ProjectSetup.cmake
  scripts/cmake/packaging/Pack.cmake
  scripts/cmake/packaging/PackagingLinux.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestTester.cmake
  scripts/cmake/test/AddTestWrapper.cmake
  scripts/cmake/test/MeshTest.cmake
  scripts/cmake/test/OgsTest.cmake
Due: git-diff-check, cmake-format

[pre-commit] Added cmake-lint.
  .pre-commit-config.yaml
  scripts/cmake/test/MoveDataToStore.cmake
Due: git-diff-check

Make cmake-lint happy, part 2.
  .pre-commit-config.yaml
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/Utils/FileConverter/CMakeLists.txt
  Applications/Utils/GeoTools/CMakeLists.txt
  Applications/Utils/MeshGeoTools/CMakeLists.txt
  Applications/Utils/ModelPreparation/CMakeLists.txt
  Applications/Utils/SimpleMeshCreation/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ProcessLib/PhaseField/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  ProcessLib/ThermoMechanicalPhaseField/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  scripts/cmake/CheckHeaderCompilation.cmake
  scripts/cmake/CompilerSetup.cmake
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Coverage.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DocumentationProjectFile.cmake
  scripts/cmake/DocumentationSetup.cmake
  scripts/cmake/GitSetup.cmake
  scripts/cmake/MetisSetup.cmake
  scripts/cmake/ParseCMakeArgs.cmake
  scripts/cmake/ProcessesSetup.cmake
  scripts/cmake/PythonSetup.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestTester.cmake
  scripts/cmake/test/CTestCustom.in.cmake
  scripts/cmake/test/MeshTest.cmake
Due: git-diff-check, cmake-format

[cmake-lint] Added comments to ignored issues.
  .cmake-format.yaml
Due: git-diff-check

[CL] move return statement forward.
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions

[cmake-lint] Fix Dependencies.cmake.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[A/U/ME/createLayeredMeshFromRaster] Constify rasters.
  Applications/Utils/MeshEdit/createLayeredMeshFromRasters.cpp
Due: git-diff-check, file-extensions

[App/IO] Raster; Avoid use after move. Use vector.
  Applications/FileIO/AsciiRasterInterface.cpp
Due: git-diff-check, file-extensions

[MeL/MG/RasterToMesh] Move shifting origin in vtkImageData function.
  MeshLib/MeshGenerators/RasterToMesh.cpp
Due: git-diff-check, file-extensions

[MeL/MG/MeshLayerMapper] Rename for better understandibility.
  MeshLib/MeshGenerators/MeshLayerMapper.cpp
Due: git-diff-check, file-extensions

[A/IO/AsciiRasterInterface] Impr. writing ASC data.
  Applications/FileIO/AsciiRasterInterface.cpp
Due: git-diff-check, file-extensions

[T/Data] Removing raster half cell shifting requires update test.
  Tests/Data/FileConverter/RainEvent30-elevation.vtu
  Tests/Data/MeshGeoToolsLib/Hamburg/output0.asc
Due: none

[GL] Raster; Use Eigen vectors.
  GeoLib/Raster.cpp
Due: git-diff-check, file-extensions

[MaL] MathTools; remove scalarProduct.
  MathLib/MathTools.h
Due: git-diff-check

move porosity, transport_porosity, permeability, biot_coefficient and storage to medium in RM process and MPL properties
  MaterialLib/MPL/Properties/PermeabilityOrthotropicPowerLaw.cpp
  MaterialLib/MPL/Properties/PorosityFromMassBalance.cpp
  MaterialLib/MPL/Properties/TransportPorosityFromMassBalance.cpp
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos.prj
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos_QN.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_richardsflow.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_small.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_small_masslumping.prj
  Tests/Data/RichardsMechanics/alternative_mass_balance_anzInterval_10.prj
  Tests/Data/RichardsMechanics/bishops_effective_stress_power_law.prj
  Tests/Data/RichardsMechanics/bishops_effective_stress_saturation_cutoff.prj
  Tests/Data/RichardsMechanics/confined_compression_fully_saturated.prj
  Tests/Data/RichardsMechanics/confined_compression_fully_saturated_restart.prj
  Tests/Data/RichardsMechanics/deformation_dependent_porosity.prj
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling.prj
  Tests/Data/RichardsMechanics/double_porosity_swelling.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_anisotropic.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_coordinate_system.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_linear.prj
  Tests/Data/RichardsMechanics/gravity.prj
  Tests/Data/RichardsMechanics/mechanics_linear.prj
  Tests/Data/RichardsMechanics/orthotropic_power_law_permeability_xyz.prj
  Tests/Data/RichardsMechanics/orthotropic_swelling_xy.prj
  Tests/Data/RichardsMechanics/orthotropic_swelling_xyz.prj
  Tests/Data/RichardsMechanics/rotated_consolidation.prj
Due: git-diff-check, file-extensions

[MaL] Replace KelvinVectorDimensions with constexpr
  MathLib/KelvinVector.h
Due: git-diff-check

[T/NetCDF] Update increased precision reference.
  Tests/Data/FileConverter/sresa1b_ncar_ccsm3-example0.asc
Due: none
