Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

Removed <fstream> includes from headers
  Applications/FileIO/AsciiRasterInterface.cpp
  Applications/FileIO/AsciiRasterInterface.h
  Applications/FileIO/CsvInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/GocadIO/CoordinateSystem.h
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  Applications/FileIO/Legacy/OGSIOVer4.cpp
  Applications/Utils/FileConverter/generateMatPropsFromMatID.cpp
  Applications/Utils/MeshEdit/MeshMapping.cpp
  Applications/Utils/MeshGeoTools/computeSurfaceNodeIDsInPolygonalRegion.cpp
  BaseLib/FileTools.cpp
  BaseLib/FileTools.h
  BaseLib/Histogram.cpp
  BaseLib/Histogram.h
  MathLib/LinAlg/Eigen/EigenMatrix.cpp
  MathLib/LinAlg/Eigen/EigenMatrix.h
  MathLib/LinAlg/Eigen/EigenVector.cpp
  MathLib/LinAlg/Eigen/EigenVector.h
  MeshLib/IO/Legacy/MeshIO.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Removed <sstring> from header
  BaseLib/PrjProcessing.cpp
  BaseLib/PrjProcessing.h
Due: git-diff-check, file-extensions, git-clang-format

[TES] Enable wedge test. Update resampled results
  ProcessLib/TES/Tests.cmake
  Tests/Data/Parabolic/TES/2D/inert-wedge-extracted-surface-t-1s.vtu
  Tests/Data/Parabolic/TES/2D/tes_inert_wedge_ts_4_t_1.000000.vtu
Due: git-diff-check

[T] Manufactured solutions for T, axisymm. test
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi_ts_10_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1x1_quad_1e2.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge-1e2-ang-0.02.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02_t_2s_extracted_surface.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_ang_0.02_ts_10_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_ang_0.02_ts_2_t_2.000000.vtu
Due: git-diff-check

[PL/BC] Reimplement Robin-type BC
  ProcessLib/BoundaryConditionAndSourceTerm/RobinBoundaryConditionLocalAssembler.h
Due: git-diff-check, git-clang-format

[T] 2D Robin BC tests; Newton and Picard
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_Robin/square_1e4_robin.prj
  Tests/Data/Parabolic/T/2D_Robin/square_1e4_robin_newton.xml
  Tests/Data/Parabolic/T/2D_Robin/square_1x1.gml
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_newton_t_0.5.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_newton_t_1.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_t_0.5.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_t_1.vtu
Due: git-diff-check

[T/HC] Reenable wedge test with Robin
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02_t_2s_extracted_surface.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_ang_0.02_ts_2_t_2.000000.vtu
Due: git-diff-check

Manufactured solutions for SteadyState, axisy
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_axi_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_axi_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1x1_quad_1e2.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1x1_quad_1e4.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.02-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.02.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.2-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e4-ang-0.02-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e4-ang-0.02.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e2_ang_0.02_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e4_axi_ang_0.02.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e4_axi_ang_0.02_ts_1_t_1.000000.vtu
Due: git-diff-check

Fixed another Nagra link.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.ipynb
Due: none

[T] Test reflection functionality
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Reflection support for setting IP data
  ProcessLib/Reflection/ReflectionSetIPData.h
Due: git-diff-check, git-clang-format

[PL] Use reflection for IP data output
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
Due: git-diff-check, git-clang-format

[cmake] Build PhaseField on PETSC configs only.
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check

K-regime Hydro Frac in PhaseField
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

k-regime ctest case added
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/k_regime_HF/2D_bm_0p01.prj
  Tests/Data/PhaseField/k_regime_HF/bar_bottom.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_left.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_p_0.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_p_1.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_p_2.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_p_3.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_right.vtu
  Tests/Data/PhaseField/k_regime_HF/bar_top.vtu
  Tests/Data/PhaseField/k_regime_HF/expected_2D_PropagatingCrack_AT1_h0p01_ts_2_t_0.020000.vtu
  Tests/Data/PhaseField/k_regime_HF/quad_0deg_h0p01.vtu
  Tests/Data/PhaseField/k_regime_HF/quad_0deg_h0p01_ts17.vtu
Due: git-diff-check

[T] Renames the test to the correct name of the creator.
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/H2/mcWhorter/boundary_left.vtu
  Tests/Data/TH2M/H2/mcWhorter/domain.vtu
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter_h2.prj
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter_h2_newton.xml
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter_h2_newton_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter_h2_newton_ts_110_t_1000.000000.vtu
  Tests/Data/TH2M/H2/mcWhorter/result_McWhorter_H2_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/H2/mcWhorter/result_McWhorter_H2_ts_110_t_1000.000000.vtu
  Tests/Data/TH2M/H2/mcWorther/mcWorther_h2_newton.xml
Due: git-diff-check

[web] New TH2M folder for benchmark gallery
  web/content/docs/benchmarks/th2m/_index.md
  web/content/docs/benchmarks/th2m/th2m_benchmarks.png
Due: git-diff-check

[T] Update gas compression reference files.
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_100_t_10.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_10_t_1.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_20_t_2.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_30_t_3.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_40_t_4.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_50_t_5.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_60_t_6.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_70_t_7.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_80_t_8.000000.vtu
  Tests/Data/TH2M/TH/idealGasLaw/result_compression_gas_ts_90_t_9.000000.vtu
Due: none

[web/doc] Modified gas compression jupyter notebook for web gallery
  Tests/Data/TH2M/TH/idealGasLaw/confined_compression.ci-skip.ipynb
  Tests/Data/TH2M/TH/idealGasLaw/confined_gas_compression.ipynb
  Tests/Data/TH2M/TH/idealGasLaw/confined_gas_compression.png
Due: none

[T] Added proper PETSc config to compression_gas.prj.
  Tests/Data/TH2M/TH/idealGasLaw/compression_gas.prj
Due: none

[cmake] Added options OGS_INSTALL_DEPENDENCIES_[PRE/POST]_EXCLUDES.
  scripts/cmake/packaging/Pack.cmake
  scripts/cmake/packaging/PackagingDependencies.cmake
Due: git-diff-check

[PL/TRM] Optional body forces for deformation
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_MECHANICS/t_apply_body_force_for_deformation.md
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] removing body force from displacement test
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/BodyForce/expected_dont_apply_body_force_for_deformation_ts_0_t_0.000000.vtu
  Tests/Data/ThermoRichardsMechanics/BodyForce/square.prj
  Tests/Data/ThermoRichardsMechanics/BodyForce/square_1x1.gml
  Tests/Data/ThermoRichardsMechanics/BodyForce/square_1x1_quad8_1e2.vtu
Due: git-diff-check

Merge branch 'snakemake-fix' into 'master'
  scripts/snakemake/vtkdiff/environment.yaml
  web/data/versions.json
Due: git-diff-check

[PL] Adapt to the moved constitutive setting
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

move heatpipe to correct folder in benchmark gallery
  Tests/Data/TH2M/TH2/heatpipe/heatpipe.ipynb
Due: none

Merge branch 'fix-vtuio-version' into 'master'
  web/data/versions.json
Due: git-diff-check

Merge branch '2DRobinManufacturedSolutionTest' into 'master'
  ProcessLib/BoundaryConditionAndSourceTerm/RobinBoundaryConditionLocalAssembler.h
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/TES/Tests.cmake
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_axi_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_axi_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1x1_quad_1e2.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1x1_quad_1e4.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.02-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.02.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e2-ang-0.2-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e4-ang-0.02-surface.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge-1e4-ang-0.02.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e2_ang_0.02_ts_1_t_1.000000.vtu
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e4_axi_ang_0.02.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e4_axi_ang_0.02_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1e4_robin.prj
  Tests/Data/Parabolic/T/2D_Robin/square_1e4_robin_newton.xml
  Tests/Data/Parabolic/T/2D_Robin/square_1x1.gml
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_newton_t_0.5.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_newton_t_1.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_t_0.5.vtu
  Tests/Data/Parabolic/T/2D_Robin/square_1x1_quad_1e4_t_1.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi_ts_10_t_1.000000.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1x1_quad_1e2.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge-1e2-ang-0.02.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02_t_2s_extracted_surface.vtu
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_ang_0.02_ts_10_t_1.000000.vtu
  Tests/Data/Parabolic/TES/2D/inert-wedge-extracted-surface-t-1s.vtu
  Tests/Data/Parabolic/TES/2D/tes_inert_wedge_ts_4_t_1.000000.vtu
Due: git-diff-check, git-clang-format

[T] Moved strain dependent permeability to H2M
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/H2M/StrainDependentPermeability/IfG_ts_110_t_10000.000000.vtu
  Tests/Data/TH2M/H2M/StrainDependentPermeability/Strain_Dependent_Permeability_Test.prj
  Tests/Data/TH2M/H2M/StrainDependentPermeability/boundary_bottom.vtu
  Tests/Data/TH2M/H2M/StrainDependentPermeability/boundary_left.vtu
  Tests/Data/TH2M/H2M/StrainDependentPermeability/boundary_right.vtu
  Tests/Data/TH2M/H2M/StrainDependentPermeability/boundary_top.vtu
  Tests/Data/TH2M/H2M/StrainDependentPermeability/domain.vtu
Due: git-diff-check

[PhF/ML-PL] Implemented two new PhF models for orthotropy
  MaterialLib/SolidModels/LinearElasticOrthotropicPhaseField.h
  ProcessLib/PhaseField/CreatePhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/PhaseField/PhaseFieldProcessData.h
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/beam/voldev-ortho/AT2_vd_tensile_VZ.prj
  Tests/Data/PhaseField/beam/voldev-ortho/bar.gml
  Tests/Data/PhaseField/beam/voldev-ortho/bar.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/bar_left.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/bar_right.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/expected_AT2_vd_tensile_ts_10_t_1.000000.vtu
Due: git-diff-check, file-extensions, git-clang-format

a degraded elasticity tensor in the weak form implemented
  MaterialLib/SolidModels/LinearElasticIsotropicPhaseField.h
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM-impl.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM.h
Due: git-diff-check, git-clang-format

new outputting variables for splitted PhF models
  ProcessLib/PhaseField/LocalAssemblerInterface.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Doxygen] orthotropic energy split PhF models
  Documentation/ProjectFile/prj/processes/process/PHASE_FIELD/t_energy_split_model.md
  Documentation/bibliography/other.bib
Due: git-diff-check

Added a pdf documentation file on units.
  web/content/docs/userguide/basics/conventions/index.md
  web/content/docs/userguide/basics/conventions/units_ogs.pdf
Due: git-diff-check

fix errors in notebook
  Tests/Data/Notebooks/SimpleMechanics.ipynb
Due: none

remove redundant keyword arg
  Tests/Data/Notebooks/thermo-osmosis.run-skip.ipynb
Due: none

use recent ogs6py and VTUInterface packages
  web/data/versions.json
Due: git-diff-check

fix notebook
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.ipynb
Due: none

Added info on nodal source terms.
  web/content/docs/userguide/basics/conventions/units_ogs.pdf
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
