Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[MeL/Utils] header includes itself -> rm
  MeshLib/Utils/getOrCreateMeshProperty.h
Due: git-diff-check, git-clang-format

fix(doc): only backward Euler method is available
  NumLib/ODESolver/ODESolver.dox
Due: git-diff-check

feat: add createReleaseNodalForce
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/CreateReleaseNodalForce.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/CreateReleaseNodalForce.h
Due: git-diff-check, file-extensions, git-clang-format

feat!: Add a member setReleaseNodalForces to ODESystem
  NumLib/ODESolver/ODESystem.h
Due: git-diff-check, git-clang-format

feat!: Add a member setReleaseNodalForces to TimeDiscretizedODESystem
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, git-clang-format

feat(ProcessVariable): set _compensate_non_equilibrium_initial_residuum for `_bc_configs`.
  ProcessLib/ProcessVariable.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat: enabled to use ReleaseNodalForce
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat!: Add a member setReleaseNodalForces to NonlinearSolver
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSystem.h
Due: git-diff-check, file-extensions, git-clang-format

doc(ReleaseNodalForce): Class description
  ProcessLib/BoundaryConditionAndSourceTerm/ReleaseNodalForce.h
Due: git-diff-check, git-clang-format

feat!: Add a member setReleaseNodalForces to Process
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

doc(ReleaseNodalForce): Documentation of the input parameters
  Documentation/ProjectFile/prj/process_variables/process_variable/boundary_conditions/boundary_condition/ReleaseNodalForce/c_ReleaseNodalForce.md
  Documentation/ProjectFile/prj/process_variables/process_variable/boundary_conditions/boundary_condition/ReleaseNodalForce/t_time_decay_parameter.md
Due: git-diff-check

feat!: Add a member setReleaseNodalForces to BoundaryConditionCollection
  ProcessLib/BoundaryConditionAndSourceTerm/BoundaryConditionCollection.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/BoundaryConditionCollection.h
  ProcessLib/Process.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci,guix] Fix deploy container mkl jobs.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[ci] Fix blocked pipeline.
  scripts/ci/jobs/build-win.yml
Due: git-diff-check

[BL] Added new class TCLAPOutput.
  BaseLib/TCLAPOutput.h
Due: git-diff-check, git-clang-format

[BL] Extracted log-level argument.
  BaseLib/TCLAPArguments.h
Due: git-diff-check, git-clang-format

[ogs] Adapt cli args.
  Applications/CLI/CommandLineArgumentParser.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt FileConverter command line args.
  Applications/Utils/FileConverter/ConvertSHPToGLI.cpp
  Applications/Utils/FileConverter/FEFLOW2OGS.cpp
  Applications/Utils/FileConverter/GMSH2OGS.cpp
  Applications/Utils/FileConverter/GocadSGridReader.cpp
  Applications/Utils/FileConverter/GocadTSurfaceReader.cpp
  Applications/Utils/FileConverter/Mesh2Raster.cpp
  Applications/Utils/FileConverter/Mesh2Shape.cpp
  Applications/Utils/FileConverter/NetCdfConverter.cpp
  Applications/Utils/FileConverter/OGS2VTK.cpp
  Applications/Utils/FileConverter/PVD2XDMF.cpp
  Applications/Utils/FileConverter/Raster2ASC.cpp
  Applications/Utils/FileConverter/TIN2VTK.cpp
  Applications/Utils/FileConverter/TecPlotTools.cpp
  Applications/Utils/FileConverter/VTK2OGS.cpp
  Applications/Utils/FileConverter/VTK2TIN.cpp
  Applications/Utils/FileConverter/convertGEO.cpp
  Applications/Utils/FileConverter/generateMatPropsFromMatID.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt GeoTools command line args.
  Applications/Utils/GeoTools/MoveGeometry.cpp
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
  Applications/Utils/GeoTools/addDataToRaster.cpp
  Applications/Utils/GeoTools/createRaster.cpp
  Applications/Utils/GeoTools/generateGeometry.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt MeshEdit command line args.
  Applications/Utils/MeshEdit/AddElementQuality.cpp
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
  Applications/Utils/MeshEdit/AddLayer.cpp
  Applications/Utils/MeshEdit/CreateBoundaryConditionsAlongPolylines.cpp
  Applications/Utils/MeshEdit/ExtractBoundary.cpp
  Applications/Utils/MeshEdit/ExtractMaterials.cpp
  Applications/Utils/MeshEdit/ExtractSurface.cpp
  Applications/Utils/MeshEdit/Layers2Grid.cpp
  Applications/Utils/MeshEdit/MapGeometryToMeshSurface.cpp
  Applications/Utils/MeshEdit/MergeMeshToBulkMesh/MergeMeshToBulkMesh.cpp
  Applications/Utils/MeshEdit/MeshMapping.cpp
  Applications/Utils/MeshEdit/MoveMesh.cpp
  Applications/Utils/MeshEdit/NodeReordering.cpp
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  Applications/Utils/MeshEdit/RemoveGhostData.cpp
  Applications/Utils/MeshEdit/ReorderMesh.cpp
  Applications/Utils/MeshEdit/ResetPropertiesInPolygonalRegion.cpp
  Applications/Utils/MeshEdit/Vtu2Grid.cpp
  Applications/Utils/MeshEdit/appendLinesAlongPolyline.cpp
  Applications/Utils/MeshEdit/checkMesh.cpp
  Applications/Utils/MeshEdit/convertToLinearMesh.cpp
  Applications/Utils/MeshEdit/createLayeredMeshFromRasters.cpp
  Applications/Utils/MeshEdit/createQuadraticMesh.cpp
  Applications/Utils/MeshEdit/createTetgenSmeshFromRasters.cpp
  Applications/Utils/MeshEdit/editMaterialID.cpp
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
  Applications/Utils/MeshEdit/queryMesh.cpp
  Applications/Utils/MeshEdit/removeMeshElements.cpp
  Applications/Utils/MeshEdit/reviseMesh.cpp
  Applications/Utils/MeshEdit/swapNodeCoordinateAxes.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt MeshGeoTools command line args.
  Applications/Utils/MeshGeoTools/AssignRasterDataToMesh.cpp
  Applications/Utils/MeshGeoTools/IntegrateBoreholesIntoMesh.cpp
  Applications/Utils/MeshGeoTools/Raster2Mesh.cpp
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  Applications/Utils/MeshGeoTools/computeSurfaceNodeIDsInPolygonalRegion.cpp
  Applications/Utils/MeshGeoTools/constructMeshesFromGeometry.cpp
  Applications/Utils/MeshGeoTools/createIntermediateRasters.cpp
  Applications/Utils/MeshGeoTools/geometryToGmshGeo.cpp
  Applications/Utils/MeshGeoTools/identifySubdomains.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt ModelPreparation command line args.
  Applications/Utils/ModelPreparation/ComputeNodeAreasFromSurfaceMesh.cpp
  Applications/Utils/ModelPreparation/CreateAnchors/CreateAnchors.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/BinaryToPVTU.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/PartitionMesh.cpp
  Applications/Utils/ModelPreparation/convertVtkDataArrayToVtkDataArray.cpp
  Applications/Utils/ModelPreparation/createNeumannBc.cpp
  Applications/Utils/ModelPreparation/scaleProperty.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Utils] Adapt misc. command line args.
  Applications/Utils/OGSFileConverter/main.cpp
  Applications/Utils/PostProcessing/Raster2PointCloud.cpp
  Applications/Utils/PostProcessing/postLIE.cpp
  Applications/Utils/SWMMConverter/SWMMConverter.cpp
  Applications/Utils/SimpleMeshCreation/createMeshElemPropertiesFromASCRaster.cpp
  Applications/Utils/SimpleMeshCreation/generateStructuredMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Review comments: const.
  BaseLib/TCLAPOutput.h
Due: git-diff-check, git-clang-format

[win] Switch OpenMP_RUNTIME_MSVC to experimental (was llvm).
  scripts/cmake/Find.cmake
Due: git-diff-check

feat(MPL): add values to error output for identification
  MaterialLib/MPL/Utils/FormEigenTensor.cpp
  MaterialLib/MPL/Utils/FormEigenVector.cpp
  MaterialLib/MPL/Utils/GetSymmetricTensor.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(NL/TimeStepping): Extract code from NL::findMultiplier() to the separate class PiecewiseConstantInterpolation
  MathLib/InterpolationAlgorithms/PiecewiseConstantInterpolation.h
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
Due: git-diff-check, file-extensions, git-clang-format

Apply 2 suggestion(s) to 2 file(s)
  Tests/Data/HMPhaseField/GreatCell/GreatCelllHM_VPF_propagating.py
Due: none

Adding the hydraulic fracturing JN in GreatCell using HMPF
  ProcessLib/HMPhaseField/Tests.cmake
  Tests/Data/HMPhaseField/GreatCell/GreatCelllHM_VPF_propagating.py
  Tests/Data/HMPhaseField/GreatCell/HM3d_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/expected/extracted_HM3d_VPF_A_Gneiss_pt0_pt0.npz
  Tests/Data/HMPhaseField/GreatCell/expected/extracted_HM3d_VPF_A_Greywacke_pt0_pt0.npz
Due: git-diff-check

drop Greywacke test to reduce ctest time
  Tests/Data/HMPhaseField/GreatCell/GreatCelllHM_VPF_propagating.py
Due: none

ctests: tighten tolerance in prj for consistent results on Linux and macOS
  Tests/Data/HMPhaseField/GreatCell/HM3d_VPF.prj
Due: none

modifying cwd for ogstools in JN
  Tests/Data/HMPhaseField/GreatCell/GreatCelllHM_VPF_propagating.py
Due: none

Modifying the prj of HM-LIE by adding material_id and tol
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2a_LIE.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2b_LIE.prj
Due: none

Adding expected results for M1, M2a/b - VPF
  Tests/Data/HMPhaseField/GreatCell/expected/extracted_M1_VPF_A_Greywacke_volStrain.npz
  Tests/Data/HMPhaseField/GreatCell/expected/extracted_M2a_VPF_A_Greywacke_volStrain.npz
  Tests/Data/HMPhaseField/GreatCell/expected/extracted_M2b_VPF_A_Greywacke_volStrain.npz
Due: none

[T] Enable parallel simulation for HM-VPF static cases
  ProcessLib/HMPhaseField/Tests.cmake
  Tests/Data/HMPhaseField/GreatCell/GreatCellHM_VPF.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/ogs_model_runner.py
Due: git-diff-check

[T] Typo and added PROCESSORS property to VPF propagating nb.
  ProcessLib/HMPhaseField/Tests.cmake
  Tests/Data/HMPhaseField/GreatCell/GreatCellHM_VPF_propagating.py
Due: git-diff-check

[JN] fixup the pathes in VPF-Static
  Tests/Data/HMPhaseField/GreatCell/GreatCellHM_VPF.py
Due: none

remove the comments
  Tests/Data/HMPhaseField/GreatCell/M1_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/M2_VPF.prj
Due: none

[ci] Fix grep in wheel via notebook for no changes.
  Applications/Utils/Tests.cmake
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
