Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

allow removal of point elements from mesh
  Applications/DataExplorer/DataView/MeshElementRemoval.ui
  Applications/Utils/MeshEdit/removeMeshElements.cpp
Due: git-diff-check, file-extensions, git-clang-format

[de] Renamed QVTKOpenGLWidget to QVTKOpenGLStereoWidget.
  Applications/DataExplorer/VtkVis/VisualizationWidgetBase.ui
  Applications/DataExplorer/main.cpp
Due: git-diff-check, file-extensions, git-clang-format

[de] Fixed XML indentation.
  Applications/DataExplorer/VtkVis/VisualizationWidgetBase.ui
Due: git-diff-check

[de] Use new function names for renderWindow.
  Applications/DataExplorer/VtkVis/VisualizationWidget.cpp
  Applications/DataExplorer/mainwindow.cpp
Due: git-diff-check, file-extensions, git-clang-format

[de] Switched OpenGL widget to QVTKOpenGLNativeWidget.
  Applications/DataExplorer/VtkVis/VisualizationWidgetBase.ui
  Applications/DataExplorer/main.cpp
Due: git-diff-check, file-extensions, git-clang-format

[de] Removed renderWindow()->IsDrawable()-call.
  Applications/DataExplorer/VtkVis/VisualizationWidget.cpp
Due: git-diff-check, file-extensions, git-clang-format

[conan] Pin package revisions.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

[MPL] Reimplement VariableArray as own class
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, git-clang-format

[PL/TRM] Remove double assignment
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMVaporDiffusion.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Remove unused 'displacement' from variables
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, git-clang-format

[MPL] Remove unused typedefs. Shrink VariableType
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, git-clang-format

[MPL] Remove VariableArray int access
  MaterialLib/MPL/Properties/Curve.cpp
  MaterialLib/MPL/Properties/Exponential.cpp
  MaterialLib/MPL/Properties/Function.cpp
  MaterialLib/MPL/Properties/Function.h
  MaterialLib/MPL/Properties/Linear.cpp
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, file-extensions, git-clang-format

[TimeLoop] Check whether tag "coupling_scheme" is set to "staggered"
  ProcessLib/CreateTimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CTest/TH2M] Increased the relative comparison tolerance for the temperature result of the heat pipe example
  Tests/Data/TH2M/TH2/heatpipe/heat_pipe_rough.prj
Due: none

[BL] Disable FPE for libxml2 calls
  BaseLib/PrjProcessing.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Extract disabling of FPE in own file
  BaseLib/DisableFPE.h
  BaseLib/PrjProcessing.cpp
  ProcessLib/Output/OutputFile.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Fixed an issue with missing external dependencies.
  scripts/cmake/packaging/PackagingDependencies.cmake
Due: git-diff-check

[web] Removed release notes as they are fetched from GitLab.
  web/content/docs/devguide/procedures/publish-a-release/index.md
  web/content/releases/6.1.0.md
  web/content/releases/6.2.0.md
  web/content/releases/6.2.1.md
  web/content/releases/6.2.2.md
  web/content/releases/6.3.0.md
  web/content/releases/6.3.1.md
  web/content/releases/6.3.2.md
  web/content/releases/6.3.3.md
  web/content/releases/6.4.0.md
  web/content/releases/6.4.1.md
  web/content/releases/6.4.2.md
Due: git-diff-check

[web] Fixed mpi user guide page.
  web/content/docs/userguide/parallel_computing/_index.md
  web/content/docs/userguide/parallel_computing/mpi/index.md
Due: git-diff-check

[ci] Use linkchecker instead of urlchecker.
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/web.yml
  scripts/docker/Dockerfile.web
Due: git-diff-check

[web] Fixed some whitespace and link issues in layouts.
  web/layouts/partials/footer.html
  web/layouts/partials/releases/single.html
  web/layouts/shortcodes/data-url.html
Due: git-diff-check

Disable automatic bare urls in markdownlint.
  .markdownlint.yaml
Due: git-diff-check

[web] Fixed some link issues.
  web/content/books/models-of-thermochemical-heat-storage.md
  web/content/docs/benchmarks/reactive-transport/calcite/index.md
  web/content/docs/benchmarks/reactive-transport/exchange/index.md
  web/content/docs/benchmarks/reactive-transport/radionuclide/index.md
  web/content/docs/devguide/environments/singularity/index.md
  web/content/docs/devguide/packages/conan-package-manager/index.md
  web/content/docs/devguide/packages/mfront/index.md
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

[web] Fixed more link issues.
  Documentation/ProjectFile/ode_solver/CVODE/c_CVODE.md
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/heatpipe.ipynb
  web/content/docs/benchmarks/elliptic/drainage_diffusion/index.md
  web/content/docs/tools/getting-started/video-tutorial/index.md
  web/content/docs/userguide/basics/project-file/index.md
  web/content/docs/userguide/process-dependent-configuration/Hydro_Component.md
  web/data/bib_other.yaml
Due: git-diff-check

[web] Renamed url for saturated mass transport.
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorage.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorageAndAdvection.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorageAndAdvectionAndDecay.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorageAndAdvectionAndDispersion.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorageAndAdvectionAndDispersionHalf.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/DiffusionAndStorageAndGravityAndDispersionHalf.gif
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/HC-NonBoussinesq.pdf
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/HC-Process.pdf
  web/content/docs/benchmarks/hydro-component/saturated-mass-transport/index.md
  web/content/docs/benchmarks/reactive-transport/calcite/index.md
Due: git-diff-check

[ci] fix check jobs.
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/web.yml
  web/content/docs/benchmarks/reactive-transport/exchange/index.md
  web/content/docs/benchmarks/reactive-transport/radionuclide/index.md
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview/index.md
Due: git-diff-check

[ci] Renamed 'web url checker'-job to 'check web links'.
  scripts/ci/jobs/web.yml
Due: git-diff-check

[ci] Fixed check docs links.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[PL/TH2M] Implement dissolution based on evaporation model.
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Output of diffusion velocities.
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Impl. operator<< for OutputDataSpecification
  ProcessLib/Output/OutputDataSpecification.h
Due: git-diff-check, git-clang-format

[PL] OutputDataSpecification: unconstify attributes to allow copy/move construtor generation
  ProcessLib/Output/OutputDataSpecification.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Changed indexing of the phase components.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Rename phase transition files. Phase now either on or off.
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/PhaseTransitionModels/NoPhaseTransition.cpp
  ProcessLib/TH2M/PhaseTransitionModels/NoPhaseTransition.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransition.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransition.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionDissolution.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionEvaporation.h
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionFull.cpp
  ProcessLib/TH2M/TH2MProcessData.h
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionEvaporation.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransitionNone.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Dependence of rhoLR on capillary pressure added again.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Bourgeat test for dissolution
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/H2/dissolution_diffusion/bourgeat.prj
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat.pvd
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_0.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1.57785e+13.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+09.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+10.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+11.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+12.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+13.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+14.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+15.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_1e+16.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_2.11975e+13.vtu
  Tests/Data/TH2M/H2/dissolution_diffusion/result_bourgeat_t_5e+13.vtu
Due: git-diff-check

[PL/TH2M] Pure liquid density renamed and set const.
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Update of heatpipe benchmarks project files.
  Tests/Data/TH2M/TH2/heatpipe/heat_pipe_rough.prj
  Tests/Data/TH2M/TH2/heatpipe/heat_pipe_strict.prj
Due: none

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
