Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

fix(MPL): remove always true part of if-condition
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions, git-clang-format

build(THM): export only required interface symbols
  ProcessLib/ThermoHydroMechanics/CMakeLists.txt
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.h
Due: git-diff-check, git-clang-format

refactor(THM): move rho_fr modification of rho
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

refactor(MPL): deduplicate EffectiveThermalConductivityPorosityMixing
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(THM): rename dKTT_dp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

feat(AbstractJacobianAssembler): Added new members
  ProcessLib/AbstractJacobianAssembler.h
Due: git-diff-check, git-clang-format

refactor(JacobianAssembler): Moved `_absolute_epsilons` to
  ProcessLib/AbstractJacobianAssembler.h
  ProcessLib/CentralDifferencesJacobianAssembler.cpp
  ProcessLib/CentralDifferencesJacobianAssembler.h
  ProcessLib/ForwardDifferencesJacobianAssembler.cpp
  ProcessLib/ForwardDifferencesJacobianAssembler.h
Due: git-diff-check, file-extensions, git-clang-format

feat(TM): Avoid to use numerical Jacobian.
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(WellboreSimulator): Check the size of perturbations
  ProcessLib/WellboreSimulator/WellboreSimulatorProcess.cpp
  Tests/Data/WellboreSimulator/1Phase_wellbore_small_newton.prj
Due: git-diff-check, file-extensions, git-clang-format

feat(TH2M): Check the size of perturbations for numerical Jacobian
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(TwoPhaseFlowWithPP): Check the size of perturbations
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(NumJac): Restrict the number of perturbations being identical
  ProcessLib/CentralDifferencesJacobianAssembler.cpp
  ProcessLib/ForwardDifferencesJacobianAssembler.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, file-extensions, git-clang-format

feat(doc): Update the documentation for the input parameter
  Documentation/ProjectFile/prj/processes/process/jacobian_assembler/CentralDifferences/t_relative_epsilons.md
Due: git-diff-check

feat(ThermalTwoPhaseFlowWithPP): Check the size of perturbations
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(HM/THM): Avoid to use numerical Jacobian.
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(RM): Fixed the numerical Jacobian by
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

feat(SteadyStateDiffusion): Check the size of perturbations for numerical Jacobian
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(TRM/TR): Check the size of perturbations for numerical Jacobian for
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(M): Avoid to use the numerical Jacobian.
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(R, RC): Check the size of perturbations for numerical Jacobian
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.cpp
  ProcessLib/RichardsFlow/RichardsFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(TH2M): Set a fatal error when the Picard method is used
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/TH2M): improve excavation benchmark descriptions
  Tests/Data/TH2M/ExcavationTH2M/excavation_th2m.py
Due: none

feat(LiquidFlow): Check the size of perturbations for numerical Jacobian
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(CTest#TH2M): An excavation modelling test
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/ExcavationTH2M/excavation_th2m.prj
  Tests/Data/TH2M/ExcavationTH2M/excavation_th2m.py
  Tests/Data/TH2M/ExcavationTH2M/figures/excavation_th2m_pls.png
  Tests/Data/TH2M/ExcavationTH2M/figures/mesh.png
  Tests/Data/TH2M/ExcavationTH2M/mesh.py
  Tests/Data/TH2M/ExcavationTH2M/reference_profile_e.npz
  Tests/Data/TH2M/ExcavationTH2M/reference_profile_pls.npz
Due: git-diff-check

feat(HT, T, CT): Check the size of perturbations for numerical Jacobian
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  Tests/Data/Parabolic/T/BHE_1P/BHE_1P_newton.prj
Due: git-diff-check, file-extensions, git-clang-format

feat(LIE): Avoid to use numerical Jacobian
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/TH2M): fix typo in taylor hood parameter name
  Tests/Data/TH2M/ExcavationTH2M/excavation_th2m.py
Due: none

feat(LD): Avoid to use numerical Jacobian
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/TH2M): markdown formatting
  Tests/Data/TH2M/ExcavationTH2M/excavation_th2m.py
Due: none

feat(PhaseField/HMPhaseField): Avoid to use numerical Jacobian
  ProcessLib/HMPhaseField/HMPhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(Mesh#Kirsch): Add more controls
  Tests/Data/Mechanics/ReleaseNodalForceKirsch/mesh.py
Due: none

feat(NumJac#gtest): Check the size of perturbations for numerical Jacobian
  Tests/ProcessLib/TestJacobianAssembler.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(PL/BC&ST): PythonBC: separate parsing from creation
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.h
Due: git-diff-check, file-extensions, git-clang-format

feature(PL): Allow definition of PrimaryVariableConstraintDirichlet bc on multiple meshes
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(PL/BC&ST): PhaseFieldIrreversibleDamageOracle: separate parsing from creation
  ProcessLib/BoundaryConditionAndSourceTerm/PhaseFieldIrreversibleDamageOracleBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/PhaseFieldIrreversibleDamageOracleBoundaryCondition.h
Due: git-diff-check, file-extensions, git-clang-format

feature(PL): Allow definition of NormalTraction bc on multiple meshes
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

feature(PL): Allow definition of Python bc on multiple meshes
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

feature(PL): Allow definition of Robin bc on multiple meshes
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(PL/BC&ST): VariableDependentNeumann: separate parsing from creation
  ProcessLib/BoundaryConditionAndSourceTerm/VariableDependentNeumannBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/VariableDependentNeumannBoundaryCondition.h
Due: git-diff-check, file-extensions, git-clang-format

feature(PL): Allow definition of ReleaseNodalForce bc on multiple meshes
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format
