Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[App|PVTU2VTU] Extract makeNodesUnique()
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Suppress Xcode 15 linker warnings.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[UnitTest] Fixed a sanitizer error in TestLinearElasticTransverseIsotropic
  Tests/MaterialLib/SolidModels/TestLinearElasticTransverseIsotropic.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] On apple clang 15 use newer petsc version and same hdf5 version
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[ci] Enable sanitizer job on MR pipelines.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[ProcessLib] Removed the argument use_monolithic_scheme from postNonLinearSolver
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Removed the argument use_monolithic_scheme from postTimestep
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerInterface.h
  ProcessLib/LargeDeformation/LargeDeformationFEM.h
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalFEM.h
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.cpp
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App|PVTU2VTU] Rm explicit MeshEntityMapInfo constructor
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App|PVTU2VTU] Substitute emplace_back() with push_back()
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App|PVTU2VTU] lambda capture with initializer
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App|PVTU2VTU] Use structured bindings
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Set CMP0156 to NEW.
  CMakeLists.txt
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] Updated min. cmake version in third-party packages.
  scripts/cmake/Dependencies.cmake
  scripts/cmake/json-cmake/JSONParser.cmake
Due: git-diff-check

[MPL] Remove unused/untested total_strain variable
  MaterialLib/MPL/Properties/PermeabilityOrthotropicPowerLaw.cpp
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract CR PermeabilityData
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityData.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move permeability comput. into model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityModel.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Use ip_out alias for eps access
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Consolidate vars and vars_prev
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[T/TH2M] Slightly relax ctest tolerance
  Tests/Data/TH2M/M/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

Automatic update of vale configuration for hugo
  Documentation/.vale/.vale-config/0-Hugo.ini
Due: git-diff-check

add a newton benchmark in xml format
  Tests/Data/Parabolic/T/3D_Beier_sandbox/beier_sandbox_newton.xml
Due: none

add Jabobian assembler for the BHE part
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE.h
Due: git-diff-check, git-clang-format

Add Test BeierSanbox for Newton
  ProcessLib/HeatTransportBHE/Tests.cmake
Due: git-diff-check

add Jacobian assembler for the soil part
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil.h
Due: git-diff-check, git-clang-format

use the new meshes structure
  Tests/Data/Parabolic/T/3D_Beier_sandbox/beier_sandbox.prj
Due: none

Documentation for nonlinear Picard and Newton solvers
  web/content/docs/processes/heat-transport/HEAT_TRANSPORT_BHE/index.md
  web/content/docs/userguide/blocks/nonlinear_solvers.md
Due: git-diff-check

[ProcessLib] Using Eigen::Ref for the local_x argument of setInitialConditionsConcrete
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[ProcessLib] Moved the function getLocalX from LocalAssemblerInterface.cpp
  NumLib/DOF/DOFTableUtil.cpp
  NumLib/DOF/DOFTableUtil.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Using NumLib::getDOFTables in TR, RM, TRM, TH2M
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Using NumLib::getDOFTables in TMPh
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use getLocalX in postTimestep
  ProcessLib/LocalAssemblerInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Pass VectorXd by value to setInitialCond.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[LocalAssembler] extracted several lines of computeSecondaryVariable to a new local function
  ProcessLib/LocalAssemblerInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CTest/HM] Total initial stress input for the staggered scheme
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/TotalInitialStress/total_initial_stress_HM_staggered.xml
Due: git-diff-check

[NL] getLocalX returns an Eigen::VectorXd
  NumLib/DOF/DOFTableUtil.cpp
  NumLib/DOF/DOFTableUtil.h
  ProcessLib/LocalAssemblerInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Using NumLib::getDOFTables in LIE/HM
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

Changed the type of the first argument of setInitialConditionsConcrete
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] pass the solution vectors of all coupled processes to setInitialConditions
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Using NumLib::getDOFTables in THM
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Removed the argument use_monolithic_scheme from
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LocalAssemblerInterface.cpp
  ProcessLib/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/.*|Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
