Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL] Don't resize Node property after creation
  ProcessLib/BoundaryConditionAndSourceTerm/SolutionDependentDirichletBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CL] Unneeded resize after creation of cell prop
  ChemistryLib/PhreeqcIOData/CreateKineticReactant.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Use spdlog::spdlog target for linking.
  Applications/DataExplorer/DataExplorer.cmake
  BaseLib/CMakeLists.txt
Due: git-diff-check

[cmake,guix] Add MGIS alias target.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[guix] Update channels.
  scripts/guix/channels.scm
Due: git-diff-check

[eve] Fix mpi runtime error.
  scripts/env/eve/mpi.sh
Due: git-diff-check

[eve] Use petsc module.
  scripts/env/eve/petsc.sh
Due: git-diff-check

[TH2M] Enable to use pressure dependent permeability
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityModel.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PermeabilityModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[py] Use PyVista 0.45.
  Tests/Data/requirements.txt
Due: none

[ci,web] Remove xvfb-run.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/jupyter.yml
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[CI] Use OGSTools version that works together with pyvista 0.45
  Tests/Data/requirements.txt
Due: none

Add Jupyter notebook for GreatCell benchmark suites using LIE method
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCell.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M1_SD.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M2_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/Plotter.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/external_data_dict.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/IMG_0316.jpeg
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/IMG_0317.jpeg
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/Schematic_all3.png
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/great-cell.png
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/schematic_3d_crossSection.jpg
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/schematic_M1.jpg
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/schematic_pee_dss.png
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figs/step2b1.png
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/mesh_generator.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/ogs_model_runner.py
Due: git-diff-check

Adding expected results
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCell.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/Plotter.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M1_SD_A_Greywacke.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M2a_LIE_A_Greywacke.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M2b_LIE_A_Greywacke.npz
Due: none

[T/TH2M] Slightly relax tolerance
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

[wheel] Use scikit-build-core with fix for scripts dynamic metadata.
  pyproject.toml
Due: git-diff-check

[MergeMeshToBulkMesh] Moved partitionNodesByCoordinateMatch to new files
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
  MeshToolsLib/MeshEditing/PartitionNodesByCoordinateMatch.cpp
  MeshToolsLib/MeshEditing/PartitionNodesByCoordinateMatch.h
Due: git-diff-check, file-extensions, git-clang-format

[Utils] A new utility: mergeMeshToBulkMesh
  Applications/Utils/MeshEdit/MergeMeshToBulkMesh/CMakeLists.txt
  Applications/Utils/MeshEdit/MergeMeshToBulkMesh/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MergeMeshToBulkMesh] split createMergedPropertyVector function
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CTest] Added a test for mergeMeshToBulkMesh
  Applications/Utils/Tests.cmake
  Tests/Data/Utils/MergeMeshToBulkMesh/SMA_2D_cavern.vtu
  Tests/Data/Utils/MergeMeshToBulkMesh/merged_mesh.vtu
  Tests/Data/Utils/MergeMeshToBulkMesh/sma_h2m_excavation_plastic_ts_6.3072e+08.vtu
Due: git-diff-check

[Utils] Added the new utility: mergeMeshToBulkMesh
  Applications/Utils/MeshEdit/CMakeLists.txt
Due: git-diff-check

[MergeMeshToBulkMesh] Fixed the warnings for MSVC
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeshToolLib] Implementation of mergeMeshToBulkMesh
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.h
Due: git-diff-check, file-extensions, git-clang-format

[MergeMeshToBulkMesh] use oct_tree to get node id mapping
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MergeMeshToBulkMesh] set IP data
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MergeMeshToBulkMesh] set material id.
  Applications/Utils/MeshEdit/MergeMeshToBulkMesh/MergeMeshToBulkMesh.cpp
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

Explicitly enumerate VTU files in identifySubdomains to fix Windows issue
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCell.py
Due: none

[MergeMeshToBulkMesh] Removed unused or repeated includes
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/U] Rename internal member
  MeshLib/Utils/IntegrationPointMetaData.cpp
  MeshLib/Utils/IntegrationPointMetaData.h
  Tests/MeshLib/IntegrationPointMetaData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use ranges. Stricter error checks. Tests.
  MeshLib/Utils/IntegrationPointMetaData.cpp
  Tests/MeshLib/IntegrationPointMetaData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract json parsing in own translation unit
  MeshLib/Utils/IntegrationPointMetaData.cpp
  MeshLib/Utils/IntegrationPointMetaData.h
  MeshLib/Utils/IntegrationPointWriter.cpp
  MeshLib/Utils/IntegrationPointWriter.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Rename IntegrationPointMetaDataSingleField
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  MeshLib/Utils/IntegrationPointMetaData.cpp
  MeshLib/Utils/IntegrationPointMetaData.h
  MeshLib/Utils/IntegrationPointWriter.cpp
  MeshLib/Utils/IntegrationPointWriter.h
  MeshToolsLib/IntegrationPointDataTools.cpp
  MeshToolsLib/IntegrationPointDataTools.h
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
  ProcessLib/Utils/SetIPDataInitialConditions.h
  Tests/MeshLib/IntegrationPointMetaData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/MeL] IpMetaData json roundtrip, check empty()
  MeshLib/Utils/IntegrationPointMetaData.h
  Tests/MeshLib/IntegrationPointMetaData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Split integration point data parsing
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  MeshLib/Utils/IntegrationPointMetaData.cpp
  MeshLib/Utils/IntegrationPointMetaData.h
  MeshLib/Utils/IntegrationPointWriter.cpp
  MeshLib/Utils/IntegrationPointWriter.h
  MeshToolsLib/IntegrationPointDataTools.cpp
  MeshToolsLib/MeshEditing/MergeMeshToBulkMesh.cpp
  ProcessLib/Utils/SetIPDataInitialConditions.h
  Tests/MeshLib/IntegrationPointMetaData.cpp
Due: git-diff-check, file-extensions, git-clang-format

Update spdlog to 1.15.3 (updates fmt to 11.2.0)
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Enable generic build for MGIS, METIS and GKLib
  scripts/cmake/CPM.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/gklib.patch
  scripts/cmake/metis-generic-build.patch
Due: git-diff-check

[web] Added ogstools pagefind index.
  web/layouts/partials/header.html
Due: git-diff-check

[web] Added doxygen pagefind index.
  scripts/ci/jobs/build-docs.yml
  web/layouts/partials/header.html
Due: git-diff-check

[web] Use ogstools unstable web site.
  web/layouts/partials/header.html
Due: git-diff-check

[ci,doxygen] Add CORS rules for ogs.org to /pagefind.
  scripts/ci/jobs/build-docs.yml
  scripts/doc/_headers
Due: git-diff-check

[MeL/IO/XDMF] Improve err msg - write filename
  MeshLib/IO/XDMF/HdfWriter.cpp
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
