Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[PL/HC] Add computation of heat flux for picard.
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.h
  ProcessLib/Utils/ComputeResiduum.cpp
  ProcessLib/Utils/ComputeResiduum.h
Due: file-extensions

[T] HeatFlux tests for HeatConduction.
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/newton_ts_65_t_5078125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_1_t_78125.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_3_t_234375.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_405_t_31640625.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_500_t_39062500.000000.vtu
  Tests/Data/Parabolic/T/1D_neumann/picard_ts_65_t_5078125.000000.vtu
Due: none

Dislcaimer added, dates updated, missing pdf link fixed
  web/content/docs/benchmarks/phase-field/pf_perc.pandoc
  web/content/docs/benchmarks/phase-field/pf_tpb.pandoc
  web/content/docs/benchmarks/phase-field/pf_tpb_ani.pandoc
Due: none

Update the BHE array tutorial to TESPy 0.3.x API
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE_PipelineNetwork.pandoc
Due: none

[NL/Fem] Expose WeightedPoint type of int. method.
  NumLib/Fem/Integration/IntegrationGaussLegendrePrism.h
  NumLib/Fem/Integration/IntegrationGaussLegendrePyramid.h
  NumLib/Fem/Integration/IntegrationGaussLegendreRegular.h
  NumLib/Fem/Integration/IntegrationGaussLegendreTet.h
  NumLib/Fem/Integration/IntegrationGaussLegendreTri.h
  NumLib/Fem/Integration/IntegrationPoint.h
Due: none

[PL] Split computeShapeMatrices form initSM().
  NumLib/Fem/InitShapeMatrices.h
Due: none

Deduplicate code. Use computeShapeMatrices().
  NumLib/Function/Interpolation.h
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/HT/HTFEM.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusionFEM.h
  Tests/NumLib/NaturalNodeCoordinates.cpp
  Tests/NumLib/TestFe.cpp
  Tests/NumLib/TestGradShapeFunction.cpp
Due: file-extensions

[web] Proper usage of menus.
  web/config/_default/config.toml
  web/content/books/bmb-2.pandoc
  web/content/books/bmb-3.pandoc
  web/content/books/bmb-4.pandoc
  web/content/books/computational-geotechnics-i.pandoc
  web/content/books/computational-hydrology-i-groundwater-flow-modeling.pandoc
  web/content/books/computational-hydrology-ii.pandoc
  web/content/books/computational-hydrology-iii.pandoc
  web/content/books/geoenergy-modeling-i.pandoc
  web/content/books/geoenergy-modeling-ii.pandoc
  web/content/books/geoenergy-modeling-iii.pandoc
  web/content/books/models-of-thermochemical-heat-storage.pandoc
  web/content/categories/books/_index.md
  web/content/categories/tutorials/_index.md
  web/content/docs/_index.pandoc
  web/content/docs/benchmarks/elliptic/elliptic-dirichlet.pandoc
  web/content/docs/devguide/getting-started/introduction.pandoc
  web/content/docs/tools/getting-started/overview.pandoc
  web/content/docs/userguide/basics/introduction.pandoc
  web/content/publications/_index.pandoc
  web/content/publications/paper.pandoc
  web/content/releases/_index.pandoc
  web/layouts/_default/summary.html
  web/layouts/books/single.html
  web/layouts/partials/header.html
  web/layouts/section/docs.html
  web/layouts/section/publications.html
Due: none

[web] Fix singularity user link on release page.
  web/content/releases/_index.pandoc
Due: none

[web] Replaced pandoc divs with raw divs.
  web/archetypes/books.md
  web/config/_default/config.toml
  web/content/books/bmb-2.md
  web/content/books/bmb-3.md
  web/content/books/bmb-4.md
  web/content/books/computational-geotechnics-i.md
  web/content/books/computational-hydrology-i-groundwater-flow-modeling.md
  web/content/books/computational-hydrology-ii.md
  web/content/books/computational-hydrology-iii.md
  web/content/books/geoenergy-modeling-i.md
  web/content/books/geoenergy-modeling-ii.md
  web/content/books/geoenergy-modeling-iii.md
  web/content/books/models-of-thermochemical-heat-storage.md
  web/content/docs/devguide/advanced/build-with-ninja.md
  web/content/docs/devguide/advanced/conan-package-manager.md
  web/content/docs/devguide/advanced/gitlab-migration.md
  web/content/docs/devguide/advanced/redistributable-builds.md
  web/content/docs/devguide/advanced/third-party-libraries.md
  web/content/docs/devguide/advanced/using-ccache.md
  web/content/docs/devguide/advanced/working-on-eve.md
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/build.md
  web/content/docs/devguide/getting-started/get-the-source-code.md
  web/content/docs/devguide/getting-started/prerequisites.md
  web/content/docs/devguide/troubleshooting/build.md
  web/content/docs/tools/meshing/remove-mesh-elements/index.md
  web/content/docs/tools/model-preparation/convert-data-array-to-data-array/index.md
  web/content/docs/tools/model-preparation/map-geometric-object-to-the-surface-of-a-mesh/index.md
  web/content/docs/tools/model-preparation/set-properties-in-polygonal-region/index.md
  web/content/docs/userguide/basics/introduction.md
  web/content/docs/userguide/troubleshooting/project-file.md
Due: none

[App/U] TecPlotTools; Check ZONETYPE.
  Applications/Utils/FileConverter/TecPlotTools.cpp
Due: file-extensions

[PL/SteadyStateDiffusion] Fix wrong debug message.
  ProcessLib/SteadyStateDiffusion/CreateSteadyStateDiffusion.cpp
Due: file-extensions

[ParamLib] Format message in Utils.h.
  ParameterLib/Utils.h
Due: none

[Material] Fmt msg. in CreatePorousMediaProperties.
  MaterialLib/PorousMedium/CreatePorousMediaProperties.cpp
Due: file-extensions

[partmesh] Corrected a typo in the comments
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: file-extensions

[MeL/IO] Remove wrongly used mat_idx parameter.
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: file-extensions

Update description
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE_PipelineNetwork.pandoc
Due: none

[web] Added support for image width specification.
  web/assets/js/fancybox.js
  web/assets/scss/main.scss
  web/content/docs/benchmarks/creep-after-excavation-bgra/CreepAfterExcavation.md
  web/content/docs/benchmarks/small-deformations/mechanics-linear-element_deactivation.md
Due: none

[web] Added support for image captions via markdown render hooks.
  web/layouts/_default/_markup/render-image.html
Due: none

[web] Fixed images in tools docu.
  web/content/docs/devguide/advanced/conan-package-manager.md
  web/content/docs/devguide/getting-started/get-the-source-code.md
  web/content/docs/tools/fileio/GocadTSurfaceReader/index.md
  web/content/docs/tools/fileio/Mesh2Raster/index.md
  web/content/docs/tools/fileio/Mesh2Shape/index.md
  web/content/docs/tools/fileio/TecPlotTools/index.md
  web/content/docs/tools/meshing-submeshes/constructMeshesFromGeometry/index.md
  web/content/docs/tools/meshing-submeshes/extract-boundary/index.md
  web/content/docs/tools/meshing-submeshes/extract-surface/index.md
  web/content/docs/tools/meshing-submeshes/identifySubdomains/index.md
  web/content/docs/tools/meshing/addlayer/index.md
  web/content/docs/tools/meshing/gocadsgridreader/index.md
  web/content/docs/tools/meshing/remove-mesh-elements/index.md
  web/content/docs/tools/meshing/vtu2grid/index.md
  web/content/docs/tools/model-preparation/create-boundary-conditions-along-a-polyline/index.md
  web/content/docs/tools/model-preparation/map-geometric-object-to-the-surface-of-a-mesh/index.md
  web/content/docs/tools/model-preparation/set-properties-in-polygonal-region/index.md
  web/content/docs/tools/preprocessing/createIntermediateRasters/index.md
  web/content/docs/tools/workflows/create-boundary-condition-in-polygonal-region/index.md
Due: none

[T/CT] Use <test_definition> for ctest.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_126_t_12600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_126_t_12600.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_168_t_16800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_168_t_16800.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_210_t_21000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_210_t_21000.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_42_t_4200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_42_t_4200.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_84_t_8400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_ts_84_t_8400.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_126_t_12600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_168_t_16800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_210_t_21000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_42_t_4200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula_ts_84_t_8400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_126_t_12600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_126_t_12600.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_168_t_16800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_168_t_16800.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_210_t_21000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_210_t_21000.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_42_t_4200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_42_t_4200.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_84_t_8400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_ts_84_t_8400.000000_expected.vtu
Due: none

[web] Updated docs.
  web/assets/scss/main.scss
  web/config/_default/config.toml
  web/content/docs/devguide/documentation/introduction.md
  web/content/docs/tools/model-preparation/map-geometric-object-to-the-surface-of-a-mesh/index.md
Due: none

[web] Removed pandoc leftovers.
  web/assets/scss/main.scss
  web/assets/scss/pandoc-highlighting.scss
  web/content/.markdownlintignore
  web/content/docs/benchmarks/heat-transport-bhe/3D_BHE_GW_advection.md
  web/content/docs/benchmarks/hydro-component/theis/HC_Theis.md
  web/content/docs/benchmarks/small-deformations/mechanics-linear-element_deactivation.md
  web/content/docs/devguide/advanced/docker.md
  web/content/docs/devguide/advanced/gitlab-migration.md
  web/content/docs/devguide/advanced/redistributable-builds.md
  web/content/docs/devguide/advanced/singularity.md
  web/content/docs/devguide/advanced/third-party-libraries.md
  web/content/docs/devguide/advanced/working-on-eve.md
  web/content/docs/devguide/advanced/wsl.md
  web/content/docs/devguide/development-workflows/continuous-integration.md
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/prerequisites.md
  web/content/docs/devguide/troubleshooting/build.md
  web/content/docs/devguide/troubleshooting/cmake.md
  web/content/docs/userguide/basics/envinf1.md
  web/content/imprint.md
Due: none

[web] Fixed image links in MR preview.
  web/layouts/_default/_markup/render-image.html
Due: none

[web] Updated Dockerfile.
  scripts/docker/Dockerfile.web
Due: none

[VtkVis] allowing range set for point cloud filter
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.h
Due: file-extensions

[VtkVis] adding scalar array with original pixel values to point cloud filter
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
Due: file-extensions

[util] command line tool for batch conversion of rasters into point clouds
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
  Applications/Utils/PostProcessing/CMakeLists.txt
  Applications/Utils/PostProcessing/Raster2PointCloud.cpp
Due: file-extensions, cmake-format

[ci] Added more whitelisted urls to link checker.
  scripts/ci/jobs/web.yml
Due: none

[web] Added page bundle example.
  web/content/docs/devguide/documentation/introduction.md
Due: none

[PL/PV] Fix bug in DOF table access.
  ProcessLib/ProcessVariable.cpp
Due: file-extensions

[T] Test for deactivated domain in HT.
  ProcessLib/HT/Tests.cmake
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/HT_DeactivatedSubdomain.prj
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_101_t_10.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_40_t_4.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_80_t_8.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/square_1x1_quad_16.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/square_1x1_quad_16_left_boundary.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/square_1x1_quad_16_right_boundary.vtu
Due: none

[TimeStepper/IterationNumberBasedTimeStepping] Removed time step update in next(...)
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.h
Due: file-extensions

[TimeStepper/EvolutionaryPIDcontroller] Removed time step update in next(...)
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.h
Due: file-extensions

[TimeStepper] made TimeStepping::next return time step size and moved
  NumLib/TimeStepping/Algorithms/TimeStepAlgorithm.h
Due: none

[TimeStepper/FixedTimeStepping] made next(..) return dt
  NumLib/TimeStepping/Algorithms/FixedTimeStepping.cpp
  NumLib/TimeStepping/Algorithms/FixedTimeStepping.h
Due: file-extensions
