Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL/HT] Use shape matrix cache from HTProcessData
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/CT] Rm ref to shape matrix cache from local assemblers
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/HT] Rm ref to shape matrix cache from local assemblers
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LF] Use shape matrix cache as in other processes
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
Due: git-diff-check, git-clang-format

[PL/HT] Rm shape functions per local assembler
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/HTLocalAssemblerInterface.h
Due: git-diff-check, git-clang-format

[PL/LF] Use shape matrix cache from LiquidFlowData
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check, git-clang-format

[PL/CT] Rm shape functions per local assembler
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[PL] Pass shape matrix cache to NL::assembleAdvectionMatrix()
  NumLib/NumericalStability/AdvectionMatrixAssembler.h
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/LF] Add shape matrix cache to process data
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowData.h
Due: git-diff-check, file-extensions, git-clang-format

[ci] Use vscode-provided cpp devcontainer.
  .devcontainer.json
  scripts/ci/jobs/container.yml
Due: git-diff-check

[ci] Run linux docker job in shell runner.
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/ci_images.yml
Due: git-diff-check

[ci] Run cpm cache and offline configure jobs in shell runner.
  scripts/ci/jobs/ci_images.yml
  scripts/ci/jobs/package.yml
Due: git-diff-check

[ci] Build container with GNU Guix.
  scripts/ci/jobs/build-guix.yml
  scripts/ci/jobs/container.yml
Due: git-diff-check

[ci,docs] Removed self-build jupyter container, adapt docs to use docker-stacks.
  scripts/ci/jobs/container.yml
  web/content/docs/userguide/basics/jupyter-notebooks/index.md
Due: git-diff-check

Remove ThirdParty/container-maker
  .dockerignore
  .gitmodules
  Applications/InSituLib/README.md
  scripts/ci/extends/container-maker-setup.yml
  scripts/ci/jobs/build-container.yml
  scripts/ci/pipelines/regular.yml
Due: git-diff-check

[ci] Remove gui container creation, nobody uses it.
  scripts/ci/jobs/container.yml
Due: git-diff-check

[web] Adapted container downloads.
  web/content/releases/_index.md
Due: git-diff-check

Removed container-maker references.
  scripts/ci/jobs/ci_images.yml
  web/.linksrc.json
  web/content/docs/devguide/environments/docker/index.md
  web/content/docs/devguide/packages/python-env/index.md
  web/content/docs/devguide/testing/gitlab-ci/index.md
  web/content/docs/userguide/basics/container/index.md
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

Added current DOI to CITATION.cff.
  CITATION.cff
Due: git-diff-check

[PL/TH2M] Extract solid density model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract porosity data
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract solid density data
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidDensity.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Adjust porosity to representable double
  Tests/Data/TH2M/H2/dissolution_diffusion/continuous_injection.prj
Due: none

[PL/TH2M] Remove some #ifdef's related to porosity
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Extract porosity model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move thermal vol. strain eval in model
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Replace dphi_S/dT with dphi/dT
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Porosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Slightly relax ctests' tolerances
  Tests/Data/TH2M/H2/dissolution_diffusion/bourgeat.prj
  Tests/Data/TH2M/TH/Ogata-Banks/ogata-banks.prj
Due: none

[web] Removed sentence on Docker development container.
  web/content/_index.md
Due: git-diff-check

Exclude web checks on eigen.tuxfamily.org.
  scripts/ci/jobs/build-docs.yml
  web/lychee.toml
Due: git-diff-check

[web] Use git rebase over git pull.
  web/content/docs/devguide/development-workflows/setup-fork/index.md
Due: git-diff-check

[T/TRM] Slightly relax ctest tolerance
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
Due: none

[NL/ODESolver] enum for linear solver behaviour specification
  NumLib/ODESolver/NonlinearSystem.h
Due: git-diff-check, git-clang-format

Pass and use LinearSolverBehaviour info
  MathLib/LinAlg/Eigen/EigenLinearSolver.cpp
  MathLib/LinAlg/Eigen/EigenLinearSolver.h
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSystem.h
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions, git-clang-format

[MaL/LA/Eigen] Avoid code duplication using lambda
  MathLib/LinAlg/Eigen/EigenLinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL|MaL] Move NL::LinearSolverBehaviour to MathLib
  MathLib/LinAlg/Eigen/EigenLinearSolver.cpp
  MathLib/LinAlg/Eigen/EigenLinearSolver.h
  MathLib/LinAlg/LinearSolverBehaviour.h
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSystem.h
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Make consistency of the type of dof_tables argument
  ProcessLib/Assembly/AssembledMatrixCache.h
  ProcessLib/Assembly/ParallelVectorMatrixAssembler.cpp
  ProcessLib/Assembly/ParallelVectorMatrixAssembler.h
  ProcessLib/AssemblyMixin.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/PhaseField/LocalAssemblerInterface.h
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.cpp
  ProcessLib/RichardsFlow/RichardsFlowProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.cpp
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
  ProcessLib/TES/TESProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPProcess.cpp
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoProcess.cpp
  ProcessLib/VectorMatrixAssembler.cpp
  ProcessLib/VectorMatrixAssembler.h
Due: git-diff-check, file-extensions, git-clang-format

[cmake] BuildExternalProject checks for already built packages.
  scripts/cmake/BuildExternalProject.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Silence linter.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/.*|Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
