Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[MeL] Namespace std before sqrt.
  MeshLib/Elements/LineRule2.cpp
  MeshLib/MeshQuality/ElementSizeMetric.cpp
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.cpp
Due: file-extensions

[A/DE/VtkVis] Namespace std before sqrt.
  Applications/DataExplorer/VtkVis/VisualizationWidget.cpp
  Applications/DataExplorer/VtkVis/VtkTextureOnSurfaceFilter.cpp
Due: file-extensions

[GL] fabs -> std::abs; std::fabs -> std::abs.
  GeoLib/IO/XmlIO/Qt/XmlStnInterface.cpp
  GeoLib/Raster.cpp
Due: file-extensions

[MeL] fabs -> std::abs; std::fabs -> std::abs.
  MeshLib/MeshGenerators/MeshLayerMapper.cpp
  MeshLib/MeshQuality/ElementSizeMetric.cpp
Due: file-extensions

[MaL] std::fabs -> std::abs.
  MathLib/Curve/PiecewiseLinearMonotonicCurve.cpp
  MathLib/Nonlinear/Root1D.h
  MathLib/TemplatePoint.h
Due: file-extensions

[NumLib] std::fabs -> std::abs.
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
Due: file-extensions

[PL] std::fabs -> std::abs.
  ProcessLib/Output/Output.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/TimeLoop.cpp
Due: file-extensions

explanation to N_u_op added
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
Due: none

[PL] added RandomFieldMeshElementParameter
  Documentation/ProjectFile/prj/parameters/parameter/RandomFieldMeshElementParameter/c_RandomFieldMeshElementParameter.md
  Documentation/ProjectFile/prj/parameters/parameter/RandomFieldMeshElementParameter/t_field_name.md
  Documentation/ProjectFile/prj/parameters/parameter/RandomFieldMeshElementParameter/t_range.md
  Documentation/ProjectFile/prj/parameters/parameter/RandomFieldMeshElementParameter/t_seed.md
  ParameterLib/Parameter.cpp
  ParameterLib/RandomFieldMeshElementParameter.cpp
  ParameterLib/RandomFieldMeshElementParameter.h
Due: file-extensions

[PL] Pass x and x_prev to Process::setInitialConditions.
  ProcessLib/Process.cpp
  ProcessLib/Process.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[PL] Pass process_solutions to setInitialConditionsConcreteProcess.
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.h
  ProcessLib/Process.cpp
  ProcessLib/Process.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.h
Due: file-extensions

[PL] Split for-loop.
  ProcessLib/TimeLoop.cpp
Due: file-extensions

THM Benchmark added first version of thm2_1Dfixd. Results not correct yet
  Tests/Data/ThermoHydroMechanics/Linear/thm2_1Dfixd/thm2_1Dfixd.gml
  Tests/Data/ThermoHydroMechanics/Linear/thm2_1Dfixd/thm2_1Dfixd.prj
  Tests/Data/ThermoHydroMechanics/Linear/thm2_1Dfixd/thm2_1Dfixd.vtu
Due: none

TESTS/THM Add verification test for thm process by Vogel/Massmann
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.gml
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.vtu
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd_ts_52_t_10000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd_ts_92_t_20000.000000.vtu
  web/content/docs/benchmarks/bgr_verification_examples/thermohydromechanics.md
Due: none

Update solver and check tolerances in thm2_1Dfixd.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd_ts_52_t_10000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd_ts_92_t_20000.000000.vtu
  web/content/docs/benchmarks/bgr_verification_examples/thermohydromechanics.md
Due: none

Apply 1 suggestion(s) to 1 file(s)
  ProcessLib/ThermoHydroMechanics/Tests.cmake
Due: none

[Test/THM] Update test tolerances slightly
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
Due: none

[MaL] Use dot-product instead of transpose.
  MathLib/MathTools.cpp
Due: file-extensions

[GL] Substitute MaL::Vector3 by Eigen::Vector3d.
  MathLib/GeometricBasics.cpp
Due: file-extensions

[GL] Use Eigen functions instead scalarTriple.
  GeoLib/AnalyticalGeometry.cpp
Due: file-extensions

[MeL] Remove operator- from MeL::Node.
  MeshLib/MeshEditing/projectMeshOntoPlane.h
  MeshLib/Node.h
Due: none

[PL/BC/HCNonAdvective] Use Vector3d instead of RowVector3d.
  ProcessLib/BoundaryCondition/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
Due: none

[MeL|PL/LIE] Change interface of get{First/Second}SurfaceVector.
  MeshLib/Elements/FaceRule.cpp
  MeshLib/Elements/FaceRule.h
  ProcessLib/LIE/Common/Utils.cpp
Due: file-extensions

[PL/BC] Use Eigen::Vector3d instead of auto, set face normal.
  ProcessLib/BoundaryCondition/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
Due: none

[PL/BC] Mv method getOrientedSurfaceNormal to private section.
  ProcessLib/BoundaryCondition/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
Due: none

[GL/MaL] Subst./remove scalarTriple.
  GeoLib/MinimalBoundingSphere.cpp
  MathLib/MathTools.cpp
  MathLib/MathTools.h
Due: file-extensions

[MeL] Remove Vector3 from CoordinateSystem.
  MeshLib/CoordinateSystem.cpp
  MeshLib/CoordinateSystem.h
Due: file-extensions

[GL/MeL] Subst. Vector3 by Eigen::Vector3d.
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.h
  MeshLib/ElementCoordinatesMappingLocal.cpp
Due: file-extensions

[MeL] getSurfaceNormal interface change.
  MeshGeoToolsLib/GeoMapper.cpp
  MeshLib/Elements/CellRule.cpp
  MeshLib/Elements/FaceRule.cpp
  MeshLib/Elements/FaceRule.h
  MeshLib/Elements/Utils.h
  MeshLib/MeshEditing/ProjectPointOnMesh.cpp
  MeshLib/MeshSurfaceExtraction.cpp
  ProcessLib/BoundaryCondition/ConstraintDirichletBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/HCNonAdvectiveFreeComponentFlowBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/LIE/Common/Utils.cpp
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
Due: file-extensions

[MeL] Remove unused projectMeshOntoPlane.
  MeshGeoToolsLib/GeoMapper.cpp
  MeshLib/MeshEditing/projectMeshOntoPlane.h
  Tests/MeshLib/TestProjectMeshOnPlane.cpp
Due: file-extensions

[BHE/coaxial] Calculate BHE advection vectors based on the element direction.
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.cpp
Due: file-extensions

[BHE/coaxial] Add the documentation for the deviated coaxial DBHE in CXA and CXC type
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE.md
Due: none

[MatL] Set USE_MKL according to cmakes OGS_USE_MKL
  MathLib/CMakeLists.txt
Due: cmake-format

[PL] Move into solveReactionEquation.
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/Process.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[PL/CT] Call finalizeAssembly inside extrapolateIntPtToNodes
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: file-extensions

[PL/TimeLoop] Remove _chemical_solver_interface from class TimeLoop.
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/CreateTimeLoop.h
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: file-extensions

[PL] Move into setInitialConditionsConcreteProcess.
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[PL] Move out from TimeLoop::initialize.
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[PL/CT] Store in class ComponentTransportProcess
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.h
Due: file-extensions

[MeL] Cleanup includes.
  GeoLib/AnalyticalGeometry.h
  MeshGeoToolsLib/GeoMapper.cpp
  MeshLib/ElementCoordinatesMappingLocal.cpp
  MeshLib/Elements/FaceRule.h
  MeshLib/Node.h
  ProcessLib/BoundaryCondition/NormalTractionBoundaryConditionLocalAssembler.h
  ProcessLib/LIE/Common/Utils.cpp
Due: file-extensions
