Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[ML] Fixed warnings.
  MeshLib/IO/XDMF/Xdmf3Writer.h
Due: none

Moved xdmfdiff from submodule to repo.
  .gitmodules
  CMakeLists.txt
  Tests/CMakeLists.txt
  Tests/xdmfdiff/CMakeLists.txt
  Tests/xdmfdiff/xdmfdiff.cpp
  scripts/cmake/SubmoduleSetup.cmake
Due: file-extensions, cmake-format

[ci] Fixed build on eve frontends.
  MeshLib/IO/XDMF/writeHDF5.h
  ProcessLib/Output/ProcessOutput.cpp
  scripts/env/eve/cli.sh
  scripts/env/eve/mpi.sh
Due: file-extensions

[CMake] Conan Iconv is not required on Linxu.
  ThirdParty/CMakeLists.txt
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Find.cmake
Due: none

[CMake] Rename xdmf libs to avoid clash with vtk xdmf.
  MeshLib/CMakeLists.txt
  Tests/xdmfdiff/CMakeLists.txt
  ThirdParty/CMakeLists.txt
Due: cmake-format

Addressed MR comments.
  MeshLib/IO/XDMF/Xdmf3Writer.cpp
  MeshLib/IO/XDMF/Xdmf3Writer.h
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/XDMF/writeHDF5.cpp
  MeshLib/IO/writeMeshToFile.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/ProcessOutput.cpp
Due: file-extensions

[CMake] Hack: use custom FindHDF5.cmake on MSVC Conan.
  ThirdParty/CMakeLists.txt
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/conan/win-hdf5/FindHDF5.cmake
Due: none

[CMake] Fixed multiple OGS version outputs.
  scripts/cmake/GitSetup.cmake
Due: none

Fixed multiple compilation issues on MSVC.
  MeshLib/IO/XDMF/Xdmf3Writer.cpp
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/XDMF/writeHDF5.cpp
Due: file-extensions

[Conan] Update netcdf package.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Find.cmake
Due: none

[PL/THM] Remove unused function.
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
Due: none

[PL][T] Update calls to integrateStress.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture.h
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalFEM.h
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
  Tests/MaterialLib/MFront.cpp
Due: file-extensions

[MatL/S] Use variables array in solid materials.
  MaterialLib/SolidModels/CreepBGRa.cpp
  MaterialLib/SolidModels/CreepBGRa.h
  MaterialLib/SolidModels/Ehlers.cpp
  MaterialLib/SolidModels/Ehlers.h
  MaterialLib/SolidModels/LinearElasticIsotropic.cpp
  MaterialLib/SolidModels/LinearElasticIsotropic.h
  MaterialLib/SolidModels/LinearElasticOrthotropic.cpp
  MaterialLib/SolidModels/LinearElasticOrthotropic.h
  MaterialLib/SolidModels/Lubby2.cpp
  MaterialLib/SolidModels/Lubby2.h
  MaterialLib/SolidModels/MFront/MFront.cpp
  MaterialLib/SolidModels/MFront/MFront.h
  MaterialLib/SolidModels/MechanicsBase.h
Due: file-extensions

[MPL] Pass MPL::Variables array to integrateStress
  MaterialLib/SolidModels/CreepBGRa.cpp
  MaterialLib/SolidModels/CreepBGRa.h
  MaterialLib/SolidModels/Ehlers.cpp
  MaterialLib/SolidModels/Ehlers.h
  MaterialLib/SolidModels/LinearElasticIsotropic.cpp
  MaterialLib/SolidModels/LinearElasticIsotropic.h
  MaterialLib/SolidModels/LinearElasticOrthotropic.cpp
  MaterialLib/SolidModels/LinearElasticOrthotropic.h
  MaterialLib/SolidModels/Lubby2.cpp
  MaterialLib/SolidModels/Lubby2.h
  MaterialLib/SolidModels/MFront/MFront.cpp
  MaterialLib/SolidModels/MFront/MFront.h
  MaterialLib/SolidModels/MechanicsBase.h
Due: file-extensions

[T] Update integrateStress calls.
  Tests/MaterialLib/MFront.cpp
Due: file-extensions

[PL] M pcs: Pass var. arrays to integrateStress.
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalFEM.h
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
Due: none

[ci] Added Linux build job without Unity build.
  scripts/ci/jobs/build-linux.yml
Due: none

[CL] Bugfix for surface soprtion process.
  ChemistryLib/PhreeqcIO.cpp
Due: file-extensions

[CL] Fix output of secondary variables.
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIOData/CreateUserPunch.cpp
  ChemistryLib/PhreeqcIOData/UserPunch.cpp
  ChemistryLib/PhreeqcIOData/UserPunch.h
Due: file-extensions

[CL] Remove unnecessary if-condition statements.
  ChemistryLib/PhreeqcIOData/ChemicalSystem.cpp
Due: file-extensions

[web] Added video tutorial by Dominik and Christian.
  web/content/docs/tools/getting-started/video-tutorial/OGSinput_basin.prj
  web/content/docs/tools/getting-started/video-tutorial/glacierclass.py
  web/content/docs/tools/getting-started/video-tutorial/history.sh
  web/content/docs/tools/getting-started/video-tutorial/index.md
  web/content/docs/tools/getting-started/video-tutorial/mesh_basin.msh
  web/content/docs/tools/getting-started/video-tutorial/mesh_basin.py
  web/content/docs/tools/getting-started/video-tutorial/timeBCs_glacier.py
Due: none

[MeL/Elements/Element] computeSqrNodeDistanceRange doesn't need to be virtual.
  MeshLib/Elements/Element.h
Due: none

[PL/RM] Remove unused variable from argument list.
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: none

[PL/RM] Avoid variable shadowing in lambda.
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: none

[PL/RM] Rewrite elastic tangent stiffness calc.
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: none

[PL/RM] Reduce sigma_sw write access. Add p_FR.
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: none

[PL] Perturb xdot in central differences Jacobian.
  ProcessLib/CentralDifferencesJacobianAssembler.cpp
  ProcessLib/CentralDifferencesJacobianAssembler.h
Due: file-extensions

typo corrected
  web/content/docs/devguide/getting-started/gitlab.md
Due: none

[web] Upgraded to tailwindcss v2.
  web/archetypes/books.md
  web/assets/css/main.css
  web/content/books/bmb-2.md
  web/content/books/bmb-3.md
  web/content/books/bmb-4.md
  web/content/books/computational-geotechnics-i.md
  web/content/books/computational-hydrology-i-groundwater-flow-modeling.md
  web/content/books/computational-hydrology-ii.md
  web/content/books/computational-hydrology-iii.md
  web/content/books/geoenergy-modeling-i.md
  web/content/books/geoenergy-modeling-ii.md
  web/content/books/geoenergy-modeling-iii.md
  web/content/books/models-of-thermochemical-heat-storage.md
  web/layouts/partials/components/news.html
  web/layouts/partials/nav-bar.html
  web/layouts/partials/releases-single.html
  web/layouts/publications/single.html
  web/package.json
  web/postcss.config.js
  web/tailwind.config.js
  web/yarn.lock
Due: none

[ci] Fix syntax of compiler warnings job.
  scripts/ci/jobs/checks.yml
Due: none

[ML] Fixed warning.
  MeshLib/IO/XDMF/writeHDF5.cpp
Due: file-extensions

[cmake] Suppress xdmf compiler warnings.
  ThirdParty/CMakeLists.txt
Due: none

[MeL/Elements] Free getCenterOfGravity.
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/TetGenInterface.cpp
  MeshLib/Elements/CellRule.cpp
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/MeshEditing/RasterDataToMesh.cpp
  MeshLib/MeshGenerators/LayeredVolume.cpp
  ProcessLib/LIE/Common/FractureProperty.h
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
Due: file-extensions

[MeL/Elements] Free computeSqrNodeDistanceRange.
  MeshGeoToolsLib/GeoMapper.cpp
  MeshGeoToolsLib/HeuristicSearchLength.cpp
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
Due: file-extensions

[MeL/Elements/Element] computeSqrEdgeLengthRange doesn't need to be a member.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  MeshLib/MeshQuality/RadiusEdgeRatioMetric.cpp
Due: file-extensions

[MeL/Elements] Free hasZeroVolume.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  MeshLib/Elements/HexRule8.cpp
  MeshLib/Elements/LineRule2.cpp
  MeshLib/Elements/PointRule1.cpp
  MeshLib/Elements/PrismRule6.cpp
  MeshLib/Elements/PyramidRule5.cpp
  MeshLib/Elements/QuadRule4.cpp
  MeshLib/Elements/TetRule4.cpp
  MeshLib/Elements/TriRule3.cpp
Due: file-extensions

[MeL/Elements] Impl. hasNeighbor as free fct. areNeighbors.
  MeshLib/Elements/Element.cpp
  MeshLib/Elements/Element.h
  Tests/MeshLib/TestLineMesh.cpp
  Tests/MeshLib/TestQuadMesh.cpp
  Tests/MeshLib/TestTriLineMesh.cpp
Due: file-extensions

[ci] Upgrade nodejs to 12 for tailwindcss v2 build.
  scripts/docker/Dockerfile.web
Due: none

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
