Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

[T] Relax tolerance.
  Tests/Data/RichardsMechanics/A2.prj
Due: none

[py] Update GreatCell notebook with 0.8.0 OGSTools
  Tests/Data/HMPhaseField/GreatCell/GreatCellHM_VPF.py
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/great_cell_LIE.py
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/GreatCellHM.py
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM1_HM.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2a_LIE.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2b_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCellM.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M1_SD.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M2_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/Plotter.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/mesh_generator.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/ogs_model_runner.py
Due: none

[py] Update Kregime Static and Propagating notebooks
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating.prj
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.py
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static_jupyter.py
Due: none

[py] Update McWorther interactive notebook, start from fully defined prj - file
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_TwoPhasePP.prj
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_interactive.py
Due: none

[py] Update CreepAfterExcavation notebook
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/creep-after-excavation.py
Due: none

[py] Split DFNbyPorePy into 2 separate notebooks and update
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy_to_OGS.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/mixed_dimensional_grid_2.vtu
Due: git-diff-check

[py] Update uv lock
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
  uv.lock
Due: git-diff-check

[py] ogstools.plot.line with explicitly defined axes
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy_to_OGS.py
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/DiffusionSorptionDecay.py
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/MultiLayerDiffusion.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.py
Due: none

[py] Update Seabed Response notebook and prj files for OGSTools 0.8.0
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.py
  Tests/Data/HydroMechanics/SeabedResponse/seabed_response_200x100.prj
Due: none

[py] Update pororityIncrease notebook and prj file
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/PorosityIncrease.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/porosityIncrease_hc.prj
Due: none

[py] Update bbar notebook
  Tests/Data/Mechanics/EvaluatingBbarWithSimpleExamples/evaluating_bbbar_with_simple_examples.py
Due: none

[py,docs] Update Python tutorial (transport) with OGSTools 0.8.0
  web/content/docs/tutorials/transport_tutorial/notebook-transport_tutorial.py
Due: git-diff-check

[py] Update FOS_SlopeStability notebook and files and meshes
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/bench.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/bottom.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/domain.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/left.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/physical_group_domain.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/right.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/slope.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/top_all.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/mesh/top_load.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/slope.prj
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/slope_mesh_stage.py
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/slope_postprocessing.py
Due: none

[py] Update ReleaseNodalForceKirsch benchmarks
  Tests/Data/Mechanics/ReleaseNodalForceKirsch/kirsch.py
  Tests/Data/Mechanics/ReleaseNodalForceKirsch/mesh.py
  Tests/Data/Mechanics/ReleaseNodalForceKirsch/mpi_parallel_run_kirsch.py
Due: none

[py] Update DiscWithHole_convergence_study notebook
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/Linear_Disc_with_hole_convergence_analysis.py
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_16.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_24.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_240.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_40.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_60.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_8.prj
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/disc_with_hole_idx_is_80.prj
Due: none

Clean up
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/mesh_generator.py
  Tests/Data/Mechanics/SofteningExcavation/softening_excavation.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy_to_OGS.py
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.py
Due: none

fix(T): set offscreen rendering in all notebooks
  Tests/Data/Notebooks/testrunner.py
Due: none

[py] Add plotting to GreatCell benchmark
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCellM.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/mesh_generator.py
Due: none

[py] toml with 0.8.1 ogstools, update uv.lock
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
Due: none

[py] Fix pytest - now using ogstools 0.8.0
  Tests/Data/Mechanics/MohrCoulombAbboSloan/FOS_SlopeStability/slope_mesh_stage.py
  Tests/Python/EmbeddedAnchors/test_error_msg.py
  Tests/Python/EmbeddedAnchors/test_natural_coordinates_anchors.py
  Tests/Python/EmbeddedAnchors/test_number_of_intersections_anchors.py
  Tests/Python/test_bhe_advanced_building_power_curves.py
Due: git-diff-check

(CTest#TRM): Increase the result comparison tolerances
  Tests/Data/Mechanics/Linear/square_1e2_quad8_traction_top.prj
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
Due: none

fix(T/THM): Slightly relax ctest tolerance [ci skip]
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/M/square_1e1_2_matIDs_restart.xml
Due: none

[ci] Fix test linux wheel via notebooks.
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[notebooks] fix simple mechanics plot
  Tests/Data/Mechanics/Linear/SimpleMechanics.py
Due: none

[T] Moved glaciation tutorial test to pytest.
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
  Tests/Python/test_glacier_tutorial.py
  scripts/ci/jobs/jupyter.yml
  web/content/docs/tutorials/advancing-glacier/.gitignore
  web/content/docs/tutorials/advancing-glacier/OGSinput_basin.prj
  web/content/docs/tutorials/advancing-glacier/index.md
  web/content/docs/tutorials/advancing-glacier/timeBCs_glacier.py
Due: git-diff-check

[win] Activate venv in .envrc.ps1
  scripts/ci/extends/template-build-win.yml
  scripts/cmake/GenerateEnvrcFile.cmake
Due: git-diff-check

[T] Skip test_glacier_tutorial.py on Windows.
  Tests/Python/test_glacier_tutorial.py
Due: git-diff-check

chores(web): fix white spaces; apply mdlint fixes
  web/content/docs/tools/geometries/MoveGeometry/index.md
  web/content/docs/tools/meshing-submeshes/ExtractMaterials/index.md
  web/content/docs/tools/meshing/MoveMesh/index.md
  web/content/docs/tools/preprocessing/EditMaterialID/index.md
  web/content/docs/tools/preprocessing/convertToLinearMesh/index.md
  web/content/docs/userguide/features/_index.md
Due: git-diff-check

feat(MatL): Support start:end ranges for media ids
  MaterialLib/Utils/MediaCreation.cpp
  MaterialLib/Utils/MediaCreation.h
  Tests/MaterialLib/TestSplitMaterialIdString.cpp
Due: git-diff-check, file-extensions, git-clang-format

test: Use ranges in material ids specifications
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_newton.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/xdmf/cube_1e4_anisotropic.prj
  Tests/Data/EllipticPETSc/cube_1x1x1_SteadyStateDiffusion/2/cube_1e4_anisotropic.prj
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches2.prj
Due: none

test(MatL): add parseMaterialIdString with materialIDs property vector
  Tests/MaterialLib/TestSplitMaterialIdString.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BL/MPL): Move parseInteger to BaseLib
  BaseLib/StringTools.cpp
  BaseLib/StringTools.h
  MaterialLib/Utils/MediaCreation.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(BL): Simple tests for parseInteger function
  Tests/BaseLib/TestStringTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[doxygen] Re-add ctest project file root in sidebar.
  scripts/doc/linked-xml-file.py
Due: git-diff-check

fix(CTest#LIS): Enable some benchmarks again for LIE/M, LIE/HM, H and R.
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  ProcessLib/LIE/SmallDeformation/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/RichardsFlow/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/HM2b_LIE_F.prj
Due: git-diff-check

refactor(Tests.cmake): Disable more benchmarks those for PETSc for LIS as well
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

fix(CTest#LIS#T): Enable two benchmarks again.
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/HeatTransportBHE/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Parabolic/T/3D_BHE_Sandwich/sandwich.prj
Due: git-diff-check

fix(CTest#LIS#TRM): Enable two benchmarks again.
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/Simple3DThermoMechanicsFromTM/cube_1e3.prj
Due: git-diff-check

fix(pytest) Exclude the ogs LIS build from the test_concurrent_ogs_runs.py
  Applications/Python/ogs/CMakeLists.txt
  Tests/Python/test_concurrent_ogs_runs.py
Due: git-diff-check

fix(CTest#LIS#TH2M): Enable three benchmarks.
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/H2M/Liakopoulos/liakopoulos_TH2M.prj
  Tests/Data/TH2M/H2M/Liakopoulos/liakopoulos_newton.xml
  Tests/Data/TH2M/H2M/StrainDependentPermeability/Strain_Dependent_Permeability_Test.prj
Due: git-diff-check
