Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[NL] Added localDOF() implementation
  NumLib/DOF/LocalDOF.h
Due: git-diff-check, git-clang-format

[PL] Use localDOF() in THM
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

Adding Kregime hydraulic fracturing-J. notebook
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating.prj
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.ipynb
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/figures/AT1_VolDev_h0p001.png
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/figures/Model_propagating_straight.png
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/figures/error_AT1_VolDev_h0p001.png
Due: git-diff-check

[HC] Refactored the implementation of the isotropic diffusion stability
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[web] Update release procedure.
  .mailmap
  web/content/docs/devguide/procedures/publish-a-release/index.md
Due: git-diff-check

[ci] Test artifacts for linux ctest large job.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[MeL/IO/MPI_IO] Comment for better understanding
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/IO/MPI_IO] Rank output already in spdlog
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/IO/MPI_IO] Reduce scope of mesh
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Removed unused prj file.
  Tests/Data/EllipticPETSc/cube_1x1x1_SteadyStateDiffusion/cube_1e4_anisotropic.prj
Due: none

[T] Cleanup in SteadyStateDiffusion/Tests.cmake.
  ProcessLib/SteadyStateDiffusion/Tests.cmake
Due: git-diff-check

[wheel,web] Use env var CMAKE_ARGS to override CMake preset for wheel.
  pyproject.toml
  setup.py
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

[cmake] Honor CMAKE_BUILD_PARALLEL_LEVEL when building PETSc or LIS.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[T/SD] Excavation replace reference
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_0_t_0.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_10_t_2.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_11_t_2.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_12_t_3.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_13_t_3.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_14_t_3.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_15_t_3.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_16_t_3.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_17_t_4.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_18_t_4.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_19_t_4.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_1_t_0.500000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_20_t_4.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_21_t_4.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_22_t_5.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_23_t_5.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_24_t_5.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_25_t_5.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_26_t_5.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_27_t_6.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_28_t_6.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_29_t_6.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_2_t_1.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_30_t_6.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_31_t_6.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_32_t_7.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_33_t_7.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_34_t_7.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_35_t_7.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_36_t_7.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_37_t_8.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_3_t_1.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_4_t_1.400000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_5_t_1.600000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_6_t_1.800000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_7_t_2.000000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_8_t_2.200000.vtu
  Tests/Data/Mechanics/Excavation/time_linear_excavation_A2_ts_9_t_2.400000.vtu
Due: none

[PL/SD] Rename primary variables locally
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format

[T/SD] Slightly relax vtkdiff tolerances
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs.prj
  Tests/Data/Mechanics/Linear/PythonPiston/piston.prj
  Tests/Data/Mechanics/ModifiedCamClay/model_triaxtest.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_biax.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
Due: none

[PL/SD] Calculate eps prev instead of storing it
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format

[MaL] Slightly relax assertion tol for deviators
  MathLib/KelvinVector-impl.h
Due: git-diff-check, git-clang-format

[PL/SD] Use localDOF access
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format

[web] Removed subsection settings (are already defaults).
  web/content/docs/devguide/_index.md
  web/content/docs/tools/_index.md
Due: git-diff-check

[web] Added subsection parameter sort_alphabetically (default to false).
  web/content/docs/_index.md
  web/layouts/docs/subsections.html
  web/layouts/partials/docs/sidebar.html
Due: git-diff-check

[web] Sort benchmark subsections alphabetically.
  web/content/docs/benchmarks/_index.md
Due: git-diff-check

[wheel] Print warning when CMAKE_ARGS given and preset is overridden.
  setup.py
Due: git-diff-check

[T/TM] Slightly relax ctest sigma tolerance
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_2Dload/m2_2Dload_ym45.prj
Due: none

[T] Make Eigen test predicate work with NaNs
  Tests/TestTools.h
Due: git-diff-check, git-clang-format

[T] Test Eigen predicate with NaNs
  Tests/TestTestTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Removed boost-mp11 from cpm (is part of Boost itself).
  .gitmodules
  MaterialLib/CMakeLists.txt
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  NumLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  Tests/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

Bumped Boost minimum to 1.73.0 for mp11.
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[web] Fixed data_explorer_manual links (repo was moved).
  Documentation/mainpage.dox.in
  web/config/_default/config.toml
  web/content/docs/tools/getting-started/overview/index.md
  web/content/docs/tools/preprocessing/IntegrateBoreholesIntoMesh/index.md
Due: git-diff-check

[cmake] Use proper Eigen version 3.4.0 if OGS_USE_EIGEN_UNSUPPORTED=OFF.
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[T] Fix eigen unsupported benchmarks requirements.
  ProcessLib/SteadyStateDiffusion/Tests.cmake
Due: git-diff-check

[ML] Fix EigenLinearSolver on Eigen 3.4.0
  MathLib/LinAlg/Eigen/EigenLinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Fix order of eigen options.
  CMakeLists.txt
Due: git-diff-check

[Doc] Add para doc of water saturation temperature.
  Documentation/ProjectFile/properties/property/t_WaterSaturationTemperatureIAPWSIF97Region4.md
Due: git-diff-check

[UnitTest] Water saturation temperature in IAPWSIF97 region4.
  Tests/MaterialLib/TestMPLWaterSaturationTemperature.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL/Water] Add the calculation of water saturation temperature in region4.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateWaterSaturationTemperatureIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/CreateWaterSaturationTemperatureIAPWSIF97Region4.h
  MaterialLib/MPL/Properties/WaterSaturationCurveIAPWSIF97Region4.h
  MaterialLib/MPL/Properties/WaterSaturationTemperatureIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/WaterSaturationTemperatureIAPWSIF97Region4.h
  MaterialLib/MPL/PropertyType.h
Due: git-diff-check, file-extensions, git-clang-format

[ci] Introduced MR label ci::unit_tests.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

[cmake] Added locking for concurrent write actions for ext deps.
  scripts/cmake/BuildExternalProject.cmake
Due: git-diff-check
