Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[PL/THM] New state variables for ice mechanics
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL/THM] Implementation of ice mechanics
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/THM] Ice volume secondary variable output
  ProcessLib/ThermoHydroMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Fix previously made incorrect replacement
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Doc/HT] Parameter documentation for aperture.
  Documentation/ProjectFile/prj/processes/process/HT/aperture_size/i_aperture_size.md
  Documentation/ProjectFile/prj/processes/process/HT/aperture_size/t_parameter.md
Due: git-diff-check

[HT] enable fracture flow.
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HT/HTProcessData.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[CMake,MFront] Build behaviours lib externally via mfront executable.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

[cmake] Reorder CMake code a bit.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

[cmake] Added note on enabling warnings for mfront behaviours lib.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

[ci] Manual job test notebooks via wheel in wheel pipeline.
  scripts/ci/jobs/build-wheels.yml
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[T/HT] Move test def into prj. Tight tols.
  ProcessLib/HT/Tests.cmake
  Tests/Data/Parabolic/HT/LowerDimensionalFracture/2D_single_fracture_HT.prj
Due: git-diff-check

[T/TM] Reflect actually taken time steps in config
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D1bt/m2_1D1bt.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1Dcreep/m2_1Dcreep.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1Dlozenge/m2_1Dlozenge.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1Dlozengebt/m2_1Dlozengebt.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_2Dload/m2_2Dload.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_2Dloadbt/m2_2Dloadbt.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_3Dload/m2_3Dload.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_3Dloadbt/m2_3Dloadbt.prj
Due: none

[PL/CT] Rewrite search. Test for size, renames
  ProcessLib/ComponentTransport/LookupTable.cpp
  Tests/ProcessLib/ComponentTransport/TestLookupTable.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/CT] Test the getBoundingSeedPoints
  Tests/ProcessLib/ComponentTransport/TestLookupTable.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Reflect actually taken time steps in config
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos.prj
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_restart.xml
  Tests/Data/ThermoRichardsMechanics/LiakopoulosPETSc/liakopoulos_mixElem_mumps.prj
Due: none

[T/RM] Reflect actually taken time steps in config
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos.prj
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos_QN.prj
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos_restart.xml
Due: none

[T/TH2M] Reflect actually taken time steps in config
  Tests/Data/TH2M/H2M/Liakopoulos/liakopoulos_TH2M.prj
Due: none

Added triaxial creep test.
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/GuentherSalzer/geometry_bottom.vtu
  Tests/Data/Mechanics/GuentherSalzer/geometry_left.vtu
  Tests/Data/Mechanics/GuentherSalzer/geometry_right.vtu
  Tests/Data/Mechanics/GuentherSalzer/geometry_top.vtu
  Tests/Data/Mechanics/GuentherSalzer/model_triaxial_test.prj
  Tests/Data/Mechanics/GuentherSalzer/triaxial_test_output_t_0.340000.vtu
Due: git-diff-check

Fixed parameter set for Asse.
  MaterialLib/SolidModels/MFront/GuentherSalzerDilatancy_semi_expl.mfront
Due: git-diff-check

Renamed triax uniaxial to fit test conditions.
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/GuentherSalzer/model_uniaxial_test.prj
  Tests/Data/Mechanics/GuentherSalzer/uniaxial_test_output_ts_199_t_199.000000.vtu
Due: git-diff-check

Added GuentherSalzer with damage.
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  MaterialLib/SolidModels/MFront/GuentherSalzerDilatancy_semi_expl.mfront
Due: git-diff-check

[T/M] Guenther-Salzer triax test Paraview state
  Tests/Data/Mechanics/GuentherSalzer/plot_triax_dev.pvsm
Due: none

Added time stepping variants for debugging.
  Tests/Data/Mechanics/GuentherSalzer/model_triaxial_test_adaptive_runs.xml
  Tests/Data/Mechanics/GuentherSalzer/model_triaxial_test_fixed_runs.xml
Due: none

[web] Fixed a link.
  web/content/docs/benchmarks/small-deformations/ModifiedCamClay/index.md
Due: git-diff-check

created mesh generation menu
  Applications/DataExplorer/mainwindow.ui
Due: git-diff-check

dialogue text clarifications
  Applications/DataExplorer/DataView/Layers2Grid.ui
  Applications/DataExplorer/DataView/Layers2GridDialog.cpp
  Applications/DataExplorer/DataView/MeshView.cpp
  Applications/DataExplorer/DataView/Vtu2Grid.ui
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/RM] Reflect actually taken time steps in config
  Tests/Data/RichardsMechanics/deformation_dependent_porosity.prj
Due: none

[T/TH2M] Reflect actually taken time steps in config
  Tests/Data/TH2M/TH/idealGasLaw/compression_gas.prj
Due: none

[T/THM] Reflect actually taken time steps in config
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM.prj
Due: none

[T/M] Reflect actually taken time steps in config
  Tests/Data/Mechanics/EhlersDamageNonLocal/bar/t2/bar.prj
Due: none

[T/LF] Reflect actually taken time steps in config
  Tests/Data/Parabolic/LiquidFlow/Verification/h2_1D2bt/h2_1D2bt.prj
Due: none

[web] vale Layers2Grid.
  web/content/docs/tools/meshing/Layers2Grid/index.md
Due: git-diff-check

[vale] Fixed remaining issues.
  web/content/docs/benchmarks/elliptic/elliptic-neumann/index.md
  web/content/docs/benchmarks/heat-transport-bhe/pipe_flow_EBHE/index.md
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/index.md
  web/content/docs/benchmarks/thermo-hydro-mechanics/massbalance_with_freezing/index.md
  web/content/docs/processes/component-transport/hydro-component/index.md
  web/content/docs/processes/thermal-processes/TRM/index.md
  web/content/docs/userguide/basics/conventions/index.md
  web/content/docs/userguide/basics/jupyter-notebooks/index.md
  web/content/docs/userguide/blocks/time_loop.md
  web/content/docs/userguide/features/mfront.md
Due: git-diff-check

[vale] Accept Kitware, CTest, Ramey.
  Documentation/.vale/Vocab/ogs/accept.txt
Due: git-diff-check

[web] vale 'SGrid'
  Documentation/.vale/Vocab/ogs/accept.txt
  web/content/docs/tools/fileio/GocadTSurfaceReader/index.md
Due: git-diff-check

[vale] Accept BGR, BHE, FEFLOW.
  Documentation/.vale/.vale-config/0-Hugo.ini
  Documentation/.vale/Vocab/ogs/accept.txt
  Documentation/.vale/Vocab/ogs/ignore.txt
Due: git-diff-check

[web] markdownlint TIN2VTK.
  web/content/docs/tools/fileio/TIN2VTK/index.md
Due: git-diff-check

[vale] Ignore Hugo links.
  .vale.ini
Due: git-diff-check

[cppcheck] make-target now correctly uses cppcheck.sh.
  scripts/cmake/CppCheck.cmake
Due: git-diff-check
