Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[CMake] Moved definition OGS_USE_MFRONT.
  CMakeLists.txt
  MaterialLib/CMakeLists.txt
Due: cmake-format

[CMake] Removed definition PETSC_VERSION_NUMBER.
  MathLib/LinAlg/PETSc/PETScLinearSolver.cpp
  scripts/cmake/Find.cmake
Due: file-extensions

Removed Travis leftover.
  scripts/cmake/CCacheSetup.cmake
Due: none

[CMake] Moved definition USE_LIS.
  Applications/ApplicationsLib/CMakeLists.txt
  CMakeLists.txt
  MathLib/CMakeLists.txt
Due: cmake-format

[CMake] Fixed definition USE_PETSC.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/CLI/CMakeLists.txt
  BaseLib/CMakeLists.txt
  MathLib/CMakeLists.txt
  MeshLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
Due: cmake-format

[ci] Enable python on linux no unity job.
  scripts/ci/jobs/build-linux.yml
Due: none

[CMake] Cleanup.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/CLI/CMakeLists.txt
  BaseLib/CMakeLists.txt
  MathLib/CMakeLists.txt
  MeshLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
Due: cmake-format

<MPL> medium throws an error if a property is not defined in the input file
  MaterialLib/MPL/Medium.cpp
Due: file-extensions

[T] Update partitioned file.
  Tests/Data/EllipticPETSc/square_1x1_left_partitioned_msh_nod2.bin
Due: none

[T] Reference file update - ghost node data change.
  Tests/Data/EllipticPETSc/square_1e1_neumann_ts_1_t_1_000000.pvtu
  Tests/Data/EllipticPETSc/square_1e1_neumann_ts_1_t_1_000000.vtu
  Tests/Data/EllipticPETSc/square_1e1_neumann_ts_1_t_1_000000_0.vtu
  Tests/Data/EllipticPETSc/square_1e1_neumann_ts_1_t_1_000000_1.vtu
Due: none

[MaL] Code impr. in calcProjPntToLineAndDists.
  MathLib/MathTools.cpp
Due: file-extensions

[MeL/MeshQuality] Use template instead of special impl.
  MeshLib/MeshQuality/AngleSkewMetric.cpp
  MeshLib/MeshQuality/AngleSkewMetric.h
Due: file-extensions

[MeL/MQ] Move private methods into unnamed ns.
  MeshLib/MeshQuality/AngleSkewMetric.cpp
  MeshLib/MeshQuality/AngleSkewMetric.h
Due: file-extensions

[MeL/MQ] Use for-range loop in calculateQuality().
  MeshLib/MeshQuality/AngleSkewMetric.cpp
Due: file-extensions

[MaL] Use Eigen in getAngle computation.
  MathLib/MathTools.cpp
  MathLib/MathTools.h
Due: file-extensions

[MeL/MeshQuality] Use new MathLib::getAngle interface.
  MeshLib/MeshQuality/AngleSkewMetric.cpp
Due: file-extensions

[MeL/MeshQuality] Rework AngleSkewMetric criterion.
  MeshLib/MeshQuality/AngleSkewMetric.cpp
  MeshLib/MeshQuality/AngleSkewMetric.h
Due: file-extensions

[Warning] Fixed a warning in BaseLib/ConfigTreeUtil.cpp
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

Added missing changelog for 6.3.2.
  web/content/releases/6.3.2.md
Due: none

Changelog for 6.3.3.
  .gitignore
  CHANGELOG.md
  web/content/docs/devguide/procedures/publish-a-release.md
  web/content/releases/6.3.3.md
Due: none

[CMake] Fixed package naming.
  scripts/cmake/packaging/Pack.cmake
Due: none

[ci] Automatically create GitLab release.
  .gitlab-ci.yml
  scripts/ci/jobs/release.yml
Due: none

correct order and format for property-related headers
  MaterialLib/MPL/PropertyType.h
Due: none

<MPL> Vapor pressure property
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/ClausiusClapeyron.cpp
  MaterialLib/MPL/Properties/ClausiusClapeyron.h
  MaterialLib/MPL/Properties/CreateClausiusClapeyron.cpp
  MaterialLib/MPL/Properties/CreateClausiusClapeyron.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/PropertyType.h
  MaterialLib/MPL/VariableType.h
  Tests/MaterialLib/TestMPLClausiusClapeyron.cpp
Due: file-extensions

Docu added
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/c_ClausiusClapeyron.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_critical_pressure.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_critical_temperature.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_reference_pressure.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_reference_temperature.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_triple_pressure.md
  Documentation/ProjectFile/properties/property/ClausiusClapeyron/t_triple_temperature.md
Due: none

[web] Added missing release notes for 6.3.2
  web/content/releases/6.3.2.md
Due: none

Release follow-up.
  .gitlab-ci.yml
  scripts/ci/jobs/release.yml
  web/content/docs/devguide/procedures/publish-a-release.md
  web/content/releases/6.3.3.md
Due: none

[web] Added links to latest-doxygen.opengeosys.org.
  Documentation/mainpage.dox.in
  README.md
  web/config/_default/config.toml
Due: none

[baselib] reading string list from file
  Applications/Utils/MeshEdit/createLayeredMeshFromRasters.cpp
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  BaseLib/IO/readStringListFromFile.cpp
  BaseLib/IO/readStringListFromFile.h
Due: file-extensions

added test
  BaseLib/IO/readStringListFromFile.h
  Tests/BaseLib/TestReadStringListFromFile.cpp
Due: file-extensions

[THM/local assembler] Replaced shape function N_p with N_T in a matrix assembly
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: none

[A/U/ME] Clang fmt checkMesh.
  Applications/Utils/MeshEdit/checkMesh.cpp
Due: file-extensions

[A/IO/CsvInterface] Clang format.
  Applications/FileIO/CsvInterface.cpp
  Applications/FileIO/CsvInterface.h
Due: file-extensions

[T/MeL] Remove unused include "DenseMatrix.h".
  Applications/FileIO/Gmsh/GMSHInterface.h
  Tests/GeoLib/TestSurfaceIsPointInSurface.cpp
  Tests/MeshLib/TestCoordinatesMappingLocal.cpp
Due: file-extensions

[A/DE] Fix deprecated warning in mainwindow.
  Applications/DataExplorer/mainwindow.cpp
Due: file-extensions

[A/IO] Add namespace std before getline.
  Applications/FileIO/CsvInterface.cpp
Due: file-extensions

[GL] Change interface of computeRotationMatrixToXY.
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/AnalyticalGeometry.h
  MeshGeoToolsLib/MeshEditing/MarkNodesOutsideOfPolygon.h
  MeshLib/ElementCoordinatesMappingLocal.cpp
  Tests/GeoLib/TestComputeRotationMatrix.cpp
Due: file-extensions

[GL] Namespace std before sqrt.
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/GEOObjects.h
  GeoLib/Grid.h
Due: file-extensions
