Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full]
  # A variant of the ruff hook above that automatically applies proposed fixes.
  # Runs only manually.
  # Run this hook (and all other manual hooks if any) with:
  # pre-commit run --hook-stage manual
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full, --fix, --exit-non-zero-on-fix]
        stages: [manual]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

fix(T): local Newton settings
  Tests/Data/Mechanics/Ehlers/MFront/cube_1e0_dp.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
  Tests/Data/Mechanics/Ehlers/cube_1e0.prj
  Tests/Data/Mechanics/Ehlers/cube_1e0_SNES.prj
  Tests/Data/Mechanics/Ehlers/cube_1e0_dp.prj
  Tests/Data/Mechanics/Ehlers/cube_1e1.prj
  Tests/Data/Mechanics/Ehlers/cube_1e3.prj
  Tests/Data/TH2M/M/MultiMaterialEhlers/square_1e1_2_matIDs.prj
  Tests/Data/TH2M/M/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/M/square_1e1_2_matIDs.prj
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/TM/square_1e1_2_matIDs.prj
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs.prj
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

[cmake] Update CPM to 0.42.0
  scripts/cmake/CPM.cmake
Due: git-diff-check

[cmake] External project: pass CMAKE_GENERATOR_PLATFORM and Visual Studio parallel arg.
  scripts/cmake/BuildExternalProject.cmake
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[ci] Add /m flag on msvc builds.
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

[cmake] Update pybind to 2.13.6
  web/data/versions.json
Due: git-diff-check

[ci] build mac petsc requires petsc runner label.
  scripts/ci/jobs/build-mac-petsc.yml
Due: git-diff-check

[ci] build mac petsc enable mfront.
  scripts/ci/jobs/build-mac-petsc.yml
Due: git-diff-check

[ci] preview web site uses build linux petsc job.
  scripts/ci/jobs/web-preview.yml
  scripts/ci/pipelines/web.yml
Due: git-diff-check

[web] Typo.
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

[ci] Fix win package build.
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

[web] Fix hub layout on smaller screens.
  web/layouts/hub/list.html
Due: git-diff-check

Revert "[T/SD] restart; Disable epsilon cmp of 1st ts"
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
Due: none

fix: automatic ruff check fixes of unused vars
  Applications/Python/ogs/dev/ogs_log_summary.py
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion_Python/sin_x_sin_y_source_term.py
  Tests/Data/HydroMechanics/GroundEquilibrium/pythonBCsOGS.py
  Tests/Data/Mechanics/HoekBrown/HoekBrownYieldCriterion.py
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/Linear_Disc_with_hole_convergence_analysis.py
  Tests/Data/Mechanics/Linear/PythonHertzContact/hertz_contact_bc.py
  Tests/Data/Mechanics/Linear/PythonPiston/piston_bc.py
  Tests/Data/Parabolic/ComponentTransport/elder/elder-python-bcs.py
  Tests/Data/PhaseField/surfing/Surfing_python.py
  Tests/Data/RichardsMechanics/DoubleStructureBenchmark/pythonBC_double_porosity_swelling.py
  Tests/Data/TH2M/H2/mcWhorter_interactive/helper.py
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/source_term.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/ogs_and_mfront.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/plot_compare.py
  web/content/docs/tutorials/advancing-glacier/timeBCs_glacier.py
Due: git-diff-check

build: update ruff to v0.13.0
  .pre-commit-config.yaml
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

fix: Unused `noqa` directive PD901
  Tests/Data/Parabolic/T/1D_neumann/plotLine.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy_closedloop.py
  Tests/Data/Parabolic/T/3D_3BHEs_array_python_interface/bcs_tespy_and_serverCommunication.py
Due: none

[T] Fix HM2b_LIE_F.prj ctest. Follow-up on !5417
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/point_injection_embedded_fracture_F_PMMA_ts_67_t_2500.000000.vtu
Due: git-diff-check

[T] Second fix HM2b_LIE_F.prj ctest. Follow-up on !5417
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/HM2b_LIE_F_Greywacke_ts_69_t_3500.000000.vtu
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/point_injection_embedded_fracture_F_PMMA_ts_67_t_2500.000000.vtu
Due: git-diff-check

[T] Relax tolerances.
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

[App] Don't output explicitely in Simulation::executeTimeStep()
  Applications/ApplicationsLib/Simulation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use string_view instead of string as arg to Properties::hasPropertyVector()
  MeshLib/Properties-impl.h
  MeshLib/Properties.h
Due: git-diff-check, git-clang-format

[App|Simulation] Call Sim::outputLastTimeStep() in finalize() instead of Sim::executeTimeStep()
  Applications/ApplicationsLib/Simulation.cpp
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App|ProjectData,Simulation] Impl. access to names of OGS internal meshes
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check, file-extensions, git-clang-format

[App|Python] Wrap access to names of OGS internal meshes
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Wrap Simulation into OGSSimulation class
  Applications/Python/CMakeLists.txt
  Applications/Python/ogs.OGSSimulator/CMakeLists.txt
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
  Applications/Python/ogs.simulator/CMakeLists.txt
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Python|OGSMesh] Rework OGSMesh and python wrapping
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Rename mesh pybind11 bindings to ogstools name conventions
  Applications/Python/CMakeLists.txt
  Applications/Python/ogs.OGSMesh/CMakeLists.txt
  Applications/Python/ogs.OGSMesh/OGSMesh.cpp
  Applications/Python/ogs.OGSMesh/OGSMesh.h
  Applications/Python/ogs.OGSMesh/ogs_mesh_python_module.cpp
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
  Applications/Python/ogs/__init__.py
  Tests/Python/test_simulator.py
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check, file-extensions, git-clang-format

Fix the CI testing the python bindings
  Applications/Python/ogs/__init__.py
  Tests/Python/test_simulator.py
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check

[App/Python] Rename pybind11 bindings to ogstools name conventions
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Tests/Python/test_simulator.py
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check, file-extensions, git-clang-format

[T] Use new OGSSimulator package in simulator tests
  Tests/Python/test_simulator.py
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check

[T] Use new OGSSimulator package in tests
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
Due: git-diff-check, file-extensions, git-clang-format

Normalize co sim function names
  Applications/Python/ogs.OGSMesh/ogs_mesh_python_module.cpp
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Cleanup and constification
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Tests/Python] Adjust ruff noqa settings for test
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check

[guix] Packages ogs-serial and ogs-petsc are now in official guix.
  scripts/ci/jobs/build-guix.yml
  scripts/guix/channels-science.scm
  scripts/guix/channels.scm
  scripts/guix/manifest-dev.scm
  scripts/guix/packages/ogs-mkl.scm
Due: git-diff-check

feat!: add ReleaseNodalForce class for excavation modelling
  ProcessLib/BoundaryConditionAndSourceTerm/ReleaseNodalForce.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/ReleaseNodalForce.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(BoundaryConditionConfig), added a new member `compensate_non_equilibrium_initial_residuum`, and
  ProcessLib/BoundaryConditionAndSourceTerm/BoundaryConditionConfig.h
Due: git-diff-check, git-clang-format

fix(PL): hydraulic residuum names
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Manually build non-MKL windows package on master pipelines.
  scripts/ci/jobs/build-win.yml
Due: git-diff-check
