Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

Notebooks on web page need to prefixed with `notebook-`.
  web/content/docs/tutorials/bhe_meshing/notebook-bhe_meshing.md
Due: git-diff-check

[web] Mount release preset build dir for converted notebooks.
  web/config/_default/config.toml
Due: git-diff-check

[cmake] Add PYTHON_PACKAGES argument to NotebookTest().
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[ci] Jupytext notebooks can be downloaded as ipynb from the website.
  Tests/Data/Notebooks/testrunner.py
Due: none

[ci] Update pre-commit and install go (vale) in pre-commit image.
  scripts/docker/Dockerfile.pre-commit
Due: git-diff-check

[T, web] Add BHE tutorial to ctest.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[ci] Run vale directly and use official pre-commit hook.
  .pre-commit-config.yaml
  scripts/ci/helper/run-vale
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[T] Notebook testrunner for jupytext based web pages.
  Tests/Data/Notebooks/testrunner.py
Due: none

[web] Adapt bhe meshing tutorial download link.
  web/content/docs/tutorials/bhe_meshing/notebook-bhe_meshing.md
Due: git-diff-check

[T] Fixed testrunner jupytext variable.
  Tests/Data/Notebooks/testrunner.py
Due: none

[T] Output ctest command (helpful for reproducing).
  scripts/cmake/test/OgsTestWrapper.cmake
Due: git-diff-check

[T,web] ipynb notebooks to web conversion in build dir.
  Tests/Data/Notebooks/testrunner.py
Due: none

[T] Renamed notebook for better url.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/BlockingConductingFracture.ipynb
Due: git-diff-check

[vale] Finally fixing the notebook, vale reports wrong line numbers!
  web/content/docs/tutorials/bhe_meshing/notebook-bhe_meshing.md
Due: git-diff-check

[T,nb] Enforce toml frontmatter on notebooks, add checks.
  Tests/Data/Notebooks/testrunner.py
Due: none

[T] DiscWithHole nb: fix TUBAF logo.
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.md
Due: none

[T] Convert to toml frontmatter.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.ipynb
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.md
  web/content/docs/tutorials/bhe_meshing/notebook-bhe_meshing.md
Due: git-diff-check

[web] Updated docs on notebook usage.
  Documentation/.vale/Vocab/ogs/accept.txt
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[RT/Docu] add a reactive transport benchmark of co2 injection
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_pwp.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_pwp_ts_0_t_0.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_pwp_ts_43_t_30000.000000_expected.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_simple.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_simple_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_simple_ts_43_t_30000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/cl.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/cl_ReactiveDomain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/cl_bulk.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/disso_opa_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/disso_opa_ts_120_t_7200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/phreeqc.dat
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/phreeqcInput_Cal_Dol_Ili_Kao.pqi
  web/content/docs/benchmarks/reactive-transport/co2injection/index.md
  web/content/docs/benchmarks/reactive-transport/co2injection/results_cl_comparision_sce2.png
  web/content/docs/benchmarks/reactive-transport/co2injection/results_comparision_sce1.png
Due: git-diff-check

change the benchmark to jupyter format
  Documentation/.vale/Vocab/ogs/ignore.txt
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/PHREEQC_results_PWP.txt
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/PHREEQC_results_simple.txt
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/figures/results_cl_comparision_sce2.png
  web/content/docs/benchmarks/reactive-transport/co2injection/index.md
  web/content/docs/benchmarks/reactive-transport/co2injection/results_comparision_sce1.png
Due: git-diff-check

[T] Converted notebook to markdown.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.md
Due: git-diff-check

documentation modified following the suggestions
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/01_timestepping.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/01_timestepping_cl.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_pwp.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/calcite_simple.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/cl.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/figures/results_cl_comparision_sce2.png
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/figures/results_comparision_sce1.png
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/figures/results_disso_SR.png
Due: none

[T] markdownlint notebook.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.md
Due: none

[T] notebook spelling fixes.
  Documentation/.vale/Vocab/ogs/accept.txt
  Documentation/.vale/Vocab/ogs/ignore.txt
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/CO2Injection/CO2Injection.md
Due: git-diff-check

[PL/TL] Added preOutput callbacks to IC output
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added Am-243 output and tests
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt_linear/1d_decay_chain_GIA.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt_linear_compute_only_on_dt_change/1d_decay_chain_GIA.xml
Due: none

[T] Updated reference files
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_1009_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_109_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_10_t_3153600000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_19_t_31536000000.000000.vtu
Due: none

[PL/TL] Added comment
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TL] Added preOutputForAllProcesses()
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added check to notebook
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.ipynb
Due: none

[PL] Added preOutput() hook
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added method isOutputStep()
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[ci,nb] Refactored notebook testrunner.
  Tests/Data/Notebooks/testrunner.py
Due: none

[web] Update docs for toml frontmatter in notebooks.
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[nb] Update notebooks to use regular toml frontmatter.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.ipynb
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.ipynb
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
  Tests/Data/Mechanics/Linear/SimpleMechanics.ipynb
  Tests/Data/Mechanics/PLLC/PLLC.ipynb
  Tests/Data/Notebooks/SimplePETSc.ipynb
  Tests/Data/Notebooks/thermo-osmosis.run-skip.ipynb
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/DiffusionSorptionDecay.ipynb
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/MultiLayerDiffusion.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.ipynb
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.ipynb
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/BlockingConductingFracture.ipynb
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/heatpipe.ipynb
  Tests/Data/Parabolic/TwoPhaseFlowPrho/MoMaS/MoMaS.ipynb
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.ipynb
  Tests/Data/PhaseField/PForthotropy_jupyter_notebook/sen_shear.ipynb
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.ipynb
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static_jupyter.ipynb
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.ipynb
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.ipynb
  Tests/Data/TH2M/H/diffusion/diffusion.ipynb
  Tests/Data/TH2M/H2/dissolution_diffusion/phase_appearance.ipynb
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter.ipynb
  Tests/Data/TH2M/H2M/Liakopoulos/ogs-jupyter-lab-h2m-2d-liakopoulos.ipynb
  Tests/Data/TH2M/TH/Ogata-Banks/Ogata-Banks.ipynb
  Tests/Data/TH2M/TH/idealGasLaw/confined_gas_compression.ipynb
  Tests/Data/TH2M/TH2/heatpipe/heatpipe.ipynb
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.ipynb
Due: none

[nb] Format notebooks with black.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.ipynb
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.ipynb
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
  Tests/Data/Mechanics/Linear/SimpleMechanics.ipynb
  Tests/Data/Mechanics/PLLC/PLLC.ipynb
  Tests/Data/Notebooks/SimplePETSc.ipynb
  Tests/Data/Notebooks/thermo-osmosis.run-skip.ipynb
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/DiffusionSorptionDecay.ipynb
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/MultiLayerDiffusion.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.ipynb
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.ipynb
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/BlockingConductingFracture.ipynb
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/heatpipe.ipynb
  Tests/Data/Parabolic/TwoPhaseFlowPrho/MoMaS/MoMaS.ipynb
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.ipynb
Due: none

[ci] Add check=True to subprocess.run.
  Tests/Data/Notebooks/testrunner.py
  web/scripts/convert_notebooks.py
Due: git-diff-check

[ci] On web only pipelines run notebook benchmarks only.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[nb] Removed nb2hugo dependency.
  Tests/Data/requirements-dev.txt
  scripts/docker/Dockerfile.web
  web/.gitignore
  web/content/docs/devguide/documentation/jupyter-docs/index.md
  web/content/docs/userguide/basics/jupyter-notebooks/index.md
  web/data/versions.json
  web/package.json
  web/scripts/convert_notebooks.py
Due: git-diff-check

[ci,nb] Check for first markdown cell.
  Tests/Data/Notebooks/testrunner.py
Due: none

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
