Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[nb] Fixed image caption on Momas.
  Tests/Data/Parabolic/TwoPhaseFlowPrho/MoMaS/MoMaS_jup.ipynb
Due: none

[nb] Renamed Momas notebook to fix links.
  Tests/Data/Parabolic/TwoPhaseFlowPrho/MoMaS/MoMaS.ipynb
Due: none

[T] Fix notebook name in ctest.
  ProcessLib/TwoPhaseFlowWithPrho/Tests.cmake
Due: git-diff-check

[T/HC] Benchmark with phase change (freezing)
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_IceWaterMix_Scaled.prj
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_mesh_unit_square_QU_10x10.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_mesh_unit_square_QU_10x10_0.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_mesh_unit_square_QU_10x10_1.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_mesh_unit_square_QU_10x10_2.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol3_mesh_unit_square_QU_10x10_3.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol_IceWaterMix_T-plot_ts_100_t_0.5.vtu
  Tests/Data/Parabolic/T/2D_Ice_melting-forming_manuf_solution/ManSol_IceWaterMix_T-plot_ts_50_t_0.25.vtu
  web/content/docs/benchmarks/heatconduction/heatconduction-freezing-melting/Heat_conduction_phase_change_(manufactured_solution).pdf
  web/content/docs/benchmarks/heatconduction/heatconduction-freezing-melting/ManSol_IceWaterMix_(comparison).png
  web/content/docs/benchmarks/heatconduction/heatconduction-freezing-melting/ManSol_IceWaterMix_(maple_plots).png
  web/content/docs/benchmarks/heatconduction/heatconduction-freezing-melting/index.md
Due: git-diff-check

[T] Fix test not existing on GUI builds.
  ProcessLib/LiquidFlow/Tests.cmake
Due: git-diff-check

[App/Utils] Rename tool to ReorderMesh
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshEdit/ReorderMesh.cpp
  Applications/Utils/TestReorderMesh.smk
  Applications/Utils/Tests.cmake
Due: git-diff-check, file-extensions, git-clang-format

Register ReorderNodesElements in Python wheel
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
Due: git-diff-check

[A/U/MeshEdit] Impl. of ReorderNodesElements
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshEdit/ReorderNodesElements.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/U] Snakemake script testing tool ReorderNodesElements
  Applications/Utils/TestReorderNodesElements.smk
  Tests/Data/EllipticPETSc/ReorderingInputData/SteadyStateDiffusion.xml
  Tests/Data/EllipticPETSc/ReorderingInputData/cube_1x1x1.gml
  Tests/Data/EllipticPETSc/ReorderingInputData/cube_output.xml
  Tests/Data/EllipticPETSc/ReorderingInputData/steady_state.prj
Due: git-diff-check

[App/Utils] integration of reorder_nodes_elements workflow
  Applications/Utils/Tests.cmake
Due: git-diff-check

[T] Added Ogata-Banks notebook to ctest.
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/TH/Ogata-Banks/Ogata-Banks.ipynb
  Tests/Data/TH2M/TH/Ogata-Banks/neumann.py
Due: git-diff-check

T/TH2M] Add Jupyter Notebook for Ogata Banks Problem.
  Tests/Data/TH2M/TH/Ogata-Banks/Ogata-Banks.ipynb
  Tests/Data/TH2M/TH/Ogata-Banks/ogata-Banks.png
Due: none

[ci] Update wheel.
  Tests/Data/requirements-ogs.txt
Due: none

[T/TH2M] Add cTest Ogata-Banks Problem (TH) for TH2M.
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/TH/Ogata-Banks/boundary_bottom.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/boundary_left.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/boundary_right.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/boundary_top.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/domain.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/neumann.py
  Tests/Data/TH2M/TH/Ogata-Banks/ogata-banks.prj
  Tests/Data/TH2M/TH/Ogata-Banks/result_ogata-banks.pvd
  Tests/Data/TH2M/TH/Ogata-Banks/result_ogata-banks_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/result_ogata-banks_ts_10_t_432000.000000.vtu
  Tests/Data/TH2M/TH/Ogata-Banks/result_ogata-banks_ts_20_t_864000.000000.vtu
Due: git-diff-check

[T] Temp. disable snakemake_reorder_mesh test on mac.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[T] Ogata-Banks benchmarks require Python.
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

Added changes to SaturatedPointheatsource notebook accoridng to Jörg's comments, removed old pointheatsource notebook
  Tests/Data/Notebooks/SaturatedPointheatsource.ipynb
  Tests/Data/Notebooks/SaturatedPointheatsource.run-skip.ipynb
  Tests/Data/Notebooks/pointheatsource.run-skip.ipynb
Due: none

fixed notebook name in header section
  Tests/Data/Notebooks/SaturatedPointheatsource.run-skip.ipynb
Due: none

Added time series error to notebook, fixed typos
  Tests/Data/Notebooks/SaturatedPointheatsource.run-skip.ipynb
Due: none

Added saturated pointheat-source notebook
  Tests/Data/Notebooks/PointHeatSourceInput.png
  Tests/Data/Notebooks/PointHeatSourceSchematic.png
  Tests/Data/Notebooks/SaturatedPointheatsource.ipynb
Due: none

Latex fixes in notebook
  Tests/Data/Notebooks/SaturatedPointheatsource.run-skip.ipynb
Due: none

[nb] Adapted SaturatedPointheatsource.
  Tests/Data/Notebooks/SaturatedPointheatsource.run-skip.ipynb
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/PointHeatSourceInput.png
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/PointHeatSourceSchematic.png
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.run-skip.ipynb
Due: none

[ci] Move large benchmarks on master to arch job.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[T] Added SaturatedPointheatsource notebook to ctest.
  ProcessLib/CMakeLists.txt
  ProcessLib/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.ipynb
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[nb,T] timeout in testrunner.
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[App/Util] Subst 'rename' by 'mv' in snakemake workflow testing ReorderMesh
  Applications/Utils/TestReorderMesh.smk
Due: git-diff-check

[ci,nb] Relax timeouts for some TH2M notebooks a bit.
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

[T] SaturatedPointheatsource run ogs in parallel.
  ProcessLib/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.ipynb
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/figures/PointHeatSourceInput.png
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/figures/PointHeatSourceSchematic.png
Due: git-diff-check

[T] Enable snakemake workflow testing ReorderMesh tool.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[PL/Output] Correct var name.
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
  ProcessLib/Output/AddProcessDataToMesh.cpp
  ProcessLib/Output/SecondaryVariable.h
Due: git-diff-check, file-extensions, git-clang-format

[T/LF] Extend test for secondary variables
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_1_t_0.432000.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_cube_1x1x1_hex_1e3_complete_surface_ts_2_t_0.864000.vtu
Due: git-diff-check

[PL/Output] Enable multi-component secondary variable output
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Exclude residuum based properties on submeshes with same dimension as the bulk mesh
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

jupyter notebook phasefield beam
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.ipynb
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.prj
  Tests/Data/PhaseField/beam_jupyter_notebook/figures/bar_.png
  Tests/Data/PhaseField/beam_jupyter_notebook/figures/beam_final.png
  Tests/Data/PhaseField/beam_jupyter_notebook/figures/beam_result_with_analytical.png
  web/content/docs/benchmarks/phase-field/phasefield/Miao_Biot2017.pdf
  web/content/docs/benchmarks/phase-field/phasefield/beam.png
  web/content/docs/benchmarks/phase-field/phasefield/beam_d.png
  web/content/docs/benchmarks/phase-field/phasefield/beam_u.png
  web/content/docs/benchmarks/phase-field/phasefield/error_u.png
  web/content/docs/benchmarks/phase-field/phasefield/index.md
Due: git-diff-check

[T] Include {:meshname} in output prefix fixing LiakopoulosHM restart test
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_restart.xml
Due: git-diff-check

[T] Test for output cell properties on submeshes.
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos.prj
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_bottom_t_300.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_bottom_t_600.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_bottom_t_7200.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_left_t_300.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_left_t_600.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_left_t_7200.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_right_t_300.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_right_t_600.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_right_t_7200.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_top_t_300.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_top_t_600.vtu
  Tests/Data/ThermoRichardsMechanics/LiakopoulosHM/liakopoulos_top_t_7200.vtu
Due: git-diff-check

[T] Test access to coordinates in spatial position via Function parameter
  Tests/Data/TH2M/M/M_2d_neumann/M_2d_neumann.prj
Due: none

[PL/TH2M] Set coordinates in SpatialPosition
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL] Generalized solid material internal variable output
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL/TRM] Added creation functionality and traits for the new original setting
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/CreateConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/CreateConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/Traits.h
Due: git-diff-check, file-extensions, git-clang-format
