Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[env/eve] load modules of vtk and hdf5
  scripts/env/eve/petsc.sh
Due: git-diff-check

[HDF5] using Hdf5DimType = hsize_t
  MeshLib/IO/XDMF/HdfData.h
Due: git-diff-check, git-clang-format

[web] Update to installation of DataExplorer prereqs.
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[HC] Use space dimension instead of mesh.getDimension
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CTest/HC] Corrected body force components in some project files
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calciteDissolvePrecipitateOnly.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite_phreeqckernel.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_phreeqckernel.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant_AllAsComponents/KineticReactant2.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_SitesMoles.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_fixed_pe.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Wetland/Wetland_1d.prj
Due: none

[Doc/HC] Parameter documentation for aperture
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/aperture_size/i_aperture_size.md
  Documentation/ProjectFile/prj/processes/process/ComponentTransport/aperture_size/t_parameter.md
Due: git-diff-check

[HC] Added three members to ComponentTransportProcessData for
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CTest/HC] Added a test with inclined elements
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/InclinedElements/Inclined2DMesh/geometry_left.vtu
  Tests/Data/Parabolic/ComponentTransport/InclinedElements/Inclined2DMesh/geometry_right.vtu
  Tests/Data/Parabolic/ComponentTransport/InclinedElements/Inclined2DMesh/inclined_2D_mesh_HC.prj
  Tests/Data/Parabolic/ComponentTransport/InclinedElements/Inclined2DMesh/inclined_2D_mesh_HC_ts_1_t_10000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/InclinedElements/Inclined2DMesh/mesh.vtu
Due: git-diff-check

[HC] Enabled inclined elements in the local assembler
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[HC] Initialize specific_body_force
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

clarify domain deactivation docstring
  ProcessLib/DeactivatedSubdomain.h
Due: git-diff-check, git-clang-format

[cmake] Fixed frontend unity exclusion issues.
  Tests/CMakeLists.txt
Due: git-diff-check

[cmake] Enable Python bindings for TFEL if OGS_USE_PYTHON=ON.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[HC] Replaced rotation matrices with a projected specific body force vector
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake,cpm] Make fmt available as a regular package.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Updated CPM to 0.37.
  scripts/cmake/CPM.cmake
Due: git-diff-check

[pre-commit] autoupdate.
  .pre-commit-config.yaml
Due: git-diff-check

Fix usage of fmt include.
  BaseLib/FileTools.cpp
  GeoLib/AABB.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  Tests/MaterialLib/CheckStiffnessMatrixMFront.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Enabled ostream formatting with fmt lib
  GeoLib/AABB.h
Due: git-diff-check, git-clang-format

[BL] fmt requires reinterpret casts for xml2 strings
  BaseLib/PrjProcessing.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Fix for vtk provided fmt lib.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cpm] Bump to fmt 9.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] our code is not yet compatible with fmt 9.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[ci] Increase job timeout for build linux (no unity) for envinf56.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[cmake] Fix CDash BUILDNAME.
  CTestConfig.cmake
Due: git-diff-check

[Test] Fixed a compilation warning
  Tests/FileIO/TestGmlInterface.h
Due: git-diff-check, git-clang-format

automatically append correct file extension for tetgen files
  Applications/DataExplorer/DataView/MeshView.cpp
Due: git-diff-check, file-extensions, git-clang-format

Improve spelling
  Applications/DataExplorer/DataView/DiagramView/DiagramList.h
  Applications/DataExplorer/DataView/DiagramView/QGraphicsGrid.h
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  ProcessLib/ComponentTransport/LookupTable.cpp
  ProcessLib/TH2M/IntegrationPointData.h
  Tests/MathLib/Polynomials.h
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/AH2010.m
Due: git-diff-check, file-extensions, git-clang-format

Update codespellrc. Add more excludes, sort.
  .codespellexclude
  .codespellrc
Due: git-diff-check

[App/DE] Rename variable acc. to google styleguide
  Applications/DataExplorer/DataView/DiagramView/DiagramScene.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Remove N_u_op from ip data
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[ML] Eigen block matrix view CwiseNullaryOp
  MathLib/EigenBlockMatrixView.h
  Tests/MathLib/EigenBlockMatrixView.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use eigenBlockMatrixView for N_u_op
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/ThermoRichardsMechanics/IntegrationPointData.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL/THM] Use eigen block matrix view in N_u_op expr.
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

[web] First draft of the Beginner Guide
  web/content/docs/_index.md
  web/content/docs/tools/post-processing/_index.md
  web/content/docs/tools/post-processing/paraview-on-eve/index.md
  web/content/docs/userguide/basics/cli-arguments/index.md
  web/content/docs/userguide/basics/container/index.md
  web/content/docs/userguide/basics/conventions/index.md
  web/content/docs/userguide/basics/jupyter-notebooks/index.md
  web/content/docs/userguide/basics/project-file/index.md
  web/content/docs/userguide/basics/project_file_intro.md
  web/content/docs/userguide/basics/quadrature.md
  web/content/docs/userguide/basics/working_with_project_files.md
  web/content/docs/userguide/blocks/_index.md
  web/content/docs/userguide/blocks/boundary_conditions.md
  web/content/docs/userguide/blocks/curves.md
  web/content/docs/userguide/blocks/figures/curve.drawio
  web/content/docs/userguide/blocks/figures/curve.svg
  web/content/docs/userguide/blocks/geometry.md
  web/content/docs/userguide/blocks/intro.md
  web/content/docs/userguide/blocks/linear_solvers.md
  web/content/docs/userguide/blocks/media.md
  web/content/docs/userguide/blocks/meshes.md
  web/content/docs/userguide/blocks/misc/constitutive_relations.md
  web/content/docs/userguide/blocks/misc/figures/scalingsourceterm_mesh.png
  web/content/docs/userguide/blocks/misc/scaling_source_term.md
  web/content/docs/userguide/blocks/nonlinear_solvers.md
  web/content/docs/userguide/blocks/parameters.md
  web/content/docs/userguide/blocks/process_variables.md
  web/content/docs/userguide/blocks/processes.md
  web/content/docs/userguide/blocks/test_definitions.md
  web/content/docs/userguide/blocks/time_loop.md
  web/content/docs/userguide/features/_index.md
  web/content/docs/userguide/features/main.md
  web/content/docs/userguide/features/mfront.md
  web/content/docs/userguide/features/parallel_computing_mpi.md
  web/content/docs/userguide/features/python_bc.md
  web/content/docs/userguide/parallel_computing/_index.md
  web/content/docs/userguide/troubleshooting/_index.md
  web/content/docs/userguide/troubleshooting/faq.md
  web/content/docs/userguide/troubleshooting/glossary.md
Due: git-diff-check

[T/M] Slightly relax tolerances
  Tests/Data/Mechanics/MohrCoulombAbboSloan/load_test_mc.prj
Due: none

Fix error in the value of Ac-227 decay constant
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
Due: none

[ci] Increase job timeouts.
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/build-linux-arch.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[ci] Added CTEST_ARGS setting and removed include and exclude variables.
  .gitlab-ci.yml
  scripts/ci/extends/template-build-linux.yml
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
