Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL/Stokes] Rename x_dot to x_prev
  ProcessLib/StokesFlow/StokesFlowFEM.h
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
  ProcessLib/StokesFlow/StokesFlowProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/RCT] Rename x_dot to x_prev
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM-impl.h
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportFEM.h
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.cpp
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TM] Rename x_dot to x_prev
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Rename x_dot to x_prev
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TES] Rename x_dot to x_prev
  ProcessLib/TES/TESLocalAssembler-impl.h
  ProcessLib/TES/TESLocalAssembler.h
  ProcessLib/TES/TESProcess.cpp
  ProcessLib/TES/TESProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Rewrite FEM-impl to use x_prev
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[PL/PhF] Rename x_dot to x_prev
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TM] Remove unnecessary .eval() calls
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/SDN] Rename x_dot to x_prev
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalFEM.h
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRF] Rewrite FEM-impl to use x_prev
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/TRM] Rename x_dot to x_prev
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Base.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TPhF] Rename x_dot to x_prev
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM-impl.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldFEM.h
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Rename x_dot to x_prev
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/TH2M/TH2MProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TM] Rewrite FEM-impl to use x_prev
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[T/PL] Relax ctests' tolerances
  ProcessLib/HT/Tests.cmake
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid.prj
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/ColumnDeformationFreezing/TM.prj
Due: git-diff-check

[PL/TRF] Rename x_dot to x_prev
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM.h
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LF] Rename x_dot to x_prev
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Rewrite FEM-impl/const.rels to use x_prev
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Porosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ElasticTangentStiffnessModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ElasticTangentStiffnessModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/HT-BHE] Rename x_dot to x_prev
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil-impl.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Rewrite FEM-impl to use x_prev
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/THHPP] Rename x_dot to x_prev
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIE/HM] Rename x_dot to x_prev
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerFracture.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerInterface.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrix.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture-impl.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/HydroMechanicsLocalAssemblerMatrixNearFracture.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/RF] Rename x_dot to x_prev
  ProcessLib/RichardsFlow/RichardsFlowFEM.h
  ProcessLib/RichardsFlow/RichardsFlowProcess.cpp
  ProcessLib/RichardsFlow/RichardsFlowProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/RM] Rewrite FEM-impl to use x_prev
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/LIE/SD] Rename x_dot to x_prev
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerInterface.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrixNearFracture.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/HHPrho] Rename x_dot to x_prev
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoLocalAssembler-impl.h
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoLocalAssembler.h
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoProcess.cpp
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoProcess.h
Due: git-diff-check, file-extensions, git-clang-format

Add JupyterNotebook for Blocking and Conducting Fractures.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/LiquidFlow.ipynb
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/LiquidFlow_2D.gml
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/block_conduct_frac.prj
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/block_conduct_frac.vtu
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/fig.png
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/fracture_block_conduct.pvd
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/fracture_block_conduct_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/fracture_block_conduct_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/plot_settings.py
  Tests/Data/requirements.txt
Due: git-diff-check

[PL/TRM] Introduced PrevState
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Base.h
Due: git-diff-check, git-clang-format

[T/PL] Tests for PrevState implementation
  Tests/ProcessLib/TestTRMConstitutiveSettingPrevState.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Use PrevStates in assembler
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL/TRM] Declared prev states for all stateful data
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/Traits.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/Traits.h
Due: git-diff-check, git-clang-format

[PL/TRM] Use prev states in constitutive settings
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Porosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Swelling.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Removed unneeded argument
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[T/PL] Test unique function argument type check
  Tests/ProcessLib/TestUniqueFunctionArgumentTypes.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Made model arguments unique
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Porosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Porosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Swelling.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Swelling.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/SolidMechanics.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Assert model arg uniqueness
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Check unique method arguments
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Invoke.h
Due: git-diff-check, git-clang-format

[nb] Added frontmatter for LiquidFlow notebook.
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/LiquidFlow.ipynb
Due: none

[T] Add notebook to ctest.
  ProcessLib/LiquidFlow/Tests.cmake
Due: git-diff-check

[nb] Setup output paths.
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/LiquidFlow.ipynb
Due: none

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
