Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[T] Added tests for covariant container views
  Tests/BaseLib/TestContainerTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr] Enable inline suppressions in cppcheck
  scripts/test/cppcheck.in.sh
Due: git-diff-check

[App/IO] Fixed conversion warning
  Applications/FileIO/CsvInterface.h
Due: git-diff-check, git-clang-format

[CI] Save cppcheck artifact
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

[ci] Fix doxygen warnings output.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[cmake-format] Dependencies.cmake
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cpm] Bump nlohman/json to 3.10.5.
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[cmake] Better third-party license collection.
  scripts/ci/extends/template-build-win.yml
  scripts/cmake/CMakeSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/packaging/Pack.cmake
  scripts/cmake/packaging/additional-licenses.txt
Due: git-diff-check

[MPL/Water] Add water temperature calculation in IAPWS-IF97 region1.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/CreateWaterTemperatureIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/CreateWaterTemperatureIAPWSIF97Region1.h
  MaterialLib/MPL/Properties/WaterTemperatureIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/WaterTemperatureIAPWSIF97Region1.h
  MaterialLib/MPL/PropertyType.h
  MaterialLib/MPL/VariableType.h
Due: git-diff-check, file-extensions, git-clang-format

[Doc] Add para doc for the water temperature in region1.
  Documentation/ProjectFile/properties/property/t_WaterTemperatureIAPWSIF97Region1.md
Due: git-diff-check

[UnitTest] Add unit test for water temperature in region1.
  Tests/MaterialLib/TestMPLWaterTemperatureIAPWSIF97Region1.cpp
Due: git-diff-check, file-extensions, git-clang-format

Merge branch 'fix-gui' into 'master'
  Applications/ApplicationsLib/CMakeLists.txt
Due: git-diff-check

[cmake] Removed option OGS_BUILD_PYTHON_MODULE.
  Applications/Python/CMakeLists.txt
  CMakeLists.txt
  CMakePresets.json
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/check-header.yml
  scripts/cmake/CMakeSetup.cmake
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[ci] Updated wheel.
  Tests/Data/requirements-ogs.txt
Due: none

[cmake] Lower version for petsc and hdf5 for guix.
  web/data/versions.json
Due: git-diff-check

[gui] Fix build.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

[web] Fix head downloads.
  web/content/releases/_index.md
Due: git-diff-check

[web] Format checkMesh/index.md.
  web/content/docs/tools/meshing/checkMesh/index.md
Due: git-diff-check

[web] Fix link in checkMesh/index.md.
  web/content/docs/tools/meshing/checkMesh/index.md
Due: git-diff-check

[web] Format AddFaultToVoxelGrid.
  web/content/docs/tools/preprocessing/AddFaultToVoxelGrid/index.md
Due: git-diff-check

[web] Fix link in parallel_computing_mpi.md.
  web/content/docs/userguide/features/parallel_computing_mpi.md
Due: git-diff-check

[web] Fix link in IntegrateBoreholesIntoMesh.
  web/content/docs/tools/preprocessing/IntegrateBoreholesIntoMesh/index.md
Due: git-diff-check

[doxygen] Fix PETSc links.
  Documentation/ProjectFile/prj/linear_solvers/linear_solver/petsc/t_prefix.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/t_prefix.md
  MathLib/LinAlg/PETSc/PETScLinearSolver.h
Due: git-diff-check, git-clang-format

[web] Format IntegrateBoreholesIntoMesh.
  web/content/docs/tools/preprocessing/IntegrateBoreholesIntoMesh/index.md
Due: git-diff-check

[web] Fix links in AddFaultToVoxelGrid.
  web/content/docs/tools/preprocessing/AddFaultToVoxelGrid/index.md
Due: git-diff-check

[T] Added test for Eigen matrix formatting
  Tests/MathLib/TestFormattingUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added tests for the matrix debug output
  Tests/Python/test_matrix_debug_output.py
Due: git-diff-check

[MaL] Added output formatter for Eigen dense types
  MathLib/FormattingUtils.h
Due: git-diff-check, git-clang-format

[PL/SD] Enable global matrix output
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Enable local matrix debug output
  ProcessLib/VectorMatrixAssembler.cpp
  ProcessLib/VectorMatrixAssembler.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Added unit tests for some matrix output internals
  Tests/ProcessLib/TestMatrixOutput.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added matrix output functionality
  ProcessLib/Assembly/MatrixOutput.cpp
  ProcessLib/Assembly/MatrixOutput.h
  ProcessLib/CMakeLists.txt
Due: git-diff-check, file-extensions, git-clang-format

[Doc] Add para doc of water enthalpy in IAPWSIF97 region1.
  Documentation/ProjectFile/properties/property/t_WaterEnthalpyIAPWSIF97Region1.md
Due: git-diff-check

[MPL/Water] Add water enthalpy in IAPWSIF97 region1.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Enthalpy/CreateWaterEnthalpyIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/Enthalpy/CreateWaterEnthalpyIAPWSIF97Region1.h
  MaterialLib/MPL/Properties/Enthalpy/WaterEnthalpyIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/Enthalpy/WaterEnthalpyIAPWSIF97Region1.h
Due: git-diff-check, file-extensions, git-clang-format

[UnitTest] Add the unit test of water enthalpy in IAPWSIF97 region1.
  Tests/MaterialLib/TestMPLWaterEnthalpyIAPWSIF97Region1.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Use Eigen array ops replacing for-loops
  NumLib/NumericalStability/NumericalStabilization_impl.h
Due: git-diff-check, git-clang-format

[HC] Moved numerical stabilization function pointer from local assembler class
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[NumLib] A process independent interface for numerical stabilization
  NumLib/NumericalStability/NumericalStabilization.cpp
  NumLib/NumericalStability/NumericalStabilization.h
  NumLib/NumericalStability/NumericalStabilization_impl.h
Due: git-diff-check, file-extensions, git-clang-format
