Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full]
  # A variant of the ruff hook above that automatically applies proposed fixes.
  # Runs only manually.
  # Run this hook (and all other manual hooks if any) with:
  # pre-commit run --hook-stage manual
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.4.2"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--output-format=full, --fix, --exit-non-zero-on-fix]
        stages: [manual]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

Fix possible nullptr access
  Applications/DataExplorer/VtkVis/VtkCompositeContourFilter.cpp
  Applications/DataExplorer/VtkVis/VtkVisImageItem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Fix linkage of GKlib (metis) with OpenMP.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[py] Added uv.lock-file.
  .pre-commit-config.yaml
  Tests/Data/uv.lock
Due: git-diff-check

[py] Added pyproject.toml in Tests/Data for wheel and notebook testing.
  Tests/Data/README.md
  Tests/Data/pyproject.toml
Due: none

MR comments.
  Tests/Data/README.md
  Tests/Data/pyproject.toml
Due: none

[ci] Add matrix job for wheel tests.
  scripts/ci/jobs/build-wheels.yml
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

update test files for faster ctest
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_SD_noniterWP_anchors.xml
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_SD_noniterWP_anchors_prestress.xml
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_SD_noniterWP_reference.prj
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_anchors_prestress_t_45.000000.vtu
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_anchors_prestress_t_6.000000.vtu
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_anchors_t_45.000000.vtu
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_anchors_t_6.000000.vtu
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_ref_t_45.000000.vtu
  Tests/Data/Mechanics/SlopeStabilityAnchors/fault_slip_nonIter_WP_ref_t_6.000000.vtu
Due: git-diff-check

add a comment to the web docu concerning the difference between results and the ctest
  web/content/docs/benchmarks/small-deformations/slope-stablity-anchors/index.md
Due: git-diff-check

fix rare bug in identify subdomain
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

Updating the helper classes for GreatCell
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/Plotter.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/mesh_generator.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/ogs_model_runner.py
Due: none

Updating the Jupyter notebook of LIE-SD GreatCell
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM1_HM_A_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM2a_LIE_A_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM2b_LIE_A_Greywacke_volStrain.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCell.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M2_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M1_SD_A_Greywacke.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M2a_LIE_A_Greywacke.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/expected_M2b_LIE_A_Greywacke.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/extracted_M1_SD_A_Greywacke_volStrain.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/extracted_M2a_LIE_A_Greywacke_volStrain.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/expected/extracted_M2b_LIE_A_Greywacke_volStrain.npz
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figures/IMG_0316.jpeg
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/figures/IMG_0317.jpeg
Due: none

provide extracted data of HM-VPF for comparison with HM-LIE
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/GreatCell.py
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_A_Gneiss_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_A_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_B_Gneiss_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_B_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_C_Gneiss_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/external_data/extracted_HM1_VPF_C_Greywacke_volStrain.npz
Due: none

Adding GreatCell Jupyter notebook for HM-LIE process
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/GreatCell.py
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM1_HM.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2a_LIE.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2b_LIE.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM1_HM_A_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM2a_LIE_A_Greywacke_volStrain.npz
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/expected/extracted_HM2b_LIE_A_Greywacke_volStrain.npz
Due: git-diff-check

Tell linker to keep pybind11_init_xxx symbol
  Applications/CLI/CMakeLists.txt
  Applications/CLI/ogs_embedded_python.cpp
Due: git-diff-check, file-extensions, git-clang-format

[py] Removed requirements*.txt files.
  Tests/Data/requirements-dev.txt
  Tests/Data/requirements-ogs.txt
  Tests/Data/requirements.txt
Due: none

[T] Add TODO marker for tespy benchmarks.
  ProcessLib/HeatTransportBHE/Tests.cmake
Due: git-diff-check

[ci] gcovr from uvx is used.
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
  scripts/cmake/Coverage.cmake
Due: git-diff-check

[py,cmake] Reworked venv setup to use uv instead of pip.
  Applications/Python/CMakeLists.txt
  CMakeLists.txt
  scripts/cmake/PythonCreateVirtualEnv.cmake
  scripts/cmake/PythonSetup.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestWrapper.cmake
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[web] Updating docs on venv / uv.
  Documentation/.vale/Vocab/ogs/accept.txt
  web/content/docs/devguide/documentation/jupyter-docs/index.md
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[T] Fix race condition.
  ProcessLib/RichardsFlow/Tests.cmake
Due: git-diff-check

[T] Fix generation of invalid project files tests.
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[T] Follow-up on Fix generation of invalid project files tests.
  ProcessLib/HT/Tests.cmake
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[PL/TimeLoop] Correct error message, code comments for better understanding
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T|MohrCoulombAbboSloan] SOR preconditioner is more efficient than Jacobi
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_hexa.prj
Due: none

[T|MohrCoulombAbboSloan] Update results for last time step
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_t_5_000000.pvtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_t_5_000000_0.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_t_5_000000_1.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_t_5_000000_2.vtu
  Tests/Data/Mechanics/MohrCoulombAbboSloan/PetscMpi/slope_t_5_000000_3.vtu
Due: none

Adding GreatCell JN for HMPF process
  ProcessLib/HMPhaseField/Tests.cmake
  Tests/Data/HMPhaseField/GreatCell/GreatCell.py
  Tests/Data/HMPhaseField/GreatCell/HM1_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/HM2a_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/HM2b_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/M1_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/M2_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/external_data_dict.py
Due: git-diff-check

use cwd=mesh_dir for mesh tools to simplify path handling
  Tests/Data/HMPhaseField/GreatCell/GreatCell.py
Due: none

Remove loads B, E, F, and C in HM2a to reduce ctest time
  Tests/Data/HMPhaseField/GreatCell/GreatCell.py
Due: none

[py,T] Install MFront behaviour for ctests.
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/CMakeLists.txt
Due: none

[py] Enable ctest for wheel config.
  CMakePresets.json
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
Due: git-diff-check

[py] Correct bin location in editable install.
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
Due: git-diff-check

[py,ogs] Add test definition logic to wheel ogs.
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ML] Make edge_nodes constexpr.
  MeshLib/Elements/HexRule20.cpp
  MeshLib/Elements/HexRule20.h
  MeshLib/Elements/HexRule8.cpp
  MeshLib/Elements/HexRule8.h
  MeshLib/Elements/LineRule2.cpp
  MeshLib/Elements/LineRule2.h
  MeshLib/Elements/LineRule3.cpp
  MeshLib/Elements/LineRule3.h
  MeshLib/Elements/PrismRule15.cpp
  MeshLib/Elements/PrismRule15.h
  MeshLib/Elements/PrismRule6.cpp
  MeshLib/Elements/PrismRule6.h
  MeshLib/Elements/PyramidRule13.cpp
  MeshLib/Elements/PyramidRule13.h
  MeshLib/Elements/PyramidRule5.cpp
  MeshLib/Elements/PyramidRule5.h
  MeshLib/Elements/QuadRule4.cpp
  MeshLib/Elements/QuadRule4.h
  MeshLib/Elements/QuadRule8.cpp
  MeshLib/Elements/QuadRule8.h
  MeshLib/Elements/TetRule10.cpp
  MeshLib/Elements/TetRule10.h
  MeshLib/Elements/TetRule4.cpp
  MeshLib/Elements/TetRule4.h
  MeshLib/Elements/TriRule3.cpp
  MeshLib/Elements/TriRule3.h
  MeshLib/Elements/TriRule6.cpp
  MeshLib/Elements/TriRule6.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Fix for linker issues in testrunner.
  Tests/CMakeLists.txt
  pyproject.toml
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[ci] New job "build with pip".
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[T] Relax tolerances.
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches2.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.prj
Due: none

[T] Increase convergence criterion tolerance.
  Tests/Data/Mechanics/Linear/MFront/disc_with_hole/disc_with_hole.prj
Due: none

[cmake,T] Fix testrunner in wheel config.
  Tests/CMakeLists.txt
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[ML] Make face_nodes constexpr.
  MeshLib/Elements/HexRule20.cpp
  MeshLib/Elements/HexRule20.h
  MeshLib/Elements/HexRule8.cpp
  MeshLib/Elements/HexRule8.h
  MeshLib/Elements/PrismRule15.cpp
  MeshLib/Elements/PrismRule15.h
  MeshLib/Elements/PrismRule6.cpp
  MeshLib/Elements/PrismRule6.h
  MeshLib/Elements/PyramidRule13.cpp
  MeshLib/Elements/PyramidRule13.h
  MeshLib/Elements/PyramidRule5.cpp
  MeshLib/Elements/PyramidRule5.h
  MeshLib/Elements/QuadRule9.cpp
  MeshLib/Elements/QuadRule9.h
  MeshLib/Elements/TetRule10.cpp
  MeshLib/Elements/TetRule10.h
  MeshLib/Elements/TetRule4.cpp
  MeshLib/Elements/TetRule4.h
Due: git-diff-check, file-extensions, git-clang-format
