Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[T/MeL] Unit tests getMeshElementsForMaterialIDs()
  Tests/MeshLib/TestGetMeshElementsForMaterialIDs.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Pass meshes (non-const) to createOutputConfig()
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/CreateTimeLoop.h
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/CreateOutput.h
  ProcessLib/Output/CreateOutputConfig.cpp
  ProcessLib/Output/CreateOutputConfig.h
  ProcessLib/Output/SubmeshResiduumOutputConfig.cpp
  ProcessLib/Output/SubmeshResiduumOutputConfig.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Fct. to get elems for specified material ids
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Fwd decl. of MeL::Mesh
  ProcessLib/Output/CreateOutputConfig.h
Due: git-diff-check, git-clang-format

[docu] Docu for specifying the material ids for output
  Documentation/ProjectFile/prj/time_loop/output/meshes/mesh/a_material_ids.md
  Documentation/ProjectFile/prj/time_loop/output/meshes/mesh/i_mesh.md
  ProcessLib/Output/CreateOutputConfig.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Update patched project file reference
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_processed.prj
Due: none

Mv splitMaterialIdString() from ProjectData to BaseLib/StringTools
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  BaseLib/StringTools.cpp
  BaseLib/StringTools.h
  Tests/BaseLib/TestSplitMaterialIdString.cpp
  Tests/CMakeLists.txt
Due: git-diff-check, file-extensions, git-clang-format

[T] ctest for material ID based output
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/meshes/1e2_cube_1x1x1_hex_1e2_0_1_ts_0_t_0.000000.vtu
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/meshes/1e2_cube_1x1x1_hex_1e2_0_1_ts_1_t_1.000000.vtu
Due: git-diff-check

[T] Specify material ID based submesh for output
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_neumann.prj
Due: none

[T] Add material IDs to mesh
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_3d_submesh_output.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_newton.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1x1x1_hex_1e2.vtu
Due: none

[T/MeL] Unit tests createMaterialIDsBasedSubMesh()
  Tests/MeshLib/TestCreateMaterialIDsBasedSubMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Missing includes for function and mutex
  ProcessLib/Assembly/MatrixOutput.h
Due: git-diff-check, git-clang-format

[MaL] Use PETSC_NULLPTR
  MathLib/LinAlg/PETSc/PETScMatrix.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Warning] Fixed a 'redundant move' warning
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.h
  ProcessLib/Output/OutputFormat.cpp
  ProcessLib/Output/OutputFormat.h
Due: git-diff-check, file-extensions, git-clang-format

Updated PLLC implementation for performance and accuracy improvements.
  MaterialLib/SolidModels/MFront/PowerLawLinearCreep.mfront
Due: git-diff-check

[GL/Raster] Use std::vector instead of raw C array
  GeoLib/Raster.cpp
  GeoLib/Raster.h
Due: git-diff-check, file-extensions, git-clang-format

[GL/Raster] Comparison operator for RasterHeader and Raster
  GeoLib/Raster.h
Due: git-diff-check, git-clang-format

[GL/Raster] Create default copy-, move-constructor, copy-, and move-assignment operators
  GeoLib/Raster.cpp
  GeoLib/Raster.h
Due: git-diff-check, file-extensions, git-clang-format

[App/IO/AsciiRasterInterface] Use Raster::data()
  Applications/FileIO/AsciiRasterInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Unit tests for constructors / assignment ops
  Tests/GeoLib/TestRaster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/DE/VtkVis/VtkRaster] Use Raster::data()
  Applications/DataExplorer/VtkVis/VtkRaster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/MeshGenerators/Raster2Mesh] Use Raster::data()
  MeshLib/MeshGenerators/RasterToMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL/Raster] Clang format
  GeoLib/Raster.h
Due: git-diff-check, git-clang-format

[T/GL] Update raster test using comparison ops.
  Tests/GeoLib/TestRaster.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Remove unnecessary DynamicSpan
  BaseLib/DynamicSpan.h
Due: git-diff-check, git-clang-format

[MatL] Replace BaseLib::DynamicSpan with std::span
  MaterialLib/SolidModels/Ehlers.cpp
  MaterialLib/SolidModels/MFront/MFrontGeneric.h
  MaterialLib/SolidModels/MechanicsBase.h
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Replace BL::DynamicSpan with std::span
  NumLib/Fem/ReferenceElement.h
  Tests/NumLib/ReferenceElementUtils.cpp
  Tests/NumLib/ReferenceElementUtils.h
  Tests/NumLib/TestReferenceElement.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/NL] Move function for tests into Tests/NumLib
  NumLib/Fem/ReferenceElement.h
  Tests/MeshLib/TestMapBulkElementPoint.cpp
  Tests/NumLib/ReferenceElementUtils.cpp
  Tests/NumLib/ReferenceElementUtils.h
  Tests/NumLib/TestReferenceElement.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/DE/VtkVis] Don't destroy current mesh in destructor
  Applications/DataExplorer/VtkVis/NetCdfConfigureDialog.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib/MeshEditing] clang-format
  MeshLib/MeshEditing/AddLayerToMesh.h
  MeshLib/MeshEditing/ConvertToLinearMesh.cpp
  MeshLib/MeshEditing/ElementValueModification.h
  MeshLib/MeshEditing/FlipElements.h
  MeshLib/MeshEditing/Mesh2MeshPropertyInterpolation.h
  MeshLib/MeshEditing/ProjectPointOnMesh.h
  MeshLib/MeshEditing/RasterDataToMesh.h
  MeshLib/MeshEditing/RemoveMeshComponents.h
  MeshLib/MeshEditing/moveMeshNodes.h
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib/MeshEditing] Removed unnecessary path in some includes
  MeshLib/MeshEditing/AddLayerToMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Doc] Add EOS of water vapor saturation density and enthlapy docu.
  Documentation/ProjectFile/properties/property/t_WaterVapourDensityIAPWSIF97Region4.md
  Documentation/ProjectFile/properties/property/t_WaterVapourEnthalpyIAPWSIF97Region4.md
Due: git-diff-check

[UnitTest/water] water vapor saturation enthalpy in region4.
  Tests/MaterialLib/TestMPLWaterEnthalpyIAPWSIF97Region4.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL/Water] Add water vapor saturation enthalpy in region4.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Enthalpy/CreateWaterVapourEnthalpyIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Enthalpy/CreateWaterVapourEnthalpyIAPWSIF97Region4.h
  MaterialLib/MPL/Properties/Enthalpy/WaterVapourEnthalpyIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Enthalpy/WaterVapourEnthalpyIAPWSIF97Region4.h
Due: git-diff-check, file-extensions, git-clang-format

[UnitTest/Gibbs] add unit test for Gibbs free energy in region2.
  Tests/MaterialLib/TestDimensionLessGibbsFreeEnergy.cpp
Due: git-diff-check, file-extensions, git-clang-format

[UnitTest/water] water vapor saturation density in region4.
  Tests/MaterialLib/TestMPLWaterDensityIAPWSIF97Region4.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL/Water] Add water vapor saturation density in region4.
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Density/CreateWaterVapourDensityIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Density/CreateWaterVapourDensityIAPWSIF97Region4.h
  MaterialLib/MPL/Properties/Density/WaterVapourDensityIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Density/WaterVapourDensityIAPWSIF97Region4.h
Due: git-diff-check, file-extensions, git-clang-format

[MaterialLib] Add Gibbs free energy calculation in region2.
  MaterialLib/Fluid/GibbsFreeEnergy/DimensionlessGibbsFreeEnergyRegion2.cpp
  MaterialLib/Fluid/GibbsFreeEnergy/DimensionlessGibbsFreeEnergyRegion2.h
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib] Removed unnecessary path in some includes
  MeshLib/MeshGenerators/LayeredVolume.cpp
  MeshLib/MeshGenerators/RasterToMesh.cpp
  MeshLib/MeshQuality/ElementQualityInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib] clang-format for some files
  MeshLib/MeshGenerators/LayeredMeshGenerator.h
  MeshLib/MeshGenerators/LayeredVolume.h
  MeshLib/MeshGenerators/MeshGenerator.h
  MeshLib/MeshGenerators/MeshLayerMapper.h
  MeshLib/MeshGenerators/QuadraticMeshGenerator.h
  MeshLib/MeshGenerators/RasterToMesh.h
  MeshLib/MeshQuality/EdgeRatioMetric.h
  MeshLib/MeshQuality/ElementQualityInterface.h
  MeshLib/MeshQuality/ElementQualityMetric.h
  MeshLib/MeshQuality/MeshValidation.h
Due: git-diff-check, git-clang-format
