Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: file-names
        name: Check file names
        entry: scripts/hooks/pre-commit-file-names.sh
        language: system
        stages: [commit, manual]
    -   id: git-lfs
        name: Check git lfs files
        entry: scripts/hooks/pre-commit-git-lfs.sh
        language: system
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[MatL] Adsorption; Remove unused getMassFraction()
  MaterialLib/Adsorption/Adsorption.cpp
  MaterialLib/Adsorption/Adsorption.h
Due: file-extensions

[MeL] Remove unused addBottomLayerToMesh().
  MeshLib/MeshEditing/AddLayerToMesh.cpp
  MeshLib/MeshEditing/AddLayerToMesh.h
Due: file-extensions

[MeL] Remove unused getGridGeometry().
  MeshLib/MeshSearch/MeshElementGrid.cpp
  MeshLib/MeshSearch/MeshElementGrid.h
Due: file-extensions

[MeL] Remove unused VtkCellTypeToOGS().
  MeshLib/VtkOGSEnum.cpp
  MeshLib/VtkOGSEnum.h
Due: file-extensions

[BL/IO] Remove unused Writer::setFormat().
  BaseLib/IO/Writer.cpp
  BaseLib/IO/Writer.h
Due: file-extensions

[web] Fixed container download links.
  web/content/releases/6.1.0.md
  web/content/releases/6.2.0.md
  web/content/releases/6.2.1.md
  web/content/releases/6.2.2.md
  web/layouts/partials/releases-single.html
Due: none

[Conan] Fixed hdf5 linking errors on MSVC 2019.
  Applications/DataExplorer/NetCdfDialog/CMakeLists.txt
  Applications/Utils/FileConverter/CMakeLists.txt
  scripts/cmake/Find.cmake
Due: cmake-format

VTK 8.90 compatibility fix. [ci skip]
  MeshLib/Vtk/VtkMeshNodalCoordinatesTemplate-impl.h
Due: none

[scripts/cmake] Activate DEPENDS argument.
  scripts/cmake/test/AddTest.cmake
Due: none

[PL/LF] Clang format.
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
Due: file-extensions

[MeL/ME] Clang format DuplicateMeshComponents.
  MeshLib/MeshEditing/DuplicateMeshComponents.cpp
  MeshLib/MeshEditing/DuplicateMeshComponents.h
Due: file-extensions

[CMake] Added setup of CMAKE_BUILD_RPATH.
  scripts/cmake/ProjectSetup.cmake
  scripts/cmake/packaging/PackagingLinux.cmake
  scripts/cmake/packaging/PackagingMac.cmake
Due: none

[PL/LF] Create surface flux data in LiquidFlow.
  Applications/ApplicationsLib/ProjectData.cpp
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.h
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
Due: file-extensions

fixed a naming issue in THM
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: file-extensions

[T/LF] 2D-test for flux computation.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/LF_square_1e1_surfaceflux_pcs_0_ts_1_t_0.432000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/LF_square_1e1_surfaceflux_pcs_0_ts_2_t_0.864000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1e1_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1_complete_surface.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1_complete_surface_left_right_dirichlet_specific_flux_t_0.432000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1_complete_surface_left_right_dirichlet_specific_flux_t_0.864000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1_left.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1x1_quad_1e1_right.vtu
Due: none

[PL/LF] Init. impl. of LFLocalAssembler::getFlux.
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
Due: file-extensions

[T/LF] 3D-test for flux computation.
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_pcs_0_ts_0_t_0.000000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_pcs_0_ts_1_t_0.432000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/LF_cube_1e3_calculatesurfaceflux_pcs_0_ts_2_t_0.864000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1e3_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3_complete_surface.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3_complete_surface_left_right_dirichlet_specific_flux_t_0.432000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3_complete_surface_left_right_dirichlet_specific_flux_t_0.864000_expected.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3_left.vtu
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1x1x1_hex_1e3_right.vtu
Due: none

[PL/LF] Enable the sfc flux comp. in postTimestepConcreteProcess.
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
Due: file-extensions

[PL/LF] getFlux(): Init flux vec with zeros.
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
Due: none

[PL/SurfaceFlux] Impl. getSurfaceNormal for lines.
  ProcessLib/SurfaceFlux/SurfaceFluxLocalAssembler.h
Due: none

fixed missing property string in property string array
  MaterialLib/MPL/PropertyType.h
Due: none

added a test that verifies the propertyType to string (and vv.) conversion
  Tests/MaterialLib/TestMPLConvertProperties.cpp
Due: file-extensions

[doc] MathL::Petsc; Fix doxygen comments.
  MathLib/LinAlg/PETSc/PETScMatrix.h
Due: none

[MeL] Use switch-case for choosing copyElement fct
  MeshLib/MeshEditing/DuplicateMeshComponents.cpp
Due: file-extensions

[doc] material/fluid. Remove errorneous md files.
  Documentation/ProjectFile/material/fluid/density/c_density.md
  Documentation/ProjectFile/material/fluid/viscosity/c_viscosity.md
Due: none

[MeL] Remove templated copyElement from I/F.
  MeshLib/MeshEditing/DuplicateMeshComponents.cpp
  MeshLib/MeshEditing/DuplicateMeshComponents.h
Due: file-extensions

[MGTL] BoundaryElementsAlongPolyline: format.
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.h
Due: file-extensions

fixed typo
  ProcessLib/HT/HTProcess.cpp
Due: file-extensions

refactoring the MPL verification of HT process
  ProcessLib/HT/HTProcess.cpp
Due: file-extensions

changed std vectors to std arrays
  ProcessLib/HT/HTProcess.cpp
Due: file-extensions

[MeL/MQ] Clang format MeshValidation::detectHoles.
  MeshLib/MeshQuality/MeshValidation.cpp
Due: file-extensions
