Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL/Output] Use MeL::getBulkIDString()
  ProcessLib/Output/SubmeshResiduumOutputConfig.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/BCandST] Use function to access bulk IDs
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryCondition.cpp
Due: git-diff-check, file-extensions, git-clang-format

Use MeshLib::bulkNodeIDs()
  Applications/Utils/MeshEdit/ReorderMesh.cpp
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
  NumLib/DOF/MeshComponentMap.cpp
  ProcessLib/AssemblyMixin.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DeactivatedSubdomainDirichlet.cpp
  ProcessLib/CreateDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Short cut for access to bulk ids.
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Replace callback creators with functors
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL/SD] Add ip writer for solid material states
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/SD] Restart two solid materials with state
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart_t_0.7000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart_t_0.8000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart_t_0.9000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart_t_1.0000.vtu
Due: git-diff-check

[PL] Extract callback creation for IP writer
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Extract callback creation for secondary vars
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Avoid copy of a vector; working with r-values
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Allow reading of zero integration points
  ProcessLib/Utils/SetIPDataInitialConditions.h
Due: git-diff-check, git-clang-format

[T/SD] Update references including internal vars
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.0000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.1000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.2000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.3000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.4000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.5000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.5700.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.6000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.7000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.8000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_0.9000.vtu
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_t_1.0000.vtu
Due: none

[PL] Extract common data class
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Extract findInternalVariable in both callbacks
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Extract another loop and collection of IVs
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Extract collecting of internal variables
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Move findInternalVariable into a class
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[PL] Move up equal number of components check
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[T/SD] restart; Disable epsilon cmp of 1st ts
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
Due: none

[TH2M] Move volumetric strain before saturation
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[BL] Added StrongType
  BaseLib/StrongType.h
Due: git-diff-check, git-clang-format

[PL/TRM] Exemplary use of strong types
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Biot.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Biot.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqP.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/FluidThermalExpansion.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SolidCompressibility.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/SolidMechanics.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added test for strong types
  Tests/BaseLib/TestStrongType.cpp
Due: git-diff-check, file-extensions, git-clang-format

Update of coroporate design TUBAF logo.
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.ipynb
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
  Tests/Data/TH2M/H/diffusion/diffusion.ipynb
  Tests/Data/TH2M/H2/dissolution_diffusion/phase_appearance.ipynb
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter.ipynb
  Tests/Data/TH2M/TH/Ogata-Banks/Ogata-Banks.ipynb
  Tests/Data/TH2M/TH/idealGasLaw/confined_gas_compression.ipynb
  Tests/Data/TH2M/TH2/heatpipe/heatpipe.ipynb
Due: none

[ci] Updated wheel.
  Tests/Data/requirements-ogs.txt
Due: none

[cmake] Fix win race condition.
  scripts/ci/extends/template-build-win.yml
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

Update vtkdiff
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[T/THM] A2; Slightly relax velocity tolerances
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
Due: none

[PL/THM] Extract ConstitutiveRelationsValues
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL/THM] Store velocity for output
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL/THM] Use updateConstitutiveRels in assembly
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/THM] Use updateConstitutiveRels. in post
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/THM] Reset velocity for output in preTimeStep
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Move update constitutive into compute2nd
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/THM] Extract updateConstitutiveRelations
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL/THM] Generalize localDOF to any container
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL] Update deact. subdomains before first output
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[AppL] Initialize embedded Python only when used.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  Applications/CLI/CMakeLists.txt
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Removed option OGS_USE_PYTHON.
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/CLI/CMakeLists.txt
  Applications/Python/CMakeLists.txt
  CMakeLists.txt
  CMakePresets.json
  ProcessLib/CMakeLists.txt
  ProcessLib/HeatTransportBHE/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/DocumentationSetup.cmake
  scripts/cmake/Features.cmake
  scripts/cmake/PythonSetup.cmake
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
