Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

Fixed naming of renamed function in linked-xml-file.py
  scripts/doc/linked-xml-file.py
Due: git-diff-check

Added demangling in serveral places
  Applications/Utils/ModelPreparation/CreateAnchors/SolverByElementTypeRegistry.h
  BaseLib/ConfigTree-impl.h
  MeshLib/IO/VtkIO/VtkMeshConverter.h
  MeshLib/Properties-impl.h
  NumLib/Fem/Integration/IntegrationMethodRegistry.cpp
  ProcessLib/HeatTransportBHE/LocalAssemblers/LocalDataInitializer.h
  ProcessLib/LIE/HydroMechanics/LocalAssembler/LocalDataInitializer.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/LocalDataInitializer.h
  ProcessLib/Utils/GenericLocalAssemblerFactory.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(TRM): Make the consistency in struct names and their file names
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/BishopsModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/BishopsModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLawModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLawModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqPModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqPModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqTModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqTModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/FluidThermalExpansionModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/FluidThermalExpansionModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/GravityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/GravityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidDensityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidDensityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidViscosityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidViscosityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PorosityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PorosityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SaturationModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SaturationModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SolidDensityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SolidDensityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMHeatStorageAndFluxModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMHeatStorageAndFluxModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorageModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMStorageModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMVaporDiffusionModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMVaporDiffusionModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/ThermoOsmosisModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/ThermoOsmosisModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStressSaturation_StrainPressureTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveStress_StrainTemperature/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(TRM): Instantiate the template struct data
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/CapillaryPressureData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/ConstitutiveCommonInstantiations.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqPData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqTData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/GravityData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/SolidThermalExpansionData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMHeatStorageAndFluxData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMVaporDiffusionData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TemperatureData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/ThermoOsmosisData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TotalStressData.h
Due: git-diff-check, file-extensions, git-clang-format

[utils] Add missing std:: in NetCdfConverter.cpp.
  Applications/Utils/FileConverter/NetCdfConverter.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor: Changed the volume comparison method in NodeReordering
  Applications/Utils/MeshEdit/NodeReordering.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(CTest#TH2M): Increase one result comparison tolerance
  Tests/Data/TH2M/submesh_residuum_assembly/p_G.xml
Due: none

refactor(MeL): move getDimension function from utility to MeshEnums
  Applications/Utils/SimpleMeshCreation/generateStructuredMesh.cpp
  MeshLib/MeshEnums.h
Due: git-diff-check, file-extensions, git-clang-format

fix(App): Remove no-boundary-meshes option to fix
  Applications/Utils/SimpleMeshCreation/generateStructuredMesh.cpp
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.py
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.py
  Tests/Data/ThermoRichardsMechanics/MFront/ThermoPoroElasticity/uniaxial_isothermal_drainage_imbibition_extended_mfront_model.prj
  Tests/Python/test_wrapped_cli_tools.py
  web/content/docs/tools/model-preparation/compute-node-areas-from-surface-mesh/index.md
Due: git-diff-check, file-extensions, git-clang-format

feat(App): add automatic boundary mesh extraction to generateStructuredMesh
  Applications/Utils/SimpleMeshCreation/generateStructuredMesh.cpp
  Tests/Python/test_wrapped_cli_tools.py
Due: git-diff-check, file-extensions, git-clang-format

doc: update tutorials and notebooks
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.py
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.py
  Tests/Data/ThermoRichardsMechanics/MFront/ThermoPoroElasticity/uniaxial_isothermal_drainage_imbibition_extended_mfront_model.prj
  web/content/docs/tools/model-preparation/compute-node-areas-from-surface-mesh/index.md
  web/content/docs/tools/workflows/create-a-simple-parallel-model/index.md
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

Heating of homogeneous vol benchmark
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/HeatingHomogeneousDomain/figures/domain.png
  Tests/Data/ThermoHydroMechanics/HeatingHomogeneousDomain/heating_homogenous_vol.py
  Tests/Data/ThermoHydroMechanics/HeatingHomogeneousDomain/reference_results_at_t_end.npz
  web/content/docs/benchmarks/thermo-hydro-mechanics/heating-homogeneous-domain/Szz.png
  web/content/docs/benchmarks/thermo-hydro-mechanics/heating-homogeneous-domain/index.md
  web/content/docs/benchmarks/thermo-hydro-mechanics/heating-homogeneous-domain/p.png
Due: git-diff-check

[ci] Add git status check on Linux / Mac jobs.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[web] Moved pre-commit setup to the getting started guide.
  web/content/docs/devguide/development-workflows/setup-fork/index.md
  web/content/docs/devguide/getting-started/get-the-source-code/index.md
Due: git-diff-check

[web] Update notebook docs.
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[T,nb] Fix notebook output paths.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/ssd-cube.py
  Tests/Data/HydroMechanics/FailureIndexDependentPermeability/permeability-in-EDZ.py
  Tests/Data/HydroMechanics/NodalSourceTerm/Nodal-source-test.py
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.py
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/great_cell_LIE.py
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/GreatCellHM.py
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/GreatCellM.py
  Tests/Data/LargeDeformation/RigidBody/RigidBody.py
  Tests/Data/LargeDeformation/Torsion/Torsion_robustness.py
  Tests/Data/Mechanics/HoekBrown/HoekBrownYieldCriterion.py
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.py
  Tests/Data/Mechanics/Linear/DiscWithHole_convergence_study/Linear_Disc_with_hole_convergence_analysis.py
  Tests/Data/Notebooks/SimplePETSc.py
  Tests/Data/Parabolic/ComponentTransport/DFN_PorePy/DFNbyPorePy_to_OGS.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.py
  Tests/Data/Parabolic/ComponentTransport/Theis_Axisymmetric/axisym_theis_CT.py
  Tests/Data/Parabolic/ComponentTransport/ThermalDiffusion/ThermalDiffusion.py
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.py
  Tests/Data/Parabolic/LiquidFlow/BlockingConductingFracture/BlockingConductingFracture.py
  Tests/Data/Parabolic/Richards/richards-flow.py
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.py
  Tests/Data/PhaseField/PForthotropy_jupyter_notebook/sen_shear.py
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.py
  Tests/Data/TH2M/H2/mcWhorter/mcWhorter.py
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_interactive.py
  Tests/Data/TH2M/TH/idealGasLaw/confined_gas_compression.py
  Tests/Data/ThermoHydroMechanics/HeatingHomogeneousDomain/heating_homogenous_vol.py
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/creep-after-excavation.py
  web/content/docs/tutorials/transport_tutorial/notebook-transport_tutorial.py
Due: git-diff-check

[T] Relax tol.
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest.prj
Due: none

fix(doc): Move misplaced class docu from namespace
  Applications/ApplicationsLib/LinearSolverLibrarySetup.h
  MaterialLib/SolidModels/Ehlers.cpp
  ParameterLib/TimeDependentHeterogeneousParameter.h
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check, file-extensions, git-clang-format

fix(GL): Internal namespace should not be named
  GeoLib/AnalyticalGeometry.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/THM): Slightly relax ctest tolerance
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/M/square_1e1_2_matIDs.prj
Due: none

chores(SD): Remove unused header include
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T,nb] Fix output to build dir.
  Tests/Data/HMPhaseField/GreatCell/GreatCellHM_VPF_propagating.py
Due: none

refactor(H): Extract the EquationBalanceType stuff
  ProcessLib/CMakeLists.txt
  ProcessLib/Common/HydraulicProcess/checkVolumeBalanceEquationSetting.cpp
  ProcessLib/Common/HydraulicProcess/checkVolumeBalanceEquationSetting.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(H): Use the EquationBalanceType stuff
  Documentation/ProjectFile/prj/processes/process/LIQUID_FLOW/t_equation_balance_type.md
  ProcessLib/LiquidFlow/CreateLiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowData.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(THM): remove an unused variable
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
Due: git-diff-check, git-clang-format

refactor(THM): Optimize the computation in the local monolithic assembler
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[guix] Updated channels.
  scripts/guix/README.md
  scripts/guix/channels-science.scm
  scripts/guix/channels.scm
  scripts/guix/manifest-dev.scm
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial.scm
Due: git-diff-check

[web] Adapt docs.
  web/content/docs/devguide/advanced/guix/index.md
Due: git-diff-check

[ci] Streamlined deploy container job logic.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

chores(T): Update ctests' runtimes
  Applications/Utils/Tests.cmake
  ProcessLib/ComponentTransport/Tests.cmake
  ProcessLib/HT/Tests.cmake
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/HeatTransportBHE/Tests.cmake
  ProcessLib/HydroMechanics/Tests.cmake
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  ProcessLib/LIE/SmallDeformation/Tests.cmake
  ProcessLib/LargeDeformation/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/RichardsComponentTransport/Tests.cmake
  ProcessLib/RichardsFlow/Tests.cmake
  ProcessLib/RichardsMechanics/Tests.cmake
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/TH2M/Tests.cmake
  ProcessLib/Tests.cmake
  ProcessLib/ThermalTwoPhaseFlowWithPP/Tests.cmake
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  ProcessLib/TwoPhaseFlowWithPP/Tests.cmake
  ProcessLib/WellboreSimulator/Tests.cmake
Due: git-diff-check

ci: increase code coverage ctest max time to 101s
  CMakePresets.json
Due: git-diff-check

perf(coverage): Don't instrument system/CPM files
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

fix(coverage): enable atomic coverage updates
  scripts/cmake/Coverage.cmake
Due: git-diff-check

[coverage] Update gcovr to 8.6.
  scripts/cmake/Coverage.cmake
Due: git-diff-check

perf(coverage): Enable some Eigen optimizations
  scripts/cmake/Coverage.cmake
Due: git-diff-check

ci(coverage): ignore gcov's "suspicious hits"
  scripts/cmake/gcovr.cfg.in
Due: git-diff-check

perf(coverage): Disable libc++ assertions
  scripts/cmake/Coverage.cmake
Due: git-diff-check

build(MaL): remove debug-only Eigen matrix NaN init
  MathLib/CMakeLists.txt
Due: git-diff-check
