Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[web] Adapted to new structure: Reactive Transport
  web/content/docs/benchmarks/reactive-transport/ThermalDiffusion/DiffusionThermalGradient.pdf
  web/content/docs/benchmarks/reactive-transport/ThermalDiffusion/index.md
  web/content/docs/benchmarks/reactive-transport/Wetland_cwm1.png
  web/content/docs/benchmarks/reactive-transport/_index.md
  web/content/docs/benchmarks/reactive-transport/calcite/index.md
  web/content/docs/benchmarks/reactive-transport/exchange/fig1.png
  web/content/docs/benchmarks/reactive-transport/exchange/fig2.png
  web/content/docs/benchmarks/reactive-transport/exchange/index.md
  web/content/docs/benchmarks/reactive-transport/kineticreactant_allascomponents/KineticReactant2.gif
  web/content/docs/benchmarks/reactive-transport/kineticreactant_allascomponents/KineticReactant2_domain.png
  web/content/docs/benchmarks/reactive-transport/kineticreactant_allascomponents/index.md
  web/content/docs/benchmarks/reactive-transport/radionuclide/Fig1.png
  web/content/docs/benchmarks/reactive-transport/radionuclide/Fig2.gif
  web/content/docs/benchmarks/reactive-transport/radionuclide/domain.png
  web/content/docs/benchmarks/reactive-transport/radionuclide/index.md
  web/content/docs/benchmarks/reactive-transport/wetland/Wetland_1d.gif
  web/content/docs/benchmarks/reactive-transport/wetland/Wetland_cwm1.png
  web/content/docs/benchmarks/reactive-transport/wetland/Wetland_domain.png
  web/content/docs/benchmarks/reactive-transport/wetland/index.md
Due: git-diff-check

[web] Adapted to new structure: Thermo-Mechanics
  web/content/docs/benchmarks/thermo-mechanics/BGRaVerificationExamples/index.md
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/T.png
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/index.md
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/mesh.png
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/strain.png
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/stress_xx_yy_110.png
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/stress_xx_yy_20.png
  web/content/docs/benchmarks/thermo-mechanics/CreepAfterExcavation/stress_xx_yy_50.png
  web/content/docs/benchmarks/thermo-mechanics/CreepBGRa/bgra0.png
  web/content/docs/benchmarks/thermo-mechanics/CreepBGRa/doku_BGRa.pdf
  web/content/docs/benchmarks/thermo-mechanics/CreepBGRa/index.md
  web/content/docs/benchmarks/thermo-mechanics/_index.md
  web/content/docs/benchmarks/thermo-mechanics/stress_xx_yy_50.png
  web/content/docs/benchmarks/thermo-mechanics/thermomechanics-bgr/index.md
  web/content/docs/benchmarks/thermo-mechanics/thermomechanics/index.md
Due: git-diff-check

[web] Adapted to new structure: Phase-Field
  web/content/docs/benchmarks/phase-field/VPF_ME2_case1.png
  web/content/docs/benchmarks/phase-field/_index.md
  web/content/docs/benchmarks/phase-field/pf_perc/index.md
  web/content/docs/benchmarks/phase-field/pf_tpb/index.md
  web/content/docs/benchmarks/phase-field/pf_tpb_ani/index.md
  web/content/docs/benchmarks/phase-field/phasefield/index.md
Due: git-diff-check

[web] Adapted to new structure: Thermo-Mechanical Phase-Field
  web/content/docs/benchmarks/thermo-mechanical-phase-field/_index.md
  web/content/docs/benchmarks/thermo-mechanical-phase-field/t_pf.png
  web/content/docs/benchmarks/thermo-mechanical-phase-field/thermo-mechanical-phase-field/index.md
Due: git-diff-check

[web] Adapted to new structure: Thermo-Richards-Mechanics
  web/content/docs/benchmarks/thermo-richards-mechanics/CTF1/index.md
  web/content/docs/benchmarks/thermo-richards-mechanics/DECOVALEX2023-TaskC/index.md
  web/content/docs/benchmarks/thermo-richards-mechanics/_index.md
  web/content/docs/benchmarks/thermo-richards-mechanics/decovalex_2023_c.png
Due: git-diff-check

[web] Adapted to new structure: Thermal-Two-Phase Flow
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/index.md
  web/content/docs/benchmarks/thermal-two-phase-flow/_index.md
  web/content/docs/benchmarks/thermal-two-phase-flow/err.png
Due: git-diff-check

[web] Adapted to new structure: Stokes Flow
  web/content/docs/benchmarks/stokes-flow/Fig1_SchematicDiagram.png
  web/content/docs/benchmarks/stokes-flow/_index.md
  web/content/docs/benchmarks/stokes-flow/parallel-plate-flow/index.md
Due: git-diff-check

[web] Adapted to new structure: Two-Phase-Flow-pp
  web/content/docs/benchmarks/two-phase-flow-pp-form/_index.md
  web/content/docs/benchmarks/two-phase-flow-pp-form/two-phase-flow-pp-liakopoulos/index.md
  web/content/docs/benchmarks/two-phase-flow-pp-form/two-phase-flow-pp-mcwhorter/index.md
Due: git-diff-check

[ci,web] Adapted Jupyter notebook conversion to new structure
  Tests/Data/Notebooks/testrunner.py
  scripts/ci/jobs/jupyter.yml
  web/data/versions.json
Due: git-diff-check

[nb] Adapted notebooks to new web structure.
  .gitignore
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole.ipynb
  Tests/Data/Notebooks/SimpleMechanics.ipynb
  Tests/Data/Notebooks/SimplePETSc.ipynb
  Tests/Data/Notebooks/pointheatsource.run-skip.ipynb
  Tests/Data/Notebooks/thermo-osmosis.run-skip.ipynb
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/DiffusionSorptionDecay.ipynb
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/MultiLayerDiffusion.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/RadionuclidesMigration.ipynb
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/heatpipe.ipynb
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.ipynb
Due: git-diff-check

[web] Fixed docs sidebar.
  web/layouts/partials/docs/sidebar.html
Due: git-diff-check

[web] Added breadcrumbs navigation to docs.
  web/layouts/docs/gallery.html
  web/layouts/docs/single.html
  web/layouts/partials/docs/breadcrumbs.html
  web/layouts/partials/docs/sidebar.html
Due: git-diff-check

[web] Small fix for docs gallery.
  web/layouts/docs/gallery.html
Due: git-diff-check

[web] Make breadcrumbs configurable for section.
  web/content/docs/benchmarks/_index.md
  web/layouts/docs/single.html
Due: git-diff-check

[web] Some missing benchmark images.
  web/content/docs/benchmarks/heat-transport-bhe/3D_Beier_sandbox/index.md
  web/content/docs/benchmarks/liquid-flow/flow_in_fracture/index.md
  web/content/docs/benchmarks/richards-flow/richards-component-transport/index.md
  web/content/docs/benchmarks/small-deformations/ModifiedCamClay/index.md
  web/content/docs/benchmarks/thermo-richards-mechanics/CTF1/index.md
  web/content/docs/benchmarks/two-phase-flow/momas/index.md
Due: git-diff-check

[web] Adapted to new structure: devguide.
  web/content/docs/devguide/_index.md
  web/content/docs/devguide/advanced/_index.md
  web/content/docs/devguide/development-workflows/_index.md
  web/content/docs/devguide/environments/_index.md
  web/content/docs/devguide/getting-started/_index.md
  web/content/docs/devguide/getting-started/build-configuration/index.md
  web/content/docs/devguide/getting-started/build-configuration_for_MPI_PETSc/configure_for_mpi_and_petsc.md
  web/content/docs/devguide/getting-started/build/index.md
  web/content/docs/devguide/getting-started/get-the-source-code/index.md
  web/content/docs/devguide/getting-started/introduction/index.md
  web/content/docs/devguide/getting-started/prerequisites/index.md
  web/content/docs/devguide/packages/_index.md
  web/content/docs/devguide/procedures/_index.md
  web/content/docs/devguide/testing/_index.md
  web/content/docs/devguide/troubleshooting/_index.md
Due: git-diff-check

[web] Adapted to new structure: useguide.
  web/content/docs/userguide/_index.md
  web/content/docs/userguide/basics/_index.md
  web/content/docs/userguide/basics/cli-arguments/index.md
  web/content/docs/userguide/basics/container/index.md
  web/content/docs/userguide/basics/conventions/index.md
  web/content/docs/userguide/basics/envinf1/index.md
  web/content/docs/userguide/basics/introduction/index.md
  web/content/docs/userguide/basics/jupyter-notebooks/index.md
  web/content/docs/userguide/basics/project-file/index.md
  web/content/docs/userguide/post-processing/_index.md
  web/content/docs/userguide/post-processing/paraview-on-eve/index.md
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE/index.md
  web/content/docs/userguide/process-dependent-configuration/Heat_Transport_BHE_PipelineNetwork/index.md
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview/index.md
  web/content/docs/userguide/process-dependent-configuration/_index.md
  web/content/docs/userguide/troubleshooting/_index.md
  web/content/docs/userguide/troubleshooting/general/index.md
  web/content/docs/userguide/troubleshooting/get-support/index.md
Due: git-diff-check

[web] Adapted to new structure: tools.
  web/content/docs/tools/_index.md
  web/content/docs/tools/fileio/GMSH2OGS/index.md
  web/content/docs/tools/fileio/GocadTSurfaceReader/index.md
  web/content/docs/tools/fileio/Mesh2Raster/index.md
  web/content/docs/tools/fileio/Mesh2Shape/index.md
  web/content/docs/tools/fileio/TecPlotTools/index.md
  web/content/docs/tools/fileio/_index.md
  web/content/docs/tools/getting-started/_index.md
  web/content/docs/tools/getting-started/first_steps/index.md
  web/content/docs/tools/getting-started/overview/index.md
  web/content/docs/tools/getting-started/video-tutorial/index.md
  web/content/docs/tools/meshing-submeshes/_index.md
  web/content/docs/tools/meshing-submeshes/constructMeshesFromGeometry/index.md
  web/content/docs/tools/meshing-submeshes/extract-boundary/index.md
  web/content/docs/tools/meshing-submeshes/extract-surface/index.md
  web/content/docs/tools/meshing-submeshes/identifySubdomains/index.md
  web/content/docs/tools/meshing-submeshes/submeshes/index.md
  web/content/docs/tools/meshing/_index.md
  web/content/docs/tools/meshing/addlayer/index.md
  web/content/docs/tools/meshing/gmsh-interface/index.md
  web/content/docs/tools/meshing/gocadsgridreader/index.md
  web/content/docs/tools/meshing/remove-mesh-elements/index.md
  web/content/docs/tools/meshing/structured-mesh-generation/index.md
  web/content/docs/tools/meshing/vtu2grid/index.md
  web/content/docs/tools/model-preparation/_index.md
  web/content/docs/tools/model-preparation/add-element-quality/index.md
  web/content/docs/tools/model-preparation/compute-node-areas-from-surface-mesh/index.md
  web/content/docs/tools/model-preparation/convert-data-array-to-data-array/index.md
  web/content/docs/tools/model-preparation/create-boundary-conditions-along-a-polyline/index.md
  web/content/docs/tools/model-preparation/map-geometric-object-to-the-surface-of-a-mesh/index.md
  web/content/docs/tools/model-preparation/mesh-partition/index.md
  web/content/docs/tools/model-preparation/set-properties-in-polygonal-region/index.md
  web/content/docs/tools/preprocessing/_index.md
  web/content/docs/tools/preprocessing/createIntermediateRasters/index.md
  web/content/docs/tools/workflows/Example-of-a-DGM-to-model-workflow/index.md
  web/content/docs/tools/workflows/_index.md
  web/content/docs/tools/workflows/create-a-simple-parallel-model/index.md
  web/content/docs/tools/workflows/create-boundary-condition-in-polygonal-region/index.md
Due: git-diff-check

[web] Updated documentation.
  web/content/docs/_index.md
  web/content/docs/devguide/development-workflows/jupyter-docs/index.md
  web/content/docs/devguide/development-workflows/web-docs/index.md
  web/layouts/partials/docs/breadcrumbs.html
Due: git-diff-check

[web] Small fixes to the benchmark docs according to MR comments.
  web/content/docs/_index.md
  web/content/docs/benchmarks/_index.md
  web/content/docs/benchmarks/elliptic/_index.md
  web/layouts/docs/gallery.html
  web/layouts/docs/subsections.html
  web/layouts/partials/docs/breadcrumbs.html
Due: git-diff-check

[web] Regular benchmarks and notebooks are shown together in the gallery.
  web/layouts/docs/gallery.html
  web/layouts/partials/components/gallery-item.html
Due: git-diff-check

[web] Use empty white image in gallery.
  web/assets/images/white.png
  web/layouts/partials/components/gallery-item.html
Due: git-diff-check

[cmake] Updated spdlog to 1.10.0.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

Fixed format specifiers
  Applications/Utils/FileConverter/TecPlotTools.cpp
  Applications/Utils/MeshGeoTools/computeSurfaceNodeIDsInPolygonalRegion.cpp
  BaseLib/Algorithm.h
  BaseLib/PrjProcessing.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CapillaryPressureVanGenuchten.cpp
  MaterialLib/MPL/Utils/FormEigenTensor.cpp
  MeshLib/MeshEditing/AddLayerToMesh.cpp
  MeshLib/MeshSurfaceExtraction.cpp
  NumLib/TimeStepping/Algorithms/FixedTimeStepping.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Use runtime-checked formatting
  BaseLib/FileTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

Cast enums for logging
  MaterialLib/SolidModels/Ehlers.cpp
  MeshLib/VtkOGSEnum.cpp
  ProcessLib/Output/CreateOutput.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] Made functions consteval compatible
  BaseLib/Logging.h
Due: git-diff-check, git-clang-format

[App] Added string conversion for logging
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

Added basic format string literals
  Applications/CLI/ogs.cpp
  Applications/CLI/ogs_python_module.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Tests/testrunner.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Mat] Make string literal constexpr
  MaterialLib/MPL/Utils/FormKelvinVectorFromThermalExpansivity.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Made function consteval compatible
  MeshLib/IO/XDMF/HdfWriter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use runtime-checked formatting
  MeshLib/IO/XDMF/writeXdmf.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Fixed format string errors
  ProcessLib/ComponentTransport/CreateLookupTable.cpp
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/LIE/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/CreateSmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Use formatter for messages
  Tests/MeshLib/ElementUtils.h
  Tests/MeshLib/UnitCube.h
  Tests/NumLib/ReferenceElementUtils.cpp
  Tests/NumLib/ShapeFunctionUtils.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Moved porosity initialization
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL] Moved several members to interface class
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL] Moved posttimestep hook
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL] Removed SecondaryData
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL] Moved setIPDataInitialConditions()
  ProcessLib/ThermoRichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format
