Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

[ci] Job input ogstools for build linux arch.
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[ci] Job input ctest_args for build linux arch.
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[ci] Job input build_ctest_large for build linux arch.
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[ci] Move build linux petsc to build linux arch job file.
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[ci] Remove file build-linux-petsc.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/pipelines/web.yml
Due: git-diff-check

[ci] Add global input pipeline_type.
  .gitlab-ci.yml
Due: git-diff-check

[ci]: pass inputs variables is enough.
  .gitlab-ci.yml
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[ci] Move meta.yml include to top-level.
  .gitlab-ci.yml
  scripts/ci/pipelines/gui.yml
  scripts/ci/pipelines/linux.yml
  scripts/ci/pipelines/mac.yml
  scripts/ci/pipelines/regular.yml
  scripts/ci/pipelines/web-fast.yml
  scripts/ci/pipelines/web.yml
  scripts/ci/pipelines/win.yml
Due: git-diff-check

[ci] Simplifiy top-level yml by using two levels of includes.
  .gitlab-ci.yml
  scripts/ci/pipelines/notebooks.yml
  scripts/ci/pipelines/pipeline_source_pipeline.yml
  scripts/ci/pipelines/pipeline_source_regular.yml
  scripts/ci/pipelines/pipeline_source_schedule.yml
Due: git-diff-check

test passing pipeline type as variable.
  .gitlab-ci.yml
  scripts/ci/pipelines/pipeline_source_pipeline.yml
Due: git-diff-check

[ci] OGSTOOLS_REF processing in template.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-linux-arch.yml
  web/content/docs/devguide/testing/gitlab-ci/index.md
Due: git-diff-check

feat(PL): same name for secondary variables
  Documentation/ProjectFile/prj/processes/process/secondary_variables/secondary_variable/a_internal_name.md
  Documentation/ProjectFile/prj/processes/process/secondary_variables/secondary_variable/a_name.md
  Documentation/ProjectFile/prj/processes/process/secondary_variables/secondary_variable/a_output_name.md
  ProcessLib/Output/CreateSecondaryVariables.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/TRM): adjust prj patches for changed secondary vars
  Tests/Data/LargeDeformation/RigidBody/RigidBody.py
  Tests/Data/ThermoRichardsMechanics/MFront/A2/A2.xml
  Tests/Data/ThermoRichardsMechanics/MFront/A2/A2_effective_stress0.xml
  Tests/Data/ThermoRichardsMechanics/MFront/ThermoPoroElasticity/uniaxial_isothermal_drainage_imbibition_basic_mfront_model_ctest.xml
Due: none

fix(T/TRM) slightly relax ctest tolerance
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

[web] Updated minimum Hugo version.
  web/data/versions.json
Due: git-diff-check

fix(NL): time is unit-less
  NumLib/StaggeredCoupling/StaggeredCoupling-impl.h
Due: git-diff-check, git-clang-format

fix(THM): slightly relax ctest tolerance
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/TM/square_1e1_2_matIDs.prj
Due: none

refactor(PL/BC): move element normal computation
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryConditionLocalAssembler.h
Due: git-diff-check, git-clang-format

test(SD): normal traction reduced case for !3565
  Tests/Data/Mechanics/Linear/NormalTraction/bottom.vtu
  Tests/Data/Mechanics/Linear/NormalTraction/domain.vtu
  Tests/Data/Mechanics/Linear/NormalTraction/inner_boundary.vtu
  Tests/Data/Mechanics/Linear/NormalTraction/left.vtu
  Tests/Data/Mechanics/Linear/NormalTraction/normal_traction.prj
  Tests/Data/Mechanics/Linear/NormalTraction/right.vtu
  Tests/Data/Mechanics/Linear/NormalTraction/top.vtu
Due: none

fix(PL/BC): For line elements normal points out
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition.h
Due: git-diff-check, file-extensions, git-clang-format

test(SD): CTest and reference for normal traction
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Linear/NormalTraction/normal_traction.prj
  Tests/Data/Mechanics/Linear/NormalTraction/normal_traction_ts_1_t_1.000000.vtu
Due: git-diff-check

fix(tests): flip NormalTraction values for some tests
  Tests/Data/HMPhaseField/GreatCell/HM1_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/HM2a_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/HM2b_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/M1_VPF.prj
  Tests/Data/HMPhaseField/GreatCell/M2_VPF.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/disc_with_hole_parameters.include
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.prj
  Tests/Data/HydroMechanics/StaggeredScheme/MandelCryer/MandelCryerStaggered.prj
  Tests/Data/LIE/HydroMechanics/GreatCellWithBBar/HM2b_LIE_F.prj
  Tests/Data/LIE/HydroMechanics/GreatCellWithTrianglularMesh/great_cell_2d_HM_LIE_embedded_fracture.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM1_HM.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2a_LIE.prj
  Tests/Data/LIE/HydroMechanics/GreatCelljupyterNotebook/HM2b_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/mechanics_embedded_fracture_F.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M1_SD.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/M2_LIE.prj
  Tests/Data/LIE/Mechanics/GreatCelljupyterNotebook/ogs_model_runner.py
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
  Tests/Data/Mechanics/Linear/PressureBC/axisymmetric_sphere.prj
  Tests/Data/Mechanics/Linear/PrincipalStress/sphere.prj
  Tests/Data/Mechanics/Linear/plain_strain_pipe.prj
  Tests/Data/Mechanics/MohrCoulombAbboSloan/load_test_mc.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/Cs.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/RadionuclidesMigration/U.prj
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_TH2M.prj
  Tests/Data/TH2M/H2/mcWhorter_interactive/mcWhorter_TwoPhasePP.prj
Due: none

refactor(PL/BC): extract computeElementNormal function and use ranges
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
Due: git-diff-check, git-clang-format

fix(T/LIE): GreatCell normal traction related updates
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCellWithTrianglularMesh/great_cell_2D_embedded_fracture_ts_58_t_2500.000000.vtu
  Tests/Data/LIE/HydroMechanics/GreatCellWithTrianglularMesh/great_cell_2D_embedded_fracture_ts_64_t_2500.000000.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG1.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG10.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG11.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG12.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG13.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG14.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG15.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG16.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG2.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG3.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG4.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG5.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG6.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG7.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG8.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_BAG9.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP1.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP10.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP11.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP12.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP13.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP14.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP15.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP16.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP2.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP3.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP4.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP5.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP6.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP7.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP8.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2D_STRIP9.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/2d_mesh.vtu
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/mechanics_embedded_fracture_F.prj
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/mechanics_embedded_fracture_F_PMMA_ts_1_t_1.000000.vtu
Due: git-diff-check

fix(T/LIE): slightly relax ctest tolerances
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

feat(PL/BC): extend edge normal to non-in-plane elements
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
Due: git-diff-check, git-clang-format

fix(PL/BC): fix normalization of normal vector
  ProcessLib/BoundaryConditionAndSourceTerm/NormalTractionBoundaryCondition-impl.h
Due: git-diff-check, git-clang-format

refactor(T/LIE/M): OgsTest and <vtkdiff>
  ProcessLib/LIE/SmallDeformation/Tests.cmake
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/mechanics_embedded_fracture_F.prj
  Tests/Data/LIE/Mechanics/sfrac.q.prj
  Tests/Data/LIE/Mechanics/single_joint.prj
  Tests/Data/LIE/Mechanics/single_joint_3D.prj
  Tests/Data/LIE/Mechanics/single_joint_displacement_controlled.prj
  Tests/Data/LIE/Mechanics/single_joint_inside.prj
  Tests/Data/LIE/Mechanics/single_joint_negative_aperture.prj
  Tests/Data/LIE/Mechanics/two_cracks_branch_pull.prj
  Tests/Data/LIE/Mechanics/two_cracks_junction_pull.prj
  Tests/Data/LIE/Mechanics/two_joints.prj
Due: git-diff-check

fix(T/LIE/M): relax ctest tolerance
  Tests/Data/LIE/Mechanics/GreatCellWithBBar/mechanics_embedded_fracture_F.prj
Due: none

Extract some content from pdfs to Processes section
  web/content/docs/benchmarks/hydro-thermal/constant-viscosity/index.md
  web/content/docs/processes/large-deformation/_index.md
  web/content/docs/processes/large-deformation/f-bar/index.md
  web/content/docs/processes/thermal-processes/Hydro-thermal/index.md
  web/content/docs/userguide/basics/conventions/index.md
  web/content/docs/userguide/basics/units/index.md
Due: git-diff-check

Creep After Excavation python benchmark
  ProcessLib/ThermoMechanics/Tests.cmake
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/CreepAfterExcavation.prj
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/creep-after-excavation.py
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/figures/mesh.png
Due: git-diff-check

A test with nodal source term python benchmark
  ProcessLib/HydroMechanics/Tests.cmake
  Tests/Data/HydroMechanics/NodalSourceTerm/Nodal-source-test.py
  Tests/Data/HydroMechanics/NodalSourceTerm/nodal_source_test.prj
Due: git-diff-check

Implement cutoffs for Linear MPL property
  MaterialLib/MPL/Properties/CreateLinear.cpp
  MaterialLib/MPL/Properties/Linear.cpp
  MaterialLib/MPL/Properties/Linear.h
  Tests/MaterialLib/TestMPLLinear.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Doc] Documented cutoff parameters
  Documentation/ProjectFile/properties/property/Linear/independent_variable/t_max.md
  Documentation/ProjectFile/properties/property/Linear/independent_variable/t_min.md
Due: git-diff-check

[T] Added cutoff tests
  Tests/MaterialLib/TestMPLLinear.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(THM): avoid ice formation at low positive temperatures
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_10_t_10000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_20_t_20000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_50_t_50000.000000.vtu
Due: none

feat(THM): ice volume fraction avg output
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

feat(THM): compute ice vol. fraction in initialization
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format
