Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[web] Fix some spell check issues.
  Documentation/.vale/Vocab/ogs/accept.txt
  web/content/docs/benchmarks/thermal-two-phase-flow/TCE-diffusion/index.md
Due: git-diff-check

[PL] Relax tolerance for ubuntu1 runner.
  ProcessLib/ThermalTwoPhaseFlowWithPP/Tests.cmake
Due: git-diff-check

[MPL] Rename Henry "constant" to henry_coefficient
  MaterialLib/MPL/PropertyType.h
  ProcessLib/ThermalTwoPhaseFlowWithPP/CreateThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_small.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/TCEDiffusion/Twophase_TCE_diffusion_1D_small.prj
Due: git-diff-check, file-extensions, git-clang-format

[ci] Fixed Netlify site ids.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[PL] No int meth tpl param in HM process
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param for Taylor-Hood FE
  ProcessLib/Utils/CreateLocalAssemblersTaylorHood.h
  ProcessLib/Utils/LocalAssemblerFactoryTaylorHood.h
Due: git-diff-check, git-clang-format

[PL] No int meth tpl param in TH2M process
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param in RM process
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param in Stokes flow
  ProcessLib/StokesFlow/StokesFlowFEM.h
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param for Python BCs and STs
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryConditionLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTerm.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTermLocalAssembler.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/BcAndStLocalAssemblerImpl.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/CreateLocalAssemblers.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/LocalAssemblerFactoryPython.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Introduced a named type for integration order
  NumLib/Fem/Integration/IntegrationMethodRegistry.cpp
  NumLib/Fem/Integration/IntegrationMethodRegistry.h
  Tests/NumLib/TestIntegrationMethodRegistry.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param in TRM process
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] No int meth tpl param in THM process
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

allow 1% deviation in raster origins
  Applications/Utils/MeshGeoTools/createIntermediateRasters.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Do not crash if 4th order pyramid integration is requested
  NumLib/Fem/Integration/IntegrationMethodRegistry.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Adjusted test accoring to the 4th order pyramid integration
  Tests/NumLib/TestIntegrationMethodRegistry.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Docu] documentation.
  Documentation/ProjectFile/prj/chemical_system/chemical_reactions/chemical_reaction/i_chemical_reaction.md
  Documentation/ProjectFile/prj/chemical_system/chemical_reactions/chemical_reaction/t_first_order_rate_constant.md
  Documentation/ProjectFile/prj/chemical_system/chemical_reactions/chemical_reaction/t_reaction_type.md
  Documentation/ProjectFile/prj/chemical_system/chemical_reactions/chemical_reaction/t_stoichiometric_coefficients.md
  Documentation/ProjectFile/prj/chemical_system/chemical_reactions/i_chemical_reactions.md
  Documentation/ProjectFile/prj/chemical_system/t_number_of_components.md
Due: git-diff-check

[CL] add methods in chemical solver interface.
  ChemistryLib/ChemicalSolverInterface.h
Due: git-diff-check, git-clang-format

[PL/CT] assemble coupling term.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] monolithic decay chain problem.
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_ReactiveDomain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_downstream.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_ts_100_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_ts_10_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_upstream.vtu
Due: git-diff-check

[CL] add self-contained chemical solver.
  Applications/ApplicationsLib/ProjectData.cpp
  ChemistryLib/CMakeLists.txt
  ChemistryLib/ChemicalSolverType.h
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/SelfContainedSolverData/SelfContainedSolver.h
Due: git-diff-check, file-extensions, git-clang-format

[CL] add struct chemical reaction.
  ChemistryLib/SelfContainedSolverData/ChemicalReaction.h
  ChemistryLib/SelfContainedSolverData/CreateChemicalReactionData.cpp
  ChemistryLib/SelfContainedSolverData/CreateChemicalReactionData.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Permeability
  ProcessLib/ThermoRichardsMechanics/Constitutive/Permeability.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Permeability.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: TRMStorage
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMStorage.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMStorage.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: ElasticTangentStiffness
  ProcessLib/ThermoRichardsMechanics/Constitutive/ElasticTangentStiffness.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/ElasticTangentStiffness.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: FluidThermalExpansion
  ProcessLib/ThermoRichardsMechanics/Constitutive/FluidThermalExpansion.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/FluidThermalExpansion.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: LiquidViscosity
  ProcessLib/ThermoRichardsMechanics/Constitutive/LiquidViscosity.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/LiquidViscosity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: ThermoOsmosis
  ProcessLib/ThermoRichardsMechanics/Constitutive/ThermoOsmosis.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/ThermoOsmosis.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Saturation
  ProcessLib/ThermoRichardsMechanics/Constitutive/Saturation.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Saturation.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Gravity
  ProcessLib/ThermoRichardsMechanics/Constitutive/Gravity.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Gravity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: LiquidDensity
  ProcessLib/ThermoRichardsMechanics/Constitutive/LiquidDensity.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/LiquidDensity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Biot
  ProcessLib/ThermoRichardsMechanics/Constitutive/Biot.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Biot.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added Constitutive subdirectory
  ProcessLib/ThermoRichardsMechanics/CMakeLists.txt
Due: git-diff-check

[PL] Added constitutive model/data: Base
  ProcessLib/ThermoRichardsMechanics/Constitutive/Base.h
Due: git-diff-check, git-clang-format

[PL] Added more flexible IP data accessors
  ProcessLib/Utils/SetOrGetIntegrationPointData.h
Due: git-diff-check, git-clang-format

[PL] Added constitutive model/data: SolidDensity
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidDensity.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/SolidDensity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Bishops
  ProcessLib/ThermoRichardsMechanics/Constitutive/Bishops.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Bishops.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: Swelling
  ProcessLib/ThermoRichardsMechanics/Constitutive/Swelling.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/Swelling.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use modular constitutive models and data
  ProcessLib/ThermoRichardsMechanics/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveSetting.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added constitutive model/data: TRMHeatStorageAndFlux
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMHeatStorageAndFlux.cpp
  ProcessLib/ThermoRichardsMechanics/Constitutive/TRMHeatStorageAndFlux.h
Due: git-diff-check, file-extensions, git-clang-format
