Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[web] Fixed docs overview page.
  web/content/docs/benchmarks/_index.md
  web/content/docs/devguide/_index.md
  web/layouts/section/docs.html
Due: none

[Test/TM] Changed the density model in two benchmarks
  Tests/Data/ThermoMechanics/StaggeredScheme/TM_Quad/iglu_quarter_plane_strain_quad.prj
  Tests/Data/ThermoMechanics/iglu_quarter_plane_strain_quad.prj
  Tests/Data/ThermoMechanics/tm2_1Dfixc/tm2_1Dfixc.prj
Due: none

[Test/TM] Changed the result comparison tolerances of two benchmarks
  ProcessLib/ThermoMechanics/Tests.cmake
Due: none

[Test/TM] Updated one reference result file
  Tests/Data/ThermoMechanics/StaggeredScheme/CreepAfterExcavation/CreepAfterExcavation_ts_61_t_4320000.000000.vtu
Due: none

[Test/HM] Updated Tests.make
  ProcessLib/HydroMechanics/Tests.cmake
Due: none

[ci] Added manual job "linux ctest large".
  scripts/ci/jobs/build-linux.yml
Due: none

[TM] Fixed the integration order for IP data I/O
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
Due: file-extensions

[T] Add Processes interface library for linkage.
  Tests/CMakeLists.txt
Due: cmake-format

[web] Update docs.
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/build.md
Due: none

[ci,cmake] Changed to out-of-source builds.
  CMakePresets.json
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/test-artifacts.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/checks.yml
  scripts/ci/jobs/clang-sanitizer.yml
  scripts/ci/jobs/clang-tidy.yml
  scripts/ci/jobs/code-coverage.yml
Due: none

[NL] Use constexpr if instead of enable_if.
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
Due: file-extensions

[PL] Use constexpr if replacing enable_if.
  ProcessLib/LocalAssemblerTraits.h
Due: none

[MPL/Curve] Fixed a bug
  MaterialLib/MPL/Properties/Curve.cpp
Due: file-extensions

Bumped minimum Conan to 1.33.0
  web/data/versions.json
Due: none

[ci] Fix frontend job.
  scripts/ci/jobs/build-linux-frontend.yml
Due: none

[ci] Fix coverage.
  scripts/ci/jobs/code-coverage.yml
Due: none

[ci] Symlink build dir.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/test-artifacts.yml
Due: none

[pre-commit] Ignore ci configs in check-yaml.
  .pre-commit-config.yaml
Due: none

Update pre-commit hooks.
  .pre-commit-config.yaml
Due: none

[PL/CT] Rename as pore diffusion.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: file-extensions

[T] Relax absolute tolerance.
  ProcessLib/HydroMechanics/Tests.cmake
Due: none

[MPL] Separate out pore diffusion.
  MaterialLib/MPL/PropertyType.h
Due: none

[NL] SNES; Fix application of Dirichlet BCs.
  NumLib/ODESolver/PETScNonlinearSolver.cpp
Due: file-extensions

[NL] SNES Add inequality constraints callback.
  NumLib/ODESolver/NonlinearSystem.h
  NumLib/ODESolver/ODESystem.h
  NumLib/ODESolver/PETScNonlinearSolver.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: file-extensions

[NL] SNES; Nonlinear solver prefix and maxiter.
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/t_prefix.md
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/PETScNonlinearSolver.cpp
  NumLib/ODESolver/PETScNonlinearSolver.h
Due: file-extensions

[T] Use PETSc SNES NLS in mechanics ctests.
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Ehlers/cube_1e0_SNES.prj
  Tests/Data/Mechanics/Ehlers/cube_1e0_ts_101_t_2_550000_0.vtu
  Tests/Data/Mechanics/Ehlers/cube_1e0_ts_101_t_5_100000_0.vtu
  Tests/Data/Mechanics/Ehlers/cube_1e0_ts_203_t_5_100000_0.vtu
  Tests/Data/Mechanics/Linear/cube_1e0_SNES.prj
  Tests/Data/Mechanics/Linear/cube_1e0_ts_4_t_1_000000_0.vtu
  Tests/Data/Mechanics/Linear/square_1e0_SNES.prj
  Tests/Data/Mechanics/Linear/square_1e0_ts_4_t_1_000000_0.vtu
Due: none

[NL] SNES; Add finalizeAssembly call for r too.
  NumLib/ODESolver/PETScNonlinearSolver.cpp
Due: file-extensions

[MatL] KozenyCarman; Add opening latex formula tag
  MaterialLib/MPL/Properties/KozenyCarmanModel.h
Due: none

[PL] HM/TM; Fix parameter names in docu.
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
Due: none

[HC/docu] fixed the input parameter typo and equation format errors
  web/content/docs/benchmarks/heatconduction/BHE_array_benchmark.md
Due: none

[HC/script] update the python script of the analytical solver for the BHE array benchmark
  web/content/docs/benchmarks/heatconduction/bhe_array_analytical_solver.py
Due: none

[ci] Fixed correct artifact archival.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/clang-sanitizer.yml
  scripts/ci/jobs/clang-tidy.yml
Due: none

[App/IO] Use English in comments.
  .codespellrc
  Applications/FileIO/Legacy/OGSIOVer4.cpp
Due: file-extensions

[ci] Added codespell check to pre-commit.
  .codespellexclude
  .codespellrc
  .pre-commit-config.yaml
Due: none

[T/HM] Slightly relax tolerance for sigma.
  ProcessLib/HydroMechanics/Tests.cmake
Due: none

[ci] Fix check header job
  scripts/ci/jobs/check-header.yml
Due: none

Exclude _deps directory from warnings check.
  scripts/cmake/CppCheck.cmake
Due: none

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
