Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[cmake] Install pvtu2vtu.
  Applications/Utils/MeshEdit/PVTU2VTU/CMakeLists.txt
Due: git-diff-check

[PL/TRM] Extracted transport porosity evaluation to a separate model
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/Porosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveSetting.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Permeability model moved to common directory
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EquivalentPlasticStrainData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/PermeabilityModel.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TotalStressData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TransportPorosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveData.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveModels.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveSetting.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/ConstitutiveSetting.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/SolidMechanics.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveOriginal/SolidMechanics.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TRM] Adapted to changed constitutive setting
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[web] Removed typo on benchmark gallery website.
  web/layouts/docs/subsections.html
Due: git-diff-check

[Test/TRM] Added a benchmark for TRM based on a simplified China Mock-Up experiment
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_b_Bottom.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_b_Heater.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_b_Left.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_b_Right.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_domain.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results.pvd
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_0.000000.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_17280000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_34560000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_51840000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_69120000.000000.vtu
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_results_86400000.000000.vtu
Due: none

Extended examples on unit systems. Typo fixes.
  web/content/docs/userguide/basics/conventions/units_ogs.pdf
Due: git-diff-check

Add selection of precompiled headers
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/FileIO/CMakeLists.txt
  BaseLib/CMakeLists.txt
  ChemistryLib/CMakeLists.txt
  GeoLib/CMakeLists.txt
  MaterialLib/CMakeLists.txt
  MaterialLib/SolidModels/CMakeLists.txt
  MathLib/CMakeLists.txt
  MeshGeoToolsLib/CMakeLists.txt
  MeshLib/CMakeLists.txt
  NumLib/CMakeLists.txt
  ParameterLib/CMakeLists.txt
  ProcessLib/CMakeLists.txt
  ProcessLib/ComponentTransport/CMakeLists.txt
  ProcessLib/HT/CMakeLists.txt
  ProcessLib/HeatConduction/CMakeLists.txt
  ProcessLib/HeatTransportBHE/CMakeLists.txt
  ProcessLib/HydroMechanics/CMakeLists.txt
  ProcessLib/LIE/CMakeLists.txt
  ProcessLib/LiquidFlow/CMakeLists.txt
  ProcessLib/PhaseField/CMakeLists.txt
  ProcessLib/RichardsComponentTransport/CMakeLists.txt
  ProcessLib/RichardsFlow/CMakeLists.txt
  ProcessLib/RichardsMechanics/CMakeLists.txt
  ProcessLib/SmallDeformation/CMakeLists.txt
  ProcessLib/SmallDeformationNonlocal/CMakeLists.txt
  ProcessLib/SteadyStateDiffusion/CMakeLists.txt
  ProcessLib/StokesFlow/CMakeLists.txt
  ProcessLib/TES/CMakeLists.txt
  ProcessLib/TH2M/CMakeLists.txt
  ProcessLib/ThermalTwoPhaseFlowWithPP/CMakeLists.txt
  ProcessLib/ThermoHydroMechanics/CMakeLists.txt
  ProcessLib/ThermoMechanicalPhaseField/CMakeLists.txt
  ProcessLib/ThermoMechanics/CMakeLists.txt
  ProcessLib/ThermoRichardsFlow/CMakeLists.txt
  ProcessLib/ThermoRichardsMechanics/CMakeLists.txt
  ProcessLib/TwoPhaseFlowWithPP/CMakeLists.txt
  ProcessLib/TwoPhaseFlowWithPrho/CMakeLists.txt
  Tests/CMakeLists.txt
Due: git-diff-check

[CL] Use size_t in access avoiding conversion warn
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/SelfContainedSolverData/SelfContainedSolver.h
Due: git-diff-check, git-clang-format

[Docu] update solution of reference code.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/solution_reference_code.hdf5
Due: none

[partmesh] Allow to partition mesh with non-IP field data
  Applications/Utils/ModelPreparation/PartitionMesh/IntegrationPointDataTools.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Relax tolerance in THM_confined_compression_gas.prj a bit.
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
Due: none

[nb] Update PyVista.
  web/data/versions.json
Due: git-diff-check

[Parameter] Added an include <Eigen/Dense>
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Added thm image.
  web/content/docs/benchmarks/thermo-hydro-mechanics/_index.md
  web/content/docs/benchmarks/thermo-hydro-mechanics/thm-thumbnail.jpg
Due: git-diff-check

[web] Added TH2M coupling icon.
  web/content/docs/benchmarks/th2m/_index.md
Due: git-diff-check

[web] Added two-phase-flow image.
  web/content/docs/benchmarks/two-phase-flow/_index.md
  web/content/docs/benchmarks/two-phase-flow/hh-thumbnail.png
Due: git-diff-check

[NL] Added shape matrix cache
  NumLib/Fem/ShapeMatrixCache.cpp
  NumLib/Fem/ShapeMatrixCache.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Adapted to moved reference element code
  Tests/MeshLib/TestMapBulkElementPoint.cpp
  Tests/MeshLib/TestPntInElement.cpp
  Tests/MeshLib/TestSurfaceNormals.cpp
  Tests/NumLib/TestReferenceElement.cpp
Due: git-diff-check, file-extensions, git-clang-format

Moved reference element code to NumLib
  NumLib/Fem/ReferenceElement.h
  Tests/NumLib/ReferenceElementUtils.cpp
  Tests/NumLib/ReferenceElementUtils.h
Due: git-diff-check, file-extensions, git-clang-format

[App] Added ip data to point cloud conversion tool
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Added web docu
  web/content/docs/tools/model-preparation/ip-data-to-point-cloud/index.md
  web/content/docs/tools/model-preparation/ip-data-to-point-cloud/triquad.png
Due: git-diff-check

Added another ctest
  Applications/Utils/Tests.cmake
  Tests/Data/Mechanics/m1_3Dsquare/m1_3Dsquare_ts_1_t_1.000000_point_cloud.vtu
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/check_point_cloud.ipynb
Due: git-diff-check

Added two ctests
  Applications/Utils/Tests.cmake
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/TriQuad/quad_tri_THM_t_864000_000000_point_cloud.vtu
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/check_point_cloud.ipynb
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/mesh_with_3D_different_elements_sigma_ip_point_cloud.vtu
Due: git-diff-check

[NL] Added Boost::mp11 dependency
  NumLib/CMakeLists.txt
Due: git-diff-check

[T] Increased tolerance slightly
  Tests/Data/Mechanics/EhlersDamageNonLocal/bar/t1/bar.prj
Due: none

[App] Register tool in Python wheel
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
Due: git-diff-check

[PL/TH2M] Slightly relaxed test tolerance
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

[web] Made TH2M featured.
  web/content/docs/benchmarks/th2m/_index.md
Due: git-diff-check

[web] Fixed typo.
  web/content/docs/benchmarks/heat-transport-bhe/_index.md
  web/content/docs/benchmarks/reactive-transport/_index.md
  web/content/docs/benchmarks/th2m/_index.md
  web/layouts/docs/subsections.html
Due: git-diff-check

[web] Merged two-phase-flow-pp with two-phase-flow.
  web/content/docs/benchmarks/two-phase-flow-pp-form/_index.md
  web/content/docs/benchmarks/two-phase-flow/two-phase-flow-pp-liakopoulos/index.md
  web/content/docs/benchmarks/two-phase-flow/two-phase-flow-pp-liakopoulos/main.pdf
  web/content/docs/benchmarks/two-phase-flow/two-phase-flow-pp-mcwhorter/index.md
  web/content/docs/benchmarks/two-phase-flow/two-phase-flow-pp-mcwhorter/main.pdf
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview/index.md
Due: git-diff-check

[MPI/IO] Allow to read the partitioned non-IP field data
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

[SWMM] adding elevation to Outfall- and Storage-entities
  Applications/FileIO/SWMM/SWMMInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[SWMM] added input tests
  Applications/Utils/Tests.cmake
  Tests/Data/FileConverter/TestExample_SC2.gml
  Tests/Data/FileConverter/TestExample_SC2.inp
  Tests/Data/FileConverter/TestExample_SC2.vtu
Due: git-diff-check

[ci] Removed git diff --check from pre commit job.
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

removed old SWMM test
  Applications/Utils/Tests.cmake
  Tests/CMakeLists.txt
  Tests/Data/FileIO/swmm_input_example.inp
  Tests/FileIO_SWMM/TestSwmmInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ctest/partmesh] Added two tests for partitioning and reading non-IP field data
  Applications/Utils/Tests.cmake
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface.vtu
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_0.vtu
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_1.vtu
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_cell_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_integration_point_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_integration_point_properties_val2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_msh_cfg2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_msh_ele2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_msh_ele_g2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_msh_nod2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_node_properties_cfg2.bin
  Tests/Data/NodePartitionedMesh/FieldDataWithoutIPData/A2_tunnel_surface_partitioned_node_properties_val2.bin
Due: git-diff-check

[T] Moved and simplified SimpleMechanics notebook.
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/.gitignore
  Tests/Data/Mechanics/Linear/SimpleMechanics.ipynb
  Tests/Data/Notebooks/SimpleMechanics.ipynb
  web/content/docs/devguide/testing/test-data/index.md
Due: git-diff-check

[T] Fix notebook output path.
  Tests/Data/Notebooks/testrunner.py
  scripts/ci/jobs/jupyter.yml
  web/content/docs/devguide/testing/test-data/index.md
Due: git-diff-check
