Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[HM] Replaced process id number with the corresponding variable
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/HydroMechanics/HydroMechanicsProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[cmake,ci] Set CPU architecture for wheel preset to sandybridge.
  pyproject.toml
Due: git-diff-check

Hypoelastic MCC models: absolute formulation consistent for stress deviator
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

Hypoelastic MCC models: absolute formulation with analytical solution for pc
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

Hypoelastic MCC models: incremental and absolute formulation for linearized volume ratio
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

Added all new NL MCC models to CMakeLists
  MaterialLib/SolidModels/MFront/CMakeLists.txt
Due: git-diff-check

Hypoelastic MCC models: incremental formulation with phi0 instead of v0
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

Bugfix algorithmic tangent, only relevant for theta<1
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

Lame constants removed, small clean-up
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

Parameter pcMin eliminated, now derived from pc_char
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original.prj
Due: git-diff-check

Some renaming considering the triax tests
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest.prj
Due: git-diff-check

Python Triax mtest extended to new models
  MaterialLib/SolidModels/MFront/ModCamClay_TriaxTest.py
Due: git-diff-check

Replaced absolute by incrementel integration of pc
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

MCC NLnu inc: unnecessary variable De eliminated
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

MCC with const E: Const correctness, consistent renaming
  MaterialLib/SolidModels/MFront/ModCamClay_semiExpl_constE.mfront
Due: git-diff-check

Parameter pcMin eliminated, now derived from pc_char
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

Added triaxial test for original MCC model absolute formulation
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_abs.prj
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_abs_output_ts_189_t_0.948739.vtu
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_abs_output_ts_99_t_0.484339.vtu
Due: git-diff-check

Added triaxial test for original MCC model
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original.prj
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_output_ts_199_t_1.000000.vtu
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_output_ts_99_t_0.484339.vtu
Due: git-diff-check

MCC NLnu inc: Const correctness, consistent renaming
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
Due: git-diff-check

Removed time variable, adapted (inital) pressure handling
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

Replaced initial porosity by volume ratio, removed Time variable
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_inc.mfront
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original.prj
Due: git-diff-check

Deviatoric-volumetric split for tangent for absolute formulation
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInitNLnu_abs.mfront
Due: git-diff-check

Renaming to ModCamClay_semiExpl.mfront and ~_absP.mfront
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  MaterialLib/SolidModels/MFront/ModCamClay_TriaxTest.py
  MaterialLib/SolidModels/MFront/ModCamClay_semiExpl.mfront
  MaterialLib/SolidModels/MFront/ModCamClay_semiExpl_absP.mfront
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original.prj
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_original_abs.prj
Due: git-diff-check

Web and benchmark documentation pdf report updated
  web/content/docs/benchmarks/small-deformations/ModifiedCamClay/ModifiedCamClay_report.pdf
  web/content/docs/benchmarks/small-deformations/ModifiedCamClay/index.md
Due: git-diff-check

Changed Young modulus consistently, new reference solution
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest.prj
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_output_ts_199_t_1.000000.vtu
  Tests/Data/Mechanics/ModifiedCamClay/triaxtest_output_ts_99_t_0.484339.vtu
Due: none

fix typo in time loop
  web/content/docs/userguide/blocks/time_loop.md
Due: git-diff-check

[ci] cdash submit as a separate step (which is allowed to fail).
  CTestConfig.cmake
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[ci] Run pre-commit in reduced pipelines too.
  scripts/ci/pipelines/linux.yml
  scripts/ci/pipelines/mac.yml
  scripts/ci/pipelines/win.yml
Due: git-diff-check

[PL] Reset solution for rejected time step ts = 0
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] cdash submit as a separate step on win too.
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

[ci] Fix pipelines.
  scripts/ci/pipelines/linux.yml
  scripts/ci/pipelines/mac.yml
  scripts/ci/pipelines/win.yml
Due: git-diff-check

[NL/TimeStepping/Algorithm] Fix spelling in EvolutionaryPIDcontroller
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.h
Due: git-diff-check, git-clang-format

[PL] Move calculateUniqueFixedTimesForAllOutputs() to Output impl.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/TimeLoop.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL/TimeStepping] Rm unnecessary code from EvolutionaryPIDcontroller
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Expand guide for compiling OGS with PETSc and MPI
  web/content/docs/devguide/getting-started/build-configuration_for_MPI_PETSc/configure_for_mpi_and_petsc.md
Due: git-diff-check

[doc] Remove double \author \date entries
  Applications/FileIO/GMSInterface.cpp
  Applications/FileIO/GMSInterface.h
  Applications/FileIO/PetrelInterface.cpp
  Applications/FileIO/PetrelInterface.h
  Applications/FileIO/SHPInterface.cpp
  Applications/FileIO/SHPInterface.h
  MeshLib/IO/Legacy/MeshIO.cpp
  MeshLib/IO/VtkIO/VtuInterface-impl.h
  MeshLib/IO/readMeshFromFile.cpp
  MeshLib/IO/readMeshFromFile.h
Due: git-diff-check, file-extensions, git-clang-format

[doc] Drop empty \brief, \date, and \author lines
  Applications/DataExplorer/VtkVis/VtkAppendArrayFilter.h
  Applications/Utils/MeshEdit/MoveMesh.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationBrooksCorey.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationBrooksCorey.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationExponential.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationExponential.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLiakopoulos.h
  MaterialLib/MPL/Properties/ClausiusClapeyron.cpp
  MaterialLib/MPL/Properties/IdealGasLaw.cpp
  MaterialLib/MPL/Properties/IdealGasLaw.h
  MaterialLib/MPL/Properties/IdealGasLawBinaryMixture.cpp
  MaterialLib/MPL/Properties/IdealGasLawBinaryMixture.h
  MaterialLib/MPL/Properties/PermeabilityOrthotropicPowerLaw.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.h
  MaterialLib/MPL/Properties/SaturationDependentSwelling.h
  MathLib/Integration/GaussLegendreTri.cpp
  MathLib/Integration/GaussLegendreTri.h
  MathLib/LinAlg/Lis/LisCheck.h
  NumLib/Fem/Integration/IntegrationGaussLegendreTri.h
  NumLib/Fem/ShapeFunction/ShapeTri3-impl.h
  NumLib/Fem/ShapeFunction/ShapeTri3.h
  Tests/BaseLib/TestFilePathStringManipulation.cpp
  Tests/GeoLib/TestSimplePolygonTree.cpp
  Tests/MaterialLib/TestMPL.cpp
  Tests/TestTools.h
Due: git-diff-check, file-extensions, git-clang-format

[MaL] Add missing doxygen file header
  MathLib/LinAlg/LinearSolverOptions.cpp
Due: git-diff-check, file-extensions, git-clang-format
