Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[AppL] AppL should not depend on embedded Python interpreter/module
  Applications/ApplicationsLib/CMakeLists.txt
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
  Applications/CLI/CMakeLists.txt
  Applications/CLI/ogs.cpp
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[py] Add mkl bin path on Windows.
  Applications/Python/ogs/__init__.py
Due: git-diff-check

[Py] Multiple changes...
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[AppL] Made it possible to reuse linear solver library setups
  Applications/ApplicationsLib/LinearSolverLibrarySetup.cpp
  Applications/ApplicationsLib/LinearSolverLibrarySetup.h
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
Due: git-diff-check, file-extensions, git-clang-format

[BL] Detect if MPI has already been initalized/finalized
  BaseLib/MPI.cpp
  BaseLib/MPI.h
Due: git-diff-check, file-extensions, git-clang-format

[Py] Use range instead of for loop.
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Py] Do not shadow member variable
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[guix] ogs-xdmf guix package containing xdmfdiff.
  CMakeLists.txt
  Tests/xdmfdiff/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/guix/manifest-serial-xdmf.scm
  scripts/guix/packages/ogs-xdmf.scm
Due: git-diff-check

[ci] Low feature_coverage triggers exit code 123 handled by CI job.
  scripts/ci/jobs/build-linux-arch.yml
  scripts/doc/CheckFeatureMatrix.py
Due: git-diff-check

[ci] Adding xdmfdiff to eve petsc container.
  scripts/ci/jobs/build-guix.yml
  scripts/guix/manifest-petsc-xdmf.scm
Due: git-diff-check

[guix] Replacing manifest ogs packages with xdmf-enabled ones.
  scripts/ci/jobs/build-guix.yml
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc-xdmf.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial-xdmf.scm
  scripts/guix/manifest-serial.scm
  scripts/guix/packages/ogs-xdmf.scm
Due: git-diff-check

feat(coverage): Remove throw and unreachable branches
  scripts/cmake/gcovr.cfg.in
Due: git-diff-check

[PL] Link to python.so in python bc lib.
  ProcessLib/BoundaryConditionAndSourceTerm/Python/CMakeLists.txt
Due: git-diff-check

[AppL] ipDataToPointCloud integration-order as arg
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
  Applications/Utils/Tests.cmake
  web/content/docs/tools/model-preparation/ip-data-to-point-cloud/index.md
Due: git-diff-check, file-extensions, git-clang-format

[App] Check if input mesh was read
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App] Do not swallow error message on Windows
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added another failing test case
  Applications/Utils/Tests.cmake
Due: git-diff-check

[web] Moved hugo setup to be build dir based.
  .gitignore
  CMakeLists.txt
  scripts/cmake/WebSetup.cmake
  web/.gitignore
  web/hugo.toml.in
  web/package.json
  web/package.json.in
  web/tailwind.config.js.in
Due: git-diff-check

[web] Docs on build-dir based Hugo usage.
  web/content/docs/devguide/documentation/jupyter-docs/index.md
  web/content/docs/devguide/documentation/web-docs/index.md
  web/content/docs/tools/post-processing/_index.md
Due: git-diff-check

[web] Removed outdated frontend paraview doc.
  web/content/docs/tools/post-processing/paraview-on-eve/index.md
Due: git-diff-check

[ci] Adapt web jobs to Hugo in build-dir structure.
  scripts/ci/extends/web.yml
  scripts/ci/jobs/meta.yml
  scripts/ci/jobs/web-check.yml
  scripts/ci/jobs/web-deploy.yml
  scripts/ci/jobs/web-preview.yml
  scripts/docker/Dockerfile.web
  web/scripts/convert_notebooks.py
Due: git-diff-check

add epsili to output
  Tests/MaterialLib/TestMPLSaturationLuMcCartney.cpp
Due: git-diff-check, file-extensions, git-clang-format

simplify forward declaration
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/CreateSaturationLuMcCartney.h
Due: git-diff-check, git-clang-format

move constants to PhysicalConstants.h
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLuMcCartney.cpp
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationLuMcCartney.h
  MaterialLib/PhysicalConstant.h
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Don't link to python.so in wheel builds.
  ProcessLib/BoundaryConditionAndSourceTerm/Python/CMakeLists.txt
Due: git-diff-check

adjust test to changes in R convention
  Tests/MaterialLib/TestMPLSaturationLuMcCartney.cpp
Due: git-diff-check, file-extensions, git-clang-format

[py] performance_measurements.py: add copy() to to_numpy().
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.py
Due: none

[ci,py] Cleanup build dirs.
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[web] Updated devcontainer docs.
  web/content/docs/devguide/advanced/vscode-devcontainer/devcontainer-jupyter.png
  web/content/docs/devguide/advanced/vscode-devcontainer/index.md
Due: git-diff-check

[pre-commit] Added clang-format hook which install clang-format from pypi.
  .pre-commit-config.yaml
Due: git-diff-check

[ci] Added new job 'build in devcontainer'.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[cmake] New make target `jupyter`.
  .pre-commit-config.yaml
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

Updated devcontainer config.
  .devcontainer.json
Due: git-diff-check

[web] Fixed typo.
  web/content/docs/devguide/advanced/vscode-devcontainer/devcontainer_jupyter.png
Due: git-diff-check

[web] Converted bib entries.
  web/content/publications/publikationen.bib
  web/data/bib_ogs.yaml
  web/data/bib_other.yaml
Due: git-diff-check

[web] Add copy bibtex button.
  web/layouts/publications/single.html
Due: git-diff-check

[web] Refactored bib shortcode to use bibtex entries.
  web/content/docs/benchmarks/th2m/_index.md
  web/content/publications/_index.md
  web/layouts/_shortcodes/bib.html
  web/layouts/publications/list.html
Due: git-diff-check

[web] Add publication generation from bibtex files.
  scripts/web/convert-bib.py
  web/content/publications/paper.md
  web/layouts/publications/list.html
  web/layouts/publications/single.html
  web/package.json.in
Due: git-diff-check

[web] Publications example data.
  web/content/img/publications/Graebling2022.png
  web/content/img/publications/Graebling2023.png
  web/content/img/publications/Graebling2024.png
  web/content/img/publications/Heinze2025.png
  web/content/img/publications/Kolditz2021.png
  web/content/img/publications/Kolditz2023.png
  web/content/img/publications/Rink2023.png
  web/content/img/publications/Wang2021.png
  web/content/img/publications/Ziefle2022.png
  web/content/img/publications/buchwald2024.jpg
  web/content/img/publications/buchwald2025.jpg
  web/content/img/publications/kiszkurno2025.jpg
  web/content/img/publications/lehmann2024.png
  web/content/publications/publikationen.bib
  web/content/publications/pubs_buchwald.bib
  web/content/publications/pubs_rink.bib
  web/hugo.toml.in
Due: git-diff-check

[web] Styled pagination links on publications list.
  web/content/publications/_index.md
  web/layouts/_partials/pagination.html
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
