Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/.*|Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.0"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--show-source]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

[mkl,eigen] Refactored interdependent setup.
  CMakeLists.txt
  MathLib/CMakeLists.txt
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Find.cmake
  web/content/docs/devguide/advanced/configuration-options/index.md
  web/data/versions.json
Due: git-diff-check

[T] Relax tolerance due to eigen update.
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/RichardsMechanics/Tests.cmake
  Tests/Data/LIE/Mechanics/mohr_coulomb_load_path_nu0p3.prj
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
  Tests/Data/RichardsMechanics/double_porosity_swelling.prj
  Tests/Data/RichardsMechanics/orthotropic_swelling_xy.prj
  Tests/Data/TH2M/H2M/OrthotropicSwelling/square.prj
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas.prj
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid.prj
  Tests/Data/TH2M/HM/flow_fully_saturated.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas.prj
Due: git-diff-check

Update eigen to fix dupl. symbols error.
  MathLib/LinAlg/Eigen/EigenMatrix.h
  MathLib/Point3d.h
  web/data/versions.json
Due: git-diff-check, git-clang-format

[guix] Don't install Python in lib-dir.
  scripts/cmake/packaging/Pack.cmake
Due: git-diff-check

[PL/CT] Enabled output of multiple fluxes
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Fixed diffusive mass flux output
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

Fix of one typo I introduced in my last commit on text changes.
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
Due: none

[T/CT] Added steady-state advection-diffusion-reaction analytical solution
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_analytical.py
Due: none

[T/CT] Added new vtu fields to fix assertion
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.ipynb
Due: none

[T/CT] Updated ConTracer reference files after flux output fix
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_132_t_475200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_165_t_594000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_198_t_712800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_231_t_831600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_264_t_950400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_297_t_1069200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_329_t_1184400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_33_t_118800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_66_t_237600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_99_t_356400.000000.vtu
Due: none

[T/CT] Some changes in wording to hopefully enhance clarity
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
Due: none

[T/CT] Renamed molar_flux output
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d.prj
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_132_t_475200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_165_t_594000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_198_t_712800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_231_t_831600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_264_t_950400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_297_t_1069200.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_329_t_1184400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_33_t_118800.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_66_t_237600.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d_ts_99_t_356400.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion.prj
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_1000_t_31536000000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_100_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_10_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_ts_1_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/MultiLayerDiffusion.ipynb
Due: none

[T/CT] Added advection diffusion reaction test case
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_and_r.prj
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_and_r.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_and_r_left.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_and_r_right.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_and_r_ts_4_t_400000000.000000.vtu
Due: git-diff-check

[T/CT] Extended decay chain test (prj files)
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/1d_decay_chain_OS.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt_linear/1d_decay_chain_GIA.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt_linear_compute_only_on_dt_change/1d_decay_chain_GIA.xml
Due: none

[T/CT] Extended decay chain benchmark notebook
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChainAnalytical.py
Due: none

[T/CT] Added advection-diffusion test case
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p.prj
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_left.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_right.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/grad_c_and_grad_p_ts_4_t_400000000.000000.vtu
Due: git-diff-check

[T/CT] Added diffusive mass flux test
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MassFlux/geometry_left.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/geometry_right.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/mesh_2D.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_c.prj
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_c_analytical.py
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_c_ts_4_t_400000000.000000.vtu
Due: git-diff-check

[T/CT] Added advection-only test case
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_p.prj
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_p.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_p_left.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_p_right.vtu
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_p_ts_4_t_400000000.000000.vtu
Due: git-diff-check

[T/CT] Extended decay chain test (reference results)
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/1d_decay_chain_OS_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/1d_decay_chain_OS_ts_1000_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/1d_decay_chain_OS_ts_100_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/1d_decay_chain_OS_ts_10_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_1000_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_100_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA_ts_10_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_1009_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_109_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_10_t_3153600000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/varying_dt/1d_decay_chain_GIA_ts_19_t_31536000000.000000.vtu
Due: none

[T] Relax tolerances for frontend2.
  ProcessLib/HydroMechanics/Tests.cmake
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

[py] Bump min. version to 3.9 (in line with ogstools).
  web/data/versions.json
Due: git-diff-check

[scr] Removed upper limit on Python version
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[py] Update snakemake and fix ctests on Python 3.12.
  scripts/cmake/PythonSetup.cmake
  scripts/snakemake/modules/meshes.smk
  web/data/versions.json
Due: git-diff-check

[py] Update pyproject.toml, build wheels for Python 3.9 - 3.12.
  pyproject.toml
Due: git-diff-check

[T] Slightly relax ctest's tolerances
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/TM/square_1e1_2_matIDs.prj
Due: git-diff-check

[CMake] Fix pip error output on venv creation.
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[T,CMake] Fix generateInvalidMediaForHT.py call order.
  CMakeLists.txt
  ProcessLib/HT/Tests.cmake
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

[T/TRM] Add scaling to anisotropic tests
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_x45.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_y45.prj
  Tests/Data/ThermoRichardsMechanics/anisotropic_thermal_expansion/aniso_expansion_z45.prj
Due: none

[T/CT] Slighly relax only_grad_c ctest tolerance
  Tests/Data/Parabolic/ComponentTransport/MassFlux/only_grad_c.prj
Due: none

[PL/TH2M] Extract MWT part of W4 equation
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract T2 equation
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/TEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/TEquation.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract internal energy model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/InternalEnergy.cpp
  ProcessLib/TH2M/ConstitutiveRelations/InternalEnergy.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract MCpG part of C4 equation
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract MCu part of C4 equation
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract data and model of W3 equation
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Strong type for specific body force
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Move thermal cond. derivative comput.
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ThermalConductivity.cpp
  ProcessLib/TH2M/ConstitutiveRelations/ThermalConductivity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Remove incorrect commented fW_2_LWpC
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/WEquation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract LCpC part of C4 equation
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/CEquation.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Separate saturation derivative eval
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/Saturation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Saturation.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format
