Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL] Fix optional access
  ParameterLib/ConstantParameter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Clean-up old dev pypi packages.
  scripts/ci/helper/cleanup_packages.py
  scripts/ci/jobs/package.yml
Due: git-diff-check

Heat conduction process overview documentation
  web/content/docs/processes/heat-conduction/HeatConduction/index.md
  web/content/docs/processes/heat-conduction/_index.md
  web/content/docs/processes/richards-flow/RichardsFlow/index.md
  web/content/docs/processes/small-deformation/SmallDeformation/index.md
Due: git-diff-check

[ML] Softening material model for excavations
  Documentation/ProjectFile/material/solid/constitutive_relation/LinearElasticIsotropicSoftening/c_LinearElasticIsotropicSoftening.md
  Documentation/ProjectFile/material/solid/constitutive_relation/LinearElasticIsotropicSoftening/t_poissons_ratio.md
  Documentation/ProjectFile/material/solid/constitutive_relation/LinearElasticIsotropicSoftening/t_strength.md
  Documentation/ProjectFile/material/solid/constitutive_relation/LinearElasticIsotropicSoftening/t_youngs_modulus.md
  MaterialLib/SolidModels/CreateConstitutiveRelation.cpp
  MaterialLib/SolidModels/CreateLinearElasticIsotropicSoftening.h
  MaterialLib/SolidModels/LinearElasticIsotropicSoftening.cpp
  MaterialLib/SolidModels/LinearElasticIsotropicSoftening.h
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/SofteningExcavation/SD_softening_excavation_ts_857945.vtu
  Tests/Data/Mechanics/SofteningExcavation/bottom.vtu
  Tests/Data/Mechanics/SofteningExcavation/domain.vtu
  Tests/Data/Mechanics/SofteningExcavation/figures/softening_excavation.png
  Tests/Data/Mechanics/SofteningExcavation/left.vtu
  Tests/Data/Mechanics/SofteningExcavation/result.vtu
  Tests/Data/Mechanics/SofteningExcavation/right.vtu
  Tests/Data/Mechanics/SofteningExcavation/softening_excavation.prj
  Tests/Data/Mechanics/SofteningExcavation/softening_excavation.py
  Tests/Data/Mechanics/SofteningExcavation/top.vtu
Due: git-diff-check, file-extensions, git-clang-format

[scr/doc] Stricter QA
  scripts/doc/check-project-params.py
  scripts/doc/generate-project-file-doc-qa.sh
Due: git-diff-check

[PL/TBHE] Add Doxygen references
  ProcessLib/HeatTransportBHE/BHE/CreateFlowAndTemperatureControl.cpp
Due: git-diff-check, file-extensions, git-clang-format

[doc] Fix CTest list for XML tags having attributes
  scripts/doc/append-xml-tags.py
Due: git-diff-check

[scr] Check docu QA in CI
  scripts/ci/jobs/build-docs.yml
  scripts/doc/generate-project-file-doc-qa.sh
Due: git-diff-check

BugFix: Add BuildingPowerCurveConstantFlow setup
  ProcessLib/HeatTransportBHE/BHE/CreateFlowAndTemperatureControl.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr/doc] Do not show empty child tag list in Doxygen
  scripts/cmake/DocumentationProjectFile.cmake
Due: git-diff-check

[doc] Added FCT prj file param docu
  Documentation/.vale/Vocab/ogs/accept.txt
  Documentation/ProjectFile/prj/processes/process/numerical_stabilization/FluxCorrectedTransport/c_FluxCorrectedTransport.md
  NumLib/NumericalStability/CreateNumericalStabilization.cpp
Due: git-diff-check, file-extensions, git-clang-format

[doxygen] Fix prjfile styling.
  Documentation/doxygen-stylesheet.css
  scripts/doc/linked-xml-file.py
Due: git-diff-check

refactor: remove virtual keyword from dtors
  Applications/FileIO/Gmsh/GMSHLineLoop.h
  GeoLib/Grid.h
Due: git-diff-check, git-clang-format

fix: debug error when std::option value_or is used.
  MaterialLib/MPL/Properties/CreateConstant.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Raised test tolerance to prevent sporadic failures
  Tests/MathLib/TestDirichletShortcut.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(doc): Convert html tags to md syntax [ci skip]
  Documentation/ProjectFile/i_ProjectFile.md
Due: git-diff-check

[doxygen] Input file parameter links point to tag or master.
  scripts/doc/append-xml-tags.py
Due: git-diff-check

[web] Fix aqt windows command.
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

add Acidification Jupyter notebook
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/PorosityIncrease.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/expected/hc_porosity_change_1d_centerline.npz
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/expected/hc_porosity_change_1d_ts_3000_t_360000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/expected/hc_porosity_change_2d_centerline.npz
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/figures/schematic.png
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/llnl.dat
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/Acidification/porosityIncrease_hc.prj
Due: git-diff-check

fix(T/MaL): use envelope for error of KV inverse
  Tests/MathLib/KelvinVector.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix: added the missed include <string> in
  ProcessLib/BoundaryConditionAndSourceTerm/CreateTimeDecayDirichletBoundaryCondition.h
Due: git-diff-check, git-clang-format

[FileIO] support MAT_I_FLOW data when reading FEFLOW mesh
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[Tests] test reading a FEFLOW mesh file with material properties
  Tests/Data/FileIO/FEFLOW/prism_with_material_properties.fem
  Tests/FileIO_Qt/TestFEFLOWInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[FileIO] change the read function to return vector
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[FileIO] use boost::tokenizer to split quoted string
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

chore(App/IO): clang-tidy fixes
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[FileIO] bugfix in readMAT_I_FLOW()
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] pip installation instruction for latest master
  web/content/docs/userguide/basics/5-mins-ogs/index.md
Due: git-diff-check

[ci] Remove route-map.yml, does not work with together with pages.path_prefix.
  .gitlab/route-map.yml
Due: git-diff-check

[ci] Log into registry before using.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[ci] Fix missing petsc label for no unity job.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

fixed error in SWMM interface
  Applications/FileIO/SWMM/SWMMInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] pypi shall test against last release benchmarks.
  scripts/ci/jobs/jupyter.yml
  scripts/ci/jobs/meta.yml
Due: git-diff-check

fix(T): Relax some ctest tolerances [ci skip]
  Tests/Data/ThermoHydroMechanics/MultiMaterial/DP_Ehlers/M/square_1e1_2_matIDs_restart.xml
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
Due: none

Removed MaterialLib/PorousMedium
  Documentation/ProjectFile/material/porous_medium/i_porous_medium.md
  Documentation/ProjectFile/material/porous_medium/permeability/i_permeability.md
  Documentation/ProjectFile/material/porous_medium/permeability/t_permeability_tensor_entries.md
  Documentation/ProjectFile/material/porous_medium/permeability/t_type.md
  Documentation/ProjectFile/material/porous_medium/porous_medium/a_id.md
  Documentation/ProjectFile/material/porous_medium/porous_medium/i_porous_medium.md
  Documentation/ProjectFile/material/porous_medium/porous_medium/t_permeability.md
  Documentation/ProjectFile/material/porous_medium/porous_medium/t_porosity.md
  Documentation/ProjectFile/material/porous_medium/porous_medium/t_storage.md
  MaterialLib/CMakeLists.txt
  MaterialLib/PorousMedium/CreatePorousMediaProperties.cpp
  MaterialLib/PorousMedium/CreatePorousMediaProperties.h
  MaterialLib/PorousMedium/Permeability/DupuitPermeability.h
  MaterialLib/PorousMedium/Permeability/Permeability.h
  MaterialLib/PorousMedium/Permeability/createPermeabilityModel.cpp
  MaterialLib/PorousMedium/Permeability/createPermeabilityModel.h
  MaterialLib/PorousMedium/PorousMediaProperties.cpp
  MaterialLib/PorousMedium/PorousMediaProperties.h
Due: git-diff-check, file-extensions, git-clang-format

Removed fracture permeability
  Documentation/ProjectFile/material/fracture_properties/i_fracture_properties.md
  Documentation/ProjectFile/material/fracture_properties/permeability_model/ConstantPermeability/c_ConstantPermeability.md
  Documentation/ProjectFile/material/fracture_properties/permeability_model/ConstantPermeability/t_value.md
  Documentation/ProjectFile/material/fracture_properties/permeability_model/CubicLaw/c_CubicLaw.md
  Documentation/ProjectFile/material/fracture_properties/permeability_model/i_permeability_model.md
  Documentation/ProjectFile/material/fracture_properties/permeability_model/t_type.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS_WITH_LIE/fracture_properties/permeability_model
  MaterialLib/FractureModels/CMakeLists.txt
  MaterialLib/FractureModels/Permeability/ConstantPermeability.cpp
  MaterialLib/FractureModels/Permeability/ConstantPermeability.h
  MaterialLib/FractureModels/Permeability/CreateConstantPermeability.cpp
  MaterialLib/FractureModels/Permeability/CreateConstantPermeability.h
  MaterialLib/FractureModels/Permeability/CreateCubicLaw.cpp
  MaterialLib/FractureModels/Permeability/CreateCubicLaw.h
  MaterialLib/FractureModels/Permeability/CreatePermeabilityModel.cpp
  MaterialLib/FractureModels/Permeability/CreatePermeabilityModel.h
  MaterialLib/FractureModels/Permeability/CubicLaw.cpp
  MaterialLib/FractureModels/Permeability/CubicLaw.h
  MaterialLib/FractureModels/Permeability/Permeability.h
  ProcessLib/LIE/Common/FractureProperty.h
  ProcessLib/LIE/HydroMechanics/CreateHydroMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake,pybind] Enable INTERPROCEDURAL_OPTIMIZATION to fix LTRANS warnings.
  Applications/Python/CMakeLists.txt
Due: git-diff-check

fix(App|NodeReordering): Relax volume comparison threshold
  Applications/Utils/MeshEdit/NodeReordering.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr] Added OGS perf scripts, tests and CI
  scripts/ci/jobs/test-dev-perf.yml
  scripts/ci/pipelines/regular.yml
  scripts/dev/perf/run_ctest.sh
  scripts/dev/perf/settings.sh
  scripts/dev/perf/test/helpers.sh
  scripts/dev/perf/test/test_ccache.sh
  scripts/dev/perf/test/test_run_ctest.sh
  scripts/dev/perf/test/test_util.sh
  scripts/dev/perf/util.sh
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
