Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[cmake] Another build fix for conda on mac.
  ProcessLib/BoundaryConditionAndSourceTerm/Python/CMakeLists.txt
Due: git-diff-check

[ci] Update guix channels.
  scripts/ci/jobs/build-guix.yml
  scripts/guix/channels.scm
Due: git-diff-check

[ci] Fix mkl guix container builds.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[T] "Flip" the coordinate system to more usual one
  Tests/MaterialLib/SolidModels/TestLinearElasticTransverseIsotropic.cpp
  Tests/ParameterLib/TestCoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Extract transformation's det(T)==1 check
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Add orthogonality check of transformations
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Extract unity check for vectors
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Use result transformation memory space
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Use Eigen's functions for Eigen vectors
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] Enable transformation tests for non-debug
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ParL] More template parameters for MSVC
  ParameterLib/CoordinateSystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Copy current Newton applyBCs for PETSc-SNES
  NumLib/ODESolver/NonlinearSystem.h
  NumLib/ODESolver/PETScNonlinearSolver.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Pass current solution to Newton's DirichletBC
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSystem.h
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Change Dirichlet procedure for Newton
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TM] Relax convergence tolerances
  Tests/Data/ThermoMechanics/BDT/cube_1e0_bdt.prj
Due: none

[T/SDNL] Relax convergence tolerances
  Tests/Data/Mechanics/EhlersDamageNonLocal/bar/fine/bar.prj
Due: none

[T/THM] Use better preconditioner for PETSc
  Tests/Data/ThermoHydroMechanics/HeatingHomogeneousDomain/hex_THM.prj
Due: none

[T] Relax ctests' tolerances slightly
  ProcessLib/HydroMechanics/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.prj
  Tests/Data/LIE/Mechanics/mohr_coulomb_load_path_nu0p3.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
  Tests/Data/Mechanics/Ehlers/cube_1e0.prj
  Tests/Data/Mechanics/EhlersDamageNonLocal/bar/veryfine/bar.prj
  Tests/Data/Mechanics/EhlersDamageNonLocal/beam/3D_tetr/beam.prj
  Tests/Data/RichardsMechanics/A2.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_richardsflow.prj
  Tests/Data/TH2M/TH/Ogata-Banks/ogata-banks.prj
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
  Tests/Data/ThermoHydroMechanics/9percentWaterFreezingExpansion/UnitSquare.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1Drelax/m2_1Drelax.prj
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup.prj
Due: git-diff-check

[T/LIE/SD] New references for coulomb load path
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_0_t_0.000000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_120_t_1.200000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_160_t_1.600000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_200_t_2.000000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_240_t_2.400000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_280_t_2.800000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_320_t_3.200000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_360_t_3.600000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_400_t_4.000000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_401_t_4.000000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_40_t_0.400000.vtu
  Tests/Data/LIE/Mechanics/coulomb_load_path_ts_80_t_0.800000.vtu
Due: none

[T/TH2pp] Disable heatpipe tests, issue 3486
  ProcessLib/ThermalTwoPhaseFlowWithPP/Tests.cmake
Due: git-diff-check

[T/M] Fix corner case in Hertz contact bisection
  Tests/Data/Mechanics/Linear/PythonHertzContact/hertz_contact_bc.py
Due: none

[web/benchmark] Fixed a formula display in CreepBGRa
  web/content/docs/benchmarks/thermo-mechanics/CreepBGRa/index.md
Due: git-diff-check

[T/LIE] Slightly relax ctest tolerance
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

[T/CI] Allow vtk-osmesa >= 9.2.6
  Tests/Data/requirements.txt
Due: none

replace assert macro
  Tests/MaterialLib/SolidModels/TestLinearElasticTransverseIsotropic.cpp
Due: git-diff-check, file-extensions, git-clang-format

replace numbers by angular functions
  Tests/MaterialLib/SolidModels/TestLinearElasticTransverseIsotropic.cpp
Due: git-diff-check, file-extensions, git-clang-format

add 4-rank tensor rotation test for transverse isotropic model
  Tests/MaterialLib/SolidModels/TestLinearElasticTransverseIsotropic.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix test to comply with correct rotation direction
  Tests/MaterialLib/TestEffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions, git-clang-format

split-up rotate tensor function
  ParameterLib/CoordinateSystem.cpp
  ParameterLib/CoordinateSystem.h
Due: git-diff-check, file-extensions, git-clang-format

use transformation from parameter lib
  MaterialLib/MPL/Properties/EffectiveThermalConductivityPorosityMixing.cpp
Due: git-diff-check, file-extensions, git-clang-format

Update meshes-beam benchmark: add a center element
  ProcessLib/PhaseField/Tests.cmake
  Tests/Data/PhaseField/beam/bar.vtu
  Tests/Data/PhaseField/beam/bar_COHESIVE_linear.prj
  Tests/Data/PhaseField/beam/bar_cohesive_linear.vtu
  Tests/Data/PhaseField/beam/bar_cohesive_linear_left.vtu
  Tests/Data/PhaseField/beam/bar_cohesive_linear_right.vtu
  Tests/Data/PhaseField/beam/bar_left.vtu
  Tests/Data/PhaseField/beam/bar_left_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_left_partitioned_node_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_cell_properties_cfg2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_cfg2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_ele_g2.bin
  Tests/Data/PhaseField/beam/bar_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_right.vtu
  Tests/Data/PhaseField/beam/bar_right_partitioned_cell_properties_val2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_ele2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_msh_nod2.bin
  Tests/Data/PhaseField/beam/bar_right_partitioned_node_properties_val2.bin
  Tests/Data/PhaseField/beam/expected_AT1_iso_tension_ts_10_t_1.000000.vtu
  Tests/Data/PhaseField/beam/expected_AT1_iso_tension_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_2core_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_2core_ts_10_t_1_000000_1.vtu
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_ts_10_t_1.000000.vtu
  Tests/Data/PhaseField/beam/expected_AT1_vd_tension_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam/expected_AT2_iso_tension_ts_10_t_1.000000.vtu
  Tests/Data/PhaseField/beam/expected_AT2_iso_tension_ts_10_t_1_000000_0.vtu
  Tests/Data/PhaseField/beam/expected_bar_COHESIVE_exponential_ts_11_t_1.100000.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/AT2_vd_tensile_VZ.prj
  Tests/Data/PhaseField/beam/voldev-ortho/bar.gml
  Tests/Data/PhaseField/beam/voldev-ortho/bar.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/bar_left.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/bar_right.vtu
  Tests/Data/PhaseField/beam/voldev-ortho/expected_AT2_vd_tensile_ts_10_t_1.000000.vtu
Due: git-diff-check

Include <algorithm> before! pybind11 for gcc-14
  Applications/CLI/ogs.cpp
  Applications/CLI/ogs_embedded_python.cpp
  Applications/CLI/ogs_embedded_python.h
  Applications/Python/ogs.callbacks/ogs_callbacks_module.cpp
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
  Applications/Python/ogs.simulator/ogs_python_module.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/BHEInflowPythonBoundaryConditionModule.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/CreatePythonSourceTerm.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryConditionModule.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTerm.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTermModule.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTermModule.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

Explicitly disable gcc's dangling ref. warning
  BaseLib/Algorithm.h
  BaseLib/CompilerWorkarounds.h
  MeshGeoToolsLib/MeshNodeSearcher.h
  ParameterLib/Utils.h
Due: git-diff-check, git-clang-format

[doc/BL] Fix link to fmt.dev format specification
  BaseLib/FileTools.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Disable certain compiler warnings for gcc 14
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[scr] Save ctest log files in different directories
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestWrapper.cmake
  scripts/cmake/test/NotebookTest.cmake
  scripts/cmake/test/OgsTest.cmake
Due: git-diff-check

[scr/ci] save log files from sub directories
  scripts/ci/extends/test-artifacts.yml
Due: git-diff-check

[scr] Changed comment
  scripts/cmake/test/AddTestWrapper.cmake
Due: git-diff-check

[scr] pass test properties to AddTest
  scripts/cmake/PythonSetup.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
