Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[T/T] Remove untested project
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_source_term_x=5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/line_x=5.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/mesh_10x3_quad_10x3.vtu
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_5/mesh_10x3_right.vtu
Due: none

[doc] Remove out-of-date namespace documentation
  Documentation/Namespaces.dox
Due: git-diff-check

changed name of test
  Tests/MeshToolsLib/TestGetNumberOfVoxelPerDimension.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract common LineRule subclass
  MeshLib/Elements/LineRule.cpp
  MeshLib/Elements/LineRule.h
  MeshLib/Elements/LineRule2.cpp
  MeshLib/Elements/LineRule2.h
  MeshLib/Elements/LineRule3.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract identifyFace method to FaceRule
  MeshLib/Elements/FaceRule.h
  MeshLib/Elements/QuadRule.h
  MeshLib/Elements/QuadRule4.h
  MeshLib/Elements/QuadRule8.h
  MeshLib/Elements/QuadRule9.h
  MeshLib/Elements/TriRule.h
  MeshLib/Elements/TriRule3.h
  MeshLib/Elements/TriRule6.h
Due: git-diff-check, git-clang-format

[MeL] Use local info for number of faces test
  MeshLib/Elements/PyramidRule13.cpp
  MeshLib/Elements/PyramidRule5.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract common PyramidRule subclass
  MeshLib/Elements/PyramidRule.cpp
  MeshLib/Elements/PyramidRule.h
  MeshLib/Elements/PyramidRule13.h
  MeshLib/Elements/PyramidRule5.cpp
  MeshLib/Elements/PyramidRule5.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Fix calculateVolume comments for elem. rules
  MeshLib/Elements/LineRule.h
  MeshLib/Elements/PrismRule.h
  MeshLib/Elements/QuadRule.h
  MeshLib/Elements/TetRule.h
  MeshLib/Elements/TriRule.h
Due: git-diff-check, git-clang-format

[MeL] Extract common TriRule subclass
  MeshLib/Elements/TriRule.cpp
  MeshLib/Elements/TriRule.h
  MeshLib/Elements/TriRule3.cpp
  MeshLib/Elements/TriRule3.h
  MeshLib/Elements/TriRule6.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract common HexRule subclass
  MeshLib/Elements/HexRule.cpp
  MeshLib/Elements/HexRule.h
  MeshLib/Elements/HexRule20.h
  MeshLib/Elements/HexRule8.cpp
  MeshLib/Elements/HexRule8.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Extract common TetRule subclass
  MeshLib/Elements/TetRule.cpp
  MeshLib/Elements/TetRule.h
  MeshLib/Elements/TetRule10.h
  MeshLib/Elements/TetRule4.cpp
  MeshLib/Elements/TetRule4.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Fix nodes' dim identifyFace for 2D elements
  MeshLib/Elements/FaceRule.h
  MeshLib/Elements/TriRule3.h
  MeshLib/Elements/TriRule6.h
Due: git-diff-check, git-clang-format

[MeL] Extract common PrismRule subclass
  MeshLib/Elements/PrismRule.cpp
  MeshLib/Elements/PrismRule.h
  MeshLib/Elements/PrismRule15.h
  MeshLib/Elements/PrismRule6.cpp
  MeshLib/Elements/PrismRule6.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Rename _nodes args in element_nodes
  MeshLib/Elements/CellRule.h
  MeshLib/Elements/FaceRule.h
  MeshLib/Elements/HexRule.cpp
  MeshLib/Elements/HexRule.h
  MeshLib/Elements/HexRule20.h
  MeshLib/Elements/HexRule8.h
  MeshLib/Elements/LineRule.cpp
  MeshLib/Elements/LineRule.h
  MeshLib/Elements/PointRule1.cpp
  MeshLib/Elements/PointRule1.h
  MeshLib/Elements/PrismRule.cpp
  MeshLib/Elements/PrismRule.h
  MeshLib/Elements/PrismRule15.h
  MeshLib/Elements/PrismRule6.h
  MeshLib/Elements/PyramidRule.cpp
  MeshLib/Elements/PyramidRule.h
  MeshLib/Elements/PyramidRule13.h
  MeshLib/Elements/PyramidRule5.h
  MeshLib/Elements/QuadRule.cpp
  MeshLib/Elements/QuadRule.h
  MeshLib/Elements/QuadRule4.h
  MeshLib/Elements/QuadRule8.h
  MeshLib/Elements/QuadRule9.h
  MeshLib/Elements/TetRule.cpp
  MeshLib/Elements/TetRule.h
  MeshLib/Elements/TetRule10.h
  MeshLib/Elements/TetRule4.h
  MeshLib/Elements/TriRule.cpp
  MeshLib/Elements/TriRule.h
  MeshLib/Elements/TriRule3.h
  MeshLib/Elements/TriRule6.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Add missing include
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use element's dimension in identifyFace
  MeshLib/Elements/CellRule.h
  MeshLib/Elements/FaceRule.h
Due: git-diff-check, git-clang-format

[MeL] Extract identifyFace method to CellRule
  MeshLib/Elements/CellRule.cpp
  MeshLib/Elements/CellRule.h
  MeshLib/Elements/HexRule.h
  MeshLib/Elements/HexRule20.h
  MeshLib/Elements/HexRule8.h
  MeshLib/Elements/PrismRule.h
  MeshLib/Elements/PrismRule15.h
  MeshLib/Elements/PrismRule6.h
  MeshLib/Elements/PyramidRule.h
  MeshLib/Elements/PyramidRule13.h
  MeshLib/Elements/PyramidRule5.h
  MeshLib/Elements/TetRule.h
  MeshLib/Elements/TetRule10.h
  MeshLib/Elements/TetRule4.h
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Fix comment
  MeshLib/Elements/PyramidRule.h
Due: git-diff-check, git-clang-format

[MeL] Extract common QuadRule subclass
  MeshLib/Elements/QuadRule.cpp
  MeshLib/Elements/QuadRule.h
  MeshLib/Elements/QuadRule4.h
  MeshLib/Elements/QuadRule8.h
  MeshLib/Elements/QuadRule9.cpp
  MeshLib/Elements/QuadRule9.h
Due: git-diff-check, file-extensions, git-clang-format

New Dialog for the creation of VoxelGrids from a 3D mesh
  Applications/DataExplorer/DataView/CMakeLists.txt
  Applications/DataExplorer/DataView/Vtu2Grid.ui
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
  Applications/DataExplorer/DataView/Vtu2GridDialog.h
  Applications/DataExplorer/mainwindow.cpp
  Applications/DataExplorer/mainwindow.h
  Applications/DataExplorer/mainwindow.ui
Due: git-diff-check, file-extensions, git-clang-format

adjusted mapMeshArraysOntoGrid to cast more data types
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.cpp
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.h
Due: git-diff-check, file-extensions, git-clang-format

check if dereference is save + remove copy
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
Due: git-diff-check, file-extensions, git-clang-format

dereference optional for cellsize
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
Due: git-diff-check, file-extensions, git-clang-format

extract updateExpectedVoxel() and remove getSelectedObjects()
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
  Applications/DataExplorer/DataView/Vtu2GridDialog.h
Due: git-diff-check, file-extensions, git-clang-format

minor naming fixes and clean-up of header
  Applications/DataExplorer/DataView/Vtu2GridDialog.cpp
  Applications/DataExplorer/DataView/Vtu2GridDialog.h
  Applications/DataExplorer/mainwindow.cpp
  Applications/DataExplorer/mainwindow.ui
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.cpp
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.h
Due: git-diff-check, file-extensions, git-clang-format

put getSelectedObjects() to anoym. namespace
  Applications/DataExplorer/DataView/TranslateDataDialog.cpp
  Applications/DataExplorer/DataView/TranslateDataDialog.h
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Extract printing of strings list
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Add extract parser specific line reading
  Applications/FileIO/PetrelInterface.cpp
  Applications/FileIO/PetrelInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Invert if-condition for early exit
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Extract conversion of last item to double
  Applications/FileIO/PetrelInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[pre-commit] Added disable hook for running clang-format on all files.
  .pre-commit-config.yaml
Due: git-diff-check

[ci] Arm clang-format job.
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

[web] Added note on running clang-format.
  web/content/docs/devguide/development-workflows/code-format/index.md
Due: git-diff-check

[PL/Out] Use ranges transform replacing for-loop
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/IO] Move class methods into TU
  MeshLib/IO/Legacy/MeshIO.cpp
  MeshLib/IO/Legacy/MeshIO.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LIE] Use string::starts_with replacing find==0
  ProcessLib/LIE/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/CreateSmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Move independent methods out of class in TU
  MeshToolsLib/MeshEditing/MeshRevision.cpp
  MeshToolsLib/MeshEditing/MeshRevision.h
Due: git-diff-check, file-extensions, git-clang-format

[CL] Add safety condition before access
  ChemistryLib/PhreeqcKernel.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Use accumulate replacing for-loop
  Applications/FileIO/TetGenInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Move static class methods into TU
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.h
Due: git-diff-check, file-extensions, git-clang-format
