Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[ci] CMake presets on Win jobs.
  scripts/ci/extends/template-build-win.yml
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/build-win.yml
Due: none

[CMake] Set OGS_BUILD_UTILS to ON per default.
  CMakeLists.txt
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/clang-sanitizer.yml
Due: cmake-format

[CMake] Set OGS_USE_PYTHON to ON per default.
  CMakeLists.txt
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/container.yml
Due: cmake-format

[CMake] Invert OGS_DISABLE_POETRY option to OGS_USE_POETRY.
  CMakeLists.txt
  scripts/cmake/PythonSetup.cmake
Due: cmake-format

[CMake] Reworked presets structure.
  CMakeLists.txt
  CMakePresets.json
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/code-quality.yml
Due: cmake-format

[NL] Local Newton. Add increment tolerance.
  Documentation/ProjectFile/nonlinear_solver/t_error_tolerance.md
  Documentation/ProjectFile/nonlinear_solver/t_increment_tolerance.md
  Documentation/ProjectFile/nonlinear_solver/t_residuum_tolerance.md
  MaterialLib/SolidModels/CreateNewtonRaphsonSolverParameters.cpp
  NumLib/NewtonRaphson.h
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoMaterialProperties.cpp
Due: file-extensions

[BHE2U/docu] update the results figure for model using power boundary condition
  web/content/docs/benchmarks/heat-transport-bhe/3D_2U_BHE.md
  web/content/docs/benchmarks/heat-transport-bhe/3D_2U_BHE_figures/vertical_temperature_distribution_powerBC.png
Due: none

[web] Updated docs on using CMake.
  web/content/docs/devguide/advanced/build-with-ninja.md
  web/content/docs/devguide/advanced/working-on-eve.md
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/build.md
  web/content/docs/devguide/getting-started/prerequisites.md
Due: none

[CMake] Fixed Swmm include order.
  CMakeLists.txt
Due: cmake-format

[ci] Fixed frontend job.
  scripts/cmake/test/AddTestTester.cmake
Due: none

[utils] added tools to create voxel grid from layers and mark faults within
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshEdit/Layers2Grid.cpp
Due: file-extensions, cmake-format

[CMake] Removed option OGS_USE_EIGEN.
  CMakeLists.txt
  MathLib/CMakeLists.txt
  MathLib/LinAlg/ApplyKnownSolution.h
  MathLib/LinAlg/GlobalMatrixVectorTypes.h
  MathLib/LinAlg/LinAlg.cpp
  MathLib/LinAlg/LinAlg.h
  MathLib/LinAlg/MatrixVectorTraits.cpp
  MathLib/LinAlg/MatrixVectorTraits.h
  MathLib/LinAlg/SetMatrixSparsity.h
  MathLib/LinAlg/UnifiedMatrixSetters.cpp
  MathLib/LinAlg/UnifiedMatrixSetters.h
  Tests/MathLib/TestGlobalMatrixInterface.cpp
  Tests/MathLib/TestGlobalVectorInterface.cpp
  Tests/MathLib/TestLinearSolver.cpp
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/MeshTest.cmake
Due: file-extensions, cmake-format

[utils] small code optimisations and clarifying comments
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
  Applications/Utils/MeshEdit/Layers2Grid.cpp
Due: file-extensions

optimised separating axis test
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

using existing method to test if AABB contains point
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

[CMake] Fixed usage of get_source_files / append_source_files.
  ProcessLib/CMakeLists.txt
  ProcessLib/ComponentTransport/CMakeLists.txt
  ProcessLib/HT/CMakeLists.txt
  ProcessLib/HeatConduction/CMakeLists.txt
  ProcessLib/HeatTransportBHE/CMakeLists.txt
  ProcessLib/HydroMechanics/CMakeLists.txt
  ProcessLib/LIE/CMakeLists.txt
  ProcessLib/LIE/Common/CMakeLists.txt
  ProcessLib/LiquidFlow/CMakeLists.txt
  ProcessLib/PhaseField/CMakeLists.txt
  ProcessLib/RichardsComponentTransport/CMakeLists.txt
  ProcessLib/RichardsFlow/CMakeLists.txt
  ProcessLib/RichardsMechanics/CMakeLists.txt
  ProcessLib/SmallDeformation/CMakeLists.txt
  ProcessLib/SmallDeformationNonlocal/CMakeLists.txt
  ProcessLib/SteadyStateDiffusion/CMakeLists.txt
  ProcessLib/TES/CMakeLists.txt
  ProcessLib/ThermalTwoPhaseFlowWithPP/CMakeLists.txt
  ProcessLib/ThermoHydroMechanics/CMakeLists.txt
  ProcessLib/ThermoMechanicalPhaseField/CMakeLists.txt
  ProcessLib/ThermoMechanics/CMakeLists.txt
  ProcessLib/ThermoRichardsMechanics/CMakeLists.txt
  ProcessLib/TwoPhaseFlowWithPP/CMakeLists.txt
  ProcessLib/TwoPhaseFlowWithPrho/CMakeLists.txt
  Tests/CMakeLists.txt
Due: cmake-format

renaming variables
  Applications/Utils/MeshEdit/Layers2Grid.cpp
Due: file-extensions

Using more Eigen-functionality to shorten Triangle-AABB-Intersection and make it more readable
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

(hopefully) fixing tests
  Applications/Utils/Tests.cmake
Due: none

[web] Added missing redirects for /docs/devguide and /docs/benchmarks.
  web/static/_redirects
Due: none

added check for input mesh not found
  Applications/Utils/MeshEdit/Layers2Grid.cpp
Due: file-extensions

[App/U] Store moved node coordinates in matrix.
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

[App/U] Vector operations for min/max and compare.
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

nullptr tests
  Applications/Utils/MeshEdit/AddFaultToVoxelGrid.cpp
Due: file-extensions

[MPL] Saturation property name for micro-structure
  MaterialLib/MPL/PropertyType.h
Due: none

[PL/RM] Add microporosity computation.
  ProcessLib/RichardsMechanics/ComputeMicroPorosity.h
Due: none

[T/RM] Unit test for micro porosity computation.
  Tests/CMakeLists.txt
  Tests/ProcessLib/RichardsMechanics/MicroporosityComputation.cpp
Due: file-extensions, cmake-format

[PL/RM] Pass Newton-Raphson parameters from outside.
  ProcessLib/RichardsMechanics/ComputeMicroPorosity.h
  Tests/ProcessLib/RichardsMechanics/MicroporosityComputation.cpp
Due: file-extensions

[NL] Remove const from POD. Enables moves and copies.
  NumLib/NewtonRaphson.h
Due: none

[NL] Move misplaced createNewtonRaphsonSolverPs().
  MaterialLib/FractureModels/CreateCoulomb.cpp
  MaterialLib/SolidModels/CreateCreepBGRa.cpp
  MaterialLib/SolidModels/CreateEhlers.h
  MaterialLib/SolidModels/CreateLubby2.h
  NumLib/CreateNewtonRaphsonSolverParameters.cpp
  NumLib/CreateNewtonRaphsonSolverParameters.h
Due: file-extensions

add FormEigenVector
  MaterialLib/MPL/Utils/FormEigenVector.cpp
  MaterialLib/MPL/Utils/FormEigenVector.h
Due: file-extensions

[MPL] Fix typo in comment.
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermLiakopoulos.cpp
Due: file-extensions

[MPL] Reuse computed quantity.
  MaterialLib/MPL/Properties/CapillaryPressureSaturation/SaturationVanGenuchten.cpp
Due: file-extensions

[A/DE/mainwindow] Fix deprecated warnings.
  Applications/DataExplorer/mainwindow.cpp
Due: file-extensions

[PL/RM] Add optional tag for explicit HM coupling.
  Documentation/ProjectFile/prj/processes/process/RICHARDS_MECHANICS/t_explicit_hm_coupling_in_unsaturated_zone.md
  ProcessLib/RichardsMechanics/CreateRichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcessData.h
Due: file-extensions

[gmsh] (optionally) writing physical curves to gmsh geo output
  Applications/FileIO/Gmsh/GMSHInterface.cpp
  Applications/FileIO/Gmsh/GMSHInterface.h
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.h
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
Due: file-extensions

Added CPM 0.28.4
  scripts/cmake/CPM.cmake
Due: none
