Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[NL] Make argument type more specific
  NumLib/NumericalStability/NumericalStabilization.h
  NumLib/NumericalStability/NumericalStabilization_impl.h
Due: git-diff-check, git-clang-format

[Hc/CTest] Increase the tolerance of one nonlinear solver of 1D_MultiLayerDiffusion
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion.prj
Due: none

[NL] Avoid code duplication
  NumLib/NumericalStability/NumericalStabilization_impl.h
Due: git-diff-check, git-clang-format

[HC] Split the advection term from the storage of the Laplacian matrix
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[CTest/HC] Copied and modified an existing test to use the full upwind scheme
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ClassicalTransportExample/classical_transport_example_full_upwind.prj
  Tests/Data/Parabolic/ComponentTransport/ClassicalTransportExample/classical_transport_example_full_upwind_t_4800.00.vtu
  Tests/Data/Parabolic/ComponentTransport/ClassicalTransportExample/classical_transport_example_full_upwind_t_7200.00.vtu
Due: git-diff-check

[HC/CTest] Corrected a typo of nonlinear solver name in 1D_MultiLayerDiffusion.prj
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion.prj
Due: none

[HC] Use the process independent interface for numerical stabilization
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[NL] Zero-initialization upon creation
  NumLib/NumericalStability/NumericalStabilization_impl.h
Due: git-diff-check, git-clang-format

[NL] Consistent file name, remove unnecessary incl
  NumLib/NumericalStability/NumericalStabilization-impl.h
  NumLib/NumericalStability/NumericalStabilization.h
Due: git-diff-check, git-clang-format

[NL] Make naming consistency in NumericalStabilization-impl.h
  NumLib/NumericalStability/NumericalStabilization-impl.h
Due: git-diff-check, git-clang-format

[PL] Fixed matrix output warning logic
  ProcessLib/Assembly/MatrixOutput.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CMake] Enable xdmf in debug mode
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[py] Use gmsh no X11 package on Linux.
  Tests/Data/requirements.txt
Due: none

[py] Remove pip install --editable flag for some dependencies.
  Tests/Data/requirements-dev.txt
  Tests/Data/requirements.txt
Due: none

[py] Update wheel.
  Tests/Data/requirements-ogs.txt
Due: none

Follow-up on !4558.
  CMakeLists.txt
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[web] Ignore some gitlab links in web check.
  scripts/ci/jobs/web-check.yml
Due: git-diff-check

[ci] Fix 'web only' job conditions.
  scripts/ci/jobs/web-preview.yml
  scripts/ci/pipelines/web.yml
Due: git-diff-check

Extended functions from GEOObjects to GEOModels
  Applications/DataExplorer/DataView/GEOModels.cpp
  Applications/DataExplorer/DataView/GEOModels.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Set property output flag for output vars
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

Update output variables section in LiquidFlow prj files
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1.8e1_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/2D/square_1e1_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Hex/Parallel/cuboid_1x1x1_hex_27_Dirichlet_Dirichlet.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Pyramid/cuboid_1x1x1_pyramid_6000_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/cube_1e3_calculatesurfaceflux.prj
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF/FunctionParameterTest_XDMF.prj
  Tests/Data/Parabolic/LiquidFlow/SimpleSynthetics/XDMF_compression_off/FunctionParameterTest_XDMF.prj
Due: none

[MeL] Flag marking PropertyVector planned for output
  MeshLib/PropertyVector.h
Due: git-diff-check, git-clang-format

[MeL/IO/XDMF] Output property only if output flag is set
  MeshLib/IO/XDMF/transformData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/Vtk] Output property only if output flag is set
  MeshLib/Vtk/VtkMappedMeshSource.cpp
Due: git-diff-check, file-extensions, git-clang-format

Update output variables section in HydroMechanics prj files
  Tests/Data/HydroMechanics/A2/A2.prj
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches.prj
  Tests/Data/HydroMechanics/ExcavationNiches/excavation_niches2.prj
  Tests/Data/HydroMechanics/FailureIndexDependentPermeability/quad_with_half_hole.prj
  Tests/Data/HydroMechanics/GroundEquilibrium/simHM_ground.prj
  Tests/Data/HydroMechanics/GroundEquilibrium/simHM_ground_python.prj
  Tests/Data/HydroMechanics/GroundEquilibrium/simHM_ground_quadBCu.prj
  Tests/Data/HydroMechanics/GroundEquilibrium/simHM_ground_quadBCu_python.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2.prj
  Tests/Data/HydroMechanics/Linear/Confined_Compression/square_1e2_linear.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/disc_with_hole_anisotropic.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/disc_with_hole_anisotropic_rotated.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/disc_with_hole_quasiisotropic.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/unconfined_biot.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/x_strain_y_flow.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/y_strain_z_flow.prj
  Tests/Data/HydroMechanics/OrthotropicEmbeddedFracturePermeability/z_strain_x_flow.prj
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/MultiMesh/drainage.prj
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/MultiMesh/drainage_staggered.prj
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/SingleMesh/drainage.prj
  Tests/Data/HydroMechanics/ParallelComputing/SimpleHM/SingleMesh/drainage_staggered.prj
  Tests/Data/HydroMechanics/Principal_Stress/Hollow_Sphere/sphere.prj
  Tests/Data/HydroMechanics/Principal_Stress/Tube/tube.prj
  Tests/Data/HydroMechanics/SeabedResponse/seabed_response_200x100.prj
  Tests/Data/HydroMechanics/StrainDependentPermeability/gas_loading.prj
Due: none

Update output variables section in ThermoHydroMechanics prj files
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem.prj
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh.prj
Due: none

Update output variables section in TH2M prj files
  Tests/Data/TH2M/H2/dissolution_diffusion/bourgeat.prj
  Tests/Data/TH2M/H2M/OrthotropicSwelling/square.prj
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_gas.prj
  Tests/Data/TH2M/HM/Confined_Compression/HM_confined_compression_liquid.prj
  Tests/Data/TH2M/HM/flow_fully_saturated.prj
  Tests/Data/TH2M/HM/flow_fully_saturated_gas.prj
  Tests/Data/TH2M/TH/idealGasLaw/compression_gas.prj
  Tests/Data/TH2M/TH2/heatpipe/heat_pipe_rough.prj
  Tests/Data/TH2M/TH2/heatpipe/heat_pipe_strict.prj
  Tests/Data/TH2M/TH2/unicube/unicube.prj
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_gas.prj
  Tests/Data/TH2M/THM/Confined_Compression/THM_confined_compression_liquid.prj
Due: none

Update output variables section in HT prj file
  Tests/Data/Parabolic/HT/SimpleSynthetics/calculatesurfaceflux_ht_cube_1e3.prj
  Tests/Data/Parabolic/HT/SimpleSynthetics/calculatesurfaceflux_ht_cube_1e4.prj
Due: none

Update output variables section in RichardsMechanics prj files
  Tests/Data/RichardsMechanics/A2.prj
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos.prj
  Tests/Data/RichardsMechanics/LiakopoulosHM/liakopoulos_QN.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_small.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_small_masslumping.prj
  Tests/Data/RichardsMechanics/alternative_mass_balance_anzInterval_10.prj
  Tests/Data/RichardsMechanics/bishops_effective_stress_power_law.prj
  Tests/Data/RichardsMechanics/bishops_effective_stress_saturation_cutoff.prj
  Tests/Data/RichardsMechanics/confined_compression_fully_saturated.prj
  Tests/Data/RichardsMechanics/deformation_dependent_porosity.prj
  Tests/Data/RichardsMechanics/deformation_dependent_porosity_swelling.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_anisotropic.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_coordinate_system.prj
  Tests/Data/RichardsMechanics/flow_fully_saturated_linear.prj
  Tests/Data/RichardsMechanics/gravity.prj
  Tests/Data/RichardsMechanics/mechanics_linear.prj
  Tests/Data/RichardsMechanics/mfront_restart_part1.prj
  Tests/Data/RichardsMechanics/mfront_restart_part2.prj
  Tests/Data/RichardsMechanics/orthotropic_power_law_permeability_xyz.prj
  Tests/Data/RichardsMechanics/orthotropic_swelling_xy.prj
  Tests/Data/RichardsMechanics/orthotropic_swelling_xyz.prj
Due: none

Update output variables section in SteadyStateDiffusion prj files
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_calculatesurfaceflux.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_neumann_calculatesurfaceflux.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_2e3_prism_surfaceflux_front_back.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_2e3_prism_surfaceflux_left_right.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_2e3_prism_surfaceflux_top_bottom.prj
  Tests/Data/Elliptic/wedge_1x1x1_SteadyStateDiffusion/wedge_1e3_prism_surfaceflux_diagonal.prj
Due: none

Update output variables section in Mechanics prj files
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs.prj
  Tests/Data/Mechanics/Ehlers/MFront/square_1e1_2_matIDs_restart.prj
  Tests/Data/Mechanics/Ehlers/MFront/two_material_ids_single_solid.prj
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_yzx.prj
  Tests/Data/Mechanics/Linear/MFront/cube_1e0_orthotropic_zxy.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_45xy_z.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/MFront/square_1e0_orthotropic_y-xz.prj
  Tests/Data/Mechanics/Linear/MaterialForces/bar.prj
  Tests/Data/Mechanics/Linear/MaterialForces/bar_3D.prj
  Tests/Data/Mechanics/Linear/Orthotropy/cube_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/Orthotropy/cube_1e0_orthotropic_yzx.prj
  Tests/Data/Mechanics/Linear/Orthotropy/cube_1e0_orthotropic_zxy.prj
  Tests/Data/Mechanics/Linear/Orthotropy/square_1e0_orthotropic_45xy_z.prj
  Tests/Data/Mechanics/Linear/Orthotropy/square_1e0_orthotropic_xyz.prj
  Tests/Data/Mechanics/Linear/Orthotropy/square_1e0_orthotropic_y-xz.prj
  Tests/Data/Mechanics/Linear/PrincipalStress/sphere.prj
  Tests/Data/Mechanics/Linear/cube_1e0.prj
  Tests/Data/Mechanics/Linear/cube_1e0_SNES.prj
  Tests/Data/Mechanics/Linear/cube_1e0_simple_shear.prj
  Tests/Data/Mechanics/ModifiedCamClay/model_triaxtest.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_biax.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
  Tests/Data/Mechanics/MohrCoulombAbboSloan/load_test_mc.prj
  Tests/Data/Mechanics/MohrCoulombAbboSloan/oedometer.prj
  Tests/Data/Mechanics/MohrCoulombAbboSloan/slope.prj
  Tests/Data/Mechanics/PLLC/uniax_compression.prj
Due: none

Update output variables section in ComponentTranport prj files
  Tests/Data/Parabolic/ComponentTransport/AdvectionDiffusionSorptionDecay/1D_AdvectionDiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/ConTracer/ConTracer_1d.prj
  Tests/Data/Parabolic/ComponentTransport/DiffusionSorptionDecay/1D_DiffusionSorptionDecay.prj
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/1d_decay_chain_GIA.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcite.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calciteDissolvePrecipitateOnly.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/EquilibriumPhase/calcitePorosityChange.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_flag_formula.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/KineticReactant/1d_isofrac_small_domain.prj
  Tests/Data/Parabolic/ComponentTransport/SimpleSynthetics/surfaceflux_component-transport_cube_1e3.prj
  Tests/Data/Parabolic/ComponentTransport/StaggeredScheme/surfaceflux_component-transport_cube_1e3.prj
Due: none

Update output variables section in ThermoRichardsFlow xml files
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRhyd_unsaturated_bishopstest.prj
  Tests/Data/ThermoRichardsFlow/SimplifiedMechanics/TRuni_unsaturated_bishopstest.prj
Due: none

Update output variables section in TH2M xml files
  Tests/Data/TH2M/submesh_residuum_assembly/T.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_G.xml
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap.xml
  Tests/Data/TH2M/submesh_residuum_assembly/u.xml
Due: none

Update output variables section in TRM prj files
  Tests/Data/TH2M/H2M/StrainDependentPermeability/Strain_Dependent_Permeability_Test.prj
  Tests/Data/ThermoRichardsMechanics/A2/A2.prj
  Tests/Data/ThermoRichardsMechanics/FullySaturatedFlowMechanics/flow_fully_saturated.prj
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/mechanics_linear.prj
  Tests/Data/ThermoRichardsMechanics/MFront/ThermoPoroElasticity/uniaxial_isothermal_drainage_imbibition_extended_mfront_model.prj
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/point_heat_source_2D.prj
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small.prj
  Tests/Data/ThermoRichardsMechanics/Simple3DThermoMechanicsFromTM/cube_1e3.prj
Due: none

Update output variables section in StokesFlow prj files
  Tests/Data/StokesFlow/2DPlanarPermeableFracture/2DPlanarPermeableFracture.prj
  Tests/Data/StokesFlow/ParallelPlate.prj
  Tests/Data/StokesFlow/ParallelPlateWithBodyForce.prj
Due: none

Update output variable sections in Phasefield project files
  Tests/Data/PhaseField/PForthotropy_jupyter_notebook/shear.prj
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.prj
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.prj
Due: none

Update output variables section in LIE prj files
  Tests/Data/LIE/HydroMechanics/TaskB.prj
  Tests/Data/LIE/HydroMechanics/single_fracture.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3D.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_CHZ.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_CHZ_sigma0.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_linear_aperture0.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_linear_aperture0_e.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_CZ_kf_const.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_CZ_kf_cubic.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_LE_kf_const.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_LE_kf_cubic.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_constK.prj
  Tests/Data/LIE/Mechanics/cohesive_zone_load_path.prj
  Tests/Data/LIE/Mechanics/coulomb_load_path.prj
  Tests/Data/LIE/Mechanics/elastic_push_pull_two_fractures.prj
  Tests/Data/LIE/Mechanics/mohr_coulomb_load_path_nu0p3.prj
  Tests/Data/LIE/Mechanics/sfrac.q.prj
  Tests/Data/LIE/Mechanics/single_joint_displacement_controlled.prj
  Tests/Data/LIE/Mechanics/single_joint_negative_aperture.prj
  Tests/Data/LIE/Mechanics/two_cracks_branch_pull.prj
  Tests/Data/LIE/Mechanics/two_cracks_junction_pull.prj
Due: none

Update output variables section in T process prj files
  Tests/Data/Parabolic/T/1D_dirichlet/line_60_heat.prj
  Tests/Data/Parabolic/T/1D_neumann/newton.prj
  Tests/Data/Parabolic/T/1D_neumann/picard.prj
Due: none

[MeL] Output vtkGhostType in parallel simulations
  MeshLib/IO/VtkIO/VtuInterface-impl.h
Due: git-diff-check, git-clang-format
