Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

test(ParL): add OpenMP thread-safety tests for FunctionParameter
  Tests/ParameterLib/TestFunctionParameter.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(Tests): add reusable generators for OpenMP tests
  Tests/AutoCheckTools.h
Due: git-diff-check, git-clang-format

feat(ParL): exclude exprtk constants from collectVariables
  ParameterLib/ExprtkUtils.cpp
  Tests/ParameterLib/TestExprtkUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(MPL): add OpenMP thread-safety tests for Function property
  Tests/MaterialLib/TestMPLFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(ParL,MPL): use exprtk utilities
  Documentation/ProjectFile/properties/property/Function/dvalue/i_dvalue.md
  Documentation/ProjectFile/properties/property/Function/dvalue/t_expression.md
  Documentation/ProjectFile/properties/property/Function/value/i_value.md
  Documentation/ProjectFile/properties/property/Function/value/t_expression.md
  MaterialLib/MPL/Properties/Function.cpp
  ParameterLib/FunctionEvaluation.cpp
  ParameterLib/FunctionEvaluation.h
  ParameterLib/FunctionParameter.h
Due: git-diff-check, file-extensions, git-clang-format

feat(ParL): reject exprtk assignment to registered symbols
  ParameterLib/ExprtkUtils.h
  Tests/ParameterLib/TestExprtkUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(ParL): reject curve names colliding with exprtk reserved symbols
  ParameterLib/ExprtkUtils.cpp
  Tests/ParameterLib/TestExprtkUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(T/TRM): slightly relax ctest tolerance
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

fix(T/MPL): use signed OpenMP loop index for MSVC
  Tests/MaterialLib/TestMPLFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[guix] Bundle metis with 64-bit indices.
  scripts/guix/manifest-common.scm
  scripts/guix/manifest-dev.scm
Due: git-diff-check

Reduced the emphasis on OGS_USE_PIP in the Build Configuration section
  web/content/docs/devguide/getting-started/build-configuration/index.md
Due: git-diff-check

[wheel] Ignore python module in repair-wheel-command.
  pyproject.toml
Due: git-diff-check

[ci] Run wheel jobs on wheels only pipeline.
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check

wheel repair script.
  pyproject.toml
  scripts/python/repair_windows_wheel.py
Due: git-diff-check

ci: reenable non-omp ctest variants in coverage
  CMakePresets.json
Due: git-diff-check

refactor(BaseLib): add chemistry thread count helper
  BaseLib/OgsAsmThreads.cpp
  BaseLib/OgsAsmThreads.h
  BaseLib/OgsChemThreads.cpp
  BaseLib/OgsChemThreads.h
Due: git-diff-check, file-extensions, git-clang-format

feat(CT): aggregate negative-concentration clamping via ClampingStats
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcIOData/AqueousSolution.cpp
  ChemistryLib/PhreeqcIOData/AqueousSolution.h
  ChemistryLib/PhreeqcIOData/ClampingStats.cpp
  ChemistryLib/PhreeqcIOData/ClampingStats.h
  Documentation/ProjectFile/prj/chemical_system/t_concentration_warning_threshold.md
  Documentation/ProjectFile/prj/chemical_system/t_negative_concentration_tolerance.md
  Tests/ChemistryLib/TestAqueousSolutionClamping.cpp
  Tests/ChemistryLib/TestPhreeqcParallel.cpp
Due: git-diff-check, file-extensions, git-clang-format

docs(CT): user guide and comments for parallel chemistry
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcIOData/AqueousSolution.h
  Documentation/ProjectFile/prj/chemical_system/t_chemistry_threads.md
  web/content/docs/userguide/features/parallel_chemistry.md
Due: git-diff-check, git-clang-format

fix(CT): synchronize ghost nodes before chemistry in MPI mode
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] In petsc notebooks link to petsc binder environment.
  Tests/Data/Notebooks/testrunner.py
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

feat(AppL/U): Early abort on output_file_path error
  Applications/Utils/FileConverter/PVD2XDMF.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(AppL/U): CLI arg for compressed output
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(AppL/Py): Add missing tool binaryToPVTU to binaries_list
  Applications/Python/ogs/_internal/binaries_list.py
Due: git-diff-check

fix(AppL/Py): Correct message in PETSc/MPI environment
  Applications/Python/ogs.OGSSimulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ci] Fail early on Windows (like on Linux).
  scripts/ci/extends/template-build-win.yml
Due: git-diff-check

fix(MeL): Use string_view for constexpr string
  MeshLib/IO/VtkIO/VtuInterface-impl.h
  MeshLib/PropertyVector.h
Due: git-diff-check, git-clang-format

fix(AppL/Py): Avoid import of ogs.config during editable install
  Applications/Python/ogs/_internal/binaries_list.py
  Applications/Python/ogs/_internal/provide_ogs_cli_tools_via_wheel.py
  Applications/Python/ogs/_internal/wrap_cli_tools.py
  Tests/Python/test_cli.py
  scripts/python/compare_binaries.py
  scripts/python/scikit-build-plugins/scripts/__init__.py
Due: git-diff-check

fix(CL): Use signed OpenMP loop index in PhreeqcIO
  ChemistryLib/PhreeqcIO.cpp
Due: git-diff-check, file-extensions, git-clang-format

[doc] Reduce Doxygen warnings
  Documentation/ProjectFile/prj/chemical_system/t_concentration_warning_threshold.md
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[App] Print working directory
  Applications/ApplicationsLib/Simulation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr/ci] pre-commit: show patch
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

[scr] Enable setting working directory for OGS with AddTest
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestWrapper.cmake
Due: git-diff-check

[ci] Some web checker ignores.
  web/lychee.toml
Due: git-diff-check

refactor(MSVC): Changed ifdef in PropertyVector.h
  MeshLib/PropertyVector.h
Due: git-diff-check, git-clang-format

fix(MSVC): resolve UnDecorateSymbolName
  BaseLib/DemangleTypeInfo.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(MSVC): resolve the winmm location issue
  BaseLib/CMakeLists.txt
Due: git-diff-check

web: add an item to `Minimum requirements`
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

Apply 1 suggestion(s) to 1 file(s)
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[cmake] Fix labels in OgsTest().
  scripts/cmake/test/OgsTest.cmake
Due: git-diff-check
