Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|conan.cmake|CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|conan.cmake|CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/.*|Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.0"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

[cmake] Format and fix cpp-dependencies parser error.
  ProcessLib/LargeDeformation/CMakeLists.txt
Due: git-diff-check

[T/LD] Jupyter notebook for convergence check.
  Documentation/.vale/Vocab/ogs/accept.txt
  ProcessLib/LargeDeformation/Tests.cmake
  Tests/Data/LargeDeformation/Torsion/Torsion_robustness.md
Due: git-diff-check

[T/LD] Rigid body rotation; 360 square rotation
  ProcessLib/LargeDeformation/CMakeLists.txt
  ProcessLib/LargeDeformation/Tests.cmake
  Tests/Data/LargeDeformation/RigidBody/square_1e0.prj
  Tests/Data/LargeDeformation/RigidBody/square_1e0_ts_0_t_0.000000.vtu
  Tests/Data/LargeDeformation/RigidBody/square_1e0_ts_10_t_1.000000.vtu
  Tests/Data/LargeDeformation/RigidBody/square_1e0_ts_20_t_2.000000.vtu
  Tests/Data/LargeDeformation/RigidBody/square_1e0_ts_30_t_3.000000.vtu
  Tests/Data/LargeDeformation/RigidBody/square_1e0_ts_40_t_4.000000.vtu
  Tests/Data/LargeDeformation/RigidBody/square_1x1.gml
  Tests/Data/LargeDeformation/RigidBody/square_1x1_quad_1e0.vtu
Due: git-diff-check

[web] Added new subsection large-deformations.
  web/content/docs/benchmarks/large-deformations/_index.md
Due: git-diff-check

[PL/LD] Extract sigma_geom computation in own fct
  ProcessLib/LargeDeformation/LargeDeformationFEM.h
Due: git-diff-check, git-clang-format

Update ogs6py version
  Tests/Data/requirements.txt
Due: none

[PL/LD] LargeDeformation using MFront
  Applications/ApplicationsLib/ProjectData.cpp
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/c_LARGE_DEFORMATION.md
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/constitutive_relation
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/process_variables/i_process_variables.md
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/process_variables/t_process_variable.md
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/t_initial_stress.md
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/t_reference_temperature.md
  Documentation/ProjectFile/prj/processes/process/LARGE_DEFORMATION/t_specific_body_force.md
  ProcessLib/Deformation/GMatrixPolicy.h
  ProcessLib/Deformation/NonLinearBMatrix.h
  ProcessLib/LargeDeformation/CMakeLists.txt
  ProcessLib/LargeDeformation/ConstitutiveRelations/Base.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/ConstitutiveSetting.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/CreateConstitutiveSetting.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/CreateConstitutiveSetting.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/Invoke.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/MaterialState.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/SolidDensity.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/LargeDeformation/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/LargeDeformation/ConstitutiveRelations/StressData.h
  ProcessLib/LargeDeformation/CreateLargeDeformationProcess.cpp
  ProcessLib/LargeDeformation/CreateLargeDeformationProcess.h
  ProcessLib/LargeDeformation/CreateLocalAssemblers.h
  ProcessLib/LargeDeformation/IntegrationPointData.h
  ProcessLib/LargeDeformation/LargeDeformationFEM.h
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
  ProcessLib/LargeDeformation/LargeDeformationProcess.h
  ProcessLib/LargeDeformation/LargeDeformationProcessData.h
  ProcessLib/LargeDeformation/LocalAssemblerInterface.h
  scripts/cmake/ProcessesSetup.cmake
Due: git-diff-check, file-extensions, git-clang-format

clang-format
  Applications/Utils/MeshEdit/Vtu2Grid.cpp
  MathLib/LinAlg/MatrixVectorTraits.cpp
  MeshLib/IO/XDMF/transformData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] clang-format
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/MaterialLib/TestMPLSaturationWeightedThermalConductivity.cpp
  Tests/MaterialLib/TestMPLWaterDensity.cpp
  Tests/MaterialLib/TestMPLWaterEnthalpyIAPWSIF97Region4.cpp
  Tests/MaterialLib/TestMPLWaterSaturationTemperature.cpp
  Tests/MaterialLib/TestMPLWaterThermalConductivity.cpp
  Tests/MaterialLib/TestMPLWaterViscosity.cpp
Due: git-diff-check, file-extensions, git-clang-format

[DE] clang-format
  Applications/DataExplorer/DataView/GEOModels.cpp
  Applications/DataExplorer/DataView/ModellingTabWidget.cpp
  Applications/DataExplorer/DataView/ProcessView.cpp
  Applications/DataExplorer/VtkVis/VtkCompositeNodeSelectionFilter.cpp
  Applications/DataExplorer/VtkVis/VtkCompositeTextureOnSurfaceFilter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Removed n(1-S_L) from VapourDiffusionFEBEX
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.h
  Tests/MaterialLib/TestMPLVapourDiffusionFEBEX.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Removed n(1-S_L) from VapourDiffusionPMQ
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionPMQ.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionPMQ.h
  Tests/MaterialLib/TestMPLVapourDiffusionPMQ.cpp
Due: git-diff-check, file-extensions, git-clang-format

[ProcessLib] Update the usage of the vapour diffusion model
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMVaporDiffusion.cpp
Due: git-diff-check, file-extensions, git-clang-format

[UnitTest/MPL] Test the newly added optional tag for VapourDiffusionFEBEX
  Tests/MaterialLib/TestMPLVapourDiffusionFEBEX.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Add two optional input tags for the base diffusion coefficient and exponent, respectively, of vapour diffusion models
  MaterialLib/MPL/Properties/VapourDiffusion/CreateVapourDiffusionFEBEX.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/CreateVapourDiffusionPMQ.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionFEBEX.h
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionPMQ.cpp
  MaterialLib/MPL/Properties/VapourDiffusion/VapourDiffusionPMQ.h
Due: git-diff-check, file-extensions, git-clang-format

[doc] Parameter documentation for the newly added input tag for base diffusion coefficient
  Documentation/ProjectFile/properties/property/VapourDiffusionFEBEX/t_base_diffusion_coefficient.md
  Documentation/ProjectFile/properties/property/VapourDiffusionFEBEX/t_exponent.md
  Documentation/ProjectFile/properties/property/VapourDiffusionPMQ/t_base_diffusion_coefficient.md
  Documentation/ProjectFile/properties/property/VapourDiffusionPMQ/t_exponent.md
Due: git-diff-check

[py] ruff: manual fixes for glacier tutorial.
  web/content/docs/tutorials/advancing-glacier/glacierclass.py
  web/content/docs/tutorials/advancing-glacier/mesh_basin.py
  web/content/docs/tutorials/advancing-glacier/timeBCs_glacier.py
Due: git-diff-check

[py] Ignore some errors.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube.py
  Tests/Data/EllipticPETSc/square_1e1_neumann-insitu.py
  scripts/python/scikit-build-plugins/scripts/__init__.py
Due: git-diff-check

[py] ruff: misc manual fixes.
  CMakePresets.json
  Tests/Python/test_simulator_mesh_interface.py
  scripts/snakemake/vtkdiff/wrapper.py
  scripts/test/cppcheck_gen_hashes.py
  scripts/test/generate_coverage_vis_data.in.py
  web/content/docs/benchmarks/heatconduction/BHE_array_benchmark/bhe_array_analytical_solver.py
Due: git-diff-check

[py] ruff unsafe fixes: `pipx run ruff . --unsafe-fixes --fix`.
  MaterialLib/SolidModels/MFront/Lubby2.py
  MaterialLib/SolidModels/MFront/ModCamClay_TriaxTest.py
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube.py
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion_Python/bcs_laplace_eq.py
  Tests/Data/HydroMechanics/GroundEquilibrium/pythonBCsOGS.py
  Tests/Data/HydroMechanics/SeabedResponse/Stationary_waves.ipynb
  Tests/Data/Mechanics/Linear/DiscWithHole/Linear_Disc_with_hole_convergence_analysis.ipynb
  Tests/Data/Mechanics/Linear/PythonHertzContact/gen-unit-circle.py
  Tests/Data/Mechanics/Linear/PythonHertzContact/hertz_contact_bc.py
  Tests/Data/Mechanics/Linear/PythonHertzContact/post.py
  Tests/Data/Mechanics/ModifiedCamClay/mtest/ModCamClay_TestIsotrop.ipynb
  Tests/Data/Mechanics/PLLC/PLLC.ipynb
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/check_point_cloud.ipynb
  Tests/Data/Notebooks/FailingNotebook.ci-skip.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/DecayChain.ipynb
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.ipynb
  Tests/Data/Parabolic/LiquidFlow/AxiSymTheis/axisym_theis.ipynb
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy_closedloop.py
  Tests/Data/Parabolic/T/3D_3BHEs_array_python_interface/bcs_tespy_and_serverCommunication.py
  Tests/Data/PhaseField/Kregime_Propagating_jupyter_notebook/Kregime_Propagating_jupyter.ipynb
  Tests/Data/PhaseField/PForthotropy_jupyter_notebook/sen_shear.ipynb
  Tests/Data/PhaseField/beam_jupyter_notebook/beam.ipynb
  Tests/Data/PhaseField/kregime_jupyter_notebook/Kregime_Static_jupyter.ipynb
  Tests/Data/PhaseField/surfing_jupyter_notebook/surfing_pyvista.ipynb
  Tests/Data/PhaseField/tpb_jupyter_notebook/TPB.ipynb
  Tests/Data/TH2M/H/diffusion/diffusion.ipynb
  Tests/Data/TH2M/TH/Ogata-Banks/Ogata-Banks.ipynb
  Tests/Data/TH2M/TH2/heatpipe/heatpipe.ipynb
  Tests/Python/test_matrix_debug_output.py
  Tests/Python/test_ogs_asm_threads.py
  Tests/Python/test_simulator_mesh_interface.py
  scripts/doc/append-xml-tags.py
  scripts/doc/check-project-params.py
  scripts/doc/extract-media-properties-from-ctests.py
  scripts/doc/linked-xml-file.py
  web/content/docs/tutorials/advancing-glacier/timeBCs_glacier.py
Due: git-diff-check

Updated Title (+1 squashed commits)
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.ipynb
Due: git-diff-check

Updated Inclined bhe tutorial
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.ipynb
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_top_view.png
  web/content/docs/tutorials/Inclined_bhe_meshing/inclined2DBHE.png
  web/content/docs/tutorials/Inclined_bhe_meshing/inclined3DBHE.png
  web/content/docs/tutorials/Inclined_bhe_meshing/inclined_bhe_1D.png
Due: git-diff-check

[nb] Spelling.
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.md
Due: git-diff-check

[nb] Markdown format.
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.md
Due: git-diff-check

[nb] Converted to markdown notebook.
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.ipynb
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.md
Due: git-diff-check

Update with type and language issues
  web/content/docs/tutorials/Inclined_bhe_meshing/notebook-inclined_bhe_meshing.md
Due: git-diff-check

[nb] Renamed and added to ctest.
  Applications/Utils/Tests.cmake
  web/content/docs/tutorials/Inclined_bhe_meshing/notebook-inclined_bhe_meshing.md
Due: git-diff-check

[nb] Image links.
  web/content/docs/tutorials/Inclined_bhe_meshing/Inclined_bhe_meshing.md
Due: git-diff-check

[vale] Add names to accept list.
  Documentation/.vale/Vocab/ogs/accept.txt
Due: git-diff-check

[nb] Added exceptions for checks.
  web/content/docs/tutorials/Inclined_bhe_meshing/notebook-inclined_bhe_meshing.md
Due: git-diff-check

[web] Fixed windows terminal link.
  web/content/docs/devguide/getting-started/build-configuration/index.md
Due: git-diff-check

[web] Fixed links.
  web/content/docs/devguide/getting-started/build-configuration/index.md
  web/content/docs/tutorials/Inclined_bhe_meshing/notebook-inclined_bhe_meshing.md
  web/content/releases/6.4.4.md
Due: git-diff-check

6.5.0
  CHANGELOG.md
  CITATION.cff
  Documentation/mainpage.dox.in
  README.md
  scripts/doc/_redirects
  web/content/docs/devguide/procedures/publish-a-release/index.md
  web/content/releases/6.5.0.md
Due: git-diff-check

Post-release.
  .mailmap
  CITATION.cff
  web/content/docs/devguide/procedures/publish-a-release/index.md
Due: git-diff-check

[web] Fixed links on release page.
  web/content/releases/6.5.0.md
Due: git-diff-check

[py] Moved sdist include/excludes to pyproject.toml.
  MANIFEST.in
  pyproject.toml
Due: git-diff-check

[ci] Fixed pypi upload.
  scripts/ci/jobs/build-wheels.yml
Due: git-diff-check
