Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[TimeStepper/TimeLoop] Made time stepper updated in the time loop
  NumLib/TimeStepping/Algorithms/TimeStepAlgorithm.cpp
  NumLib/TimeStepping/Algorithms/TimeStepAlgorithm.h
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[Test/HT/StaggeredCoupling] Moved the tag of <fixed_output_times>
  Tests/Data/Parabolic/HT/StaggeredCoupling/ConstViscosity/square_5500x5500_staggered_scheme_adaptive_dt.prj
Due: none

[Test/TwoPhaseFlowWithPrho] Modified the info of the step times in a file name and udated the accociated reference file
  ProcessLib/TwoPhaseFlowWithPrho/Tests.cmake
  Tests/Data/Parabolic/TwoPhaseFlowPrho/MoMaS/reference_t_100000.000000.vtu
Due: none

[Output::shallDoOutput] Moved the fixed output times to the first place
  ProcessLib/Output/Output.cpp
Due: file-extensions

[Test/RichardsFlow/PID] Added one more fixed time output and changed output file name.
  ProcessLib/RichardsFlow/Tests.cmake
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/Parabolic/Richards/richards_pcs_0_ts_100_t_100.000000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_0_ts_1100_t_1600.000000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_0_ts_253_spec_t_500.000000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_0_ts_28_spec_t_50.000000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_0_ts_53_spec_t_100.000000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_10.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_100.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_1000.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_1600.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_50.vtu
  Tests/Data/Parabolic/Richards/richards_pcs_PID_adaptive_dt_t_500.vtu
Due: none

[UnitTest/Timestepper] Adjusted the tests for the change that resetCurrentTimeStep
  Tests/NumLib/TestTimeSteppingEvolutionaryPIDcontroller.cpp
  Tests/NumLib/TestTimeSteppingFixed.cpp
  Tests/NumLib/TestTimeSteppingIterationNumber.cpp
  Tests/NumLib/TimeSteppingTestingTools.h
Due: file-extensions

[Test/CreepBGRa/m2_1D2bt] Increased the absolute tolerance of some tests for result comparison
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D1bt/m2_1D1bt.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D2bt/m2_1D2bt.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D2bt/m2_1D2bt_pcs_0_ts_200_t_15.000000.vtu
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D2bt/m2_1D2bt_pcs_0_ts_201_t_15.000000.vtu
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D2bt/m2_1D2bt_pcs_0_ts_400_t_30.000000.vtu
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_1D2bt/m2_1D2bt_pcs_0_ts_402_t_30.000000.vtu
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_2Dload/m2_2Dload.prj
  Tests/Data/ThermoMechanics/CreepBGRa/Verification/m2_3Dload/m2_3Dload.prj
Due: none

[Test/ComponentTransport] Renamed a reference file: *672785* to *672786*
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MassConservation/mass_conservation_ogsOutput_pcs_0_ts_2100_t_714330.672786_expected.vtu
Due: none

[TimeStepper/IterationNumberBasedTimeStepping] Totally removed the time ending check
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
  Tests/NumLib/TestTimeSteppingIterationNumber.cpp
  Tests/NumLib/TimeSteppingTestingTools.h
Due: file-extensions

[TimeStepper/TimeLoop] Adjusted the place where to check the stablized stepping
  ProcessLib/TimeLoop.cpp
Due: file-extensions

[Test/SmallDeformation] Changed the preconditioner for Ehlers/axisymmetric_sphere_pl
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Ehlers/axisymmetric_sphere_pl.prj
Due: none

[ci] More output on container-job.
  scripts/ci/jobs/container.yml
Due: none

[vtkvis] using clamp to restrict value to selected range
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
Due: file-extensions

[utils] moving defaul value information to extended help text
  Applications/Utils/PostProcessing/Raster2PointCloud.cpp
Due: file-extensions

[ci] Allow manual trigger of deploy web job.
  scripts/ci/jobs/web.yml
Due: none

[ci] Do not run pipelines for workflow:paused labeled MRs.
  .gitlab-ci.yml
Due: none

[Time steppers] Removed member addFixedOutputTimes
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.h
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.h
  NumLib/TimeStepping/Algorithms/TimeStepAlgorithm.h
Due: file-extensions

[Test/Time steppers] Removed default argument for fixed_output_times
  Tests/NumLib/TestTimeSteppingIterationNumber.cpp
Due: file-extensions

[Doc/Time steppers] Removed the parameter documentation for fixed_output_times
  Documentation/ProjectFile/prj/time_loop/processes/process/time_stepping/EvolutionaryPIDcontroller/t_fixed_output_times.md
  Documentation/ProjectFile/prj/time_loop/processes/process/time_stepping/IterationNumberBasedTimeStepping/t_fixed_output_times.md
Due: none

[Time steppers] Removed private data _fixed_output_times
  NumLib/TimeStepping/Algorithms/CreateEvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/CreateIterationNumberBasedTimeStepping.cpp
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.h
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.cpp
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.h
Due: file-extensions

[T] Use <include>-syntax in cube_1x1x1_SteadyStateDiffusion-directory.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e0.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e0_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e1_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e2_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_bottom_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e3_top_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e4.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e4_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e5.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e5_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e6.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e6_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_2e4.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_2e4_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_3e4.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_3e4_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_4e4.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_4e4_neumann.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_5e4.prj
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_5e4_neumann.prj
Due: none

[prj] Added ability to include files.
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[T] Example of the <include>-syntax.
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/SteadyStateDiffusion.xml
  Tests/Data/Elliptic/cube_1x1x1_SteadyStateDiffusion/cube_1e1.prj
Due: none

clang-format
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

Renamed line to Line.
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[T] <include>-syntax works also for relative paths.
  Tests/Data/Elliptic/circle_radius_1/circle_1e1_axi.prj
  Tests/Data/Elliptic/circle_radius_1/circle_1e2_axi.prj
  Tests/Data/Elliptic/circle_radius_1/circle_1e3_axi.prj
  Tests/Data/Elliptic/circle_radius_1/circle_1e4_axi.prj
  Tests/Data/Elliptic/circle_radius_1/circle_1e5_axi.prj
  Tests/Data/Elliptic/circle_radius_1/circle_1e6_axi.prj
Due: none

[CMake] Updated Conan integration.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/conan/conan.cmake
Due: none

[CMake] Speed up conan_cmake_run.
  scripts/cmake/ConanSetup.cmake
Due: none

[prj] Refactored include-logic to use ptree functionality.
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[BL] ConfigTree; Fix variables' naming
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[BL] Use structured bindings and for-range-loop.
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[BL] ConfigTree; Constness and references.
  BaseLib/ConfigTreeUtil.cpp
Due: file-extensions

[CMake] Speed-up SubmoduleSetup.cmake (1.3 s -> 0.4 s).
  CMakeLists.txt
  scripts/cmake/SubmoduleSetup.cmake
Due: cmake-format

[CMake] Speed-up PreFind.cmake (0.3 s -> 0.1 s)
  scripts/cmake/PreFind.cmake
Due: none

[CMake] Speed-up by removing CheckTypeSizes.cmake (1 s).
  CMakeLists.txt
  scripts/cmake/CheckArchitecture.cmake
  scripts/cmake/CheckTypeSizes.cmake
  scripts/cmake/packaging/Pack.cmake
Due: cmake-format

[CMake] Removed find_package(OpenSSL).
  scripts/cmake/Find.cmake
Due: none

[web] Fixed benchmarks download link on release page.
  web/layouts/partials/releases-single.html
Due: none

[vtkvis] explicitely checking for float array
  Applications/DataExplorer/VtkVis/VtkImageDataToPointCloudFilter.cpp
Due: file-extensions

[ci] Enable ccache.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build_image.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/tests-large.yml
Due: none

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
