Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/.*|Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.0"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--show-source]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

[PL/TH2M] Extract mass/mole fractions used in out
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/MassMoleFractions.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract fluid densities used in output
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/FluidDensity.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract viscosity data used in output
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/ConstitutiveRelations/Viscosity.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Slightly relax ctest's tolerances
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/submesh_residuum_assembly/u.xml
Due: git-diff-check

[PL/TH2M] Move phase transition models into CRs
  ProcessLib/TH2M/CMakeLists.txt
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/CreateTH2MProcess.cpp
  ProcessLib/TH2M/PhaseTransitionModels/PhaseTransitionModel.cpp
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MProcessData.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move phase transition data to temporary
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Extract vapour pressure data used in out
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/ConstitutiveRelations/VapourPartialPressure.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract enthalpy data used in output
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/Enthalpy.h
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/NoPhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.cpp
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransition.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionData.h
  ProcessLib/TH2M/ConstitutiveRelations/PhaseTransitionModel.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TH2M] Limit using namespace. Use ns-alias
  Tests/ProcessLib/TH2M/TestTH2MNoPhaseTransition.cpp
  Tests/ProcessLib/TH2M/TestTH2MPhaseTransition.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Typo in snakemake test setup.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[CTests] Add a test for GMSH2OGS with the mesh created by Gmsh 4
  Applications/Utils/GMSH2OGS_ExtractBoundary_MeshByGmsh4.smk
  Applications/Utils/Tests.cmake
Due: git-diff-check

[GMSH2OGS] Added a flag to indicate that the mesh is created by Gmsh 2
  Applications/Utils/FileConverter/GMSH2OGS.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Prevent race condition.
  Applications/Utils/Tests.cmake
Due: git-diff-check

[MeshGeoTools] Set the default Gmsh version as Gmsh 4
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Tests/Data] A modification of A2-gmsh.msh for Gmsh 4
  Tests/Data/MeshLib/A2-gmsh4.msh
Due: none

[DataExplorer] Set the default Gmsh version as Gmsh 4
  Applications/DataExplorer/mainwindow.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GmshReader] Set the default Gmsh version as Gmsh 4
  Applications/FileIO/Gmsh/GmshReader.cpp
  Applications/FileIO/Gmsh/GmshReader.h
Due: git-diff-check, file-extensions, git-clang-format

[cppcheck] Added exclude on CPM build dirs.
  scripts/test/cppcheck.in.sh
Due: git-diff-check

[ci] Run clang jobs in shell runner.
  scripts/ci/jobs/ci_images.yml
  scripts/ci/jobs/clang-sanitizer.yml
  scripts/ci/jobs/clang-tidy.yml
Due: git-diff-check

[cmake] Simplified CMAKE_EXPORT_COMPILE_COMMANDS usage.
  scripts/ci/jobs/code-quality.yml
  scripts/cmake/ClangTidy.cmake
  scripts/cmake/CppCheck.cmake
Due: git-diff-check

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[cmake] Add SYSTEM property to cpm package and include directories.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Introduce run-clang-tidy target.
  .clang-tidy
  CMakeLists.txt
  scripts/ci/jobs/clang-tidy.yml
  scripts/cmake/ClangTidy.cmake
Due: git-diff-check

[Process] Added a member getDOFTables
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[NumLib] Dropped the function getDOFTables
  NumLib/DOF/DOFTableUtil.cpp
  NumLib/DOF/DOFTableUtil.h
Due: git-diff-check, file-extensions, git-clang-format

[Process] Use the new member getDOFTables
  ProcessLib/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Process] Extract a common part of Process.cpp to a function
  ProcessLib/Process.cpp
Due: git-diff-check, file-extensions, git-clang-format

Revert "[ctest] 1 GB output limit."
  scripts/cmake/test/CTestCustom.in.cmake
Due: git-diff-check

[PL/HT] Use shape matrix cache in HT assembler
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/HT] Pass shape matrix cache to HT local assemblers
  ProcessLib/HT/HTFEM.h
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HT/MonolithicHTFEM.h
  ProcessLib/HT/StaggeredHTFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Pass shape matrix cache to local assemblers of ComponentTransport
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Use shape matrix cache
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[PL] Extract shape matrix cache from LiquidFlowProcess to Process
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.h
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LF] Rm templ. parameter in IntegrationPointData
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler-impl.h
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check, git-clang-format

[PL/HT] Add shape matrix cache to process data
  ProcessLib/HT/CreateHTProcess.cpp
  ProcessLib/HT/HTProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Add shape matrix cache to process data
  ProcessLib/ComponentTransport/ComponentTransportProcessData.h
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/CT] Use shape matrix cache from ComponentTransportProcessData
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

[PL/LF] Quoting allocator isn't necessary anymore
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
Due: git-diff-check, git-clang-format

[PL] Rm shape matrix cache instance from Process
  ProcessLib/Process.cpp
  ProcessLib/Process.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/LF] Rm ref to shape matrix cache from local assemblers
  ProcessLib/LiquidFlow/LiquidFlowLocalAssembler.h
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format
