Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static/images/xsd|^Documentation/.vale/.*"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "scripts/cmake/jedbrown/.*|PackagingMacros.cmake|conan.cmake|CPM.cmake|FindFilesystem.cmake|ConanSetup.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.31.1
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/*|Tests/Data/*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
      - id: vale
        name: Check spelling with vale
        entry: bash -c 'if command -v vale &> /dev/null; then VALE_MIN_ALERT_LEVEL=error scripts/ci/helper/run-vale; else exit 0; fi'
        pass_filenames: false
        language: system

[ci,nb] Fixed testrunner for failed notebook runs.
  Tests/Data/Notebooks/testrunner.py
Due: none

[nb] Added (dummy) frontmatter on ModCamClay_TestIsotrop.ipynb.
  Tests/Data/Mechanics/ModifiedCamClay/mtest/ModCamClay_TestIsotrop.ipynb
Due: none

[nb] Added (dummy) frontmatter on check_point_cloud.ipynb.
  Tests/Data/NodePartitionedMesh/WithIntegrationPointStress/MixedElements/check_point_cloud.ipynb
  scripts/cmake/DependenciesExternalProject.cmake
  web/data/versions.json
Due: git-diff-check

Revert accidentally increased PETSc version...
  web/data/versions.json
Due: git-diff-check

[web] Meshing tutorial notebook
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/hexes.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/quad_mesh_graded.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/quad_mesh_init_size.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/quad_mesh_max_size.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/quad_output.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/quad_output_shifted.png
  web/content/docs/tutorials/mesh_tutorial/figures/ogs-docs-tutorials-web-content-docs-tutorials-mesh_ogs_tools-figures/web/content/docs/tutorials/mesh_ogs_tools/figures/triangle_output.png
  web/content/docs/tutorials/mesh_tutorial/mesh_tutorial.ipynb
Due: git-diff-check

Some changes to the mesh tutorial
  web/content/docs/tutorials/mesh_tutorial/mesh_tutorial.ipynb
Due: git-diff-check

[web] Simplified gallery template.
  web/layouts/docs/gallery.html
Due: git-diff-check

[web] markdownlint notebook.
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[web] Give the page a proper name.
  web/content/docs/tutorials/mesh_tutorial/mesh_tutorial.ipynb
Due: git-diff-check

[web] Added missing venv instruction.
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[web] Converted meshing tutorial notebook to markdown.
  Applications/Utils/Tests.cmake
  web/content/docs/tutorials/mesh_tutorial/mesh_tutorial.ipynb
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[web] spellcheck notebook.
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[web] Fixed links in notebook.
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[web] Some notebook formatting.
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[web] Proper out_dir in notebook.
  web/content/docs/tutorials/mesh_tutorial/notebook-mesh_tutorial.md
Due: git-diff-check

[eve] Specifying --with-cc and -cxx breaks petsc build.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[nb] Specific frontmatter format ignored on SKIP_WEB notebooks.
  Tests/Data/Notebooks/testrunner.py
Due: none

[ci] Fix regex for web only pipelines.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[ci] Generate web preview on testrunner and markdown notebook changes.
  scripts/ci/jobs/web-preview.yml
Due: git-diff-check

[python] Set includes and excludes when running ruff manually.
  pyproject.toml
Due: git-diff-check

[pre-commit] Enable ruff on notebooks.
  .pre-commit-config.yaml
Due: git-diff-check

[pre-commit] Update ruff to 0.1.0.
  .pre-commit-config.yaml
Due: git-diff-check

[ci] Add ruff job.
  scripts/ci/jobs/code-quality.yml
Due: git-diff-check

[scr] Updated vtkdiff hash after GitHub PR merge
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[T] Added test with nontrivial IP data field
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.ipynb
  Tests/Data/Mechanics/Linear/test_ip_data/square_1e2_test_ip_data.prj
  Tests/Data/Mechanics/Linear/test_ip_data/square_1e2_ts_4_t_1.000000.vtu
  Tests/Data/Mechanics/Linear/test_ip_data/square_1x1.gml
  Tests/Data/Mechanics/Linear/test_ip_data/square_1x1_quad_1e2_quadratic.vtu
Due: git-diff-check

Update authors in .cff-file.
  .mailmap
  CITATION.cff
Due: git-diff-check

[nb] Converted to py:percent format.
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.ipynb
  Tests/Data/Mechanics/Linear/test_ip_data/2D-clamped-gravity.py
Due: git-diff-check

remove dimension keyword
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

replace dimension tag documentation by removal note
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS/t_dimension.md
  Documentation/ProjectFile/prj/processes/process/HYDRO_MECHANICS_WITH_LIE/t_dimension.md
  Documentation/ProjectFile/prj/processes/process/RICHARDS_MECHANICS/t_dimension.md
  Documentation/ProjectFile/prj/processes/process/SMALL_DEFORMATION_WITH_LIE/t_dimension.md
  Documentation/ProjectFile/prj/processes/process/THERMO_HYDRO_MECHANICS/t_dimension.md
Due: git-diff-check

[PL/SD] Move shape function independent fct in I/F
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format

[PL/SD] Move free energy density into solid model
  ProcessLib/Deformation/MaterialForces.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/FreeEnergyDensity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Use StrongType for solid density
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Add ConstitutiveRelations; not yet used
  ProcessLib/SmallDeformation/CMakeLists.txt
  ProcessLib/SmallDeformation/ConstitutiveRelations/Base.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/CreateConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/CreateConstitutiveSetting.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/Invoke.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/StressData.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Use StrongType for gravity
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/Gravity.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Move SD-specific MaterialForces.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/MaterialForces.h
Due: git-diff-check, git-clang-format

[PL/SD] Use StrongType for temperature
  ProcessLib/SmallDeformation/ConstitutiveRelations/Base.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/ConstitutiveSetting.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidDensity.h
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/SmallDeformation/ConstitutiveRelations/SolidMechanics.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Move solid material states in LA
  ProcessLib/SmallDeformation/ConstitutiveRelations/MaterialState.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format

[PL/SD] Use constitutive relations eval in FEM
  ProcessLib/Deformation/MaterialForces.h
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/SD] Move elem.-type independent members to LA
  ProcessLib/SmallDeformation/LocalAssemblerInterface.h
  ProcessLib/SmallDeformation/SmallDeformationFEM.h
Due: git-diff-check, git-clang-format
