Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
    -   id: check-added-large-files
        args: [--maxkb 1024]
    -   id: check-merge-conflict
    -   id: check-xml
    -   id: check-yaml
-   repo: local
    hooks:
    -   id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        stages: [commit, manual]
    -   id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
    -   id: file-names
        name: Check file names
        entry: scripts/hooks/pre-commit-file-names.sh
        language: system
        stages: [commit, manual]
    -   id: git-lfs
        name: Check git lfs files
        entry: scripts/hooks/pre-commit-git-lfs.sh
        language: system
        stages: [commit, manual]
    -   id: cmake-format
        name: Format CMake files
        entry: scripts/hooks/pre-commit-cmake-format.sh
        language: system
        files: 'CMakeLists.txt'
        stages: [commit, manual]

exclude: 'ThirdParty/*|Tests/Data/*|web/static/images/xsd'

[PL] Use local_x in the assembly. Replace cpl_xs.
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
  ProcessLib/HT/StaggeredHTFEM-impl.h
  ProcessLib/HT/StaggeredHTFEM.h
Due: none

[NL] Use for-range-loop for container looping.
  NumLib/Assembler/SerialExecutor.h
Due: none

[PL] Fix argument name mismatch in post().
  ProcessLib/HydroMechanics/HydroMechanicsProcess.h
  ProcessLib/Process.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.h
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.h
Due: none

[MeL] Pass array values directly to ctors.
  MeshLib/MeshGenerators/MeshGenerator.cpp
Due: file-extensions

[PL] PhF; Fix naming of asmWithJPhaseFieldEqs().
  ProcessLib/PhaseField/PhaseFieldFEM-impl.h
  ProcessLib/PhaseField/PhaseFieldFEM.h
Due: none

[PL] Fix doxygen warnings for missing local_x docu
  ProcessLib/HydroMechanics/HydroMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/ThermoMechanics/ThermoMechanicsFEM.h
Due: none

Fixing code following reviewer's suggestion
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.cpp
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionPythonSideInterface.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcessData.h
Due: file-extensions

[web] Added documentation for the 3-BHE array.
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array.pandoc
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/BHE_network.png
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Heat_extraction_rate.png
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Inflow_and_outflow_temperature.png
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array_figures/Soil_temperature.png
Due: none

[CTest] Setup Python dependencies for benchmarks.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestWrapper.cmake
Due: none

[CMake] Explicitly use Python3 everywhere.
  CMakeLists.txt
  ProcessLib/BoundaryCondition/Python/CMakeLists.txt
  ProcessLib/SourceTerms/Python/CMakeLists.txt
  ThirdParty/CMakeLists.txt
  scripts/cmake/Coverage.cmake
  scripts/cmake/DocumentationSetup.cmake
  scripts/cmake/Find.cmake
  scripts/cmake/packaging/Pack.cmake
Due: cmake-format

update the benchmark input and output files
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U.prj
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U_pcs_0_ts_10_t_7200.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
Due: none

fixed merge conflict
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcessData.h
Due: file-extensions

fixed constructor in HeatTransportBHEProcessData
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcessData.h
Due: none

Modified and add the PythonBC into all BHE types
  ProcessLib/HeatTransportBHE/BHE/BHECommon.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonUType.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
  ProcessLib/HeatTransportBHE/BHE/FlowAndTemperatureControl.h
Due: file-extensions

Added test files of 3BHEs case with 2U type.
  ProcessLib/HeatTransportBHE/Tests.cmake
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U.gml
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U.prj
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U.vtu
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U_pcs_0_ts_10_t_7200.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/3bhes.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/bhe_network.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/bus.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char_map.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/heat_exchanger_simple.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/merge.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/pump.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/sink.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/source.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/splitter.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/conn.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/netw.csv
Due: none

[CMake] Rename case_path to SOURCE_PATH for consistency.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestTester.cmake
  scripts/cmake/test/MeshTest.cmake
Due: none

clang-format all the files related to HeatTransportBHE process
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.cpp
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.h
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
Due: file-extensions

[py] Added requirements.txt and example usage for BHE benchmark.
  .gitignore
  Tests/Data/Parabolic/T/3D_3BHEs_array/README.md
  Tests/Data/Parabolic/T/3D_3BHEs_array/requirements.txt
Due: none

[PL] HTBHE; Remove non-existing includes.
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
Due: file-extensions

Add postIterationConcreteProcess for pipeline network
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.h
Due: file-extensions

Modified BHEInflowPythonBoundaryCondition template typename
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
Due: none

remove if clause, using getConfigParameter() with a default value
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
Due: file-extensions

[Jenkins] Use static build on Docker GCC.
  Jenkinsfile
Due: none

Add the Python_bc in BHEUType; migrate the updateHeatTransferCoefficients function from protected to public
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
Due: file-extensions

[Jenkins] Removed obsolete build step.
  Jenkinsfile
Due: none

Add BHEInflowPythonBoundaryCondition
  Applications/CLI/ogs_embedded_python.cpp
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.cpp
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionPythonSideInterface.h
  ProcessLib/BoundaryCondition/Python/CMakeLists.txt
  ProcessLib/HeatTransportBHE/CMakeLists.txt
Due: file-extensions, cmake-format

[CMake] Added runtime info on BHE benchmarks.
  ProcessLib/HeatTransportBHE/Tests.cmake
Due: none

Implement review suggestions
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionPythonSideInterface.h
  ProcessLib/HeatTransportBHE/BHE/FlowAndTemperatureControl.h
  ProcessLib/HeatTransportBHE/CMakeLists.txt
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
Due: file-extensions, cmake-format

correct naming style
  ProcessLib/HeatTransportBHE/BHE/BHECommon.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHECommonUType.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXA.h
  ProcessLib/HeatTransportBHE/BHE/BHE_CXC.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcessData.h
Due: file-extensions

fix warnings from Clang-Tidy
  ProcessLib/HeatTransportBHE/BHE/FlowAndTemperatureControl.h
  ProcessLib/HeatTransportBHE/CreateHeatTransportBHEProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
Due: file-extensions

Modified the passes in bcs.addBoundaryCondition for BHEInflowPythonBoundaryCondition
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.cpp
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.h
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
Due: file-extensions

update the benchmark input and result files
  ProcessLib/HeatTransportBHE/Tests.cmake
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U_pcs_0_ts_10_t_7200.000000.vtu
  Tests/Data/Parabolic/T/3D_3BHEs_array/bcs_tespy.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/3bhes.py
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/bus.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/char.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/heat_exchanger_simple.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/merge.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/pump.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/sink.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/source.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/comps/splitter.csv
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/tespy_nw/conn.csv
  web/content/docs/benchmarks/heat-transport-bhe/3D_3BHEs_array.pandoc
Due: none

Jenkins; Increase MSVC warning threshold.
  Jenkinsfile
Due: none

[PL] BHE; Update copyright years.
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryCondition.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.cpp
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionModule.h
  ProcessLib/BoundaryCondition/Python/BHEInflowPythonBoundaryConditionPythonSideInterface.h
  Tests/Data/Parabolic/T/3D_3BHEs_array/pre/3bhes.py
Due: file-extensions

Changelog references update.
  CHANGELOG.md
Due: none

[web] Added 6.2.2 release page.
  web/content/releases/6.1.0.md
  web/content/releases/6.2.0.md
  web/content/releases/6.2.1.md
  web/content/releases/6.2.2.md
  web/layouts/partials/releases-single.html
  web/layouts/releases/single.html
  web/layouts/section/releases.html
Due: none

[ci skip] Update PULL_REQUEST_TEMPLATE.md for next release.
  .github/PULL_REQUEST_TEMPLATE.md
  web/content/docs/devguide/procedures/publish-a-release.pandoc
Due: none

[PL/BHE] fix parameters' documentation.
  Documentation/ProjectFile/prj/processes/process/HEAT_TRANSPORT_BHE/borehole_heat_exchangers/borehole_heat_exchanger/t_use_bhe_pipe_network.md
  ProcessLib/HeatTransportBHE/BHE/CreateBHECoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
  Tests/Data/Parabolic/T/3D_3BHEs_array/3bhes_1U.prj
Due: file-extensions

[Jenkins] Build serial eve ogs module with Python.
  Jenkinsfile
  scripts/env/eve/cli.sh
Due: none
