Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[web] Publication final fixes.
  Documentation/bibliography/ogs.bib
  scripts/cmake/DocumentationSetup.cmake
  scripts/web/convert-bib.py
  web/content/docs/benchmarks/thermo-mechanics/thermomechanics/index.md
  web/content/docs/devguide/documentation/web-docs/index.md
  web/content/publications/publications.bib
  web/content/publications/publikationen.bib
  web/content/publications/pubs_owf.bib
Due: git-diff-check

[web] Refactord bib shortcode.
  web/content/publications/_index.md
  web/content/publications/software.bib
  web/layouts/_shortcodes/bib.html
  web/layouts/publications/single.html
Due: git-diff-check

[web] Added latest publications to the start page.
  web/layouts/home.html
Due: git-diff-check

[web] Fixed some urls when served from subdir.
  web/content/_index.md
  web/layouts/_partials/components/gallery-item.html
  web/layouts/_partials/global-footer-nav.html
  web/layouts/_partials/nav-bar.html
  web/layouts/_partials/releases/single.html
  web/layouts/home.html
  web/layouts/term.html
Due: git-diff-check

fix(Applications): add a missed include in LinearSolverLibrarySetup.h
  Applications/ApplicationsLib/LinearSolverLibrarySetup.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Update _static/versions.json on release.
  scripts/ci/helper/update-web-version.sh
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/web-deploy.yml
Due: git-diff-check

[ci] Reduced release pipleline.
  .gitlab-ci.yml
  scripts/ci/jobs/build-guix.yml
  scripts/ci/jobs/code-coverage.yml
  scripts/ci/jobs/code-quality.yml
  scripts/ci/jobs/jupyter.yml
Due: git-diff-check

[ci] Use Ninja on Windows for wheels.
  pyproject.toml
  scripts/ci/jobs/build-wheels.yml
  scripts/cmake/CMakeSetup.cmake
Due: git-diff-check

[MeL] Added further checks
  MeshLib/Utils/getOrCreateMeshProperty.h
Due: git-diff-check, git-clang-format

fix(ci): add author surname "Nevers" to codespell ignore list
  .codespellrc
Due: git-diff-check

[pre-commit] Unified clang-format setup.
  .pre-commit-config.yaml
  scripts/ci/jobs/pre-commit.yml
Due: git-diff-check

[web] Updated docs on vscode and clang-format.
  web/content/docs/devguide/development-workflows/code-format/index.md
Due: git-diff-check

fix(AppL/IO): delete points/lines at function end
  Applications/FileIO/FEFLOW/FEFLOWMeshInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

Renamed to FEFLOW2OGS_C to avoid name clash feflow2ogs from ogstools.
  Applications/Python/ogs/_internal/binaries_list.py
  Applications/Utils/FileConverter/CMakeLists.txt
  Applications/Utils/FileConverter/FEFLOW2OGS_C.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(AppL/IO): use xmlChar for XML node names
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[AL] Re-implement FEFLOWGeoInterfacce with libxml2.
  Applications/FileIO/CMakeLists.txt
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.h
  Applications/Python/ogs/_internal/binaries_list.py
  Applications/Utils/FileConverter/CMakeLists.txt
  Tests/FileIO/TestFEFLOWInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(AppL/IO): simplify xml parsing with xmlCharToString
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added tests for Feflow2Mesh.
  Applications/Utils/Tests.cmake
  Tests/Data/FileIO/FEFLOW/prism_with_material_properties.msh
  Tests/Data/FileIO/FEFLOW/prism_with_material_properties.vtu
Due: git-diff-check

Renamed FEFLOW2OGS_C to Feflow2Mesh.
  Applications/Python/ogs/_internal/binaries_list.py
  Applications/Utils/FileConverter/CMakeLists.txt
  Applications/Utils/FileConverter/Feflow2Mesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[AL] Code review comments.
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.cpp
  Applications/FileIO/FEFLOW/FEFLOWGeoInterface.h
Due: git-diff-check, file-extensions, git-clang-format

[web] Fixed markdownlint and adapted some links.
  web/content/docs/processes/liquid-flow/LiquidFlow/index.md
Due: git-diff-check

[web] Applied review suggestions.
  web/content/docs/processes/liquid-flow/LiquidFlow/index.md
Due: git-diff-check

process description of liquid-flow extended
  web/content/docs/processes/liquid-flow/LiquidFlow/index.md
Due: git-diff-check

doc(LF): Extend the documentation.
  web/content/docs/processes/liquid-flow/LiquidFlow/index.md
Due: git-diff-check

doc(LF): rephrase workflows reference
  web/content/docs/processes/liquid-flow/LiquidFlow/index.md
Due: git-diff-check

refactor(CTest#THM): Use `mass` as `equation_balance_type` for `point_heat_source`
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_linear-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_linear-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/expected_pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/expected_pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
Due: git-diff-check

refactor(CTest#THM): Use `mass` as `equation_balance_type` for `Beam_unsealed_bimaterial`
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/expected_square_1e2_ts_10_t_1000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/square_1e2_ts_10_t_1000.000000.vtu
Due: git-diff-check

refactor(CTest#THM): Use `mass` as `equation_balance_type` for `Beam_sealed_bimaterial`
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/expected_square_1e2_ts_10_t_100.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/square_1e2_ts_10_t_100.000000.vtu
Due: git-diff-check

refactor(CTest#THM): Use `mass` as `equation_balance_type` for `BGRaCreepAndInitialStressAtIP_AREHS`
  Tests/Data/ThermoHydroMechanics/BGRaCreepAndInitialStressAtIP_AREHS/arehs-salt-THM01_0.prj
  Tests/Data/ThermoHydroMechanics/BGRaCreepAndInitialStressAtIP_AREHS/arehs-salt-THM0_ts_5_t_157680000000.000000.vtu
Due: none

refactor(CTes#(THM): Use `mass` as `equation_balance_type` for `A2`
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_0_t_2764800.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_124_t_31536000.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_heating_ts_1_t_2767547.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_23_t_12960.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_24_t_12974.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_3_t_4320.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_42_t_20736.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_4_t_4334.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_54_t_61600.000000.vtu
  Tests/Data/ThermoHydroMechanics/A2/A2_ts_76_t_2764800.000000.vtu
Due: none

feat(THM): Add a new input parameter: equation_balance_type
  Documentation/ProjectFile/prj/processes/process/THERMO_HYDRO_MECHANICS/t_equation_balance_type.md
  ProcessLib/ThermoHydroMechanics/CreateThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

feat(THM): Modify the local assembler for mass balance equation
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

refactor(THM): move p_dot/T_dot to assembly
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

refactor(CTest#THM): Use `mass` as `equation_balance_type` for the remaining tests
  Tests/Data/ThermoHydroMechanics/Linear/Square_sealed_homogeneous/square_1e0.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_incompressible_fluid.prj
  Tests/Data/ThermoHydroMechanics/Linear/Storage/cube_isochoric_heat-up.prj
  Tests/Data/ThermoHydroMechanics/Linear/ThermoOsmosis/Column.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183_petsc.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.0.prj
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/square_ortho_phi0.183.prj
Due: none

refactor(CTest#THM): Increase the non-linear solver convergence tolerances in
  Tests/Data/ThermoHydroMechanics/Linear/anisotropic_thermal_expansivity/cube_ortho_phi0.183_petsc.prj
Due: none

doc(THM): Extend conventions section volume/mass
  web/content/docs/userguide/basics/conventions/index.md
Due: git-diff-check

[web] Added jupyter target docs.
  web/content/docs/devguide/documentation/jupyter-docs/index.md
Due: git-diff-check

[ci] Fix doxysearch deploy.
  scripts/ci/jobs/build-docs.yml
Due: git-diff-check

[web] Updated GINA link.
  web/content/docs/tools/getting-started/overview/index.md
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
