Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - pre-commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - pre-commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[MaterialLib] parseMaterialIdString: separator arg and opt-in ID validation
  MaterialLib/Utils/MediaCreation.cpp
  MaterialLib/Utils/MediaCreation.h
  Tests/MaterialLib/TestSplitMaterialIdString.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App] Reject overwrite_mesh_data on PETSc partitions
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App] Use set for selected material-id lookup
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App] Wire overwrite_mesh_data into project-file parsing
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[doc] overwrite_mesh_data docs, feature matrix and benchmark
  Documentation/ProjectFile/prj/overwrite_mesh_data/i_overwrite_mesh_data.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/remove/i_remove.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/remove/t_field_name.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/remove/t_mesh.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/remove/t_mesh_item_type.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/i_set.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/t_field_name.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/t_material_ids.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/t_mesh.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/t_mesh_item_type.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/set/t_parameter_name.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/take_original/i_take_original.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/take_original/t_field_name.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/take_original/t_material_ids.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/take_original/t_mesh.md
  Documentation/ProjectFile/prj/overwrite_mesh_data/take_original/t_mesh_item_type.md
  Documentation/ProjectFile/prj/t_zero_mesh_field_data_by_material_ids.md
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/OverwriteMeshData/Left.vtu
  Tests/Data/Mechanics/OverwriteMeshData/Right.vtu
  Tests/Data/Mechanics/OverwriteMeshData/bulk.vtu
  Tests/Data/Mechanics/OverwriteMeshData/overwrite_mesh_data.prj
  Tests/Data/Mechanics/OverwriteMeshData/overwrite_mesh_data_ts_0_t_0.000000.vtu
  Tests/Data/Mechanics/OverwriteMeshData/overwrite_mesh_data_ts_1_t_1.000000.vtu
  scripts/doc/CheckFeatureMatrix.py
  scripts/doc/FindFeatures.py
Due: git-diff-check

[MatL/MPL] Make dValue consistent with value() clamps
  MaterialLib/MPL/Properties/Density/WaterDensityIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.cpp
  Tests/MaterialLib/TestMPLRelPermBrooksCorey.cpp
  Tests/MaterialLib/TestMPLRelPermBrooksCoreyNonwettingPhase.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(AppL): std::set from_range on older STL
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib] Remove dead PropertyVector<T*> specialisation
  MeshLib/Properties-impl.h
  MeshLib/Properties.h
  MeshLib/PropertyVector.h
  Tests/MeshLib/MeshProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib] Guard PropertyVector<bool>::operator[] const
  MeshLib/PropertyVector.h
Due: git-diff-check, git-clang-format

tests(MeshProperties): Add createFilledCellProperty fixture helper
  Tests/MeshLib/MeshProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeshLib] Fix stale PropertyVector class documentation
  MeshLib/PropertyVector.h
Due: git-diff-check, git-clang-format

tests(MeshProperties): Increase test coverage
  Tests/MeshLib/MeshProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

[NL] Document Picard fixpoint notation
  NumLib/ODESolver/NonlinearSolver.h
Due: git-diff-check, git-clang-format

[NL] Add damping to the Picard method
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Picard/t_damping.md
  NumLib/ODESolver/CreateNonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSolver.h
  Tests/NumLib/TestODEInt.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(T): Picard damping tests
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/PicardDamping/damped_039.xml
  Tests/Data/Parabolic/T/PicardDamping/left.vtu
  Tests/Data/Parabolic/T/PicardDamping/mesh_1d.vtu
  Tests/Data/Parabolic/T/PicardDamping/out_ts_1_t_1.000000.vtu
  Tests/Data/Parabolic/T/PicardDamping/python_bc.py
  Tests/Data/Parabolic/T/PicardDamping/right.vtu
  Tests/Data/Parabolic/T/PicardDamping/undamped.prj
Due: git-diff-check

fix(PL/NL): Staggered time stepping by coupling iterations
  NumLib/StaggeredCoupling/StaggeredCoupling-impl.h
  NumLib/StaggeredCoupling/StaggeredCoupling.h
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.h
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

docs(NL/PL): Rename "last" to "previous" time step
  NumLib/TimeStepping/Algorithms/EvolutionaryPIDcontroller.cpp
  NumLib/TimeStepping/Algorithms/IterationNumberBasedTimeStepping.h
  ProcessLib/BoundaryConditionAndSourceTerm/SolutionDependentDirichletBoundaryCondition.h
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
  Tests/NumLib/TimeSteppingTestingTools.h
Due: git-diff-check, file-extensions, git-clang-format

feat(ParL): add SpatialPosition output operator
  ParameterLib/SpatialPosition.cpp
  ParameterLib/SpatialPosition.h
Due: git-diff-check, file-extensions, git-clang-format

fix(BHE): reject degenerate U-type geometry
  ProcessLib/HeatTransportBHE/BHE/BHEParameterValidation.cpp
  ProcessLib/HeatTransportBHE/BHE/BHEParameterValidation.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/CreateBHEUType.cpp
  Tests/ProcessLib/HeatTransportBHE/TestBHEElementWiseProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(BHE): drop unused position from pipe heat conduction
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1P.h
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.h
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.h
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerBHE-impl.h
  Tests/ProcessLib/HeatTransportBHE/TestBHEElementWiseProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(BHE): use per-leg wall conductivity in U-type resistances
  ProcessLib/HeatTransportBHE/BHE/BHE_1U.cpp
  ProcessLib/HeatTransportBHE/BHE/BHE_2U.cpp
  Tests/ProcessLib/HeatTransportBHE/TestBHEElementWiseProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(BHE): cover getBHEDataInMesh for a horizontal BHE
  Tests/ProcessLib/HeatTransportBHE/TestBHEElementWiseProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix: google-explicit-constructor clang-tidy check
  .clang-tidy
  ChemistryLib/PhreeqcIO.cpp
  MeshLib/Elements/TemplateElement.h
  Tests/MathLib/PointUtils.h
  Tests/MathLib/Polynomials.h
Due: git-diff-check, file-extensions, git-clang-format

fix Brooks-Corey RelPerm derivatives
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.cpp
  Tests/MaterialLib/TestMPLRelPermBrooksCorey.cpp
  Tests/MaterialLib/TestMPLRelPermBrooksCoreyNonwettingPhase.cpp
Due: git-diff-check, file-extensions, git-clang-format

feat(MPL): validate Brooks-Corey RelPerm constructor parameters
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermBrooksCoreyNonwettingPhase.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCorey.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermBrooksCoreyNonwettingPhase.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(MPL): use range-v3 ranges in Function
  MaterialLib/MPL/Properties/Function.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(MPL): extract parseExpressionList in CreateFunction
  MaterialLib/MPL/Properties/CreateFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

test(THM): freezing benchmark exercising Function::d2Value
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem_Function.xml
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem_Function_ts_432_t_427000000.000000.vtu
  Tests/Data/ThermoHydroMechanics/1D_freezing_column_Stefan/Stefan_problem_Function_ts_51_t_46000000.000000.vtu
Due: git-diff-check

feat(MPL): add d2Value to the Function property
  Documentation/ProjectFile/properties/property/Function/d2value/i_d2value.md
  Documentation/ProjectFile/properties/property/Function/d2value/t_expression.md
  Documentation/ProjectFile/properties/property/Function/d2value/t_variable_name.md
  MaterialLib/MPL/Properties/CreateFunction.cpp
  MaterialLib/MPL/Properties/Function.cpp
  MaterialLib/MPL/Properties/Function.h
  Tests/MaterialLib/TestMPLFunction.cpp
Due: git-diff-check, file-extensions, git-clang-format

[py] scikit-build-core 1.0
  pyproject.toml
  scripts/python/scikit-build-plugins/scripts/__init__.py
Due: git-diff-check

[precommit] Update codespell.
  .pre-commit-config.yaml
Due: git-diff-check

fix(T/RM): Slightly relax ctest tolerance
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
Due: none

fix: make namespace comment consistent
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/NsAndWeight.h
Due: git-diff-check, git-clang-format

fix: Rm. redundant initializer
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcessData.h
Due: git-diff-check, git-clang-format

[nb,web] Fix notebook binder links (for non-petsc nbs).
  Tests/Data/Notebooks/testrunner.py
Due: none

[PL] Use dt=0 only for the elastic tangent at init
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[cmake] Strip source dir from external deps build directory hash.
  scripts/cmake/BuildExternalProject.cmake
Due: git-diff-check

[MPL] Use the IF97-defined gas constant in IAPWS-IF97 properties
  MaterialLib/MPL/Properties/Density/WaterDensityIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/Density/WaterLiquidDensityIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Density/WaterVapourDensityIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Enthalpy/WaterEnthalpyIAPWSIF97Region1.cpp
  MaterialLib/MPL/Properties/Enthalpy/WaterLiquidEnthalpyIAPWSIF97Region4.cpp
  MaterialLib/MPL/Properties/Enthalpy/WaterVapourEnthalpyIAPWSIF97Region4.cpp
  MaterialLib/PhysicalConstant.h
  Tests/MaterialLib/TestMPLWaterDensity.cpp
  Tests/MaterialLib/TestMPLWaterDensityIAPWSIF97Region4.cpp
  Tests/MaterialLib/TestMPLWaterEnthalpyIAPWSIF97Region1.cpp
  Tests/MaterialLib/TestMPLWaterEnthalpyIAPWSIF97Region4.cpp
Due: git-diff-check, file-extensions, git-clang-format

update references to account for IAPWS gas constant fix
  Tests/Data/WellboreSimulator/Wellbore_simulator_1Phase_t_1000000.000000.vtu
  Tests/Data/WellboreSimulator/Wellbore_simulator_2Phase_t_30000.000000.vtu
Due: none

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
