Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

Fix: Check expression str if contains x,y,z
  ParameterLib/FunctionEvaluation.cpp
Due: git-diff-check, file-extensions, git-clang-format

Add tests for Function eval for exp(t) as case without Pos
  Tests/ParameterLib/TestFunctionParameter.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Relax BHE assembly matrix cache timing threshold
  Tests/Python/test_bhe_assembly_matrix_cache_soil_elements.py
Due: git-diff-check

Moved curve documentation to the right place
  Documentation/ProjectFile/curve/i_curve.md
  Documentation/ProjectFile/prj/curves/curve/t_coords.md
  Documentation/ProjectFile/prj/curves/curve/t_read_from_file.md
  Documentation/ProjectFile/prj/curves/curve/t_values.md
  MathLib/Curve/CreatePiecewiseLinearCurve.cpp
Due: git-diff-check, file-extensions, git-clang-format

[scr] Fixed constitutive relation tag replacement
  scripts/doc/linked-xml-file.py
Due: git-diff-check

[scr] produce red warning text for undocumented tags
  scripts/doc/linked-xml-file.py
Due: git-diff-check

Restructured nonlinear solver documentation a bit
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Newton/c_Newton.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Newton/t_damping.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Newton/t_damping_reduction.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Newton/t_recompute_jacobian.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/PETScSNES/c_PETScSNES.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/PETScSNES/t_prefix.md
  Documentation/ProjectFile/prj/nonlinear_solvers/nonlinear_solver/Picard/c_Picard.md
  NumLib/ODESolver/CreateNonlinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Doc] Added missing documentation links
  Documentation/ProjectFile/prj/processes/process/TH2M/constitutive_relation
  Documentation/ProjectFile/prj/processes/process/THERMO_HYDRO_MECHANICS/constitutive_relation
  Documentation/ProjectFile/prj/processes/process/THERMO_RICHARDS_MECHANICS/constitutive_relation
Due: git-diff-check

Added a bit to VTK/XDMF documentation
  Documentation/ProjectFile/prj/time_loop/output/VTK/c_VTK.md
  Documentation/ProjectFile/prj/time_loop/output/XDMF/c_XDMF.md
  ProcessLib/Output/CreateOutputConfig.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(CT): use getLocalTemperature in Newton
  ProcessLib/ComponentTransport/ComponentTransportFEM.h
Due: git-diff-check, git-clang-format

fix(CT): reject non-isothermal setups under Newton scheme
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(CTest#LIS): Changed solver type for some benchmarks
  Tests/Data/TH2M/H2M/Liakopoulos/liakopoulos_TH2M.prj
  Tests/Data/TH2M/H2M/StrainDependentPermeability/Strain_Dependent_Permeability_Test.prj
Due: none

fix(identifySubdomains): bulk element IDs' order differs across compilers for an embedded target
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

fix(fix_identifySubdomains): Ensure the forced writing
  MeshGeoToolsLib/IdentifySubdomainMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

identifySubdomains: Add a CTest to check its application to embedded meshes
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/IdentifySubdomains/SMA_2D_excavation.vtu
  Tests/Data/MeshGeoToolsLib/IdentifySubdomains/new_tunnel_boundary.vtu
  Tests/Data/MeshGeoToolsLib/IdentifySubdomains/tunnel_boundary.vtu
Due: git-diff-check

fix(CTest#M): Relaxed the result comparison criteria of CreepWithHeterogeneousReferenceTemperature
  ProcessLib/SmallDeformation/Tests.cmake
Due: git-diff-check

[BL] Fixed OGS_FATAL error output on Windows.
  BaseLib/Error.h
Due: git-diff-check, git-clang-format

[ci] Don't include linux ctest large job on master.
  scripts/ci/jobs/build-linux.yml
Due: git-diff-check

[ci,py] Update macOS deployment target to 26.0
  pyproject.toml
Due: git-diff-check

Migrate HeatConduction ogs tests
  ProcessLib/HeatConduction/Tests.cmake
  Tests/Data/Parabolic/T/1D_dirichlet/linear/line_60_heat.xml
  Tests/Data/Parabolic/T/1D_dirichlet/linear_compute_only_on_dt_change/line_60_heat.xml
  Tests/Data/Parabolic/T/1D_dirichlet/varying_dt/line_60_heat.xml
  Tests/Data/Parabolic/T/1D_dirichlet/varying_dt_linear/line_60_heat.xml
  Tests/Data/Parabolic/T/1D_dirichlet/varying_dt_linear_compute_only_on_dt_change/line_60_heat.xml
  Tests/Data/Parabolic/T/1D_dirichlet_source-term/2/line_1_line_1e2_source_term.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/square_1e2_axi.prj
  Tests/Data/Parabolic/T/2D_axially_symmetric/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_left/source_term_left_r.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/2D_source_term_tests/line_source_term_x_0.5_restricted_to_middle/line_source_term_x_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle_restricted/line_source_term_x_0.5_y_0.5_restricted.prj
  Tests/Data/Parabolic/T/t1_1Dsource/t1_1Dsource.prj
  Tests/Data/Parabolic/T/t1_1Dsteady/t1_1Dsteady.prj
  Tests/Data/Parabolic/T/t2_1D1bt/t2_1D1bt.prj
  Tests/Data/Parabolic/T/t2_1D2bt/t2_1D2bt.prj
Due: git-diff-check

Migrate RichardsFlow ogs tests
  ProcessLib/RichardsFlow/Tests.cmake
  Tests/Data/Parabolic/Richards/RichardsFlow_2d_small_PID_adaptive_dt.prj
  Tests/Data/RichardsMechanics/RichardsFlow_2d_richardsflow_mpi.xml
Due: git-diff-check

Migrate HT ogs tests
  ProcessLib/HT/Tests.cmake
  Tests/Data/Parabolic/HT/ClassicalTransportExample/classical_transport_example.prj
  Tests/Data/Parabolic/HT/ClassicalTransportExample/classical_transport_example_full_upwind.prj
  Tests/Data/Parabolic/HT/ConstViscosity/square_5500x5500.prj
  Tests/Data/Parabolic/HT/FaultedCube/Ra_795_fault_bcgs_jacobi.prj
  Tests/Data/Parabolic/HT/StaggeredCoupling/HeatTransportInStationaryFlow/HeatTransportInStationaryFlow.prj
Due: git-diff-check

Migrate LIE HydroMechanics ogs tests
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/GreatCellWithTrianglularMesh/great_cell_2d_HM_LIE_embedded_fracture.prj
  Tests/Data/LIE/HydroMechanics/TaskB.prj
  Tests/Data/LIE/HydroMechanics/single_fracture.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3D.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_CHZ.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_CHZ_sigma0.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_linear_aperture0.prj
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_linear_aperture0_e.prj
Due: git-diff-check

Migrate ThermoRichardsFlow ogs tests
  ProcessLib/ThermoRichardsFlow/Tests.cmake
  Tests/Data/ThermoRichardsFlow/TaskCDECOVALEX2023/WithPicardNonLinearSolverAndPETSc/Decovalex-0-TRF.prj
Due: git-diff-check

Migrate TH2M ogs tests
  ProcessLib/TH2M/Tests.cmake
  Tests/Data/TH2M/H2M/StrainDependentPermeability/Strain_Dependent_Permeability_Test.prj
  Tests/Data/TH2M/M/M_2d_neumann/M_2d_neumann.prj
  Tests/Data/TH2M/M/M_2d_neumann/M_2d_neumann_fd_jac.xml
  Tests/Data/TH2M/T/T_1d_dirichlet/T_1d_dirichlet.prj
  Tests/Data/TH2M/TH2/heatpipe/PETSc/heat_pipe_strict.prj
  Tests/Data/TH2M/THM/slab/THM_1d_dirichlet.prj
  Tests/Data/TH2M/THM/sphere/point_heatsource.prj
  Tests/Data/TH2M/THM/sphere/point_heatsource_fd_jac.xml
  Tests/Data/TH2M/THM/sphere/point_heatsource_mpi.xml
Due: git-diff-check

Migrate ThermoRichardsMechanics ogs tests
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/ThermoRichardsMechanics/CTF1/CTF1.prj
  Tests/Data/ThermoRichardsMechanics/FullySaturatedFlowMechanics/PETSc/flow_fully_saturated_petsc.prj
  Tests/Data/ThermoRichardsMechanics/PointHeatSource/point_heat_source_2D_gml.prj
  Tests/Data/ThermoRichardsMechanics/Simple3DThermoMechanicsFromTM/cube_1e3.prj
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0.prj
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0_mpi.xml
Due: git-diff-check

Migrate HeatTransportBHE ogs tests
  ProcessLib/HeatTransportBHE/Tests.cmake
  Tests/Data/Parabolic/T/3D_2U_BHE/3D_2U_BHE.prj
  Tests/Data/Parabolic/T/3D_2U_BHE/3D_2U_BHE_sections.prj
  Tests/Data/Parabolic/T/3D_3BHEs/3bhes_id_1U_sections.prj
  Tests/Data/Parabolic/T/3D_BHE_GW_advection/BHE_GW_advection.prj
  Tests/Data/Parabolic/T/3D_BHE_Sandwich/sandwich.prj
  Tests/Data/Parabolic/T/3D_BHE_Sandwich/sandwich_fixed_power.prj
  Tests/Data/Parabolic/T/3D_Beier_sandbox/beier_sandbox.prj
  Tests/Data/Parabolic/T/3D_Beier_sandbox/fixed_power_constant_flow.prj
  Tests/Data/Parabolic/T/3D_deep_BHE/3D_deep_BHE_CXA.prj
  Tests/Data/Parabolic/T/3D_deep_BHE/3D_deep_BHE_CXC.prj
  Tests/Data/Parabolic/T/BHE_1P/BHE_1P.prj
  Tests/Data/Parabolic/T/BHE_1P/BHE_1P_newton.prj
Due: git-diff-check

Migrate ThermoHydroMechanics ogs tests
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/BGRaCreepAndInitialStressAtIP_AREHS/arehs-salt-THM01_0.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_sealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Beam_unsealed_bimaterial/square_1e2.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_linear-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/pointheatsource_quadratic-mesh.prj
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/pointheatsource_quadratic-mesh.xml
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/pointheatsource_quadratic-mesh.xml
  Tests/Data/ThermoHydroMechanics/Linear/TH_ClassicalTransportExample/classical_transport_example.prj
  Tests/Data/ThermoHydroMechanics/Linear/TH_ClassicalTransportExample/classical_transport_example_full_upwind.prj
  Tests/Data/ThermoHydroMechanics/TotalInitialStress/total_initial_stress_HM.prj
Due: git-diff-check

[T] Relax tolerance.
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/LIE/HydroMechanics/single_fracture_3D.prj
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h1_1Dsource/h1_1Dsource.prj
Due: git-diff-check

Migrate ComponentTransport ogs tests
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ClassicalTransportExample/classical_transport_example.prj
  Tests/Data/Parabolic/ComponentTransport/Theis/theis.prj
Due: git-diff-check

Migrate SteadyStateDiffusion ogs tests
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e2_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/square_1e4_axi.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e2_axi_ang_0.02.prj
  Tests/Data/Elliptic/square_1x1_SteadyStateDiffusion/wedge_1e4_axi_ang_0.02.prj
  Tests/Data/EllipticPETSc/cube_1x1x1_SteadyStateDiffusion/2/cube_1e4_anisotropic_mpi.xml
  Tests/Data/EllipticPETSc/quad_20x10_GroundWaterFlow.prj
Due: git-diff-check

Migrate ThermoMechanics ogs tests
  ProcessLib/ThermoMechanics/Tests.cmake
  Tests/Data/ThermoMechanics/CreepBGRa/CreepAfterExcavation/CreepAfterExcavation.prj
  Tests/Data/ThermoMechanics/tm1_1Dbeam/tm1_1Dbeam.prj
  Tests/Data/ThermoMechanics/tm1_1Dfixa/tm1_1Dfixa.prj
  Tests/Data/ThermoMechanics/tm1_1Dfixb/tm1_1Dfixb.prj
  Tests/Data/ThermoMechanics/tm1_2Dbeam/tm1_2Dbeam.prj
  Tests/Data/ThermoMechanics/tm1_2Dsquare/tm1_2Dsquare.prj
  Tests/Data/ThermoMechanics/tm1_3Dcube/tm1_3Dcube.prj
  Tests/Data/ThermoMechanics/tm1_3Dgravity/tm1_3Dgravity.prj
  Tests/Data/ThermoMechanics/tm1_3Dorigin/tm1_3Dorigin.prj
  Tests/Data/ThermoMechanics/tm1_3Dsquare/tm1_3Dsquare.prj
  Tests/Data/ThermoMechanics/tm2_1D1bt/tm2_1D1bt.prj
  Tests/Data/ThermoMechanics/tm2_1Dfixc/tm2_1Dfixc.prj
Due: git-diff-check

Migrate SmallDeformation ogs tests
  ProcessLib/SmallDeformation/Tests.cmake
  Tests/Data/Mechanics/CreepWithHeterogeneousReferenceTemperature/arehs-salt-M_gravity_only_element_refT.prj
  Tests/Data/Mechanics/Linear/PrincipalStress/sphere.prj
  Tests/Data/Mechanics/m1_1Dload/m1_1Dload.prj
  Tests/Data/Mechanics/m1_1Dlozenge/m1_1Dlozenge.prj
  Tests/Data/Mechanics/m1_2Dload/m1_2Dload.prj
  Tests/Data/Mechanics/m1_3Dbottom/m1_3Dbottom.prj
  Tests/Data/Mechanics/m1_3Dgravity/m1_3Dgravity.prj
  Tests/Data/Mechanics/m1_3Dload/m1_3Dload.prj
  Tests/Data/Mechanics/m1_3Dsquare/m1_3Dsquare.prj
  Tests/Data/Mechanics/m1_3Dtopload/m1_3Dtopload.prj
Due: git-diff-check

Some formatting in Tests.cmake.
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

Migrate LiquidFlow ogs tests
  ProcessLib/LiquidFlow/Tests.cmake
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Hex/Parallel/cuboid_1x1x1_hex_27_Dirichlet_Dirichlet.prj
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Hex/cuboid_1x1x1_hex_27_Dirichlet_Dirichlet_multiple_outputs.xml
  Tests/Data/Parabolic/LiquidFlow/GasFlow/gas_flow.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/1Din3D/line_fractures_in_3D.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/FractureIn3D/fractures_in_3D.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/hydrostatic_flow_in_inclined_2D_plane.prj
  Tests/Data/Parabolic/LiquidFlow/InclinedMeshElements/Inclined2DMesh/transient_flow_in_inclined_2D_plane.prj
  Tests/Data/Parabolic/LiquidFlow/RasterParameter/FineRasterHeterogeneous.xml
  Tests/Data/Parabolic/LiquidFlow/TimeDependentHeterogeneousBoundaryConditions/TimeDependentHeterogeneousBoundaryConditions.prj
  Tests/Data/Parabolic/LiquidFlow/TimeDependentHeterogeneousSourceTerm/TimeDependentHeterogeneousSourceTerm.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h1_1Dsource/h1_1Dsource.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h1_1Dsteady/h1_1Dsteady.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h1_3Dhydstat/h1_3Dhydstat.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h2_1D1bt/h2_1D1bt.prj
  Tests/Data/Parabolic/LiquidFlow/Verification/h2_1D2bt/h2_1D2bt.prj
  Tests/Data/Utils/GMSH2OGS/quadratic_mesh_assembly_test.prj
Due: git-diff-check

Migrate TwoPhaseFlowWithPP ogs tests
  ProcessLib/TwoPhaseFlowWithPP/Tests.cmake
  Tests/Data/Parabolic/TwoPhaseFlowPP/McWhorter/TwoPhase_mcwt_line.prj
Due: git-diff-check

chores(PL): Combine same if-conditions in cmake
  ProcessLib/HT/Tests.cmake
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/HeatTransportBHE/Tests.cmake
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/TH2M/Tests.cmake
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

fix(BL): correct ConfigTree Subtree/Parameter iterator typedefs
  BaseLib/ConfigTree.h
Due: git-diff-check, git-clang-format

fix(GL): correct Polyline::SegmentIterator typedefs
  GeoLib/Polyline.h
Due: git-diff-check, git-clang-format

refactor(GL): drop SegmentIterator random-access operators
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/Polygon.cpp
  GeoLib/Polyline.cpp
  GeoLib/Polyline.h
  MeshGeoToolsLib/GeoMapper.cpp
Due: git-diff-check, file-extensions, git-clang-format
