Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, cmake-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[A/U/MP] Correct ghost element information.
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions

[T] Replaced AddFaultToVoxelGrid tests with workflow.
  .gitignore
  Applications/Utils/Tests.cmake
  Applications/Utils/VoxelGridFromLayers.smk
Due: git-diff-check

[Tests/Data] Fix of ghost data requires update.
  Tests/Data/NodePartitionedMesh/partmesh/cube_1x1x1_hex_8_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_PLY_EAST_partitioned_cell_properties_val3.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_PLY_WEST_partitioned_cell_properties_val3.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_partitioned_cell_properties_val3.bin
Due: none

Merge branch 'GhostPartitioningFix' into 'master'
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  Tests/Data/NodePartitionedMesh/partmesh/cube_1x1x1_hex_8_partitioned_cell_properties_val2.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_PLY_EAST_partitioned_cell_properties_val3.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_PLY_WEST_partitioned_cell_properties_val3.bin
  Tests/Data/NodePartitionedMesh/partmesh_2Dmesh_3partitions/Binary/2Dmesh_partitioned_cell_properties_val3.bin
Due: git-diff-check, file-extensions

[THM] Removed the double declared VariableArray
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check

[doxygen] Added preprocessor macros to complete docs.
  scripts/cmake/DocumentationSetup.cmake
Due: git-diff-check

[T] Made Snakemake vtkdiff wrapper more generic.
  Applications/Utils/ExtractBoundary.smk
  scripts/snakemake/vtkdiff/wrapper.py
Due: git-diff-check

[T] Use vtkdiff wrapper in VoxelGridFromLayers.smk.
  Applications/Utils/VoxelGridFromLayers.smk
Due: git-diff-check

[T] Extracted snakemake rule generate_square_mesh.
  Applications/Utils/ExtractBoundary.smk
  Tests/Data/FileIO/square_10_1x1_quad_boundary.vtu
  Tests/Data/FileIO/square_10_1x1_tri_boundary.vtu
  scripts/snakemake/modules/meshes.smk
Due: git-diff-check

[T] Rule output to stdout in Snakemake.
  Applications/Utils/ExtractBoundary.smk
  Applications/Utils/VoxelGridFromLayers.smk
  scripts/snakemake/modules/meshes.smk
  scripts/snakemake/vtkdiff/wrapper.py
Due: git-diff-check

[THM] Updated the solid thermal expansivity calculation
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check

[TRM] Updated the solid thermal expansivity calculation
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check

[NL/ODESolver/Picard] Store ids to reuse the xdot vectors.
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions

[NL/ODESolver/Newton] Store ids to reuse the xdot vectors.
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
  NumLib/ODESolver/TimeDiscretizedODESystem.h
Due: git-diff-check, file-extensions

[NL/ODESolver/Newton] Store ids to reuse the xdot vectors.
  NumLib/ODESolver/NonlinearSolver.cpp
  NumLib/ODESolver/NonlinearSolver.h
  NumLib/ODESolver/TimeDiscretizedODESystem.cpp
Due: git-diff-check, file-extensions

[NL/DOF] Rm getVector() method to avoid misuse.
  NumLib/DOF/MatrixProviderUser.h
  NumLib/DOF/SimpleMatrixVectorProvider.cpp
  NumLib/DOF/SimpleMatrixVectorProvider.h
Due: git-diff-check, file-extensions

[PL/TimeLoop] Store the ids of xdot GlobalVector's.
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions

[web] Added some notes on ccache usage.
  web/content/docs/devguide/advanced/singularity.md
  web/content/docs/devguide/advanced/using-ccache.md
Due: git-diff-check

[web] Added page on Snakemake workflow usage.
  web/content/docs/devguide/testing/workflow-testing.md
Due: git-diff-check

Install Boost via CPM.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check

Replaced hdf5 Conan module with CPM.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/conan/win-hdf5/FindHDF5.cmake
  web/data/versions.json
Due: git-diff-check

Replaced Conan shapelib with CPM.
  Applications/FileIO/CMakeLists.txt
  Applications/Utils/FileConverter/CMakeLists.txt
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check, cmake-format

[MeL] Extract marking of unused nodes and deletion
  MeshLib/MeshEditing/RemoveMeshComponents.cpp
  MeshLib/MeshEditing/RemoveMeshComponents.h
Due: git-diff-check, file-extensions

[App/U] Fix memory info message type and prefix.
  Applications/Utils/FileConverter/FEFLOW2OGS.cpp
  Applications/Utils/FileConverter/GMSH2OGS.cpp
  Applications/Utils/MeshEdit/checkMesh.cpp
Due: git-diff-check, file-extensions

[App/U] GMSH2OGS can now extract line boundaries.
  Applications/Utils/FileConverter/GMSH2OGS.cpp
Due: git-diff-check, file-extensions

Replaced LibXml2 Conan module with CPM.
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

Replaced Conan CVode module with CPM.
  MathLib/CMakeLists.txt
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/Dependencies.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check, cmake-format

[T/MeL] Reference files for GMSH2OGS boundaries.
  Tests/Data/MeshLib/A2-gmsh.msh
  Tests/Data/MeshLib/A2.vtu
  Tests/Data/MeshLib/A2_0.vtu
  Tests/Data/MeshLib/A2_1.vtu
  Tests/Data/MeshLib/A2_2.vtu
  Tests/Data/MeshLib/A2_3.vtu
  Tests/Data/MeshLib/A2_4.vtu
  Tests/Data/MeshLib/A2_5.vtu
  Tests/Data/MeshLib/A2_6.vtu
  Tests/Data/MeshLib/A2_7.vtu
Due: none

[T/App/U] Add GMSH2OGS snakemake ctest.
  Applications/Utils/GMSH2OGS_ExtractBoundary.smk
  Applications/Utils/Tests.cmake
Due: git-diff-check

[App/U] Create bulk_node_ids/element_ids.
  Applications/Utils/FileConverter/CMakeLists.txt
  Applications/Utils/FileConverter/GMSH2OGS.cpp
Due: git-diff-check, file-extensions, cmake-format

[GL] Grid; Allow zero tolerance to be used.
  GeoLib/Grid.h
  Tests/MeshLib/TestMeshNodeSearch.cpp
Due: git-diff-check, file-extensions

[web] GMSH2OGS documentation for -e and -b.
  web/content/docs/tools/fileio/GMSH2OGS/extract_boundary.png
  web/content/docs/tools/fileio/GMSH2OGS/index.md
Due: git-diff-check

[web] Fixed singularity docs.
  web/content/docs/devguide/advanced/singularity.md
Due: git-diff-check

[cpm] Fixed hdf5 found on system.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cpm] Fix frontend.
  scripts/env/eve/cli.sh
Due: git-diff-check

[cmake] Cleanup.
  CMakeLists.txt
Due: git-diff-check, cmake-format

[CMake] package target installs only ogs, no third-party.
  Applications/CLI/CMakeLists.txt
  Applications/DataExplorer/DataExplorer.cmake
  Applications/FileIO/CMakeLists.txt
  Applications/Utils/FileConverter/CMakeLists.txt
  Applications/Utils/GeoTools/CMakeLists.txt
  Applications/Utils/MeshEdit/CMakeLists.txt
  Applications/Utils/MeshGeoTools/CMakeLists.txt
  Applications/Utils/ModelPreparation/CMakeLists.txt
  Applications/Utils/ModelPreparation/PartitionMesh/CMakeLists.txt
  Applications/Utils/OGSFileConverter/CMakeLists.txt
  Applications/Utils/PostProcessing/CMakeLists.txt
  Applications/Utils/SWMMConverter/CMakeLists.txt
  Applications/Utils/SimpleMeshCreation/CMakeLists.txt
  GeoLib/CMakeLists.txt
  Tests/xdmfdiff/CMakeLists.txt
  scripts/cmake/MetisSetup.cmake
  scripts/cmake/packaging/Pack.cmake
  scripts/cmake/packaging/PackagingMac.cmake
  scripts/cmake/packaging/PackagingWin.cmake
Due: git-diff-check, cmake-format

[cpm] Update to 0.31.1
  scripts/cmake/CPM.cmake
Due: git-diff-check

Added zlib as CPM package.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cpm] Added EXCLUDE_FROM_ALL.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  cmake-format: any of: CMakeLists.txt
