Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[ci] Added netlify-cli dependency.
  scripts/docker/Dockerfile.web
Due: git-diff-check

Removed redundant porosity
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Python mtests clean-up and porosity handling
  MaterialLib/SolidModels/MFront/ModCamClay_ShearTest.py
  MaterialLib/SolidModels/MFront/ModCamClay_TriaxTest.py
Due: git-diff-check

Removed unnecessary Lamé constant in mfront
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Removal of porosity in SD and RM test prj-files
  Tests/Data/Mechanics/ModifiedCamClay/model_triaxtest.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_biax.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
  Tests/Data/RichardsMechanics/mfront_restart_part1.prj
  Tests/Data/RichardsMechanics/mfront_restart_part2.prj
Due: none

Relaxed tolerances in biaxial and shear test, insignificant numerical changes
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_biax.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
Due: none

Linear elastic MCC model with minimum pc value
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Parameter pcMin eliminated, now derived from pc_char
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Removed time variable for initialization
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Renaming from ModCamClay_semiExplParaInit.mfront to ModCamClay_semiExpl_constE.mfront
  MaterialLib/SolidModels/MFront/CMakeLists.txt
  MaterialLib/SolidModels/MFront/ModCamClay_ShearTest.py
  MaterialLib/SolidModels/MFront/ModCamClay_TriaxTest.py
  MaterialLib/SolidModels/MFront/ModCamClay_semiExpl_constE.mfront
  Tests/Data/Mechanics/ModifiedCamClay/model_triaxtest.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_biax.prj
  Tests/Data/Mechanics/ModifiedCamClay/square_1e0_shear.prj
  Tests/Data/RichardsMechanics/mfront_restart_part1.prj
  Tests/Data/RichardsMechanics/mfront_restart_part2.prj
Due: git-diff-check

Final removal of porosity in mfront code
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Simplified initial elastic strain calculation
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

Bugfix algorithmic tangent, only relevant for theta<1
  MaterialLib/SolidModels/MFront/ModCamClay_semiExplParaInit.mfront
Due: git-diff-check

[T/TRM] Slightly relax sigma ctest tolerance
  Tests/Data/ThermoRichardsMechanics/MultiMaterialEhlers/square_1e1_2_matIDs_restart.prj
Due: none

[py] Fix and instructions on importating simulator modules.
  Applications/Python/ogs.mesh/CMakeLists.txt
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.simulator/CMakeLists.txt
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Python] Enabled global symbol visibility between modules.
  Applications/Python/ogs/__init__.py
Due: git-diff-check

[App/Python/sim] Link with python mesh module
  Applications/Python/ogs.simulator/CMakeLists.txt
Due: git-diff-check

[App/AppLib] Access mesh managed by ProjectData
  Applications/ApplicationsLib/ProjectData.cpp
  Applications/ApplicationsLib/ProjectData.h
Due: git-diff-check, file-extensions, git-clang-format

[versions] Updated cpm cache info.
  web/data/versions.json
Due: git-diff-check

[MeL] Add view_closure for view coordinates of Nodes
  MeshLib/Mesh.h
Due: git-diff-check, git-clang-format

[App/Python] Add bindings to OGSMesh::getCells()
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Python/ogs.mesh] Get multi-component data arrays
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Use mesh module in simulator module
  Applications/ApplicationsLib/Simulation.cpp
  Applications/ApplicationsLib/Simulation.h
  Applications/Python/ogs.simulator/CMakeLists.txt
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Init step towards python mesh module
  Applications/Python/CMakeLists.txt
  Applications/Python/ogs.mesh/CMakeLists.txt
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/Python] Add bindings to OGSMesh::setCellDataArray
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Python] RTLD_GLOBAL is available on Unix only.
  Applications/Python/ogs/__init__.py
Due: git-diff-check

[Python,T] Test python simulator and mesh modules.
  Applications/Python/ogs.simulator/CMakeLists.txt
  Tests/Python/test_simulator_mesh_interface.py
Due: git-diff-check

[py] Bump pybind11 to 2.10.4.
  scripts/cmake/Dependencies.cmake
  web/data/versions.json
Due: git-diff-check

[App/Python] Add bindings to OGSMesh::getPointDataArray
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Python,wheel,web] Instructions on how to give CMake arguments to pip install.
  web/content/docs/devguide/advanced/python-wheel/index.md
Due: git-diff-check

[cmake] Fixed a compiler warning.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

[cmake] Build python modules on OGS_BUILD_WHEEL only.
  Applications/CMakeLists.txt
Due: git-diff-check

[App/Python] Use ref instead of pointer for mesh wrapper
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.simulator/ogs_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Python] Revert global symbol visibility.
  Applications/Python/ogs/__init__.py
Due: git-diff-check

[App/Python/ogs.mesh] Use std::copy instead for loop
  Applications/Python/ogs.mesh/OGSMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Add data array to the top boundary
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Hex/cuboid_1x1x1_hex_27_top_boundary.vtu
Due: none

[App/Python/ogs.mesh] Use std::copy instead for loop
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Project file for the python simulation and mesh modules
  Tests/Data/Parabolic/LiquidFlow/Flux/3D/Hex/cuboid_1x1x1_hex_27_Dirichlet_Dirichlet_Python.prj
Due: none

[App/Python/ogs.mesh] Add setPointDataArray() and getCellDatatArray()
  Applications/Python/ogs.mesh/OGSMesh.cpp
  Applications/Python/ogs.mesh/OGSMesh.h
  Applications/Python/ogs.mesh/ogs_mesh_python_module.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Don't propagate forced linking.
  ProcessLib/BoundaryConditionAndSourceTerm/Python/CMakeLists.txt
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
