Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

fix(T): slightly relax ctests' tolerances
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  Tests/Data/LargeDeformation/CooksMembrane/3D/CooksMembraneLD_3D.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/performance_measurements.py
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
  Tests/Data/TH2M/THM/sphere/point_heatsource_fd_jac.xml
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column.prj
  Tests/Data/ThermoRichardsMechanics/RichardsFlow2D/RichardsFlow_2d_small.prj
Due: git-diff-check

fix(T/TM): slightly relax convergence tolerance
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
  Tests/Data/ThermoMechanics/iglu_quarter_plane_strain_quad.prj
Due: none

fix(T/THM): use ThreadPoolExecutor to fix multiprocessing on Windows
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/SaturatedPointheatsource.py
Due: none

fix(coverage): merge template instantiations in gcovr report
  scripts/cmake/gcovr.cfg.in
Due: git-diff-check

[guix] Extract common packages in container.
  scripts/guix/manifest-common.scm
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial.scm
Due: git-diff-check

[guix] Extract eigen transform.
  scripts/guix/manifest-common.scm
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial.scm
Due: git-diff-check

[guix] Formatted with guix style -f ...
  scripts/guix/manifest-common.scm
  scripts/guix/manifest-mkl.scm
  scripts/guix/manifest-petsc-mkl.scm
  scripts/guix/manifest-petsc.scm
  scripts/guix/manifest-serial.scm
Due: git-diff-check

[py] Add coverage option to testrunner.
  Tests/Data/Notebooks/testrunner.py
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
Due: none

[cmake] Coverage logic for pytest and notebook tests.
  Applications/Python/CMakeLists.txt
  Tests/Data/Notebooks/testrunner.py
  scripts/ci/helper/fix_coverage.sh
Due: git-diff-check

[ci] Enable python coverage.
  Applications/Python/CMakeLists.txt
  scripts/ci/extends/test-artifacts.yml
  scripts/ci/helper/fix_coverage.sh
  scripts/ci/jobs/build-linux-arch.yml
Due: git-diff-check

[py,T] Add pytest-cov.
  Tests/Data/pyproject.toml
  Tests/Data/uv.lock
Due: none

[ci] Introduce coverage only pipeline.
  .gitlab-ci.yml
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/code-coverage.yml
  scripts/ci/jobs/package.yml
  scripts/ci/pipelines/coverage.yml
  scripts/ci/pipelines/pipeline_source_regular.yml
  scripts/cmake/gcovr.cfg.in
Due: git-diff-check

[cmake,ci] Fixes for coverage.
  Applications/Python/CMakeLists.txt
  Tests/Data/Notebooks/testrunner.py
  Tests/Data/pyproject.toml
  scripts/ci/extends/test-artifacts.yml
  scripts/ci/jobs/build-linux-arch.yml
  scripts/ci/jobs/package.yml
  scripts/cmake/gcovr.cfg.in
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[ci] Use json report output instead of xml for cpp coverage.
  scripts/ci/jobs/code-coverage.yml
  scripts/ci/jobs/package.yml
  scripts/cmake/gcovr.cfg.in
Due: git-diff-check

[ci] Enable cpp from python coverage on coverage only pipelines.
  scripts/ci/extends/template-build-linux.yml
Due: git-diff-check

[web] Updated win prereqs docs.
  web/content/docs/devguide/getting-started/prerequisites/enable-developer-mode.png
  web/content/docs/devguide/getting-started/prerequisites/enable-long-paths.png
  web/content/docs/devguide/getting-started/prerequisites/index.md
  web/content/docs/devguide/getting-started/prerequisites/vs-installer.png
Due: git-diff-check

[cmake,msvc] Fix error where the wrong zlib gets linked.
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake,msvc] Cache some env var.
  scripts/cmake/packaging/PackagingWin.cmake
Due: git-diff-check

[CL,cmake] Removed custom unity config in ChemistryLib.
  ChemistryLib/CMakeLists.txt
Due: git-diff-check

[cmake,msvc] Disable PCH on MVSC in ApplicationsLib.
  Applications/ApplicationsLib/CMakeLists.txt
Due: git-diff-check

fix(T): prevent linear solver failure w/ ILUT pc
  Tests/Data/ThermoMechanics/iglu_axisymmetric_plane_strain.prj
  Tests/Data/ThermoRichardsMechanics/Porosity/deformation_temperature_dependent_porosity_swelling.prj
Due: none

fix(T/THM): Slightly relax ctest tolerance
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
Due: none

fix(T/HM): Avoid density=0 assertion failure
  Tests/Data/HydroMechanics/Linear/DrainageEexcavation/HMdrainage.prj
Due: none

refactor(THM): Optimize the computation of the contribution of strain coupling
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

fix(T): slightly relax ctests' tolerances
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
  Tests/Data/ThermoHydroMechanics/RestartMCC/mfront_restart_part2.xml
Due: none

[ci] Add petsc coverage job.
  CMakePresets.json
  scripts/ci/jobs/code-coverage.yml
  scripts/ci/jobs/package.yml
Due: git-diff-check

test(peng-robinson): switch to fixed time steps and relax tolerances
  Tests/Data/TH2M/H/pressure_PengRobinson/pressure_preos.prj
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos.pvd
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_t_0.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_t_1.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_t_10.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_t_100.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_ts_28_t_10.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_ts_40_t_100.000000.vtu
  Tests/Data/TH2M/H/pressure_PengRobinson/result_pressure_preos_ts_9_t_1.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/compression_preos.prj
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos.pvd
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_t_0.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_t_1.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_t_10.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_t_5.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_ts_10_t_5.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_ts_13_t_10.000000.vtu
  Tests/Data/TH2M/HM/compression_PengRobinson/result_compression_preos_ts_5_t_1.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos.pvd
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_t_0.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_t_1.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_t_10.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_t_5.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_ts_0_t_0.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_ts_10_t_5.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_ts_13_t_10.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/result_temperature_preos_ts_5_t_1.000000.vtu
  Tests/Data/TH2M/TH/temperature_PengRobinson/temperature_preos.prj
Due: none

test(TH2M): add Peng-Robinson EOS to ctests
  ProcessLib/TH2M/Tests.cmake
Due: git-diff-check

usability(App/Utils): Explanation of collapsible criterion
  Applications/Utils/FileConverter/GMSH2OGS.cpp
  Applications/Utils/MeshEdit/checkMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

feature: Output warning if two nodes could be merged
  MeshToolsLib/MeshEditing/MeshRevision.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor: Pass distance threshold for collapsible nodes check
  Applications/Utils/FileConverter/GMSH2OGS.cpp
  Applications/Utils/MeshEdit/checkMesh.cpp
  MeshToolsLib/MeshInformation.cpp
  MeshToolsLib/MeshInformation.h
  MeshToolsLib/MeshQuality/MeshValidation.cpp
  MeshToolsLib/MeshQuality/MeshValidation.h
Due: git-diff-check, file-extensions, git-clang-format

cleanup(Mesh): Rm unused / not implemented function
  MeshLib/Mesh.h
Due: git-diff-check, git-clang-format

feature: Debugging requires higher output precision
  MeshLib/Node.cpp
Due: git-diff-check, file-extensions, git-clang-format

markdown typo fix
  web/content/docs/benchmarks/liquid-flow/unconfined-aquifer/index.md
Due: git-diff-check

[ci] Separate jobs for nb to website and coverage.
  CMakeLists.txt
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-linux-arch.yml
  scripts/ci/jobs/web-check.yml
  scripts/ci/jobs/web-deploy.yml
  scripts/ci/jobs/web-preview.yml
Due: git-diff-check

[ci] Refactor matrix to explicit jobs.
  scripts/ci/jobs/build-linux-arch.yml
  scripts/ci/jobs/web-check.yml
  scripts/ci/jobs/web-deploy.yml
  scripts/ci/jobs/web-preview.yml
Due: git-diff-check

[ci] Move jobs from test stage to check stage for slimmer UI in GitLab.
  .gitlab-ci.yml
  scripts/ci/jobs/jupyter.yml
  scripts/ci/jobs/test-dev-perf.yml
Due: git-diff-check

[ci] Run aggregate and web jobs on linux only pipeline.
  scripts/ci/pipelines/linux.yml
Due: git-diff-check

fix(T/LIEHM): Slightly relax ctest tolerance [ci skip]
  ProcessLib/LIE/HydroMechanics/Tests.cmake
Due: git-diff-check

refactor(XDMF): Use output variables info from OutputDataSpecification
  MeshLib/IO/XDMF/XdmfHdfWriter.cpp
  MeshLib/IO/XDMF/XdmfHdfWriter.h
  MeshLib/IO/XDMF/transformData.cpp
  MeshLib/IO/XDMF/transformData.h
Due: git-diff-check, file-extensions, git-clang-format
