Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[GL] Replace find_if(...) != end with any_of
  GeoLib/SurfaceGrid.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Added yarn watch script.
  web/package.json
Due: git-diff-check

[web] Added software citation on publications page.
  web/content/docs/devguide/procedures/publish-a-release/index.md
  web/content/publications/_index.md
Due: git-diff-check

Added a Citation File Format for citation metadata.
  CITATION.cff
Due: git-diff-check

[vale] Fixed link to docs and added vale sync to pre-commit.
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
Due: git-diff-check

[web] Added copy to clipboard button to code blocks.
  web/assets/js/clipboard.js
  web/layouts/_default/_markup/render-codeblock.html
  web/layouts/partials/footer.html
Due: git-diff-check

[web] Updated release instructions.
  web/content/docs/devguide/procedures/publish-a-release/index.md
Due: git-diff-check

[CTest/THM] Increase some comparison tolerances
  Tests/Data/ThermoHydroMechanics/A2/A2.prj
  Tests/Data/ThermoHydroMechanics/A2/A2_heating.prj
  Tests/Data/ThermoHydroMechanics/Linear/verification/thm2_1Dfixd/thm2_1Dfixd.prj
Due: none

[THM] Use FullUpwind stabilizer
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[CTest/THM] Added a test for FullUpwind stabilizer
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/TH_ClassicalTransportExample/classical_transport_example_full_upwind.prj
  Tests/Data/ThermoHydroMechanics/Linear/TH_ClassicalTransportExample/classical_transport_example_full_upwind_t_4800.00.vtu
  Tests/Data/ThermoHydroMechanics/Linear/TH_ClassicalTransportExample/classical_transport_example_full_upwind_t_7200.00.vtu
Due: git-diff-check

Updated .mailmap. List of authors can be printed with `git shortlog -sne`.
  .mailmap
Due: git-diff-check

[web] Updated publish a release page.
  web/content/docs/devguide/procedures/publish-a-release/index.md
Due: git-diff-check

[PL/TH2PP] Remove incorrect advective term in energy balance eqn.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check, git-clang-format

[web] Update URL in docu
  web/content/docs/userguide/process-dependent-configuration/Multiphase_Flow_Overview/index.md
Due: git-diff-check

[T/TH2PP] Update heat pipe benchmark reference solutions and ctest
  ProcessLib/ThermalTwoPhaseFlowWithPP/Tests.cmake
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/Twophase_HeatPipe_quad_curve_large.prj
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/ref_steady_status.vtu
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/ref_t_10000.000000.vtu
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/ref_t_100000.000000.vtu
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/ref_t_1100000.000000.vtu
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/ref_t_1400000.000000.vtu
Due: git-diff-check

[PL/TH2PP] Correct the dry air enthalpy term.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check, git-clang-format

[T/TH2PP] Add heat pipe benchmark notebook; rm outdated docu
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/SemianalyticalSolutionHeatPipe.zip
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/SemianalyticalSolutionResults.csv
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/heatpipe.ipynb
  Tests/Data/Parabolic/ThermalTwoPhaseFlowPP/HeatPipe/model_domain.jpg
  web/content/docs/benchmarks/thermal-two-phase-flow/heat-pipe/heat-pipe-problem.pdf
  web/content/docs/benchmarks/thermal-two-phase-flow/heat-pipe/index.md
Due: git-diff-check

[PL/TH2PP] Remove redundant heat transport by diffusion term.
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPLocalAssembler-impl.h
Due: git-diff-check, git-clang-format

[PL/Output] Mv outputMeshXdmf to class OutputFile
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Adjust Output and OutputFile.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Move fixed_output_times to OutputDataSpecification.
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/OutputDataSpecification.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Make OutputFile a nested class.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Mv vec<PairRepeatEachSteps> to OutputDataSpecification.
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/OutputDataSpecification.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Add OutputFile instance as member.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Remove unused code.
  ProcessLib/Output/Output.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Make nested class an independent class.
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Move findPVDFile() to OutputFile
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Extract findPVDFile() as free function
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Pass OutputFile as argument to Output
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

Move constructPVDName to OutputFile
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Move outputMeshVtk() to OutputFile
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Extract OutputFile to own header, cpp
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Rm unused attribute, make argument more concrete
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Use unique_ptr for attribute
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Mv file format specific fcts to OutputVtkFormat or OutputXDMFHDF5Format
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Mv XDMF specific attributes to OutputXDMFHDF5Format
  ProcessLib/Output/CreateOutput.cpp
  ProcessLib/Output/OutputFile.cpp
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Pass args as const& instead of &&
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Pass std::vector as const& to outputMeshes()
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Store output processes in its own vector
  ProcessLib/Output/Output.cpp
  ProcessLib/Output/Output.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/Output] Pass pre-/suffix per value.
  ProcessLib/Output/OutputFile.h
Due: git-diff-check, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
