Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$

[web] Fixed some absolute links.
  web/content/_index.md
  web/content/docs/tools/meshing-submeshes/ExtractMaterials/index.md
  web/content/releases/_index.md
  web/hugo.toml.in
  web/layouts/_markup/render-image.html
  web/layouts/_markup/render-link.html
  web/layouts/releases/list.html
Due: git-diff-check

[web] Typos.
  web/content/imprint.md
Due: git-diff-check

[web] Layout fixes for the homepage.
  web/hugo.toml.in
  web/layouts/_partials/components/workflow.html
  web/layouts/home.html
Due: git-diff-check

[web] Removed show_featured functionality.
  web/content/docs/benchmarks/_index.md
  web/content/docs/benchmarks/heat-transport-bhe/_index.md
  web/content/docs/benchmarks/reactive-transport/_index.md
  web/content/docs/benchmarks/th2m/_index.md
  web/layouts/docs/subsections.html
Due: git-diff-check

[web] Homepage alternating backgrounds.
  web/layouts/_partials/components/application-areas.html
  web/layouts/_partials/components/feature-grid.html
  web/layouts/_partials/components/get-started.html
  web/layouts/_partials/components/hero.html
  web/layouts/_partials/components/stat-band.html
  web/layouts/_partials/components/workflow.html
  web/layouts/home.html
Due: git-diff-check

[T] Relax tolerance.
  Tests/Data/ThermoRichardsMechanics/Mockup2D/mockup_restart.xml
Due: none

refactor: Move TimeInterval to NumLib, compare tolerantly
  BaseLib/TimeInterval.h
  NumLib/TimeStepping/TimeInterval.cpp
  NumLib/TimeStepping/TimeInterval.h
  ProcessLib/BoundaryConditionAndSourceTerm/CreateBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/CreateDirichletBoundaryConditionWithinTimeInterval.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/CreateDirichletBoundaryConditionWithinTimeInterval.h
  ProcessLib/BoundaryConditionAndSourceTerm/DirichletBoundaryConditionWithinTimeInterval.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/DirichletBoundaryConditionWithinTimeInterval.h
  ProcessLib/DeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(ProcessLib): Name deactivation curve for what it is
  ProcessLib/DeactivatedSubdomain.cpp
  ProcessLib/DeactivatedSubdomain.h
Due: git-diff-check, file-extensions, git-clang-format

fix(ProcessLib): Tolerant time compare in deactivation
  ProcessLib/BoundaryConditionAndSourceTerm/DeactivatedSubdomainDirichlet.cpp
  ProcessLib/DeactivatedSubdomain.cpp
  ProcessLib/DeactivatedSubdomain.h
  ProcessLib/HydroMechanics/Tests.cmake
  ProcessLib/ProcessVariable.cpp
  Tests/Data/HydroMechanics/HydraulicDeactivation/hydraulic_deactivation_roundoff_ts_0_t_0e+00.vtu
  Tests/Data/HydroMechanics/HydraulicDeactivation/hydraulic_deactivation_roundoff_ts_14_t_2e+00.vtu
  Tests/Data/HydroMechanics/HydraulicDeactivation/simHM_deactivate_H_end_time_roundoff.xml
  Tests/ProcessLib/TestDeactivatedSubdomain.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Add fix for system-installed vtk on arch.
  .pre-commit-config.yaml
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/FindFastFloat.cmake
Due: git-diff-check

[T] Relax tolerance.
  Tests/Data/LIE/HydroMechanics/single_fracture_3compartments_flow_CHZ_sigma0.prj
  Tests/Data/LargeDeformation/Torsion/bar1to6_torsion.prj
  Tests/Data/Mechanics/Ehlers/axisymmetric_sphere_pl.prj
  Tests/Data/Mechanics/GuentherSalzer/model_uniaxial_test.prj
  Tests/Data/Mechanics/HoekBrown/load_test_hb_nonassociated.prj
  Tests/Data/Parabolic/T/3D_line_source_term_tests/3D_line_source_term_middle/line_source_term_x_0.5_y_0.5.prj
Due: none

[ML] Init Mesh::_id via default member initializer.
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
Due: git-diff-check, file-extensions, git-clang-format

[T] Relax tolerance.
  Tests/Data/LIE/HydroMechanics/single_fracture_LE_kf_const.prj
  Tests/Data/Parabolic/T/2D_Robin/square_1e4_robin.prj
Due: none

[web] Moved hub menu entry.
  web/content/hub/_index.md
  web/hugo.toml.in
Due: git-diff-check

[web] Moved hub under docs.
  web/content/docs/hub/_index.md
  web/layouts/term.html
Due: git-diff-check

[T/NL] Increase tolerance of extrapolation test.
  Tests/NumLib/TestExtrapolation.cpp
Due: git-diff-check, file-extensions, git-clang-format

[web] Removed ogs-5 dev download todo.
  web/content/ogs-5/index.md
Due: git-diff-check

[web] Disable pagination on books page.
  web/layouts/books/list.html
Due: git-diff-check

[web] Link to books page from OGS-5 download.
  web/content/ogs-5/index.md
Due: git-diff-check

[web] Added a note to books page that this is legacy content.
  web/content/books/_index.md
  web/content/books/bmb-4/index.md
Due: git-diff-check

[web] Fixed benchmarks redirect in hub page.
  web/content/models/processes/_index.md
Due: git-diff-check

[web] Added abbreviation for digital twins on hub page.
  web/content/projects/digital-twins/_index.md
Due: git-diff-check

feat(NodePartitionedMeshReader): warn on deprecated ghost elements
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(PartitionMesh): drop ghost/regular element distinction
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(NodePartitionedMeshReader): rename regular elements to elements
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(PartitionMesh): rename regular_elements to elements
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.h
Due: git-diff-check, file-extensions, git-clang-format

refactor(NodePartitionedMesh): remove obsolete ghost element comment
  MeshLib/NodePartitionedMesh.h
Due: git-diff-check, git-clang-format

refactor: Enable check in release mode, too.
  Applications/Utils/ModelPreparation/PartitionMesh/NodeWiseMeshPartitioner.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor(NodePartitionedMeshReader): rename non-ghost elements to elements
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.h
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Append all found third-party licenses to file.
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Suppress some CPM find_package warnings.
  CMakeLists.txt
  scripts/cmake/DependenciesExternalProject.cmake
Due: git-diff-check

[cmake] Remove Format.cmake functionality.
  .pre-commit-config.yaml
  scripts/cmake/Dependencies.cmake
Due: git-diff-check

[cmake] Update CPM to 0.43.1
  scripts/cmake/CPM.cmake
Due: git-diff-check

[pre-commit] Use cmake-format with some bugfixes.
  .pre-commit-config.yaml
Due: git-diff-check

[precommit] Add more names to accept list.
  Documentation/.vale/config/vocabularies/ogs/accept.txt
Due: git-diff-check

[pre-commit] Updated vale to 3.x
  .pre-commit-config.yaml
  Documentation/.vale/config/vocabularies/ogs/README.md
  Documentation/.vale/config/vocabularies/ogs/accept.txt
  Documentation/.vale/config/vocabularies/ogs/ignore.txt
  Documentation/.vale/config/vocabularies/ogs/reject.txt
Due: git-diff-check

[pre-commit] Get rid of vale sync.
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  Documentation/.vale/.config/0-Hugo.ini
Due: git-diff-check

[precommit] Better vale config.
  .vale.ini
  Documentation/.vale/.vale-config/0-Hugo.ini
  Documentation/.vale/ogs/Spelling.yml
Due: git-diff-check
