Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[web] Fixed MSVC version info.
  web/content/docs/devguide/getting-started/build-configuration.md
Due: none

[GL] Constify in Polyline::getDistanceAlongPolyline.
  GeoLib/Polyline.cpp
Due: file-extensions

[GL] Clang format.
  GeoLib/Polyline.cpp
Due: file-extensions

[T/FileIO] Constify test_file in CsvWriter test.
  Tests/FileIO/TestCsvWriter.cpp
Due: file-extensions

[MeL/MQ] Clang fmt ElementQualityMetric.
  MeshLib/MeshQuality/ElementQualityMetric.cpp
Due: file-extensions

[PL/Output] Silence warning in case xdmf isn't used.
  ProcessLib/Output/ProcessOutput.cpp
Due: file-extensions

[MeL/MeshGenerator] Clang format.
  MeshLib/MeshGenerators/MeshGenerator.h
Due: none

[T] Adapted RUNTIME for some long-running benchmarks.
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/ThermoMechanics/Tests.cmake
Due: none

[T/RM] Slight change of Biot coeff.
  Tests/Data/RichardsMechanics/RichardsFlow_2d_quasinewton.prj
Due: none

[T] Relax tolerance for RichardsFlow_2d_quasinewton (LARGE).
  ProcessLib/ThermalTwoPhaseFlowWithPP/Tests.cmake
Due: none

[CT] A test for transport with sorption via surface complexation modeling
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/PSINA_12_07_110615_DAV_s_hzdr.dat
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption.prj
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ReactiveDomain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_left.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_right.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_115_t_115000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_23_t_23000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_46_t_46000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_69_t_69000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/SurfaceComplexation/RadionuclideSorption_ts_92_t_92000.000000.vtu
  web/content/docs/benchmarks/reactive-transport/radionuclide/Fig1.png
  web/content/docs/benchmarks/reactive-transport/radionuclide/Fig2.gif
  web/content/docs/benchmarks/reactive-transport/radionuclide/domain.png
  web/content/docs/benchmarks/reactive-transport/radionuclide/radionuclide.md
Due: none

[T] Test element quality using the AmmerGWN mesh.
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/Ammer/AmmerGWNWithElementQuality.vtu
Due: none

[T] Triangle bad quality and 3D element quality tests.
  Applications/Utils/Tests.cmake
  Tests/Data/FileIO/AmmerSubsurfaceCoarse-WithElementQuality.vtu
  Tests/Data/MeshGeoToolsLib/Hamburg/00-surface-WithElementQuality.vtu
Due: none

[MeL/MeshQuality] Rewrite edge ratio criterion.
  MeshLib/MeshQuality/EdgeRatioMetric.cpp
  MeshLib/MeshQuality/EdgeRatioMetric.h
Due: file-extensions

[DE] removed system specific file remove functionality
  Applications/DataExplorer/mainwindow.cpp
Due: file-extensions

<MPL> Added a relative permeability function 'Udell'
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermUdell.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermUdell.h
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.h
  Tests/MaterialLib/TestMPLRelPermUdell.cpp
Due: file-extensions

added Test for relative permeability derivative
  Tests/MaterialLib/TestMPLRelPermUdell.cpp
Due: file-extensions

fixed bug in dValue computation
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.cpp
Due: file-extensions

<MPL> Documentation for Udell property added
  Documentation/ProjectFile/properties/property/RelPermUdell/c_RelPermUdell.md
  Documentation/ProjectFile/properties/property/RelPermUdell/t_min_relative_permeability_gas.md
  Documentation/ProjectFile/properties/property/RelPermUdell/t_min_relative_permeability_liquid.md
  Documentation/ProjectFile/properties/property/RelPermUdell/t_residual_gas_saturation.md
  Documentation/ProjectFile/properties/property/RelPermUdell/t_residual_liquid_saturation.md
  MaterialLib/MPL/CreateProperty.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermUdell.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.cpp
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.h
  Tests/MaterialLib/TestMPLRelPermUdell.cpp
Due: file-extensions

Revert '[ci] Allow jobs to run on other runner than envinf1'
  ProcessLib/HT/Tests.cmake
Due: none

correcting latex formulas
  web/content/docs/benchmarks/thermo-hydro-mechanics/consolidation_pointheatsource.md
Due: none

add includes to make SaturationdEpendendHeatConduction usable
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/Properties.h
Due: file-extensions

Remove Python < 3.9 requirement.
  ProcessLib/HeatTransportBHE/Tests.cmake
  scripts/python/pyproject.in.toml
Due: none

<MPL> Documentation for Udell property added
  MaterialLib/MPL/Properties/RelativePermeability/RelPermUdell.h
Due: none

[web] update latex formulars in benchmark docs Hydro-component/contracer Reactive Transport/kineticreactant_allascomponents Reactive Transport/wetland
  web/content/docs/benchmarks/hydro-component/contracer/ConTracer.md
  web/content/docs/benchmarks/reactive-transport/kineticreactant_allascomponents/KineticReactant2.md
  web/content/docs/benchmarks/reactive-transport/wetland/Wetland.md
Due: none

Fix Windows poetry add command.
  ProcessLib/HeatTransportBHE/Tests.cmake
  scripts/cmake/test/AddTest.cmake
Due: none

[T] Fix for frontend job where no Python is loaded.
  ProcessLib/HeatTransportBHE/Tests.cmake
Due: none

[ci] Fix for container job where venv get corrupted sometimes.
  scripts/ci/extends/container-maker-setup.yml
Due: none

[T] Fix typo for CylindricalCavity large benchmark.
  ProcessLib/ThermoHydroMechanics/Tests.cmake
Due: none

[CMake] Better ctest dependency handling.
  Applications/Utils/Tests.cmake
  Tests/CMakeLists.txt
  scripts/cmake/ProcessesSetup.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/Test.cmake
Due: cmake-format

[T] Add missing EXECUTABLE args on AddTest() calls.
  ProcessLib/ComponentTransport/Tests.cmake
  ProcessLib/HT/Tests.cmake
  ProcessLib/HeatConduction/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/RichardsFlow/Tests.cmake
  ProcessLib/SteadyStateDiffusion/Tests.cmake
  ProcessLib/TES/Tests.cmake
Due: none

Made LARGE runtime configurable in versions.json.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
  web/content/docs/devguide/testing/test-data.md
  web/data/versions.json
Due: none

[ci] Switch on ctest and switch off cli on gui jobs.
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-gui-win.yml
Due: none

[PL/RM] Remove postNonlinearSolver call.
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.h
Due: file-extensions

[Docu] Fix doxygen warnings.
  Documentation/ProjectFile/prj/process_variables/process_variable/source_terms/source_term/Line/c_Line.md
  Documentation/ProjectFile/prj/process_variables/process_variable/source_terms/source_term/Line/t_parameter.md
  Documentation/ProjectFile/prj/process_variables/process_variable/source_terms/source_term/Volumetric/c_Volumetric.md
  ProcessLib/SourceTerms/CreateVolumetricSourceTerm.cpp
Due: file-extensions

[GL] Use Eigen::Vector3d instead of MathLib::Vector3 in parallel impl.
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/AnalyticalGeometry.h
  Tests/GeoLib/TestParallel.cpp
Due: file-extensions

[GL] Return normal and parameter d of Newell plane via pair.
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/AnalyticalGeometry.h
Due: file-extensions

[MaL] Impl. non-const version of TemplatePoint::getCoords().
  MathLib/TemplatePoint.h
Due: none

[GL] Use Eigen in rotatePolygonToXY.
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/AnalyticalGeometry.h
  MeshGeoToolsLib/MeshEditing/MarkNodesOutsideOfPolygon.h
Due: file-extensions

[GL] Use Eigen::Vector3d in getNewellPlane impl.
  Applications/Utils/MeshGeoTools/VerticalSliceFromLayers.cpp
  GeoLib/AnalyticalGeometry-impl.h
  GeoLib/AnalyticalGeometry.cpp
  GeoLib/AnalyticalGeometry.h
  MeshLib/ElementCoordinatesMappingLocal.cpp
Due: file-extensions

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
