Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

Replace std::valarray with Eigen::VectorXd
  ProcessLib/HeatTransportBHE/LocalAssemblers/HeatTransportBHELocalAssemblerSoil-impl.h
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerMatrix-impl.h
  Tests/NumLib/TestShapeFunctions.cpp
  scripts/test/clang_sanitizer_blacklist.txt
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Added 0d confined compression test
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression.prj
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_120_t_1.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_160_t_2.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_200_t_2.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_240_t_3.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_280_t_3.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_320_t_4.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_360_t_4.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_400_t_5.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_40_t_0.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_440_t_5.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_480_t_6.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/confined_compression_ts_80_t_1.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/generate-reference-solution.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/meshes
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_confined_compression/ogs_and_mfront.py
Due: none

[PL/TRM] Made saturation material property optional
  ProcessLib/ThermoRichardsMechanics/CreateThermoRichardsMechanicsProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Added 0d resaturation test
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/generate-reference-solution.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/meshes
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/ogs_and_mfront.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation.prj
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_120_t_1.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_160_t_2.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_200_t_2.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_240_t_3.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_280_t_3.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_320_t_4.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_360_t_4.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_400_t_5.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_40_t_0.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_440_t_5.500000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_480_t_6.000000.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/0d_resaturation/resaturation_ts_80_t_1.000000.vtu
Due: none

[PL/TRM] Added test cases to Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
Due: git-diff-check

[T/TRM] Added 1d column saturation test
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column.prj
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_0_t_0_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_100_t_293243_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_10_t_5.12_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_119_t_360000_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_20_t_5242.88_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_30_t_41242.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_31_t_44842.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_50_t_113243_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/bentonite_column_ts_75_t_203243_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/meshes
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/post.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_resaturation/postprocessing_utils.py
Due: none

[T/TRM] Added restart test cases for the 1d column saturation test
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column.prj
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_restart.xml
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_restart_fail.xml
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_restart_fail_ts_0_t_41242.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_restart_fail_ts_1_t_44842.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_ts_0_t_41242.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/bentonite_column_ts_1_t_44842.9_sec.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/meshes
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/plot_compare.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/post.py
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/1d_column_restart/postprocessing_utils.py
Due: none

[T/TRM] Added meshes for 0d test cases
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_whole_surface.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_x0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_x1.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_y0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_y1.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_z0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex20_z1.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_whole_surface.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_x0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_x1.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_y0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_y1.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_z0.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes/cube_1e0_1x1x1_hex8_z1.vtu
Due: none

[T/TRM] Added meshes for 1d test cases
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_xmax.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_xmin.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_ymax.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_ymin.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_zmax.vtu
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/meshes_column/column_zmin.vtu
Due: none

[Doc] Extended vale vocabulary
  Documentation/.vale/Vocab/ogs/accept.txt
Due: git-diff-check

[T/TRM] Added bentonite MFront/GeneralMod behaviour
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/BentoniteBehaviour.mfront
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/BentoniteBehaviourUtilities.hxx
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/CMakeLists.txt
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/README.md
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/generalmod.cc
  Tests/Data/ThermoRichardsMechanics/MFront/BentoniteBehaviourGeneralMod/MFrontBehaviour/generalmod.h
Due: git-clang-format

[scr] Do not package testrunner stuff
  scripts/cmake/packaging/PackagingDependencies.cmake
Due: git-diff-check

[UnitTest] Fixed the test for PETScMatrix
  Tests/MathLib/TestGlobalMatrixInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[CT] Temporally disabled a benchmark: RadionuclideSorption.prj
  ProcessLib/ComponentTransport/Tests.cmake
Due: git-diff-check

[PETScMatrix] Forward declaration of PETScVector
  MathLib/LinAlg/PETSc/PETScMatrix.cpp
  MathLib/LinAlg/PETSc/PETScMatrix.h
Due: git-diff-check, file-extensions, git-clang-format

[UnitTest] Fixed PETSc Linear solver test
  Tests/MathLib/TestLinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PETScVector] Improved the funtion for getting element and
  MathLib/LinAlg/PETSc/PETScVector.cpp
  MathLib/LinAlg/PETSc/PETScVector.h
Due: git-diff-check, file-extensions, git-clang-format

[Tests] Fixed the test for PETScVector
  Tests/MathLib/TestGlobalVectorInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] MPI tests in the testrunner are now part of the `tests`-target.
  Tests/CMakeLists.txt
Due: git-diff-check

[BL/MPI] Reduce ifdef range.
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

Use BaseLib::MPI::allgather
  MathLib/LinAlg/PETSc/PETScVector.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/XDMF/mpi/partition.cpp
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use BaseLib::MPI::allgatherv
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL/MPI] allgather version for vectors
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[T] Shorten MPITest prefix to MPI
  Tests/CMakeLists.txt
  Tests/MathLib/TestGlobalMatrixInterface.cpp
  Tests/MathLib/TestGlobalVectorInterface.cpp
  Tests/MathLib/TestLinearSolver.cpp
  Tests/NumLib/TestComponentNorms.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL] sizesToOffsets() w/ last entry sum(sizes)
  BaseLib/Algorithm.h
  BaseLib/CMakeLists.txt
Due: git-diff-check, git-clang-format

[BL/MPI] Use MPI_COMM_WORLD in reduceMin
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[MeL/U] Use inplace mpi reduction saving memory
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[BL/MPI] Struct for communicator, size, and rank
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[T/BL] MPI tests for allgather, allreduce, etc.
  Tests/BaseLib/MPI.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MaL/PETSc] allgatherv replaces gatherLocalVectors
  MathLib/LinAlg/PETSc/PETScVector.cpp
  MathLib/LinAlg/PETSc/PETScVector.h
Due: git-diff-check, file-extensions, git-clang-format

[BL/MPI] allreduce version for vectors
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[BL/MPI] allgatherv for variable size data exchg
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[BL/MPI] allreduceInplace
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

[BL/MPI] allreduce for single values
  BaseLib/MPI.h
Due: git-diff-check, git-clang-format

Use BaseLib::sizesToOffsets replacing partial sums
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  MathLib/LinAlg/PETSc/PETScVector.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/XDMF/mpi/partition.cpp
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
  NumLib/DOF/LocalToGlobalIndexMap.cpp
Due: git-diff-check, file-extensions, git-clang-format

Use BaseLib::MPI::allreduce
  BaseLib/MPI.h
  MeshGeoToolsLib/BoundaryElementsAtPoint.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
  NumLib/DOF/DOFTableUtil.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  Tests/MathLib/TestGlobalMatrixInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/IO] Use BaseLib::MPI::Mpi
  Applications/ApplicationsLib/TestDefinition.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.cpp
  MeshLib/IO/MPI_IO/NodePartitionedMeshReader.h
  MeshLib/IO/VtkIO/VtuInterface.cpp
  MeshLib/IO/readMeshFromFile.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Use vector allreduce
  MeshLib/Utils/transformMeshToNodePartitionedMesh.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/U] Add missing MPI init and finalize calls
  Applications/Utils/MeshEdit/PVTU2VTU/PVTU2VTU.cpp
  Applications/Utils/MeshEdit/ReorderMesh.cpp
  Applications/Utils/MeshEdit/ipDataToPointCloud.cpp
Due: git-diff-check, file-extensions, git-clang-format

Use BaseLib::MPI::allgather
  MathLib/LinAlg/PETSc/PETScVector.cpp
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
