Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[PL/Refl] Added assertions for improved compiler error messages
  ProcessLib/Reflection/ReflectionIPData.h
Due: git-diff-check, git-clang-format

[PL] Use Boost::Mp11 type aliases
  ProcessLib/Graph/Apply.h
  ProcessLib/Graph/Get.h
  ProcessLib/Reflection/ReflectionIPData.h
Due: git-diff-check, git-clang-format

[PL/Refl] Assert non-empty names for I/O
  ProcessLib/Reflection/ReflectionIPData.h
Due: git-diff-check, git-clang-format

[PL/TRM] Use StrongType for liquid viscosity
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/DarcyLaw.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/EqP.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidViscosity.cpp
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/LiquidViscosity.h
  ProcessLib/ThermoRichardsMechanics/ConstitutiveCommon/TRMHeatStorageAndFlux.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/Refl] Enabled reflected I/O for StrongTypes
  ProcessLib/Reflection/ReflectionIPData.h
Due: git-diff-check, git-clang-format

[PL/RM] Adapt to liquid viscosity type change
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[T/Refl] Added unit tests for StrongType I/O
  Tests/ProcessLib/TestReflectIPData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Extended source terms to 0D meshes
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/CreateLocalAssemblers.h
  ProcessLib/BoundaryConditionAndSourceTerm/Python/Utils/NsAndWeight.h
  ProcessLib/BoundaryConditionAndSourceTerm/Utils/CreateLocalAssemblers.h
Due: git-diff-check, git-clang-format

[NL] Removed unnecessary template instantiations
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/THM] Added a test case for 0D volumetric source terms
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/expected_pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/pointheatsource_quadratic-mesh.xml
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/quarter_002_2nd.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/quarter_circle_geometry_bottom.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/quarter_circle_geometry_center.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/quarter_circle_geometry_left.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-volumetric-source-term/quarter_circle_geometry_out.vtu
Due: git-diff-check

[NL] Added missing template instantiation
  NumLib/Fem/CoordinatesMapping/NaturalCoordinatesMapping.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/THM] Added a test case for 0D Python STs
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/expected_pointheatsource_quadratic-mesh_ts_10_t_50000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/pointheatsource_quadratic-mesh.xml
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/quarter_002_2nd.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/quarter_circle_geometry_bottom.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/quarter_circle_geometry_center.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/quarter_circle_geometry_left.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/quarter_circle_geometry_out.vtu
  Tests/Data/ThermoHydroMechanics/Linear/Point_injection/with-python-source-term/source_term.py
Due: git-diff-check

[T] Raised test tolerances
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  Tests/Data/TH2M/submesh_residuum_assembly/p_cap.xml
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.prj
Due: git-diff-check

[ci] Build deploy MKL container (serial and petsc).
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[guix] Update channels.
  scripts/guix/channels.scm
Due: git-diff-check

[ci] Use eigen unsupported in guix container builds.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[ci] Use matrix build for deploy container.
  scripts/ci/jobs/build-guix.yml
Due: git-diff-check

[web] Added download links for MKL container.
  web/content/releases/_index.md
Due: git-diff-check

[BL] Algorithm.h fix for older clang.
  BaseLib/Algorithm.h
Due: git-diff-check, git-clang-format

[PL/RM] Reduced variable scope (chi_S_L)
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/RM] Reduced variable scope (sigma_eff, rho)
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/RM] Moved members
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[PL/RM] Added (empty) data storage to local assembler interface
  ProcessLib/RichardsMechanics/LocalAssemblerInterface.h
Due: git-diff-check, git-clang-format

[PL/RM] Reduced variable scope
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/RM] Moved sigma_eff and eps to stateful data
  ProcessLib/RichardsMechanics/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/RichardsMechanics/IntegrationPointData.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM-impl.h
  ProcessLib/RichardsMechanics/RichardsMechanicsFEM.h
Due: git-diff-check, git-clang-format

[ci] Fix for MKL container builds.
  scripts/cmake/GuixSetup.cmake
Due: git-diff-check

[web] Added optional paramater to dataFile-shortcode to get version comp
  web/layouts/shortcodes/dataFile.html
Due: git-diff-check

[web] Update instructions to install req. gcc on older Ubuntu.
  web/content/docs/devguide/getting-started/prerequisites/index.md
Due: git-diff-check

[web] Shortcode-comments have an interesting syntax.
  web/layouts/shortcodes/dataFile.html
Due: git-diff-check

[T/TRM] Increase accuracy of bedding vector
  Tests/Data/ThermoRichardsFlow/TaskCDECOVALEX2023/Decovalex-0-TRF.prj
  Tests/Data/ThermoRichardsFlow/TaskCDECOVALEX2023/WithPicardNonLinearSolverAndPETSc/Decovalex-0-TRF.prj
  Tests/Data/ThermoRichardsMechanics/BodyForce/square.prj
  Tests/Data/ThermoRichardsMechanics/TaskCDECOVALEX2023/Decovalex-0.prj
Due: none

[PL/TH2] Add global matrix output
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Added static assertion
  ProcessLib/Utils/GenericLocalAssemblerFactory.h
  ProcessLib/Utils/LocalAssemblerFactoryTaylorHood.h
Due: git-diff-check, git-clang-format

[PL] Handle Python exceptions gracefully in BCs/STs
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonBoundaryCondition.cpp
  ProcessLib/BoundaryConditionAndSourceTerm/Python/PythonSourceTerm.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] Added tests for Python script error handling
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_GIA_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_GIA_ts_1000_t_3153600000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_GIA_ts_100_t_315360000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_GIA_ts_10_t_31536000000.000000.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_ReactiveDomain.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/1d_decay_chain_upstream.vtu
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/import_error.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/non_existent_python_script.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_Dirichlet.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_Dirichlet.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_Neumann.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_Neumann.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_source_term.py
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_error_source_term.xml
  Tests/Data/Parabolic/ComponentTransport/ReactiveTransport/DecayChain/GlobalImplicitApproach/failing_tests/python_import_error.xml
Due: git-diff-check

[App] Prevent segfaults from Python exceptions
  Applications/CLI/ogs.cpp
Due: git-diff-check, file-extensions, git-clang-format

[AppL] Handle Python exceptions during script evaluation
  Applications/ApplicationsLib/ProjectData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Use Process' implementation of active elems
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  ProcessLib/HT/HTProcess.cpp
  ProcessLib/HeatConduction/HeatConductionProcess.cpp
  ProcessLib/HeatTransportBHE/HeatTransportBHEProcess.cpp
  ProcessLib/LIE/HydroMechanics/HydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/LargeDeformation/LargeDeformationProcess.cpp
  ProcessLib/LiquidFlow/LiquidFlowProcess.cpp
  ProcessLib/PhaseField/PhaseFieldProcess.cpp
  ProcessLib/RichardsComponentTransport/RichardsComponentTransportProcess.cpp
  ProcessLib/RichardsFlow/RichardsFlowProcess.cpp
  ProcessLib/RichardsMechanics/RichardsMechanicsProcess.cpp
  ProcessLib/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/SmallDeformationNonlocal/SmallDeformationNonlocalProcess.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.cpp
  ProcessLib/SteadyStateDiffusion/SteadyStateDiffusion.h
  ProcessLib/StokesFlow/StokesFlowProcess.cpp
  ProcessLib/TES/TESProcess.cpp
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermalTwoPhaseFlowWithPP/ThermalTwoPhaseFlowWithPPProcess.cpp
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsProcess.cpp
  ProcessLib/ThermoMechanicalPhaseField/ThermoMechanicalPhaseFieldProcess.cpp
  ProcessLib/ThermoMechanics/ThermoMechanicsProcess.cpp
  ProcessLib/ThermoRichardsFlow/ThermoRichardsFlowProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
  ProcessLib/TwoPhaseFlowWithPP/TwoPhaseFlowWithPPProcess.cpp
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/HT] Test for active p when T is deactivated
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/HT_DeactivatedSubdomain.prj
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16.pvd
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_0_t_0.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_100_t_1.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_101_t_10.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_19_t_0.190000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_29_t_0.290000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_31_t_0.310000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_40_t_4.000000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_59_t_0.590000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_69_t_0.690000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_71_t_0.710000.vtu
  Tests/Data/Parabolic/HT/SimpleSynthetics/deactivated_subdomain/Test_HT_DeactivatedSubdomain_square_1x1_quad_16_ts_80_t_8.000000.vtu
Due: none

[PL] AssemblyMixin; use process' active elements
  ProcessLib/AssemblyMixin.cpp
  ProcessLib/AssemblyMixin.h
  ProcessLib/TH2M/TH2MProcess.cpp
  ProcessLib/ThermoRichardsMechanics/ThermoRichardsMechanicsProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[Test] Jupyter Notebook for Mechanics/CooksMemBrane with B bar
  Tests/Data/Mechanics/CooksMembrane/CooksMembraneBbar.ipynb
  Tests/Data/Mechanics/CooksMembrane/figure/cooks_membrane.png
Due: none

Path conditions:
  git-diff-check: any file but: Tests/Data/.*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
