Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md, --markdown-linebreak-ext=pandoc]
        exclude: "^ThirdParty/.*|^Tests/Data/.*|^web/static|^Documentation/.vale/.*|.*\\.patch"
      - id: check-added-large-files
        args: [--maxkb 1024]
      - id: check-merge-conflict
      - id: check-xml
        exclude: '^Tests/Data/.*\.xml'
      - id: check-yaml
        exclude: "^scripts/ci/.*|.cmake-format.yaml"
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: fix-byte-order-marker
        exclude: "^Documentation/.vale/.*"
      - id: mixed-line-ending
        exclude: ".*\\.vtu"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        exclude: "ThirdParty|LinearMFront/generate_ref.py"
  # Run black on markdown notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        additional_dependencies: [jupytext, black==23.1.0]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        exclude: 'ThirdParty/.*|Tests/Data/.*|.*\.ya?ml|.*\.bib|^web/content/imprint.md|^GeoLib/IO/XmlIO/OpenGeoSysSTN.xsd|^Applications/FileIO/Legacy/OGSIOVer4.cpp|^scripts/cmake/CPM.cmake|Documentation/.vale/.*|.*\.ipynb|.*\.svg'
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
        additional_dependencies: ["cmakelang[YAML]"]
        args: [--config=.cmake-format.yaml]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|Tests.cmake"
      - id: cmake-lint
        additional_dependencies: ["cmakelang[YAML]"]
        exclude: "CPM.cmake|FindFilesystem.cmake|FindMKL.cmake|JSONParser.cmake|BuildExternalProject.cmake"
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: git-diff-check
        name: Run git diff --check
        entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
        language: system
        exclude: "ThirdParty/.*|Tests/Data/.*|web/static/images/xsd"
        stages: [commit, manual]
      - id: file-extensions
        name: Check file extensions
        entry: scripts/hooks/pre-commit-file-extensions.sh
        language: system
        files: '.*\.cpp'
        stages: [commit, manual]
      - id: git-clang-format
        name: git-clang-format
        entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
        language: system
        pass_filenames: false
        files: \.(h|cpp)$
  - repo: https://github.com/errata-ai/vale
    rev: v2.24.4
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.0"
    hooks:
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--show-source]
  # Enable on demand, run with
  #     pre-commit run --all-files clang-format
  #
  # - repo: https://github.com/pocc/pre-commit-hooks
  #   rev: master
  #   hooks:
  #     - id: clang-format
  #       args: ["-i"]

[TimeLoop] Use the new class StaggeredCoupling
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[Test] Restricted the coupling convergence criteria of one thermal phase field benchmark
  Tests/Data/ThermoMechanicalPhaseField/beam3d.prj
Due: none

[Doc] Documentation for a new parameter of the local coupling
  Documentation/ProjectFile/prj/time_loop/global_process_coupling/local_coupling_processes/t_max_iter.md
Due: git-diff-check

[NumLib] A class of StaggeredCoupling
  NumLib/CMakeLists.txt
  NumLib/StaggeredCoupling/StaggeredCoupling-impl.h
  NumLib/StaggeredCoupling/StaggeredCoupling.cpp
  NumLib/StaggeredCoupling/StaggeredCoupling.h
Due: git-diff-check, file-extensions, git-clang-format

[ProcessData] Added a member process_name
  ProcessLib/CreateProcessData.cpp
  ProcessLib/CreateProcessData.h
  ProcessLib/CreateTimeLoop.cpp
  ProcessLib/ProcessData.h
Due: git-diff-check, file-extensions, git-clang-format

[ParameterLib] Moved parseLocalCoordinateSystem to a new file
  Applications/ApplicationsLib/ProjectData.cpp
  ParameterLib/CreateCoordinateSystem.cpp
  ParameterLib/CreateCoordinateSystem.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Raised tolerances for recently added T ctests
  ProcessLib/HeatConduction/Tests.cmake
Due: git-diff-check

[T] Added a failing test case
  ProcessLib/ComponentTransport/Tests.cmake
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MLD_no_mat_ids.vtu
  Tests/Data/Parabolic/ComponentTransport/MultiLayerDiffusion/1D_MultiLayerDiffusion_fail_no_mat_ids.xml
Due: git-diff-check

[MatL] Added checks for missing material ids
  MaterialLib/MPL/CreateMaterialSpatialDistributionMap.cpp
  MaterialLib/PorousMedium/CreatePorousMediaProperties.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Add CMake variable MKLROOT for MKL finding in Guix.
  scripts/cmake/DependenciesExternalProject.cmake
  scripts/cmake/Find.cmake
Due: git-diff-check

[T] Added a failing test case
  ProcessLib/ComponentTransport/Tests.cmake
  scripts/cmake/test/AddTestWrapper.cmake
Due: git-diff-check

[cmake] Removed FILES_TO_DELETE from AddTest Was not used anymore.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/AddTestWrapper.cmake
Due: git-diff-check

[cmake] Silence a warning when running notebooks.
  scripts/cmake/test/NotebookTest.cmake
Due: git-diff-check

[cmake] Simplified AddTestWrapper, now works with PASS_REGULAR_EXPRESSION
  scripts/cmake/test/AddTestWrapper.cmake
Due: git-diff-check

[cmake] OgsTest and NotebookTest use the same AddTestWrapper.
  scripts/cmake/test/NotebookTest.cmake
  scripts/cmake/test/OgsTest.cmake
  scripts/cmake/test/OgsTestWrapper.cmake
Due: git-diff-check

When using direnv (.envrc) then CTEST_OUTPUT_ON_FAILURE=1.
  CMakeLists.txt
Due: git-diff-check

[T] 3 more PASS_REGULAR_EXPRESSION checks.
  Applications/Utils/Tests.cmake
  ProcessLib/LiquidFlow/Tests.cmake
  ProcessLib/SmallDeformation/Tests.cmake
Due: git-diff-check

[MPL] Avoid frequent temporary strings
  MaterialLib/MPL/Medium.cpp
  MaterialLib/MPL/Phase.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] An empty VariableArray saves on mem. init.
  MaterialLib/MPL/Property.cpp
  MaterialLib/MPL/VariableType.h
  ProcessLib/HydroMechanics/HydroMechanicsFEM-impl.h
  Tests/ProcessLib/RichardsMechanics/MicroporosityComputation.cpp
Due: git-diff-check, file-extensions, git-clang-format

Removed leftover from !4776 in .gitmodules.
  .gitmodules
Due: git-diff-check

[web] Configure passthrough delimiter for equations.
  web/config/_default/config.toml
  web/layouts/partials/header.html
Due: git-diff-check

[web] Bump Hugo to 0.122.0 for passthrough extension.
  scripts/docker/Dockerfile.web
  web/data/versions.json
Due: git-diff-check

[PL/TH2M] Store elastic stiffness tensor in tmp
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ElasticTangentStiffnessData.h
  ProcessLib/TH2M/ConstitutiveRelations/ElasticTangentStiffnessModel.cpp
  ProcessLib/TH2M/ConstitutiveRelations/ElasticTangentStiffnessModel.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move beta_T_SR into solid thermal model
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Store solid compressibility in tmp data
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidCompressibility.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, git-clang-format

[PL/TH2M] New empty constitutive models structure
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Store process data in base class
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Move ConstitutiveVariables to temporary data
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Store solid therm. expansion in tmp data
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidThermalExpansion.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move int. stress in solid mech. model
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.cpp
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move stress data out of IPData
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Saturation current and prev state data
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/Saturation.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Saturation.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move material states into local asm
  ProcessLib/TH2M/CMakeLists.txt
  ProcessLib/TH2M/ConstitutiveRelations/MaterialState.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Store biot in temporary data
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/Biot.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Biot.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract swelling stress model and data
  ProcessLib/TH2M/ConstitutiveRelations/Base.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/Swelling.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Swelling.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
  ProcessLib/TH2M/TH2MProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Move shape fct. independent vars in base
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Extract eps_m into stateful mech. data
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/ConstitutiveRelations/MechanicalStrain.cpp
  ProcessLib/TH2M/ConstitutiveRelations/MechanicalStrain.h
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Extract Bishops model and data
  ProcessLib/TH2M/ConstitutiveRelations/Bishops.cpp
  ProcessLib/TH2M/ConstitutiveRelations/Bishops.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveData.h
  ProcessLib/TH2M/ConstitutiveRelations/ConstitutiveModels.h
  ProcessLib/TH2M/TH2MFEM-impl.h
Due: git-diff-check, file-extensions, git-clang-format

[PL/TH2M] Store solid material per element
  ProcessLib/TH2M/IntegrationPointData.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
  ProcessLib/TH2M/TH2MFEM-impl.h
  ProcessLib/TH2M/TH2MFEM.h
Due: git-diff-check, git-clang-format

[PL/TH2M] Add solid material model alias
  ProcessLib/TH2M/ConstitutiveRelations/SolidMechanics.h
  ProcessLib/TH2M/LocalAssemblerInterface.h
Due: git-diff-check, git-clang-format
