Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: file-extensions, cmake-format

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

cmake-format:
  name: Format CMake files
  entry: scripts/hooks/pre-commit-cmake-format.sh
  language: system
  stages:
  - commit
  - manual

[Doc] Added a description of the van Genuchten-Mualem relative permeability function
  Documentation/bibliography/other.bib
  MaterialLib/MPL/Properties/RelativePermeability/RelPermNonWettingPhaseVanGenuchtenMualem.h
Due: none

[Parameter documentation] RelPermNonWettingPhaseVanGenuchtenMualem
  Documentation/ProjectFile/properties/property/RelativePermeabilityNonWettingPhaseVanGenuchtenMualem/c_RelativePermeabilityNonWettingVanGenuchten.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityNonWettingPhaseVanGenuchtenMualem/t_exponent.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityNonWettingPhaseVanGenuchtenMualem/t_min_relative_permeability.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityNonWettingPhaseVanGenuchtenMualem/t_residual_gas_saturation.md
  Documentation/ProjectFile/properties/property/RelativePermeabilityNonWettingPhaseVanGenuchtenMualem/t_residual_liquid_saturation.md
Due: none

[Test] Added a test of RelPermNonWettingVanGenuchten
  Tests/MaterialLib/TestMPLRelPermNonWettingPhaseVanGenuchtenMualem.cpp
Due: file-extensions

[MPL] Added createRelPermNonWettingPhaseVanGenuchtenMualem
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermNonWettingPhaseVanGenuchtenMualem.cpp
  MaterialLib/MPL/Properties/RelativePermeability/CreateRelPermNonWettingPhaseVanGenuchtenMualem.h
Due: file-extensions

add GasPressureDependentPermeability
  MaterialLib/MPL/CreateProperty.cpp
  MaterialLib/MPL/Properties/CreateGasPressureDependentPermeability.cpp
  MaterialLib/MPL/Properties/CreateGasPressureDependentPermeability.h
  MaterialLib/MPL/Properties/CreateProperties.h
  MaterialLib/MPL/Properties/GasPressureDependentPermeability.cpp
  MaterialLib/MPL/Properties/GasPressureDependentPermeability.h
  MaterialLib/MPL/Properties/Properties.h
Due: file-extensions

gtest for GasPressureDependentPermeability
  Tests/MaterialLib/TestGasPressureDependentPermeability.cpp
Due: file-extensions

Add Parameter documentation files
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/c_GasPressureDependentPermeability.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_a1.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_a2.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_initial_permeability.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_maximum_permeability.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_minimum_permeability.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_pthr.md
Due: none

implement pressure_threshold instead pthr
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_pressure_threshold.md
  Documentation/ProjectFile/properties/property/GasPressureDependentPermeability/t_pthr.md
  MaterialLib/MPL/Properties/CreateGasPressureDependentPermeability.cpp
  MaterialLib/MPL/Properties/GasPressureDependentPermeability.cpp
  MaterialLib/MPL/Properties/GasPressureDependentPermeability.h
Due: file-extensions

edit pthr to pressure_threshold in gtest
  Tests/MaterialLib/TestGasPressureDependentPermeability.cpp
Due: file-extensions

Merge branch 'cmake-presets' into 'master'
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/extends/template-build-win.yml
  scripts/ci/extends/test-artifacts.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-gui-win.yml
  scripts/ci/jobs/build-linux-conan.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/build-win.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/checks.yml
  scripts/ci/jobs/clang-sanitizer.yml
  scripts/ci/jobs/code-quality.yml
  scripts/ci/jobs/container.yml
  scripts/cmake/ConanSetup.cmake
  scripts/cmake/PythonSetup.cmake
  scripts/env/eve/cli.sh
  web/content/docs/devguide/advanced/build-with-ninja.md
  web/content/docs/devguide/advanced/working-on-eve.md
  web/content/docs/devguide/getting-started/build-configuration.md
  web/content/docs/devguide/getting-started/build.md
  web/content/docs/devguide/getting-started/prerequisites.md
Due: cmake-format

Bump eigen to 3.3.9
  web/data/versions.json
Due: none

[CMake] Bump Conan requirement to 1.32.1
  web/data/versions.json
Due: none

[Conan] Newer eigen package does not provide a FindEigen3.cmake.
  scripts/cmake/Find.cmake
Due: none

[doc] Update doxygen main page. Links to release.
  Documentation/mainpage.dox.in
  README.md
Due: none

[doc] Fill doxygen main page OGS description.
  Documentation/mainpage.dox.in
Due: none

[doxygen] Implemented release branch docs.
  Documentation/mainpage.dox.in
  README.md
  scripts/ci/jobs/build-docs.yml
  scripts/doc/_redirects
  web/content/docs/devguide/procedures/publish-a-release.md
Due: none

[web] Fixed netlify release branch deploy.
  scripts/ci/jobs/build-docs.yml
Due: none

Cppcheck uses C++20 standard now.
  scripts/cmake/CppCheck.cmake
  scripts/test/cppcheck.in.sh
Due: none

[ci] Integrated deploy doxygen into doxygen build job.
  scripts/ci/jobs/build-docs.yml
Due: none

[ci] Remove unlink.
  scripts/ci/jobs/build-docs.yml
Due: none

[NL] NR; Debug output of increment and residuum.
  NumLib/NewtonRaphson.h
Due: none

[web,ci] Supply site id.
  scripts/ci/jobs/web.yml
Due: none

[doxygen] Added missing redirect.
  scripts/doc/_redirects
Due: none

[cmake] Added new preset coverage.
  CMakePresets.json
Due: none

[PL,T] Added more RUNTIME parameter.
  ProcessLib/ComponentTransport/Tests.cmake
  ProcessLib/HT/Tests.cmake
  ProcessLib/HydroMechanics/Tests.cmake
  ProcessLib/LIE/HydroMechanics/Tests.cmake
  ProcessLib/PhaseField/Tests.cmake
  ProcessLib/RichardsComponentTransport/Tests.cmake
  ProcessLib/RichardsFlow/Tests.cmake
  ProcessLib/RichardsMechanics/Tests.cmake
  ProcessLib/SmallDeformation/Tests.cmake
  ProcessLib/SmallDeformationNonlocal/Tests.cmake
  ProcessLib/ThermoRichardsMechanics/Tests.cmake
  ProcessLib/TwoPhaseFlowWithPP/Tests.cmake
Due: none

[cmake] Revived code coverage for the testrunner.
  scripts/cmake/Coverage.cmake
Due: none

[ci] Added job code coverage (testrunner only).
  .gitlab-ci.yml
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/code-coverage.yml
Due: none

[ci] Replaced dependencies with needs in linux jobs.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-linux-conan.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
  scripts/ci/jobs/code-coverage.yml
Due: none

[CMake,T] Added target ctest_coverage.
  scripts/cmake/Coverage.cmake
Due: none

[CMake,T] Added option OGS_CTEST_MAX_RUNTIME to skip ctests above threshold.
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
Due: none

[ci] Create a combined coverage report of testrunner and ctests.
  CMakePresets.json
  scripts/ci/jobs/code-coverage.yml
  scripts/cmake/CMakeSetup.cmake
  scripts/cmake/Coverage.cmake
  scripts/cmake/test/AddTest.cmake
  scripts/cmake/test/OgsTest.cmake
Due: none

[ci] Integrated meta_container into meta job.
  scripts/ci/extends/template-build-win.yml
  scripts/ci/jobs/build-docs.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build_image.yml
  scripts/ci/jobs/check-header.yml
  scripts/ci/jobs/meta.yml
Due: none

[T/MeL] Slightly relax tet element skew metric test.
  Tests/MeshLib/TestTetQualityCriteria.cpp
Due: file-extensions

[ci] Fix artifacts inheritance.
  scripts/ci/extends/template-build-linux.yml
  scripts/ci/jobs/build-gui-linux.yml
  scripts/ci/jobs/build-gui-mac.yml
  scripts/ci/jobs/build-linux-conan.yml
  scripts/ci/jobs/build-linux-frontend.yml
  scripts/ci/jobs/build-linux-petsc.yml
  scripts/ci/jobs/build-linux.yml
  scripts/ci/jobs/build-mac.yml
Due: none

Path conditions:
  file-extensions: any of: .*\.cpp, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  cmake-format: any of: CMakeLists.txt, but not: ThirdParty/*|Tests/Data/*|web/static/images/xsd
