Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

[cmake gcc 13.2.1 add -Wno-stringop-overflow.
  scripts/cmake/CompilerSetup.cmake
Due: git-diff-check

Remove spdlog dependency for Geo and MathLibs
  GeoLib/CMakeLists.txt
  MathLib/CMakeLists.txt
Due: git-diff-check

[PL] Added documentation
  ProcessLib/TimeLoop.h
Due: git-diff-check, git-clang-format

[PL] Renamed method doNonlinearIteration()
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Changed lambda to separate method
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Extracted preOutputInitialConditions() method
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Removed unused method
  ProcessLib/TimeLoop.cpp
  ProcessLib/TimeLoop.h
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Fix name of a public class member
  MeshGeoToolsLib/BoundaryElementsSearcher.cpp
  MeshGeoToolsLib/BoundaryElementsSearcher.h
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Remove unused getMesh from the interface
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.h
  MeshGeoToolsLib/BoundaryElementsAtPoint.cpp
  MeshGeoToolsLib/BoundaryElementsAtPoint.h
  MeshGeoToolsLib/BoundaryElementsOnSurface.cpp
  MeshGeoToolsLib/BoundaryElementsOnSurface.h
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Pass element's id to created boundary elems
  MeshGeoToolsLib/BoundaryElementsAlongPolyline.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Fix name of a public class member
  MeshGeoToolsLib/ConstructMeshesFromGeometries.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MGTL] Extract common serial/petsc case code
  MeshGeoToolsLib/ConstructMeshesFromGeometries.cpp
Due: git-diff-check, file-extensions, git-clang-format

[cmake] Fixed index bug in AddTest when using vtkdiff-mesh.
  scripts/cmake/test/AddTest.cmake
Due: git-diff-check

[T/MGTL] Construct meshes from geometry square
  Applications/Utils/Tests.cmake
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1.gml
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_geometry_bottom.vtu
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_geometry_left.vtu
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_geometry_origin.vtu
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_geometry_right.vtu
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_geometry_top.vtu
  Tests/Data/MeshGeoToolsLib/ConstructMeshesFromGeometry/square_1x1_quad8_1e2.vtu
Due: git-diff-check

[PL/Assembly] Negative row indices are handled later on
  ProcessLib/Assembly/MatrixElementCache.h
Due: git-diff-check, git-clang-format

[NL/DOF] Forward returned nop value instead of modifying
  NumLib/DOF/MeshComponentMap.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/TRM] Add second output config
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/mechanics_linear.prj
Due: none

[T/TRM/LinearMechanics] Use meshes instead of geometry
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/mechanics_linear.prj
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/square_1x1_geometry_bottom.vtu
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/square_1x1_geometry_left.vtu
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/square_1x1_geometry_top.vtu
Due: none

[T/TRM] Add boundary mesh output to vtkdiff checks
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/mechanics_linear.prj
  Tests/Data/ThermoRichardsMechanics/LinearMechanics/mechanics_linear_square_1x1_geometry_left_ts_4_t_1.000000.vtu
Due: none

[PL/THM] Explicitly set phi_fr_prev, don't update
  ProcessLib/ThermoHydroMechanics/IntegrationPointData.h
  ProcessLib/ThermoHydroMechanics/ThermoHydroMechanicsFEM-impl.h
Due: git-diff-check, git-clang-format

[T/THM] Heat transport in stationary flow w/ ice
  ProcessLib/ThermoHydroMechanics/Tests.cmake
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.prj
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_10_t_10000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_1_t_1000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_20_t_20000.000000.vtu
  Tests/Data/ThermoHydroMechanics/Linear/HeatTransportInStationaryFlow/WithFreezingPhase_ts_50_t_50000.000000.vtu
Due: git-diff-check

[MaL] Moved linear solver type alias to separate file
  MathLib/LinAlg/GlobalLinearSolverType.h
  MathLib/LinAlg/GlobalMatrixVectorTypes.h
Due: git-diff-check, git-clang-format

[MeL/IO/XDMF] Add missing uchar data type
  MeshLib/IO/XDMF/HdfData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MathLib] Output norm type of PETSc solver
  MathLib/LinAlg/PETSc/PETScLinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Removed unneeded include
  ProcessLib/ProcessData.h
Due: git-diff-check, git-clang-format

[PL] Removed unneeded include
  ProcessLib/CoupledSolutionsForStaggeredScheme.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL] Removed unneeded include and type aliases
  ProcessLib/Process.h
Due: git-diff-check, git-clang-format

Added includes of global linear solver type header
  ChemistryLib/ChemicalSolverInterface.h
  ChemistryLib/CreateChemicalSolverInterface.h
  NumLib/ODESolver/NonlinearSolver.h
  ProcessLib/ComponentTransport/ComponentTransportProcess.cpp
  Tests/NumLib/TestSerialLinearSolver.cpp
Due: git-diff-check, file-extensions, git-clang-format

AddFaultToVoxelGrid added to DataExplorer
  Applications/DataExplorer/DataView/AddFaultsToVoxelGrid.ui
  Applications/DataExplorer/DataView/AddFaultsToVoxelGridDialog.cpp
  Applications/DataExplorer/DataView/AddFaultsToVoxelGridDialog.h
  Applications/DataExplorer/DataView/CMakeLists.txt
  Applications/DataExplorer/mainwindow.cpp
  Applications/DataExplorer/mainwindow.h
  Applications/DataExplorer/mainwindow.ui
  MeshToolsLib/MeshGenerators/AddFaultToVoxelGrid.cpp
  MeshToolsLib/MeshGenerators/AddFaultToVoxelGrid.h
Due: git-diff-check, file-extensions, git-clang-format

extract getSelectedObjects()
  Applications/DataExplorer/Base/CMakeLists.txt
  Applications/DataExplorer/Base/Utils.cpp
  Applications/DataExplorer/Base/Utils.h
  Applications/DataExplorer/DataView/AddFaultsToVoxelGridDialog.cpp
  Applications/DataExplorer/DataView/GMSHPrefsDialog.cpp
  Applications/DataExplorer/DataView/Layers2GridDialog.cpp
  Applications/DataExplorer/DataView/TranslateDataDialog.cpp
  MeshToolsLib/MeshGenerators/AddFaultToVoxelGrid.cpp
Due: git-diff-check, file-extensions, git-clang-format

refactor on_(de)selectDataButton_pressed()
  Applications/DataExplorer/Base/Utils.cpp
  Applications/DataExplorer/Base/Utils.h
  Applications/DataExplorer/DataView/AddFaultsToVoxelGridDialog.cpp
  Applications/DataExplorer/DataView/TranslateDataDialog.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL/IO/HDF] Save uchar as NATIVE_UCHAR
  MeshLib/IO/XDMF/HdfData.cpp
Due: git-diff-check, file-extensions, git-clang-format

[nb] Converted tutorial to markdown.
  web/content/docs/tutorials/bhe_meshing/bhe_meshing.ipynb
  web/content/docs/tutorials/bhe_meshing/bhe_meshing.md
Due: git-diff-check

markdownlint.
  web/content/docs/tutorials/bhe_meshing/bhe_meshing.md
Due: git-diff-check

[pre-commit] Ignore ipynb files on codespell-check.
  .pre-commit-config.yaml
Due: git-diff-check

Add tutorial of BHE meshing
  web/content/docs/tutorials/bhe_meshing/1bhe1d.png
  web/content/docs/tutorials/bhe_meshing/BHEpoints.png
  web/content/docs/tutorials/bhe_meshing/bhe3d1.png
  web/content/docs/tutorials/bhe_meshing/bhe_coordinates.xlsx
  web/content/docs/tutorials/bhe_meshing/bhe_meshing.ipynb
Due: git-diff-check

Some vale fixes.
  web/content/docs/tutorials/bhe_meshing/bhe_meshing.md
Due: git-diff-check

[web] Exclude md files prefixed with `notebook-`.
  web/config/_default/config.toml
Due: git-diff-check

[web] Use mount config also for static files configuration.
  web/config/_default/config.toml
Due: git-diff-check

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
