Repository ufz/ogs: changes, and which pre-commit hooks are due for each by the changed paths.
All: git-diff-check, file-extensions, git-clang-format

git-diff-check:
  name: Run git diff --check
  entry: git diff --check --cached -- ':!*.md' ':!*.pandoc' ':!*.asc' ':!*.dat' ':!*.ts'
  language: system
  stages:
  - commit
  - manual

file-extensions:
  name: Check file extensions
  entry: scripts/hooks/pre-commit-file-extensions.sh
  language: system
  stages:
  - commit
  - manual

git-clang-format:
  name: git-clang-format
  entry: bash -c 'if command -v git-clang-format &> /dev/null; then git clang-format; else exit 0; fi'
  language: system
  pass_filenames: false

Creating Tutorials section and moving Video Tutorial there
  web/content/docs/tutorials/_index.md
  web/content/docs/tutorials/video-tutorial/OGSinput_basin.prj
  web/content/docs/tutorials/video-tutorial/_index.md
  web/content/docs/tutorials/video-tutorial/glacierclass.py
  web/content/docs/tutorials/video-tutorial/history.sh
  web/content/docs/tutorials/video-tutorial/mesh_basin.msh
  web/content/docs/tutorials/video-tutorial/mesh_basin.py
  web/content/docs/tutorials/video-tutorial/timeBCs_glacier.py
  web/content/docs/tutorials/video-tutorial/video_tutorial_thumbnail.png
Due: git-diff-check

[web] Adapted docs overview layout: columns = num entries.
  web/layouts/docs/list.html
Due: git-diff-check

[web] Moved ogstools link to advanced.
  web/config/_default/config.toml
Due: git-diff-check

[web] Added link to ogstools on the docs overview page.
  web/config/_default/config.toml
Due: git-diff-check

[conan] Fixed repo url.
  scripts/cmake/ConanSetup.cmake
Due: git-diff-check

[web] Fixed links.
  web/content/docs/devguide/environments/docker/index.md
  web/content/docs/devguide/packages/conan-package-manager/index.md
Due: git-diff-check

[T/GL] Unit tests for markUsedPoints() - polyline version
  Tests/GeoLib/TestMarkUsedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T] End-to-end test for tool RemoveUnusedPoints
  Applications/Utils/Tests.cmake
  Tests/Data/FileIO/RemoveUnusedPoints/WESSRivers.gml
  Tests/Data/FileIO/RemoveUnusedPoints/WESSRivers_cleaned.gml
  Tests/Data/FileIO/RemoveUnusedPoints/cube_1x1x1_with_additional_points.gml
  Tests/Data/FileIO/RemoveUnusedPoints/cube_1x1x1_with_additional_points_cleaned.gml
Due: git-diff-check

[App/IO/Gmsh] Use existing GeoLib::resetPointIDs()
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
Due: git-diff-check, file-extensions, git-clang-format

[App/FileIO/Gmsh] Fix OuadTree geometry generation
  Applications/FileIO/Gmsh/GMSHAdaptiveMeshDensity.cpp
  Applications/FileIO/Gmsh/GMSHAdaptiveMeshDensity.h
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
Due: git-diff-check, file-extensions, git-clang-format

[A/U/GeoTools] Extract 'createMapping()' to own fct
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/GL] Impl. of createPointsInGridArrangement
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/GeoLib/CreateTestPoints.h
Due: git-diff-check, file-extensions, git-clang-format

[App/U/GeoTools] Use lambda + ranges::for_each for resetPointIDs()
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/GL] create random points used by other tests
  Tests/GeoLib/CreateTestPoints.cpp
  Tests/GeoLib/CreateTestPoints.h
Due: git-diff-check, file-extensions, git-clang-format

[GL] Extract GeoLib::markUsedPoints() for surfaces
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
  GeoLib/Surface.cpp
  GeoLib/Surface.h
Due: git-diff-check, file-extensions, git-clang-format

[App/U/GeoTools] Tool cleaning geometry
  Applications/Utils/GeoTools/CMakeLists.txt
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Impl resetPointIDs()
  GeoLib/Polyline.cpp
  GeoLib/Polyline.h
Due: git-diff-check, file-extensions, git-clang-format

[GL] Extract GeoLib::markUsedPoints() for polylines
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
  GeoLib/Polyline.cpp
  GeoLib/Polyline.h
Due: git-diff-check, file-extensions, git-clang-format

[App/U/GeoTools] Use lambda + std::ranges::for_each instead for-loop
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/GL] random_device and random_engine_mt19937 needs to be created once
  Tests/GeoLib/CreateTestPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[A/U/GeoTools] Write id and coords of unused points as CSV
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/GL] Impl. unit test for GeoLib::resetPointIDs()
  Tests/GeoLib/TestResetPointIDs.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/GL] Unit tests for markUsedPoints() - surface version.
  Tests/GeoLib/TestMarkUsedPoints.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] Impl. resetPointIDs() for Surfaces.
  Applications/Utils/GeoTools/RemoveUnusedPoints.cpp
  GeoLib/Surface.cpp
  GeoLib/Surface.h
Due: git-diff-check, file-extensions, git-clang-format

[PL] Explicit single argument constructors
  ProcessLib/Deformation/SolidMaterialInternalToSecondaryVariables.h
Due: git-diff-check, git-clang-format

[MeL] Don't use polymorphic function in ctors
  MeshLib/Elements/TemplateElement-impl.h
Due: git-diff-check, git-clang-format

[GL] Remove non-const version of getSegment
  GeoLib/Polyline.cpp
  GeoLib/Polyline.h
Due: git-diff-check, file-extensions, git-clang-format

[App/IO] Avoid copies of vectors
  Applications/FileIO/GMSInterface.cpp
Due: git-diff-check, file-extensions, git-clang-format

[PL/TES] Use expm1(x) to avoid loss of precision
  ProcessLib/TES/TESOGS5MaterialModels.h
Due: git-diff-check, git-clang-format

[GL] Use algorithm replacing for-loop
  GeoLib/QuadTree.h
Due: git-diff-check, git-clang-format

[GL] Use transform replacing for-loop
  GeoLib/Grid.h
Due: git-diff-check, git-clang-format

[CL] Assert a vector is not empty before access
  ChemistryLib/PhreeqcKernel.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MPL] Use transform replacing for-loop
  MaterialLib/MPL/Properties/PermeabilityMohrCoulombFailureIndexModel.cpp
Due: git-diff-check, file-extensions, git-clang-format

[MeL] Add generic lexicographic ids comparison
  Applications/Utils/MeshEdit/NodeReordering.cpp
  MeshLib/Elements/Utils.h
  MeshLib/Mesh.cpp
  MeshLib/Mesh.h
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.cpp
  ProcessLib/LIE/Common/MeshUtils.cpp
Due: git-diff-check, file-extensions, git-clang-format

[GL] mergePoints never returns anything but 'true'
  GeoLib/GEOObjects.cpp
  GeoLib/GEOObjects.h
Due: git-diff-check, file-extensions, git-clang-format

[NL] Remove unnecessary assignment
  NumLib/TimeStepping/Algorithms/FixedTimeStepping.cpp
Due: git-diff-check, file-extensions, git-clang-format

Use MeshLib::views::ids in for-loops
  MaterialLib/MPL/CheckMaterialSpatialDistributionMap.h
  ProcessLib/BoundaryConditionAndSourceTerm/ConstraintDirichletBoundaryCondition.cpp
  ProcessLib/ComponentTransport/CreateComponentTransportProcess.cpp
  ProcessLib/HydroMechanics/CreateHydroMechanicsProcess.cpp
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/RichardsComponentTransport/CreateRichardsComponentTransportProcess.cpp
  ProcessLib/StokesFlow/CreateStokesFlowProcess.cpp
Due: git-diff-check, file-extensions, git-clang-format

[T/MeL] Slightly relax test criteria for prism
  Tests/MeshLib/TestPrismQualityCriteria.cpp
Due: git-diff-check, file-extensions, git-clang-format

Improve const-correctness.
  Applications/DataHolderLib/Project.cpp
  Applications/FileIO/GMSInterface.cpp
  Applications/FileIO/Gmsh/GMSHPolygonTree.cpp
  Applications/FileIO/GocadIO/GocadAsciiReader.cpp
  Applications/FileIO/GocadIO/GocadSGridReader.cpp
  Applications/FileIO/GocadIO/GocadSGridReader.h
  Applications/FileIO/Legacy/createSurface.cpp
  ChemistryLib/CreateChemicalSolverInterface.cpp
  ChemistryLib/PhreeqcIO.cpp
  ChemistryLib/PhreeqcIO.h
  ChemistryLib/PhreeqcKernelData/CreateKineticReactant.cpp
  GeoLib/GEOObjects.cpp
  GeoLib/Polygon.cpp
  GeoLib/QuadTree.h
  GeoLib/Station.cpp
  GeoLib/Station.h
  MeshGeoToolsLib/AppendLinesAlongPolyline.cpp
  MeshGeoToolsLib/MeshNodesAlongSurface.cpp
  MeshLib/Elements/Utils.h
  MeshLib/Mesh.cpp
  MeshLib/MeshSearch/ElementSearch.cpp
  MeshLib/Utils/DuplicateMeshComponents.cpp
  MeshLib/Utils/GetElementRotationMatrices.cpp
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.cpp
  MeshToolsLib/MeshGenerators/VoxelGridFromMesh.h
  MeshToolsLib/MeshQuality/MeshValidation.cpp
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.cpp
  ProcessLib/HeatTransportBHE/BHE/BHECommonCoaxial.h
  ProcessLib/HeatTransportBHE/BHE/MeshUtils.cpp
  ProcessLib/LIE/Common/MeshUtils.cpp
  ProcessLib/LIE/SmallDeformation/LocalAssembler/SmallDeformationLocalAssemblerFracture-impl.h
  ProcessLib/LIE/SmallDeformation/SmallDeformationProcess.cpp
  ProcessLib/TES/TESLocalAssemblerInner-impl.h
  ProcessLib/TES/TESLocalAssemblerInner.h
  ProcessLib/TwoPhaseFlowWithPrho/TwoPhaseFlowWithPrhoMaterialProperties.h
Due: git-diff-check, file-extensions, git-clang-format

Path conditions:
  git-diff-check: any file but: ThirdParty/*|Tests/Data/*|web/static/images/xsd
  file-extensions: any of: .*\.cpp
  git-clang-format: any of: \.(h|cpp)$
